<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>阿凡提智慧点餐</title>
    <link href='/static/css/pc/question.css' rel="stylesheet" type="text/css"/>

    <link href='/static/css/pc/toJoin.css' rel="stylesheet" type="text/css"/>

    <link href="/static/css/pc/all.css" rel="stylesheet"/>
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>

    <head>


<body class="body">

<div id="app" v-cloak>
    <comheader></comheader>

    <div class="top-body">
        <div>
            <ul class="question_top">
                <li>
                    <div><a href="/pc/index.html">首页</a><i>/</i></div>
                </li>
                <li>
                    <div><a href="/pc/server.html">服务中心</a><i>/</i></div>
                </li>
                <li>
                    <div>
                        <a href="/pc/chargeback.html">退单问题</a><i>/</i>
                    </div>
                </li>
                <li><span>{{chargeback[questionCount]}}</span></li>
            </ul>
            <div class="question_center">
                <div class="center_left">
                    <h1>退单问题</h1>
                    <ul>
                        <li v-for="(item,index) in chargeback" @click="questionClick(index)" :class="[questionCount==index?'active':'']">
                            <span>{{item}}</span>
                        </li>
                    </ul>
                    <div class="left_footer">
                        <a href="#"> <img src="/static/image/pc/kf.png" class="footer_img"/>联系客服</a>
                    </div>
                </div>
                <div class="center_right">
                <div v-if="questionCount==0"><h1>{{chargeback[questionCount]}}</h1>
                    <div class="right_p"><p>非常抱歉给您带来不便，订单下单成功后骑手或商家会尽快为您配送，如订单出现超时您可以通过以下方式催单：</p>

                        <!--<div class="_btnBox_1xkuj_82">-->
                        <!--<button ubt-click="100607" ubt-data-app="eleme" ubt-data-from="eleme-pc"-->
                        <!--bt-data-name="我的订单超时了怎么办？" ubt-data-questionid="11522"><i-->
                        <!--class="_good_1xkuj_98"></i>已解决-->
                        <!--</button>-->
                        <!--<button ubt-click="100608" ubt-data-app="eleme" ubt-data-from="eleme-pc"-->
                        <!--bt-data-name="我的订单超时了怎么办？" ubt-data-questionid="11522"><i-->
                        <!--class="_bad_1xkuj_100"></i>未解决-->
                        <!--</button>-->
                        <!--</div>-->
                    </div>

                </div>
                <div  v-if="questionCount==1"><h1>{{chargeback[questionCount]}}</h1>
                    <div class="right_p">
                        <p>非常抱歉给您带来不便，订单被取消分以下几种情况：</p>
                        <p>1.下单成功5分钟内被系统取消订单，请您更换设备或账户重新下单；</p>
                        <p>2.下单后超过5分钟商家未接单自动取消，请您更换餐厅下单；</p>
                        <p>3.商家未与您协商主动取消订单，系统会将商家的本次行为计入商家的违规考核，请您更换餐厅下单；</p>
                        <p>4.配送不足取消订单，请您选择就近门店尝试下单。</p>
                        <p>具体原因如图所示：</p>
                        <p><img src="/static/image/pc/chargeback1.jpeg" style="width: 213px; height: 140px;"/></p>

                    </div>
                </div>
                <div v-if="questionCount==2"><h1>{{chargeback[questionCount]}}</h1>
                    <div class="right_p"><p>非常抱歉给您带来不便，订单下单成功后骑手或商家会尽快为您配送，如订单出现超时您可以通过以下方式催单：</p>
                    </div>
                </div>
                    <div class="right_bottom">
                        <h2><span>此答案是否解决您的问题？</span></h2>
                        <div class="bottom_button">
                            <button @click="solveClick()"><img src="/static/image/pc/iconThumb1.png" />已解决</button>
                            <button @click="solveClick()"><img src="/static/image/pc/iconThumb2.png" />未解决</button>
                        </div>
                        <div class="bottom_success">
                            <img src="/static/image/pc/yes.jpg" />
                            评价成功，感谢您的支持
                        </div>
                    </div>
            </div>

            </div>
        </div>
    </div>

</div>
<script src="/static/js/pc/question.js"></script>
</body>


</html>