<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>afanti阿凡提订单</title>
    <link rel="stylesheet" href="/static/css/pc/all.css">
    <link rel="stylesheet" href="/static/css/pc/dizhiguanli.css">
    <link rel="stylesheet" href="/static/css/pc/city-select.css">
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/citydata.min.js"></script>
    <script type="text/javascript" src="/static/js/public/citySelect-1.0.2.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>

    <script type="text/javascript" src="/static/js/pc/common.js"></script>
</head>

<body>
<!--头部-->

<!--头部-->

<!--主要内容-->
<div class="conter" id="app" v-cloak>
    <comheader></comheader>
    <div id="all_inprotener">
        <div class="title">当前位置：&nbsp;&nbsp;<a href="/pc/index.html" class="geographic">{{geographic}}</a>&nbsp;&nbsp;<a href="javascript:0;" @click="addressclick()"> [{{geographic==null?'选择地址':'切换地址'}}]</a>&nbsp;&nbsp;>&nbsp;&nbsp;地址管理
        </div>


        <div class="all_left">
            <div class="myall"><a href="/pc/onlyconter.html">个人中心</a></div>

            <div class="mydingdan">我的订单</div>
            <div class="er_fenlan "><a href="/pc/threemont.html">近三个月订单</a></div>
            <div class="er_fenlan"><a href="/pc/daipjdingdan.html">待评价订单</a></div>
            <div class="er_fenlan"><a href="/pc/tuidanjilu.html">退单记录</a></div>

            <div class="myzichan">我的资产</div>
            <div class="er_fenlan"><a href="/pc/myhongbao.html">我的红包</a></div>
            <div class="er_fenlan"><a href="/pc/zhanghuyue.html">账户余额</a></div>
            <div class="er_fenlan"><a href="/pc/myjifen.html">我的积分</a></div>

            <div class="myziliao">我的资料</div>
            <div class="er_fenlan"><a href="/pc/myziliao.html">个人资料</a></div>
            <div class="er_fenlan"><a id="active" href="/pc/dizhiguanli.html">地址管理</a></div>
            <div class="er_fenlan"><a href="/pc/safeconter.html">安全中心</a></div>
            <div class="er_fenlan"><a href="/pc/ggpassword.html">修改密码</a></div>
            <div class="myshoucang"><a href="/pc/wodeshoucang.html">我的收藏</a></div>
        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->


        <div class="all_right">

            <div class="dizhi_guanli">地址管理</div>

            <!--  无地址时显示    无地址时显示    无地址时显示    无地址时显示    无地址时显示    无地址时显示  -->
            <div class="mei_zhi">
                <img src="/static/image/pc/21.jpg" height="113" width="85">
                <span>暂无地址</span>
            </div>
            <!--  无地址时显示    无地址时显示    无地址时显示    无地址时显示    无地址时显示    无地址时显示  -->
            <!--  有地址时显示    有地址时显示    有地址时显示    有地址时显示    有地址时显示    有地址时显示  -->
            <div class="you_dizhi">

                <div class="all_price" @mouseover="comin(event)" @mouseout="diout(event)" v-for="(item,index) in dataz">
                    <div class="names">{{item.userName}}
                        {{item.userSex==0||item.userSex==3?'':item.userSex==1?'先生':'女士'}}
                        <div class="n_right"><span class="xg" @click="add_xgClick(item)">修改</span><span class="delete"
                                                                                                        @click="deleteClick(event)">删除</span>
                        </div>
                    </div>
                    <div class="never">{{item.address}} {{item.detailed}}</div>
                    <div class="tele">{{item.userPhone}}</div>
                    <!--地址里的阴影-->
                    <div class="dontyingy">
                        <div class="deletedizhi">确定删除收货地址？</div>
                        <div class="yanny">
                            <bottom class="zhiqieding" @click="zhiqiedingClick(item)">确定</bottom>
                            <bottom class="zhiquxiao" @click="zhiquxiaoClick()">取消</bottom>
                        </div>
                    </div>
                    <!--地址里的阴影-->
                </div>
                <!--<div class="all_price" @mouseover="comin()" @mouseout="diout()">-->
                <!--<div class="names">黄守亲 先生 <span class="xg" @click="xgClick()">修改</span><span class="delete" @click="deleteClick()">删除</span></div>-->
                <!--<div class="never">广东省广州市白云区石沙路...</div>-->
                <!--<div class="tele">12545685524</div>-->
                <!--&lt;!&ndash;地址里的阴影&ndash;&gt;-->
                <!--<div class="dontyingy">-->
                <!--<div class="deletedizhi">确定删除收货地址？</div>-->
                <!--<div class="yanny">-->
                <!--<bottom class="zhiqieding">确定</bottom>-->
                <!--<bottom class="zhiquxiao" @click="zhiquxiaoClick()">取消</bottom>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;地址里的阴影&ndash;&gt;-->
                <!--</div>-->


                <div class="add_price" @click="add_xgClick()" @mouseover="jinru()" @mouseout="yichu()">
                    ＋添加新地址
                </div>


                <!--   影藏的框      影藏的框      影藏的框      影藏的框      影藏的框      影藏的框   -->
                <div class="open_yincang">
                    <div class="news_ko">
                        <div class="ture_model">
                            <div class="and_onopen">
                                <span class="tianadd">添加新地址</span>
                                <span class="bianji">编辑地址</span>
                                <span id="tui_out" @click="tui_outClick()">×</span>
                            </div>
                            <div class="thisname">姓名<input type="text" v-model="datazf.userName" placeholder="请输入您的名字">
                            </div>
                            <div class="thissex">性别
                                <input type="radio" name="1"  value="1">先生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="1" value="2">女士
                            </div>
                            <div class="thisweizhi">位置<input type="text" v-model="datazf.address"
                                                             @input="addressInput()"  placeholder="请输入小区、大厦或学校">
                                <div class="city-scrollbar">
                                    <div id="address" v-for="(item,index) in addrData"
                                         @click="laytplAddress(item)">
                                        <li class="addressLI">
                                            <div class="suggent-name">{{item.title}}</div>
                                            <div class="suggent-addr">{{item.address}}</div>
                                        </li>
                                    </div>
                                    <ul class="addressUL"></ul>
                                </div>
                            </div>
                            <div class="thisdizhi">详细地址<input type="text" v-model="datazf.detailed"
                                                              placeholder="单元、门牌号"></div>
                            <div class="thisnumber">手机号
                                <input class="biankuan" type="text" v-model="datazf.userPhone" placeholder="请输入您的手机号">

                                <!--<bottom id="gengduo" @click="gengduoClick()" @mouseover="addin()" @mouseout="addout()">-->
                                    <!--添加更多电话-->
                                <!--</bottom>-->
                            </div>
                            <div class="thisguhua">
                                <input type="text" placeholder="请输入小区、大厦或学校">
                                <bottom id="guhuadelete" @click="guhuadeleteClick()" @mouseover="deletein()"
                                        @mouseout="deleteout()">删除
                                </bottom>
                            </div>
                            <div class="zuihou">
                                <bottom class="baocun" @click="baocunClick()">保存</bottom>
                                <bottom class="quxiao" @click="quxiaoClick()">取消</bottom>
                            </div>
                        </div>
                    </div>
                </div>
                <!--   影藏的框      影藏的框      影藏的框      影藏的框      影藏的框      影藏的框   -->


            </div>
            <!--  有地址时显示    有地址时显示    有地址时显示    有地址时显示    有地址时显示    有地址时显示  -->


        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->


    </div>

    <!--主要内容-->


    <!--尾部-->

    <comfooter></comfooter>

</div>
<script src="/static/js/pc/dizhiguanli.js"></script>
</body>
</html>
