<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>afanti阿凡提订单</title>
    <link rel="stylesheet" href="/static/css/pc/all.css">
    <link rel="stylesheet" href="/static/css/pc/ggsafe.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>
</head>

<body>
<!--头部-->

<!--头部-->


<!--主要内容-->
<div class="conter" id="app" v-cloak>
    <comheader></comheader>
    <div id="all_inprotener">

        <div class="title">当前位置：&nbsp;&nbsp;<a href="/pc/index.html" class="geographic">{{geographic}}</a>&nbsp;&nbsp;<a href="javascript:0;" @click="addressclick()"> [{{geographic==null?'选择地址':'切换地址'}}]</a>&nbsp;&nbsp;>&nbsp;&nbsp;更改邮箱
        </div>


        <div class="all_left">
            <div class="myall"><a href="/pc/onlyconter.html">个人中心</a></div>

            <div class="mydingdan">我的订单</div>
            <div class="er_fenlan "><a href="/pc/threemont.html">近三个月订单</a></div>
            <div class="er_fenlan"><a href="/pc/daipjdingdan.html">待评价订单</a></div>
            <div class="er_fenlan"><a href="/pc/tuidanjilu.html">退单记录</a></div>

            <div class="myzichan">我的资产</div>
            <div class="er_fenlan"><a href="/pc/myhongbao.html">我的红包</a></div>
            <div class="er_fenlan"><a href="/pc/zhanghuyue.html">账户余额</a></div>
            <div class="er_fenlan"><a href="/pc/myjifen.html">我的积分</a></div>

            <div class="myziliao">我的资料</div>
            <div class="er_fenlan"><a href="/pc/myziliao.html">个人资料</a></div>
            <div class="er_fenlan"><a href="/pc/dizhiguanli.html">地址管理</a></div>
            <div class="er_fenlan"><a href="/pc/safeconter.html">安全中心</a></div>
            <div class="er_fenlan"><a href="/pc/ggpassword.html">修改密码</a></div>
            <div class="myshoucang"><a href="/pc/wodeshoucang.html">我的收藏</a></div>
        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->
        <div class="all_right">

            <div class="gg_phone">更改邮箱</div>
            <div class="all_kuang">
                <div class="yz_one" :class="[active==1?'active':'']">
                    <div :class="[active==1?'activeDiv':'']">1</div>
                    验证原邮箱
                </div>
                <div class="yz_line"></div>
                <div class="yz_two" :class="[active==2?'active':'']">
                    <div :class="[active==2?'activeDiv':'']">2</div>
                    绑定新邮箱
                </div>
                <div class="yz_line"></div>
                <div class="yz_three" :class="[active==3?'active':'']">
                    <div :class="[active==3?'activeDiv':'']">3</div>
                    修改成功
                </div>
            </div>
            <div v-if="active==1">
                <div class="yz_shenfen">为保证你的账号安全，请先帮助我们验证身份！</div>
                <div class="yuan_phoneNum">已绑定邮箱<span>{{userEmail}}</span></div>
                <div class="yan_zma">验证码：<input name="code" @focus="codeFocus()" @input="codeInput()" type="text">
                    <bottom class="hqyzm" @click="hqyzmClick()">获取验证码</bottom>
                    <span class="Times" style="display: none;">90秒</span>
                </div>
                <div class="wu_jiaodian">验证码将会发送到您所绑定的手机号 请注意查看</div>
                <div class="you_jiaodian"><img src="/static/image/pc/d1.jpg"><span class="have">验证码是必填项</span>
                </div>
                <div class="shi_jiaodian"><img src="/static/image/pc/d2.jpg"><span class="have">请输入正确的手机短信验证码</span>
                </div>
                <div class="dian_next">
                    <bottom class="xia_yibu" @click="xia_yibuClick()">下一步</bottom>
                </div>
                <!--<div class="bei_zhu">当前号码已不用或丢失/无法收到验证码？请联系客服：<span>10105757</span></div>-->
            </div>
            <!--第二步-->
            <div v-if="active==2">
                <div class="yz_shenfen">请填写您的新邮箱</div>

                <div class="yan_zma">新邮箱：<input name="newEmail" style="font-size: 0.8rem" @focus="newEmailFocus()" @input="newEmailInput()"  type="text">

                </div>
                <!--<div class="wu_jiaodian">为了保障账号安全，请先对您的身份进行验证</div>-->
                <div class="you_jiaodian"><img src="/static/image/pc/d1.jpg"><span class="have">邮箱是必填项</span>
                </div>
                <div class="shi_jiaodian"><img src="/static/image/pc/d2.jpg"><span class="have">请填写正确的邮箱</span>
                </div>
                <div class="dian_next">
                    <bottom class="xia_yibu" @click="xiu_gaiClick()">修改</bottom>
                </div>
                <!--<div class="bei_zhu">当前号码已不用或丢失/无法收到验证码？请联系客服：<span>10105757</span></div>-->
            </div>
            <!--第三步-->
            <div v-if="active==3">
                <!--<div class="yz_shenfen">请填写您的新手机号码</div>-->

                <!--<div class="yan_zma">新手机号码：<input name="newPhone" @focus="newPhoneFocus()" @input="newPhoneInput()"  type="text">-->

                <!--</div>-->
                <!--&lt;!&ndash;<div class="wu_jiaodian">为了保障账号安全，请先对您的身份进行验证</div>&ndash;&gt;-->
                <!--<div class="you_jiaodian"><img src="/static/image/pc/d1.jpg"><span class="have">手机号码是必填项</span>-->
                <!--</div>-->
                <!--<div class="shi_jiaodian"><img src="/static/image/pc/d2.jpg"><span class="have">请填写正确的手机号码</span>-->
                <!--</div>-->
                <div class="dian_next">
                    <bottom class="xia_yibu" @click="okClick()">修改成功 点击返回安全中心</bottom>
                </div>
                <!--<div class="bei_zhu">当前号码已不用或丢失/无法收到验证码？请联系客服：<span>10105757</span></div>-->
            </div>
        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->

    </div>

</div>

<!--主要内容-->
<comfooter></comfooter>

<!--尾部-->

</div>

<script src="/static/js/pc/ggemail.js"></script>
</body>
</html>
