<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阿凡提点餐</title>
    <link rel="stylesheet" href="/static/css/pc/all.css">
    <link rel="stylesheet" href="/static/css/pc/index.css">
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/index.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>
</head>

<body>
<div id="app" v-cloak>
    <!--头部-->
    <comheader></comheader>

    <!--内容-->
    <div class="indexContent minWidth">

        <div class="clearfix">
            <div class="location">
                <span class="now">当前位置:</span>
                <span>{{geographical}}</span>
                <span class="main-color" @click="change()">[切换位置]</span>
            </div>

            <a class="place-search">
                <input class="place-search-input " placeholder="搜索美食" name='search'/>
                <img src="/static/image/pc/sous.png" @click="search()"/>
            </a>
            <div class="clear"></div>
        </div>
        <div class="place-tab">
            <div class="place-tab-img">
                <img src="/static/image/pc/indexwm.png"/>
            </div>
        </div>

        <div class="shopDetail">
            <div class="excavator">
                <div class="excavator-filter">
                    <span class="excavator-filter-name">商家分类：</span>
                    <div class="excavatorText">
                        <span class="excavator-filter-item " @click="excavator(0,0)" data-id="">全部商家</span>
                        <template v-for="(item,index) in cuisine">
                            <span class="excavator-filter-item "
                                  @click="excavator(index+1,item.id)">{{item.name}}</span>
                        </template>
                    </div>
                </div>
            </div>

            <div class="place-fodbox">
                <div class="foodPater">
                    <a @click="jump(shop.shopId)" v-for="(shop,index) in shops">
                        <div class="fodblock" data-index=" $index " @mouseover="light(index)" @mouseout="blank(index)">
                            <div class="fodblock-logo">
                                <img class="fodblock-logo-icon" :src="shop.shopImg"/>
                                <span style='color:black'>{{shop.deliveryCostTime}}分钟</span>
                            </div>
                            <div class="fodblock-content">
                                <div class="fodblock-name">{{shop.shopName}}</div>
                                <div class="fodblock-content-number">
                                        <span class="fodblock-stars">
                                          <!--90%长度控制星星-->
                                   <span class='fodblock-starsNum' :style="{'width':shop.shopAvg/5*100 + '%'}"></span>
                                        </span>
                                    <span class="fodblock-monthsales">月售{{shop.shopSales}}单</span>
                                </div>
                                <div class="fodblock-cost">配送费:{{shop.deliveryStartMoney}}</div>

                                <div class="fodblock-schedule"
                                     :style="shop.shopAtive=='0'||shop.isShopAtive=='-1'?'display: block;':''">商家休息 暂不接单
                                </div>

                                <div class="fodblock-schedule-ok"
                                     :style="shop.reserve=='1'&&item.shopAtive=='1'&&shop.isShopAtive=='1'?'display:block':'' ">
                                    可预定
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--店铺说明-->
                <div class="shopExplain" v-for="(shop,index) in shops">
                    <div class="shopExplain-point"></div>
                    <div class="shopExplain-name">{{shop.shopName}}</div>
                    <div class="shopExplain-flavors"></div><!--口味-->
                    <div class="shopExplain-activities"></div><!--活动-->
                    <div class="shopExplain-delivery">
                        <span>配送费￥<span class='dsm'>{{shop.deliveryStartMoney}}</span></span>
                        <span>平均<span class="shopExplain-time">{{shop.deliveryCostTime}}</span>分钟送达</span>
                    </div>
                    <div class="shopExplain-notice">{{shop.notice}}</div>

                </div>


                <!--清除浮动-->
                <div class="clear"></div>
            </div>
            <div class="foodMore" @click="more()">点击加载更多商家...</div>
        </div>
        <div class="noshop">
            <!--<div>6564646464d6d4f6d</div>-->
            <img src="/static/image/pc/noshop.png" class="noshopImg">
            <div style="padding-top: 10px">附近没有找到符合条件的商家，换个筛选条件试试吧</div>
        </div>
        <!-- 搜索页面 -->
        <div class='search-body' :style="searchlist==''?'display:none':'display:block'"
             v-for="(searchlists,index) in searchlist">
            <div class='search-shop'>
                <div class='search-shop-shopName'>{{searchlists.shopName}}</div>
                <span class='search-shop-info'>
                    <span class="fodblock-stars">
                                          <!--90%长度控制星星-->
                       <span class='fodblock-starsNum' :style="{'width':searchlists.shopAvg/5*100 + '%'}"></span>
                    </span>
                </span>
                <span class='search-shop-info'>月售{{searchlists.shopSale}}     |</span>
                <span class='search-shop-info'>|    平均{{searchlists.deliveryCostTime}}分钟送到</span>
            </div>
            <div class='search-goods' v-for="goods in searchlists.good">
                <span style='display:block;width:70%'>{{goods.goodsName}}</span>
                <span style='display:block;width:20%'>{{goods.shopPrice}}</span>
                <span class='search-bnt'>
             <a @click="jump(searchlists.shopId)" style='color:#fff'>去购买</a></span>
            </div>
        </div>
    </div>
    <!--右边固定购物车   -->
    <div class="sidebar" id="test">
        <div class="sidebar-tabs">
            <div class="tabs-middle">
                <a class="tabs-order" title="我的订单" href="/pc/threemont.html">
                    <img src="/static/image/pc/order.png"/>
                </a>
                <div class="tabsLine"></div>
                <div class="carNumbs" v-if="carNum && carNum>0">{{carNum}}</div>
                <a class="tabsCar " title="我的购物车" href="JavaScript:"
                   @click="tabsInform(1)">
                    <img class="tabs-middle-car" src="/static/image/pc/car.png"/>
                    <span class="tabs-cartbtn">购物车</span>
                </a>
                <div class="tabsLine"></div>
                <div class="tabs-inform" title="我的信息" @click="tabsInform(2)">
                    <img src="/static/image/pc/inform.png"/>
                </div>
            </div>

            <div class="tabs-middleBut">
                <a class="toolbar-butbtn" tooltip="回到顶部" title="回到顶部" href="JavaScript:">
                    <img src="/static/image/pc/topT.png"/>
                </a>
            </div>

            <div class="tooltip">
                <div class="tooltip-guide"></div>
                <div class="tooltip-word">我的信息</div>
            </div>

        </div>

        <div class="sidebar-content">
            <div class="sidebar-content-title">
                <span class="sidebar-content-txt">
                    <i v-if="sidetitl==1">我的购物车</i>
                    <i v-else>我的信息</i>
                    <!--sidetitl==1?'我的购物车':'我的信息'-->
                </span>
                <span class="sidebar-content-cz">
					<span class="more" @click="tabshide()">»</span>
					</span>
            </div>
            <div class="sidebar-choice" v-if="sidetitl==1&& good.length > 0">
                <div class="sidebar-choice-item">
                    <div class="sidebar-item-shop">
                        <div class="sidebar-shopname" @click="jump(reshopId)">{{shopName}}</div>
                        <span class="close" @click="closeCar()">[清空]</span>
                    </div>
                    <ul class="sidebarcart" v-for="(msg,num) in good">
                        <li>
                            <div class="name">{{msg.arr.goodsName}}
                                <span v-if="msg.arr.size&&msg.arr.size.length>0">({{msg.arr.size[msg.arr.decide.size].name}})</span>
                                <span v-if="msg.arr.taste&&msg.arr.taste.length>0">--{{msg.arr.taste[msg.arr.decide.taste].name}}</span>
                            </div>
                            <div class="numbOPer">
                                <span @click="carsub(num)">-</span>
                                <input name="numb" @input="changeNum(num)" v-model="msg.arr.numb"/>
                                <span class="forbid" @click="caradd(num)">+</span>
                            </div>
                            <div class="price">￥{{Math.round(msg.arr.numb*msg.arr.shopPrice*100)/100}}</span></div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="notInform" >
                <img ng-src="/static/image/pc/sidetitl==1?'notcar.png':'informS.png'" />
                <span class="notInform-item" ng-if="sidetitl==2">您没有新的消息噢</span>
                <div ng-if="sidetitl==1">
                <span class="notInform-item">购物车空空如也</span>
                <p class="notInform-txt">快去订餐吧，总有你心仪的美食</p>
                </div>
            </div> -->

            <div class="notInform" v-if="sidetitl==1 && good.length <= 0">
                <img src="/static/image/pc/notcar.png"/>
                <div>
                    <span class="notInform-item">购物车空空如也</span>
                    <p class="notInform-txt">快去订餐吧，总有你心仪的美食</p>
                </div>
            </div>

            <div class="notInform" v-if="sidetitl==2">
                <img src="/static/image/pc/informS.png"/>
                <span class="notInform-item">您没有新的消息噢</span>
            </div>


            <div class="sidebar-summary" v-if="sidetitl==1 && good.length > 0">
                <p>共计<span class="color-red"> {{carNum}} </span>份 , 总计<span class="color-red"> ￥{{Math.round(priceSum*100)/100}} </span>
                </p>
                <button class="buts sidebar-but" @click="balance()">去结算</button>
            </div>

        </div>


    </div>

    <!--页脚-->
    <comfooter></comfooter>
</div>
</body>
</html>