<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>afanti阿凡提订单</title>
    <link rel="stylesheet" href="/static/css/pc/all.css">
    <link rel="stylesheet" href="/static/css/pc/myhongbao.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>

</head>

<body>
<!--头部-->

<!--头部-->


<!--主要内容-->
<div class="conter" id="app" v-cloak>
    <comheader></comheader>
    <div id="all_inprotener">
        <div class="title">当前位置：&nbsp;&nbsp;<a href="/pc/index.html" class="geographic">{{geographic}}</a>&nbsp;&nbsp;<a href="javascript:0;" @click="addressclick()"> [{{geographic==null?'选择地址':'切换地址'}}]</a>&nbsp;&nbsp;>&nbsp;&nbsp;我的红包
        </div>


        <div class="all_left">
            <div class="myall"><a href="/pc/onlyconter.html">个人中心</a></div>

            <div class="mydingdan">我的订单</div>
            <div class="er_fenlan "><a href="/pc/threemont.html">近三个月订单</a></div>
            <div class="er_fenlan"><a href="/pc/daipjdingdan.html">待评价订单</a></div>
            <div class="er_fenlan"><a  href="/pc/tuidanjilu.html">退单记录</a></div>

            <div class="myzichan">我的资产</div>
            <div class="er_fenlan"><a id="active" href="/pc/myhongbao.html">我的红包</a></div>
            <div class="er_fenlan"><a href="/pc/zhanghuyue.html">账户余额</a></div>
            <div class="er_fenlan"><a href="/pc/myjifen.html">我的积分</a></div>

            <div class="myziliao">我的资料</div>
            <div class="er_fenlan"><a href="/pc/myziliao.html">个人资料</a></div>
            <div class="er_fenlan"><a href="/pc/dizhiguanli.html">地址管理</a></div>
            <div class="er_fenlan"><a href="/pc/safeconter.html">安全中心</a></div>
            <div class="er_fenlan"><a href="/pc/ggpassword.html">修改密码</a></div>

            <div class="myshoucang"><a href="/pc/wodeshoucang.html">我的收藏</a></div>

        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->


        <div class="all_right">


            <!-- 隐藏框[兑换红包] 隐藏框[兑换红包] 隐藏框[兑换红包] 隐藏框[兑换红包] -->
            <div class="all_pingmu">
                <div class="kuang_all">
                    <div class="cenetr_kuang">
                        <div class="the_tui"><span @click="hteout()">×</span></div>
                        <div class="zi_ti">输入兑换码，兑换红包！</div>
                        <div class="duihuan_ma"><input type="text" name="" value="" placeholder="请输入兑换码"></div>
                        <div class="yan_zhenma">
                            <input type="text" placeholder="请输入验证码">
                            <span class="huabu">tu</span>
                            <span class="huan_tu"><a href="">看不清换一张</a></span>
                        </div>
                        <div class="an_niv">确定</div>
                    </div>
                </div>
            </div>
            <!-- 隐藏框[兑换红包] 隐藏框[兑换红包] 隐藏框[兑换红包] 隐藏框[兑换红包] -->


            <div class="dai_pjdingdan">
                <div class="leftone" @click="keyong()">可用红包</div>
                <div class="lefttwo" @click="lishi()">历史红包</div>
                <div class="rightthree" @click="duihuan()">兑换红包</div>
            </div>



            <!--  可用红包    可用红包    可用红包    可用红包    可用红包    可用红包    可用红包  -->
            <div class="keyong_hongbao">
                <div class="wu_hongbao" v-show="datai==''">
                <img src="/static/image/pc/21.jpg" height="113" width="85">
                <span>暂无可用红包</span>
                </div>
                <template v-show="datai">
                <div class="ls_hongbao" v-for="(item,index) in datai">
                    <div class="left_img">
                        <div class="money">￥{{item.money}}</div>
                        <div class="man_yuan">仅限在本店使用</div>
                    </div>
                    <div class="right_img">
                        <div class="pt_hongbao">{{item.shopName}}</div>
                        <div class="xian_phone">仅限手机客户端使用</div>
                        <div class="phone_num">最终解释权归{{item.shopName}}所有</div>
                        <div class="time_xian">{{item.start_time}}&nbsp;至&nbsp;{{item.end_time}}</div>
                    </div>
                </div>
                </template>
            </div>


            <!--  可用红包    可用红包    可用红包    可用红包    可用红包    可用红包    可用红包  -->

            <!--  历史红包    历史红包    历史红包    历史红包    历史红包    历史红包    历史红包  -->
            <div class="lishi_hongbao">

                <!--后台判断有值 时 影藏图片和SPAN-->
                <div class="wu_hongbao" v-show="datao==''">
                    <img src="/static/image/pc/21.jpg" height="113" width="85">
                    <span>暂无历史红包</span>
                </div>
                <!--后台判断有值 时 影藏图片和SPAN-->


                <!--   有红包时循环红包     有红包时循环红包     有红包时循环红包     有红包时循环红包   -->
                <template v-show="datao">
                    <div class="ls_hongbao" v-for="(item,index) in datao">
                        <div class="left_img">
                            <div class="money">￥{{item.money}}</div>
                            <div class="man_yuan">仅限在本店使用</div>
                        </div>
                        <div class="right_img">
                            <div class="pt_hongbao">{{item.shopName}}</div>
                            <div class="xian_phone">仅限手机客户端使用</div>
                            <div class="phone_num">最终解释权归{{item.shopName}}所有</div>
                            <div class="time_xian">{{item.start_time}}&nbsp;至&nbsp;{{item.end_time}}</div>
                        </div>
                    </div>
                </template>
                <!--<div class="ls_hongbao">-->
                    <!--<div class="left_img">-->
                        <!--<div class="money">￥10.0</div>-->
                        <!--<div class="man_yuan">满30元可用</div>-->
                    <!--</div>-->
                    <!--<div class="right_img">-->
                        <!--<div class="pt_hongbao">普通红包</div>-->
                        <!--<div class="xian_phone">仅限手机客户端使用</div>-->
                        <!--<div class="phone_num">限尾号0124&nbsp;的手机使用</div>-->
                        <!--<div class="time_xian">2017-09-11&nbsp;至&nbsp;2017-09-17</div>-->
                    <!--</div>-->
                <!--</div>-->


                <!--   有红包时循环红包     有红包时循环红包     有红包时循环红包     有红包时循环红包   -->


            </div>
            <!--  历史红包    历史红包    历史红包    历史红包    历史红包    历史红包    历史红包  -->


        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->


    </div>

    <!--主要内容-->
    <comfooter></comfooter>

    <!--尾部-->

</div>

<script src="/static/js/pc/myhongbao.js"></script>
</body>
</html>
