<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>afanti阿凡提订单</title>
    <link rel="stylesheet" href="/static/css/pc/all.css">
    <link rel="stylesheet" href="/static/css/pc/myziliao.css">

    <script src="/static/js/public/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/static/js/pc/angular.min.js"></script>-->
    <!--<script src="/static/js/pc/side.js"></script>-->
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>

</head>

<body>
<!--头部-->

<!--<include file="Public:header" />-->
<!--头部-->


<!--主要内容-->

<div class="conter" id="app" v-cloak>
    <comheader></comheader>
    <div id="all_inprotener">

        <div class="title">当前位置：&nbsp;&nbsp;<a href="/pc/index.html" class="geographic">{{geographic}}</a>&nbsp;&nbsp;<a href="javascript:0;" @click="addressclick()"> [{{geographic==null?'选择地址':'切换地址'}}]</a>&nbsp;&nbsp;>&nbsp;&nbsp;个人资料
        </div>


        <div class="all_left">
            <div class="myall"><a href="/pc/onlyconter.html">个人中心</a></div>

            <div class="mydingdan">我的订单</div>
            <div class="er_fenlan "><a href="/pc/threemont.html">近三个月订单</a></div>
            <div class="er_fenlan"><a href="/pc/daipjdingdan.html">待评价订单</a></div>
            <div class="er_fenlan"><a href="/pc/tuidanjilu.html">退单记录</a></div>

            <div class="myzichan">我的资产</div>
            <div class="er_fenlan"><a href="/pc/myhongbao.html">我的红包</a></div>
            <div class="er_fenlan"><a href="/pc/zhanghuyue.html">账户余额</a></div>
            <div class="er_fenlan"><a  href="/pc/myjifen.html">我的积分</a></div>

            <div class="myziliao">我的资料</div>
            <div class="er_fenlan"><a id="active" href="/pc/myziliao.html">个人资料</a></div>
            <div class="er_fenlan"><a href="/pc/dizhiguanli.html">地址管理</a></div>
            <div class="er_fenlan"><a href="/pc/safeconter.html">安全中心</a></div>
            <div class="er_fenlan"><a href="/pc/ggpassword.html">修改密码</a></div>
            <div class="myshoucang"><a href="/pc/wodeshoucang.html">我的收藏</a></div>
        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->


        <div class="all_right">


            <div class="genren_ziliao">个人资料</div>
            <div class="the_img">
                <div class="touxiang">头像</div>
                <a href="/pc/myziliaoimg.html">
                    <div class="img_kg" @mouseover="xiansi()" @mouseout="out()">
                        <!--<img src="/static/image/pc/112.jpg" height="100" width="100" alt="">-->
                        <img style="border-radius:50px" :src="dataUi.userPhoto" height="100" width="100"
                             alt="">
                        <div class="bianji_touxiang">编辑头像</div>
                    </div>


                </a>
            </div>



            <div class="suer">用户名 <span class="have">{{dataUi.loginName}}</span><span class="no">无</span><a
                    class="xiugaiuser" @click="xiugaiuserClick()" >[修改]</a><a class="shezhiuser">[立即设置]</a></div>
            <div class="phone">手机号码 <span class="have" v-if="userPhone!=''">{{userPhone}}</span><span
                    class="no" v-if="userPhone==''">未绑定</span><a href="/pc/safeconter.html" class="xiugaiphone" v-if="userPhone!=''">[修改]</a><a
                    href="/pc/bangdingphone.html" class="shezhiphone" v-if="userPhone==''">[立即绑定]</a></div>
            <div class="email">我的邮箱 <span class="have" v-if="dataUi.userEmail!=null">{{dataUi.userEmail}}</span><span class="no" v-if="dataUi.userEmail==null">未绑定</span><a
                    href="/pc/safeconter.html" class="xiugaiemail" v-if="dataUi.userEmail!=null">[修改]</a><a
                    href="javascript:0;" class="shezhiemail" @click="shezhiemailClick()" v-if="dataUi.userEmail==null">[立即绑定]</a></div>



            <!--<span style="font-size:18px;">-->
            <!--<volist name="zjd_list" id="vo">-->
            <!--<p>恭喜用户{$vo.user_id|yc_phone=###}砸金蛋获得奖金{$vo.prize}元</p>  -->
            <!--</volist>-->
            <!--</span>-->



            <!--   隐藏框      隐藏框      隐藏框      隐藏框      隐藏框   -->
            <div class="yng_kang">
                <div class="topment">
                    <div class="conter_yan">
                        <!--<form class="thisbiao" action="" method="post">-->
                        <div class="loigout"><span id="guanni" @click="guanniClick()">×</span></div>
                        <!--<div class="titles">修改用户名<span>用户名只能修改一次</span></div>-->
                        <div class="shurukang"><input type="text" name="loginName" :value="dataUi.loginName"
                                                      placeholder="请输入新的用户名(5-24字符)"></div>
                        <div class="shu_anniov">
                            <button type="submit" class="comfirm" @click="comfirmaClick()">确定</button>
                            <button type="reset" class="qu_xiao" @click="qu_xiaoClick()">取消</button>
                        </div>
                        <!--</form>-->
                    </div>

                </div>
            </div>
            <!--   隐藏框      隐藏框      隐藏框      隐藏框      隐藏框   -->


        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->


    </div>

    <!--主要内容-->


    <!--侧边栏-->
    <!--<include file="./Apps/HomePc/View/food/side.html"/>-->


    <!--尾部-->

    <!--<include file="Public:foot" />-->
    <comfooter></comfooter>


</div>
<script src="/static/js/pc/myziliao.js"></script>
</body>
</html>
