<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>afanti阿凡提订单</title>
    <link rel="stylesheet" href="/static/css/pc/all.css">

    <link rel="stylesheet" href="/static/css/pc/onlyconter.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/textScroll.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>
</head>

<body>
<!--头部-->
<!--<include file="Public:header"/>-->
<!--头部-->


<!--主要内容-->
<div class="conter" id="app" v-cloak>
    <comheader></comheader>
    <div id="all_inprotener">
        <div class="title">当前位置：&nbsp;&nbsp;<a href="/pc/index.html" class="geographic">{{geographic}}</a>&nbsp;&nbsp;<a href="javascript:0;" @click="addressclick()"> [{{geographic==null?'选择地址':'切换地址'}}]</a>&nbsp;&nbsp;>&nbsp;&nbsp;个人中心
        </div>


        <div class="all_left">
            <div class="myall"><a id="active" href="/pc/onlyconter.html">个人中心</a></div>

            <div class="mydingdan">我的订单</div>
            <div class="er_fenlan "><a href="/pc/threemont.html">近三个月订单</a></div>
            <div class="er_fenlan"><a href="/pc/daipjdingdan.html">待评价订单</a></div>
            <div class="er_fenlan"><a href="/pc/tuidanjilu.html">退单记录</a></div>

            <div class="myzichan">我的资产</div>
            <div class="er_fenlan"><a href="/pc/myhongbao.html">我的红包</a></div>
            <div class="er_fenlan"><a href="/pc/zhanghuyue.html">账户余额</a></div>
            <div class="er_fenlan"><a href="/pc/myjifen.html">我的积分</a></div>

            <div class="myziliao">我的资料</div>
            <div class="er_fenlan"><a href="/pc/myziliao.html">个人资料</a></div>
            <div class="er_fenlan"><a href="/pc/dizhiguanli.html">地址管理</a></div>
            <div class="er_fenlan"><a href="/pc/safeconter.html">安全中心</a></div>
            <div class="er_fenlan"><a href="/pc/ggpassword.html">修改密码</a></div>

            <div class="myshoucang"><a href="/pc/wodeshoucang.html">我的收藏</a></div>

        </div>

        <div class="all_right">
            <div id="this_allone">
                <div class="img_kuang" @mousemove="comin()" @mouseout="conout()">
                    <div class="fudong"><a href="/pc/myziliao.html">编辑资料</a></div>
                    <img :src="dataUi.userPhoto" height="112" width="112">
                </div>

                <div class="user_all">
                    <div class="wenhou"><span class="one">下午好&nbsp;,&nbsp;</span><span>{{dataUi.loginName}}</span>
                    </div>
                    <div class="xiaozi">喝杯下午茶,提提精神呗!</div>
                    <div class="zhaohao">账户安全：&nbsp;<span>高</span>&nbsp;&nbsp;<a
                            href="/pc/safeconter.html">查看详情</a></div>
                    <div class="lainjie">
                        <a href="/pc/safeconter.html"><img src="/static/image/pc/14.jpg" height="18"
                                                                            width="18"></a>
                        <a href="/pc/safeconter.html"><img src="/static/image/pc/15.jpg" height="18"
                                                                            width="18"></a>
                    </div>
                </div>
                <div class="all_hjy">
                    <div class="hjy"><a href="/pc/myhongbao.html">我的红包</a></div>
                    <div class="yi">{{hongbao?hongbao.length:0}}<span>个</span></div>
                </div>
                <div class="all_hjy">
                    <div class="hjy"><a href="/pc/myjifen.html">我的积分</a></div>
                    <div class="er" style="height: 40px;overflow: hidden;">
                        <ul id="ulContent_er" style="margin-top:0px;" v-if="jifen!=''">
                            <li  class="scrollText" v-for="(item,index) in jifen">{{item.shopName}}:{{item==null?0:item.integral==''?0:item.integral}}分</li>

                        </ul>
                        <span v-else>暂无积分</span>
                        <!--{{jifen==null?0:jifen.integral==''?0:jifen.integral}}<span>分</span>-->
                    </div>
                </div>
                <div class="all_hjy">
                    <div class="hjy"><a href="/pc/zhanghuyue.html">账户余额</a></div>
                    <div class="san" style="height: 40px;overflow: hidden;">
                        <ul id="ulContent" style="margin-top:0px;" v-if="jifen!=''">
                            <li  class="scrollText" v-for="(item,index) in jifen">{{item.shopName}}:{{item==null?0:item.money==''?0:item.money}}元</li>
                        </ul>
                        <span v-else>暂无余额</span>
                        <!--{{jifen==null?0:jifen.money==''?0:jifen.money}}<span>元</span>-->
                    </div>
                </div>
            </div>

            <!--<div id="this_alltwo"></div>-->

            <div id="this_allthree">
                <div class="just_title" v-if="dataOr!=''">
                    <span id="left">最近订单</span>
                    <span id="right"><a href="/pc/threemont.html">查看全部订单></a></span>
                </div>
                <!--最近【无】订单 最近【无】订单 最近【无】订单 最近【无】订单 最近【无】订单 最近【无】订单 最近【无】订单-->
                <div class="wu_mei"  v-else>
                    <div style="display:block" class="panduan">你最近没有下过单哦,现在就去&nbsp;<a href="/pc/index.html">订餐</a>&nbsp;吧~</div>
                    <img src="/static/image/pc/21.jpg" height="113" width="85">
                </div>

                <!--最近【无】订单 最近【无】订单 最近【无】订单 最近【无】订单 最近【无】订单 最近【无】订单 最近【无】订单-->


                <!-- 最近【有】订单 最近【有】订单 最近【有】订单 最近【有】订单 最近【有】订单 最近【有】订单 最近【有】订单 -->

                <template v-for="(item,index) in dataOr">
                    <div class="dingdan_one">
                        <div class="never"><img :src="'https://image.aftdc.com/'+item.shopImg" style="cursor: pointer" @click="shopImgClick(item)" height="70" width="70">
                        </div>
                        <div class="thi_aas">
                            <div class="biao_ti">{{item.shopName}}</div>
                            <div class="next_ti" >{{item.goods}} {{item.goodsCount>1?'等':''}}</div>
                            <div class="next_ti"  ><a href="javascript:0;" @click="dingdanxiangqinClick(item)">共<span>{{item.goodsCount}}</span>个菜品</a>
                            </div>
                        </div>
                        <div class="all_times">
                            <div>{{item.open}}</div>
                            <div>{{item.end}}</div>
                        </div>
                        <div class="all_times">
                            <div class="money">￥{{item.realTotalMoney}}</div>
                            <div>{{item.payType}}</div>
                        </div>
                        <div class="all_times">
                            <div class="big">{{item.orderStatus}}</div>
                            <div class="lv"><a href="javascript:0;" @click="dingdanxiangqinClick(item)">订单详情</a></div>
                        </div>
                    </div>
                </template>


                <!-- 最近【有】订单 最近【有】订单 最近【有】订单 最近【有】订单 最近【有】订单 最近【有】订单 最近【有】订单 -->
            </div>

            <div id="this_alltwo"></div>

            <div id="this_allfour">
                <div class="just_title">
                    <span id="one">美食足迹</span>
                    <span id="two"><a href="/pc/wodeshoucang.html">我的收藏</a></span>
                </div>

                <!--无美食足迹  无美食足迹  无美食足迹  无美食足迹-->
                <div class="wu_mszj" v-if="datas==''">
                    <img src="/static/image/pc/21.jpg" height="113" width="85" alt="">
                    <div class="mmj_omh">哎呦，未能留下你的美食足迹，快去寻访附近的美食吧~</div>
                </div>
                <!--无美食足迹  无美食足迹  无美食足迹  无美食足迹-->

                <div class="you_mszj" v-else @click="you_mszjClick()">
                    <img id="til_img" :src="'https://image.aftdc.com/'+datas.shopImg" height="70" width="70">
                    <div class="tir_tit">{{datas.shopName}}</div>
                    <div class="star">
                        <div class="fivestar">
                      <span class="fodblock-stars orderguide-info-size">
									  <!--90%长度控制星星-->
                         <span class="fodblock-starsNum" :style="'width:'+datas.shopAvg*20+'%'"></span>
                          <!--<span class="fodblock-starsNum" style="width: 90%;" ></span>-->
                                </span>
                        </div>
                        <div class="this_yuxiao">总售量{{datas.sales}}单</div>
                    </div>
                    <div class="feiyong">配送费￥{{datas.psf}}</div>
                    <div class="hua_time">{{datas.deliveryCostTime>45?'45+':datas.deliveryCostTime}}分钟</div>
                </div>


            </div>


        </div>

    </div>
    <comfooter></comfooter>

</div>

<!--主要内容-->


<!--尾部-->


<script src="/static/js/pc/onlyconter.js"></script>
</body>
</html>
