<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>阿凡提智慧点餐</title>
    <link href='/static/css/pc/question.css' rel="stylesheet" type="text/css"/>

    <link href='/static/css/pc/toJoin.css' rel="stylesheet" type="text/css"/>

    <link href="/static/css/pc/all.css" rel="stylesheet"/>
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>

    <head>


<body class="body">

<div id="app" v-cloak>
    <comheader></comheader>

    <div class="top-body">
        <div>
            <ul class="question_top">
                <li>
                    <div><a href="/pc/index.html">首页</a><i>/</i></div>
                </li>
                <li>
                    <div><a href="/pc/server.html">服务中心</a><i>/</i></div>
                </li>
                <li>
                    <div>
                        <a href="/pc/reminder.html">催单问题</a><i>/</i>
                    </div>
                </li>
                <li><span>{{reminder[questionCount]}}</span></li>
            </ul>
            <div class="question_center">
                <div class="center_left">
                    <h1>催单问题</h1>
                    <ul>
                        <li v-for="(item,index) in reminder" @click="questionClick(index)" style="font-size: 10px"
                            :class="[questionCount==index?'active':'']">
                            <span>{{item}}</span>
                        </li>
                    </ul>
                    <div class="left_footer">
                        <a href="#"> <img src="/static/image/pc/kf.png" class="footer_img"/>联系客服</a>
                    </div>
                </div>
                <div class="center_right">
                    <div v-if="questionCount==0"><h1>{{reminder[questionCount]}}</h1>
                        <div class="right_p">
                            <p>非常抱歉给您带来不便，订单下单成功后骑手或商家会尽快为您配送，如订单出现超时您可以通过以下方式催单：</p>
                            <p>1.打开订单详情，点击“催单”进行催促配送，如图所示：</p>
                            <p><img src="/static/image/pc/reminder1.jpeg" style="width: 213px; height: 140px;"/></p>
                            <p>2.打开订单详情，点击“联系商家”或“联系骑手”，了解目前餐品配送情况，如图所示：</p>
                            <p><img src="/static/image/pc/reminder2.jpeg" style="width: 213px; height: 140px;"/></p>
                            <p>3.准时达订单超时10分钟后送达系统会自动赔付超时红包以表歉意，感谢您的谅解。</p>

                            <!--<div class="_btnBox_1xkuj_82">-->
                            <!--<button ubt-click="100607" ubt-data-app="eleme" ubt-data-from="eleme-pc"-->
                            <!--bt-data-name="我的订单超时了怎么办？" ubt-data-questionid="11522"><i-->
                            <!--class="_good_1xkuj_98"></i>已解决-->
                            <!--</button>-->
                            <!--<button ubt-click="100608" ubt-data-app="eleme" ubt-data-from="eleme-pc"-->
                            <!--bt-data-name="我的订单超时了怎么办？" ubt-data-questionid="11522"><i-->
                            <!--class="_bad_1xkuj_100"></i>未解决-->
                            <!--</button>-->
                            <!--</div>-->
                        </div>

                    </div>
                    <div v-if="questionCount==1"><h1>{{reminder[questionCount]}}</h1>
                        <div class="right_p">
                            <p>如长时间没有骑手接单，建议您按照以下情况处理：</p>
                            <p>1.商家自配送订单：商家自行配送订单不显示骑手信息，建议您联系商家催单；</p>
                            <p>2.蜂鸟配送订单：订单下单后会尽快分配骑手配送，如果您的订单长时间未分配骑手，建议您及时联系商家进行配送。</p>
                            <p>3.如果您已无法等待，建议您先更换其他方式用餐，小e感谢您的谅解与支持，祝您用餐愉快！</p>

                        </div>
                    </div>
                    <div v-if="questionCount==2"><h1>{{reminder[questionCount]}}</h1>
                        <div class="right_p">
                            <p>非常抱歉给您带来不便，订单下单成功后骑手或商家会尽快为您配送，如订单出现超时您可以通过以下方式催单：</p>
                        </div>
                    </div>
                    <div v-if="questionCount==3"><h1>{{reminder[questionCount]}}</h1>
                        <div class="right_p">
                            <p>非常抱歉给您带来不便，准时达订单如未按预计送达时间送达，超时10分钟后骑手点击确认送达系统会自动赔付超时红包，如超时赔付没有享受到可能有以下原因：</p>
                            <p>1..恶劣天气、预订单、夜间部分时段下单暂不参加赔付；</p>
                            <p>2.送达时间未超出预计送达时间10分钟；</p>
                            <p>3.下单餐厅非准时达餐厅，此类餐厅订单无法参与赔付 ；</p>
                            <p>4.准时达赔付已超出每个用户每天赔付3个红包限制；</p>
                            <p>5.仅限阿凡提APP/手淘带有“准时达”标签的订单可以享受。</p>
                            <p>注：部分城市准时达已升级为准时达PLUS，超时送达可获得比准时达更高的赔付，下单时选择购买即可。</p>
                        </div>
                    </div>
                    <div v-if="questionCount==4"><h1>{{reminder[questionCount]}}</h1>
                        <div class="right_p"><p>非常抱歉给您带来不便，订单下单成功后骑手或商家会尽快为您配送，如订单出现超时您可以通过以下方式催单：</p>
                        </div>
                    </div>
                    <div v-if="questionCount==5"><h1>{{reminder[questionCount]}}</h1>
                        <div class="right_p">
                            <p>联系餐厅有两种方式：</p>
                            <p>1.如您已下单请您打开您的订单，点击“联系商家'；</p>
                            <p>2.如您未下单，在外卖页面找到您要联系的商家，点击“商家名称”-再次点击“商家名称”，下滑找到“商家电话”点击拨打即可。</p>

                        </div>
                    </div>
                    <div v-if="questionCount==6"><h1>{{reminder[questionCount]}}</h1>
                        <div class="right_p">
                            <p>订单如果是门店配送直接联系门店电话即可。</p>
                            <p>如您是蜂鸟骑手配送的订单，点击【订单】-打开需要联系骑手的订单详情-点击【联系骑手】,如图所示：</p>
                            <p><img src="/static/image/pc/reminder2.jpeg" style="width: 213px; height: 140px;"/></p>
                        </div>
                    </div>
                    <div v-if="questionCount==7"><h1>{{reminder[questionCount]}}</h1>
                        <div class="right_p">
                            <p>准时达订单超时10分钟赔付是自动到达您的账户的哦，是不需要您再次申请的呢。</p>
                        </div>
                    </div>
                    <div class="right_bottom">
                        <h2><span>此答案是否解决您的问题？</span></h2>
                        <div class="bottom_button">
                            <button @click="solveClick()"><img src="/static/image/pc/iconThumb1.png"/>已解决</button>
                            <button @click="solveClick()"><img src="/static/image/pc/iconThumb2.png"/>未解决</button>
                        </div>
                        <div class="bottom_success">
                            <img src="/static/image/pc/yes.jpg"/>
                            评价成功，感谢您的支持
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="/static/js/pc/question.js"></script>
</body>


</html>