<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>afanti阿凡提订单</title>
    <link rel="stylesheet" href="/static/css/pc/all.css">
    <link rel="stylesheet" href="/static/css/pc/safeconter.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>
</head>

<body>
<!--头部-->

<!--头部-->


<!--主要内容-->
<div class="conter" id="app" v-cloak>
    <comheader></comheader>

    <div id="all_inprotener">
        <div class="title">当前位置：&nbsp;&nbsp;<a href="/pc/index.html" class="geographic">{{geographic}}</a>&nbsp;&nbsp;<a href="javascript:0;" @click="addressclick()"> [{{geographic==null?'选择地址':'切换地址'}}]</a>&nbsp;&nbsp;>&nbsp;&nbsp;安全中心
        </div>


        <div class="all_left">
            <div class="myall"><a href="/pc/onlyconter.html">个人中心</a></div>

            <div class="mydingdan">我的订单</div>
            <div class="er_fenlan "><a href="/pc/threemont.html">近三个月订单</a></div>
            <div class="er_fenlan"><a href="/pc/daipjdingdan.html">待评价订单</a></div>
            <div class="er_fenlan"><a href="/pc/tuidanjilu.html">退单记录</a></div>

            <div class="myzichan">我的资产</div>
            <div class="er_fenlan"><a href="/pc/myhongbao.html">我的红包</a></div>
            <div class="er_fenlan"><a href="/pc/zhanghuyue.html">账户余额</a></div>
            <div class="er_fenlan"><a  href="/pc/myjifen.html">我的积分</a></div>

            <div class="myziliao">我的资料</div>
            <div class="er_fenlan"><a  href="/pc/myziliao.html">个人资料</a></div>
            <div class="er_fenlan"><a  href="/pc/dizhiguanli.html">地址管理</a></div>
            <div class="er_fenlan"><a id="active" href="/pc/safeconter.html">安全中心</a></div>
            <div class="er_fenlan"><a href="/pc/ggpassword.html">修改密码</a></div>
            <div class="myshoucang"><a href="/pc/wodeshoucang.html">我的收藏</a></div>
        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->
        <div class="all_right">

            <div class="safeall">安全中心</div>
            <div class="safe_dengji">
                安全等级：
                <div class="di_jindu">
                    <div class="jingdu_tiao"></div>
                </div>
                <span>高</span>
                <span class="soan">建议启动全部安全设置，以保障账户及资金安全！</span>
            </div>

            <div class="one_yi">
                <div class="all_tupian">
                    <img v-if="!dataUi.loginPwd" class="no_xian" src="/static/image/pc/no.jpg" height="31" width="31" alt="">
                    <img v-else class="yes_xian" src="/static/image/pc/yes.jpg" height="31" width="31" alt="">
                </div>
                <div class="passow" v-if="dataUi.loginPwd">登录密码</div>


                <div class="shezhi_pw" v-if="!dataUi.loginPwd">
                    <div class="one">您还没有设置密码</div>
                    <div class="two">设置登录密码，使用阿凡提更方便，安全</div>
                </div>
                <div class="shezhi_pwyingcang" v-if="dataUi.loginPwd">
                    互联网存在被盗风险,建议定期更改密码以保护安全
                </div>


                <div class="xzk_all">
                    <a href="/pc/ggpassword.html" v-if="dataUi.loginPwd">更改密码</a>
                    <div class="dvd"><a v-if="!dataUi.loginPwd" href="/pc/shezhimima.html">设置密码</a></div>
                </div>
            </div>


            <div class="two_er">
                <div class="all_tupian">
                    <img class="no_xian" v-if="userPhone==''" src="/static/image/pc/no.jpg" height="31" width="31" alt="">
                    <img class="yes_xian" v-if="userPhone!=''" src="/static/image/pc/yes.jpg" height="31" width="31" alt="">
                </div>
                <div class="yanzheng">手机验证</div>

                <div class="shezhi_pw" v-if="userPhone!=''">
                    已绑定手机 {{userPhone}}

                </div>
                <div class="shezhi_pwyingcang" v-if="userPhone==''">
                    为了确保您的账户安全请绑定手机
                </div>

                <div class="xzk_all">
                    <a href="javascript:0;" @click="ggphoneClick()" v-if="userPhone!=''">更改手机</a>
                    <div class="dvd"><a href="/pc/bangdingphone.html"  v-if="userPhone==''">立即绑定</a></div>
                </div>
            </div>


            <div class="three_san">
                <div class="all_tupian">
                    <img v-if="!userEmail" class="no_xian" src="/static/image/pc/no.jpg" height="31" width="31" alt="">
                    <img v-else class="yes_xian" src="/static/image/pc/yes.jpg" height="31" width="31" alt="">
                </div>
                <div class="passow">邮箱激活</div>

                <div class="shezhi_pw" v-if="userEmail">
                    <div class="one">已绑定邮箱&nbsp;{{userEmail}}</div>
                    <div class="two">验证后可用户快速找回密码，接受账户提醒邮件</div>
                </div>
                <div class="shezhi_pwyingcang" v-else>
                    为了账户的安全请绑定您的个人邮箱
                </div>

                <div class="xzk_all">
                    <a href="/pc/ggemail.html" v-if="userEmail">更改邮箱</a>
                    <div class="dvd"><a href="javascript:0;" @click="shezhiemailClick()" v-if="!userEmail">立即绑定</a></div>
                </div>
            </div>


            <!--<div class="four_si">-->
                <!--<div class="all_tupian">-->
                    <!--<img class="no_xian" src="/static/image/pc/no.jpg" height="31" width="31" alt="">-->
                    <!--<img class="yes_xian" src="/static/image/pc/yes.jpg" height="31" width="31" alt="">-->
                <!--</div>-->
                <!--<div class="passow">支付额度</div>-->

                <!--<div class="shezhi_pw">-->
                    <!--<div class="one">已设定支付50元</div>-->
                    <!--<div class="two">如果当日在线订餐金额超出支付额度，手机验证后才可以付款</div>-->
                <!--</div>-->
                <!--<div class="shezhi_pwyingcang">-->
                    <!--请设置当日消费额度-->
                <!--</div>-->

                <!--<div class="xzk_all">-->
                    <!--<a href="/pc/zhifuedu.html">更改额度</a>-->
                    <!--<div class="dvd"><a href="">立即设置</a></div>-->
                <!--</div>-->
            <!--</div>-->


        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->


    </div>

    <!--主要内容-->


    <!--尾部-->


    <comfooter></comfooter>
</div>
<script src="/static/js/pc/safeconter.js"></script>
</body>
</html>
