<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>商铺</title>
    <link rel="stylesheet" href="/static/css/pc/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/pc/all.css"/>
    <link rel="stylesheet" href="/static/css/pc/shop.css"/>
    <!--<script type="text/javascript" src="./js/angular.min.js" ></script>-->
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/public/layer/layer.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>
    <link rel="stylesheet" href="../../static/css/pc/shop.css">


</head>
<!--<script>-->
<!--var res-->
<!--$(function () {-->
<!--res =-->
<!--<-->
<!--? php echo-->
<!--json_encode($res) ?-->
<!--&gt;-->
<!--;-->
<!--console.log(res)-->
<!--var goodsAvg = res.goodsAvg;-->
<!--var timeAvg = res.timeAvg;-->
<!--var serviceAvg = res.serviceAvg;-->
<!--var shopAvg = res.shopAvg-->
<!--serviceAvg = serviceAvg * 20-->
<!--timeAvg = timeAvg * 20-->
<!--goodsAvg = goodsAvg * 20-->
<!--shopAvg = shopAvg * 20-->
<!--$('#serviceAvg').css('width', serviceAvg + '%')-->
<!--$('#goodsAvg').css('width', goodsAvg + '%')-->
<!--$('#timeAvg').css('width', timeAvg + '%')-->
<!--$('#shopAvg').css('width', shopAvg + '%')-->

<!--})-->
<!--</script>-->
<body>

<!--<input type="hidden" name="userId" value="{$cookie.userId}">-->


<div id="app" v-cloak>
    <!--页眉-->

    <input type="hidden" name="shopId" :value="dataz.shopId">
    <input type="hidden" name="userId" :value="dataz.userId">
    <input type="hidden" name="boxFee" :value="dataz.boxFee">
    <input type="hidden" name="shopAtive" :value="dataz.shopAtive">
    <input type="hidden" name="isShopAtive" :value="dataz.isShopAtive">
    <!--<include file="./Apps/HomePc/View/food/header.html"/>-->
    <!--内容-->
    <div class="order">


        <div class="orderguide">
            <comheader></comheader>
            <div class="minWidth orderguide-conter">
                <div class="orderguide-info">
                    <img src="/static/image/pc/shop.jpg"/>
                    <div class="orderguide-info-word">
                        <div>
                            <h1 class="shopName">{{dataz.shopName}}</h1>
                        </div>
                        <p class="orderguide-info-rate">
								<span class="fodblock-stars orderguide-info-size">
									  <!--90%长度控制星星-->
									<span class="fodblock-starsNum" :style="'width:'+dataz.shopAvg*20+'%'"
                                          id="shopAvg"></span>
								</span>
                            (
                            <a href="JavaScript:">{{dataz.readNum}}</a>
                            )
                            <span>销量{{dataz.sales}}单</span>

                        </p>
                    </div>
                    <div class="orderguide-info-extra">
                        <ul>
                            <li class="orderguide-extra-compete">
                                <div>
                                    <h2 class="compete-color">{{dataz.shopAvg}}分</h2>
                                    <p>
                                        综合评分<br/>
                                        <!--<span>高于周边商家</span>-->
                                        <!--<span class="compete-color">70.9%</span>-->
                                    </p>
                                </div>
                                <div class="orderguide-compete-item">
                                    <p>
                                        <span>服务态度</span>
                                        <span class="fodblock-stars">
									  <!--90%长度控制星星-->
									<span class="fodblock-starsNum"  :style="'width:'+dataz.serviceAvg*20+'%'"></span>
											</span>
                                        <span class="compete-color">{{dataz.serviceAvg}}分</span>

                                    </p>
                                    <p>
                                        <span>菜品评价</span>
                                        <span class="fodblock-stars">
									  <!--90%长度控制星星-->
									<span class="fodblock-starsNum" :style="'width:'+dataz.goodsAvg*20+'%'"></span>
											</span>
                                        <span class="compete-color">{{dataz.goodsAvg}}分</span>

                                    </p>
                                    <p>
                                        <span>时效服务</span>
                                        <span class="fodblock-stars">
									  <!--90%长度控制星星-->
									<span class="fodblock-starsNum" :style="'width:'+dataz.timeAvg*20+'%'"></span>
											</span>
                                        <span class="compete-color">{{dataz.timeAvg}}分</span>

                                    </p>
                                </div>
                            </li>
                            <li class="orderguide-extra-address">
                                <p>
                                    <span>商家地址:</span>
                                    <span>{{dataz.shopName}}</span>
                                </p>
                                <p>
                                    <span>营业时间:</span>
                                    <!--<span><?php echo date('H:i',$res.serviceStartTime).'-'.date('H:i',$res.serviceEndTime) ?></span>-->
                                    <span>{{dataz.serviceStartTime}}-{{dataz.serviceEndTime}}</span>
                                </p>

                            </li>
                            <li class="orderguide-give">
                                <p>由<span class="orderguide-give-shop">商家</span>提供配送服务
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="orderguide-server">
						<span>
                           	<em>起送价</em>
                           	<em class="orderguide-server-val">{{dataz.deliveryFreeMoney}}元</em>
                           </span>
                    <span>
                           	<em>配送费</em>
                           	<em class="orderguide-server-val">配送费￥{{dataz.deliveryStartMoney}}</em>
                           </span>
                    <span>
                           	<em>平均送达时间</em>
                           	<em class="orderguide-server-val">{{dataz.deliveryCostTime}}分钟</em>
                           </span>
                    <div class="orderguide-favor">
                        <i class="orderguide-favor-img glyphicon glyphicon-heart " :class=" [collect==1?'active':'']"
                           @click="collectClick(event)" :data-active="active"></i>
                        <span>{{collect==1?'取消收藏':'收藏'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--导航-->
        <div class="ordernav">
            <div class="minWidth">
                <div class="ordernav-left">
                    <a class="ordernav-tab  " :class="[ordertabTF==0?'active':'']" href="JavaScript:"
                       @click="ordertab(0)">所有商品</a>
                    <a class="ordernav-tab ordernav-border " :class="[ordertabTF==1?'active':'']" href="JavaScript:"
                       @click="ordertab(1)">评价</a>
                    <a class="ordernav-tab ordernav-border" :class="[ordertabTF==2?'active':'']" href="JavaScript:"
                       @click="ordertab(2)">商家资质</a>

                    <span class="ordernav-filter" v-if="ordertabTF==0">
		 				<a class="ordernav-filter-item " :class="[foodSort==0?'active':'']" href="JavaScript:"
                           @click="orderFilt(0)">默认排序</a>
		 				<!--<a class="ordernav-filter-item " :class="[foodSort==1?'active':'']" href="JavaScript:"-->
                           <!--@click="orderFilt(1)">-->
		 					<!--评分-->
		 					<!--<i class="glyphicon glyphicon-arrow-down"></i>-->
		 				<!--</a>-->
		 				<!--<a class="ordernav-filter-item " :class="[foodSort==2?'active':'']" href="JavaScript:"-->
                           <!--@click="orderFilt(2)">-->
		 					<!--销量-->
		 						<!--<i class="glyphicon glyphicon-arrow-down"></i>-->
		 				<!--</a>-->
		 				<a class="ordernav-filter-item " :class="[foodSort==3?'active':'']" href="JavaScript:"
                           @click="orderFilt(3)">
		 					价格
		 						<i class="glyphicon "
                                   :class="sortJudge==false?'glyphicon-arrow-down':'glyphicon-arrow-up'"></i>
		 				</a>
		 				<span class="orderForm">
		 					<a class="ordernav-filter-display" href="JavaScript:" title="网格形式显示"
                               @click="arrayShop(this.event,1)">
		 						<img class="active" id="orderBG1" src="/static/image/pc/orderBG1.png"/>
		 					</a>
		 					<a class="ordernav-filter-display " href="JavaScript:" title="网格形式显示"
                               @click="arrayShop(this.event,2)">
		 						<img src="/static/image/pc/orderLB.png" id="orderLB"/>
		 					</a>
		 				</span>
		 			</span>

                </div>

                <div class="ordernav-right">
                    <!--<form class="place-search">-->
                    <div class="place-search">
                        <button class="place-search-btn glyphicon glyphicon-search" @click="serchGoods()"></button>

                        <input class="place-search-input" name="search" placeholder="搜索商家,美食..."/>
                    </div>
                </div>


                <div class="clear"></div>
            </div>
        </div>
        <!--商铺-->
        <div class="ordermain minWidth">
            <div class="ordermain-left">
                <!--所有商品-->
                <div class="menu" v-if="ordertabTF==0">
                    <div class="ordermain-nav" v-show="!searchShow"><!-- sticky-->
                        <a v-for="(item,index) in von" :class="[ordernav==index?'active':'']"
                           href="javascript:" @click="ordernavs(index)">{{item.catName}}</a>
                    </div>

                    <div class="ordermain-list grid">
                        <template v-if="!searchShow">
                            <div v-for="(item,key) in von"
                                 repeat-finishs>
                                <h3 class="ordermain-title">
                                    {{item.catName}}
                                    <!--<span class="ordermain-des">大家喜欢吃，才加真好吃</span>-->
                                </h3>

                                <div class="orderFood-item" v-for="(x,index) in item.distop" repeat-finish>
						<span class="orderFood-item-img" @click="shopShow(this.event)" :data-index="key"
                              :data-foodindex="index" :data-img="x.goodsImg">
							<img :src="'https://image.aftdc.com/'+x.goodsImg"/>
						</span>
                                    <div class="orderFood-item-word">
                                        <p class="orderFood-word-name">{{x.goodsName}}</p>
                                        <p class="ui-ellipsis color-mute">{{x.goodsDesc}}</p>

                                        <!--<p>
                                            <!--<span class="fodblock-stars orderFoodsize">-->
                                        <!--&lt;!&ndash;90%长度控制星星&ndash;&gt;-->
                                        <!--<span class="fodblock-starsNum" style="width: 90%;"></span>-->
                                        <!--</span>-->
                                        <!--(2025)-->
                                        <!--<span>月售2022单</span>-->
                                        <!--</p>-->
                                        <span style="text-decoration:line-through;padding-top: 10px"
                                              v-if="x.marketPrice > x.shopPrice">￥{{x.marketPrice}}</span>
                                        <p class=" color-mute">库存:{{x.goodsStock==-1?'无限':x.goodsStock}}</p>
                                    </div>
                                    <span class="orderFood-price">￥{{x.shopPrice}}</span>
                                    <div class="orderFood-addCarBox">
                                        <div class="order-cartctrl cartctrlS" v-show="x.numb > 0">
                                            <button class="ctrl sub" @click="sub(event)" :data-index="key"
                                                    :data-foodindex="index ">-
                                            </button>
                                            <input class="ctrl" :value="inputMark=='a'+key+'b'+index?'':x.numb"
                                                   @input="updata(x,event,key,index)"
                                                   :disabled="x.size||x.taste?true:false"/>

                                            <button class="ctrl add" @click="add(event)"
                                                    :style="x.numb<x.goodsStock||x.goodsStock==-1?'':'cursor: not-allowed'"
                                                    :disabled="x.numb<x.goodsStock||x.goodsStock==-1?false:true"
                                                    :data-index="key"
                                                    :data-foodindex="index ">+
                                            </button>
                                        </div>
                                        <div v-if="x.numb <=0" class="orderFood-addCar" @click="addFood(this.event)"
                                             :data-index="key" :data-foodindex="index">
                                            {{x.size||x.taste?'选择规格':'加入购物车'}}
                                        </div>
                                    </div>
                                    <div class="goodsHide" v-if="x.isSale==0||x.goodsStock==0"><span v-if="x.isSale==0">已下架</span><span
                                            v-if="x.goodsStock==0">暂无库存</span></div>

                                </div>

                                <!--//..-->
                                <div class="clear"></div>
                            </div>
                        </template>
                        <!--筛选的结果-->

                        <div v-if="searchShow">
                            <h3 class="ordermain-title" v-if="searchData.name">搜索<span style="color: #f74342;">「{{searchData.name}}」</span>的结果
                            </h3>
                            <h3 class="ordermain-title" v-if="searchData.txt">{{searchData.txt}}</h3>
                            <div class="orderFood-item " v-show="search==true" v-for="(x, index) in searchData.distop">
						<span class="orderFood-item-img" @click="shopShow(event)" :data-index="x.a"
                              :data-foodindex="x.b" :data-img="x.goodsImg">
							<img :src="'https://image.aftdc.com/'+x.goodsImg"/>
						</span>
                                <div class="orderFood-item-word">
                                    <p class="orderFood-word-name">{{x.goodsName}}</p>
                                    <p class="ui-ellipsis color-mute">{{x.goodsDesc}}</p>

                                    <span style="text-decoration:line-through;padding-top: 10px"
                                          v-if="x.marketPrice > x.shopPrice">￥{{x.marketPrice}}</span>
                                    <p class=" color-mute">库存:{{x.goodsStock==-1?'无限':x.goodsStock}}</p>
                                </div>

                                <span class="orderFood-price">￥{{x.shopPrice}}</span>
                                <div class="orderFood-addCarBox">
                                    <div class="order-cartctrl cartctrlS" v-if="x.numb > 0">
                                        <button class="ctrl sub" @click="sub(event)" :data-index="x.a"
                                                :data-foodindex="x.b">-
                                        </button>
                                        <input class="ctrl" :value="inputMark=='a'+a+'b'+b?'':x.numb" @input="updata(x,event)"
                                               :disabled="x.size||x.taste?true:false"/>{{x.numb}}
                                        <button class="ctrl add" @click="add(event)"
                                                :style="x.numb<x.goodsStock||x.goodsStock==-1?'':'cursor: not-allowed'"
                                                :disabled="x.numb<x.goodsStock||x.goodsStock==-1?false:true"
                                                :data-index="x.a"
                                                :data-foodindex="x.b">+
                                        </button>
                                    </div>

                                    <div v-if="!x.numb > 0" class="orderFood-addCar" @click="addFood(event)"
                                         :data-index="x.a" :data-foodindex="x.b">
                                        {{x.size||x.taste?'选择规格':'加入购物车'}}
                                    </div>
                                </div>
                                <div class="goodsHide" v-if="x.isSale==0||x.goodsStock==0"><span
                                        v-if="x.isSale==0">已下架</span><span v-if="x.goodsStock==0">暂无库存</span></div>
                            </div>

                            <!--//..-->
                            <div class="clear"></div>
                            <div class="searchClear " v-show="search==false">
                                <p class="searchClear-container">没有搜索结果，换个条件试试吧</p>
                            </div>
                        </div>


                    </div>
                    <!--规格弹出框-->
                    <div class="specBox">
                        <div class="specmenu-specs">
                            <p v-if="boxArr.size!=''">规格</p>
                            <div v-for="(item ,index) in boxArr.size" style="position: relative;display: inline-block">
                                <div class="kucunHide">库存：{{item.kucun==-1?'无限':item.kucun}}</div>

                                <span class=" boxsize" @mouseover="kucunMove(event)" @mouseout="kucunOver()"
                                      :class="[index ==boxArrDecide.size&&item.kucun!=0?'active':'']"
                                      :data-index="index "
                                      :style="item.kucun==0?'cursor: not-allowed;background: #666;':''"
                                      @click="item.kucun!=0?boxsize(event):''">{{item.name}} </span>
                            </div>
                            <p v-if="boxArr.taste!=''">口味</p>
                            <div>
                    <span class=" boxtaste" :class="[ boxArrDecide.taste==index?'active':'']"
                          :data-index="index " v-for="(item ,index) in boxArr.taste" @click="boxtaste(event)">{{item.name}}</span>
                            </div>
                        </div>
                        <div class="specmenu-infogroup">
                            <p>已选：{{boxDecideSName}}
                                {{boxDecideTName}}</p>
                            <p class="infogroup-price">{{boxArr.shopPrice}}</p>
                        </div>
                        <div class="specmenu-but">
                            <button class="ok" @click="ok()">加入购物车</button>
                            <a href="javascript:" @click="closeSpec()">取消</a>
                        </div>
                        <div class="spec-arrow"></div>
                    </div>

                    <!--提示框-->

                    <div class="tooltipsum tooltipSub">
                        <div class="tooltip-guidesum guideSub"></div>
                        <div class="tooltip-wordsum ">多规格商品只能去购物车删除噢</div>
                    </div>


                </div>
                <!--评价-->
                <div class="rate" v-if=" ordertabTF==1">
                    <div class="commentbox" style="max-height: none">
                        <div class="commentfilter">
                            <a class="commentfilter-item" :class="[commentfilter==0?'active':'']"
                               @click="commentfilterClick(0)">全部{{allCount==0?'':'('+allCount+')'}}</a>
                            <a class="commentfilter-item" :class="[commentfilter==1?'active':'']"
                               @click="commentfilterClick(1)">有图{{youtuCount==0?'':'('+youtuCount+')'}}</a>
                            <a class="commentfilter-item" :class="[commentfilter==2?'active':'']"
                               @click="commentfilterClick(2)">最新{{zuixinCount==0?'':'('+zuixinCount+')'}}</a>

                        </div>
                        <ul class="commentlist">
                            <li class="commentitem" v-for="(item,index) in plSum">
							<span class="commentitem-avatar ">
								<img ng-src="{{item.userPhoto}}"/>
							</span>
                                <div class="commentitem-ifom">
                                    <p class="commentitem-userTime"><span>{{item.userName}}</span><span
                                            class="time">{{item.createTime}}</span>
                                    </p>
                                    <div class="commentitem-numb">
                                        <div class="commentitem-state">
										<span>
											<i class="commentfood-stateimg "
                                               :class="[item.avg==5?'activeFive':item.avg<=2&&x<=item.avg?'activeTwo':item.avg>2&&x<=item.avg?'active':'']"
                                               v-for="x in 5"></i>
                                            <!--<img src="images/satisfyXX.png" />-->
										</span>
                                            <span class="commentitem-degree"
                                                  :class="[item.avg==5?'activeFive':item.avg<=2?'activeTwo':item.avg>2?'active':'']"
                                            >{{item.avg==5?'惊喜':item.avg<=2?'失望':item.avg==3?'一般':item.avg==4?'满意':''}}</span>
                                        </div>
                                        <span class="serviceTime">{{item.tagStr}}</span>
                                    </div>
                                    <div class="commentitem-food" v-for="(x,a) in item.goodslist">
                                        <span class="commentfood-name">{{x.goodsName}}</span>
                                        <!--<div class="commentfood-numb">-->
                                        <!--<span>-->


                                        <!--<img src="/static/image/pc/satisfy.png"/>-->
                                        <!--<img src="/static/image/pc/satisfy1.png"/>-->
                                        <!--</span>-->
                                        <!--<span class="commentitem-degree">满意</span>-->
                                        <!--</div>-->
                                        <span class="seeFood" @click="seeFoodClick(x)">查看商品</span>

                                    </div>
                                    <p class="commentitem-word">{{item.content}}</p>
                                    <div class="commentitem-foodImg" v-if='item.appraisesAnnex.length>0'>
                                        <img :src="'https://image.aftdc.com/'+x.img"
                                             v-for="(x,index) in item.appraisesAnnex"/>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--商家资质-->
                <div class="info" v-if=" ordertabTF==2">
                    <div class="info-title">营业资质</div>
                    <div class="info-top">商家从业资质</div>
                    <div class="info-img">
                        <a>
                            <img :src="'https://image.aftdc.com/'+dataz.shopImg2"/>
                        </a>
                        <!--<a>-->
                        <!--<img src="./images/shop.jpg"/>-->
                        <!--</a>-->
                        <div class="clear"></div>
                    </div>
                </div>

            </div>

            <div class="ordermain-right">
                <div class="orderbulletin">
                    <div class="orderbulletin-section">
                        <h4 class="orderbulletin-section-title">商家公告</h4>
                        <p class="orderbulletin-section-content">{{dataz.notice}}</p>
                        <div class="orderbulletin-delivery">
                            <p>配送说明</p>
                            <p>配送费￥{{dataz.deliveryStartMoney}}</p>
                        </div>
                        <div class="orderbulletin-protectBox">
                            <div class="orderbulletin-protect">
                                <span>保</span>
                                已加入"外卖保"计划，食品安全有保障
                            </div>
                        </div>
                        <p class="orderbulletin-report" @click="reportClick()">举报商家</p>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>

    </div>
    <!--背景-->
    <div class="back"></div>
    <!--右边固定栏-->
    <div class="sidetools">
        <a href="https://www.aftdc.com/business/Enrol/registered.html" target=" _blank" class="sidetools-item sidetools-itemimg" title="我要开店">
            <span class=" sidetoolsimg"></span>
        </a>
        <div class="sidetools-item sidetools-ewm glyphicon glyphicon-qrcode">
            <img class="sidetools-qrcode " src="/static/image/pc/ewm.jpg"/>
        </div>
        <a href="javascript:" class="sidetools-item glyphicon glyphicon-headphones sidetools-down" title="在线客服"></a>
        <a class="sidetools-item  toolbar-butbtn glyphicon glyphicon-chevron-up" title="回到顶部"></a>

        <div class="tooltips">
            <div class="tooltip-guide"></div>
            <div class="tooltip-word">我的信息</div>
        </div>
    </div>
    <!--举报弹出框-->
    <div class="thistousu">
        <div class="all_kuang">
            <div class="bai_kuang">
                <div class="out"><span @click="logout()">×</span></div>
                <div class="tit_tousu">投诉举报</div>
                <div class="dan_xuan" v-for="(item,index) in complain"><input type="radio" name="1" :value="index">{{item}}
                </div>

                <textarea class="textear" id="textear"></textarea>
                <bottom class="bottom" @click="bottomClick()">提交</bottom>
            </div>
        </div>
    </div>
    <!--<div class="foodBox2" >-->
    <!--<div class="foodBox-close" @click="jbClose()">×</div>-->
    <!--<div class="foodBox-nav">-->
    <!--<h5 class="complaint-title ">举报商家</h5>-->
    <!--<div class="dan_xuan" v-for="(item,index) in complain"><input type="radio" name="1"  :value="index">{{item}}</div>-->
    <!--<textarea class="textear"  id="textear"></textarea>-->
    <!--<bottom class="bottom" @click="bottomClick()">提交</bottom>-->
    <!--</div>-->
    <!--<div class="an_niv" @click="an_nivClick()">-->
    <!--提交-->
    <!--</div>-->
    <!--</div>-->
    <!--弹出框-->
    <div class="foodBox" v-if="foodBoxT">
        <div class="foodBox-close" @click="shopShow()">×</div>
        <div class="foodBox-Item">
            <div class="foodBox-Itemimg">
                <img :src="'https://image.aftdc.com/'+boxArr.goodsImg" class="foodBox-Img"/>
            </div>
            <section class="foodBox-iteminfo">
                <h5 class="iteminfo-name">{{boxArr.goodsName}}</h5>
                <div class="iteminfo-cartitem">
                    <span class="iteminfo-price">{{boxArr.shopPrice}}</span>
                    <s class="iteminfo-marketPrice"
                       v-if="boxArr.marketPrice > boxArr.shopPrice">￥{{boxArr.marketPrice}}</s>
                    <span class="iteminfo-stock">库存：{{boxArr.goodsStock==-1?'无限':boxArr.goodsStock}}</span>
                    <div class="iteminfo-shop">
                        <div class="order-cartctrl" v-if="boxArr.numb>0">
                            <button class="ctrl sub" @click="sub(event)" :data-index="retua(box.mark)"
                                    :data-foodindex="retub(box.mark)">-
                            </button>
                            <input class="ctrl" :value="inputMark=='a'+retua(box.mark)+'b'+retub(box.mark)?'':x.numb"
                                   :disabled="[boxArr.size||boxArr.taste?true:false]" @input="updata(box.arr,event)"/>
                            <button class="ctrl add" @click="add(event)" :data-index="retua(box.mark)"
                                    :data-foodindex="retub(box.mark)">+
                            </button>
                        </div>

                        <button v-if="boxArr.numb <= 0" class="iteminfo-but" @click="addFood(event)"
                                :data-index="retua(box.mark)" :data-foodindex="retub(box.mark)">
                            {{boxArr.size||boxArr.taste?'选择规格':'立即购买'}}
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <!--购物车-->
    <div class="shopCart">
        <div class="shopCart-food">
            <div class="shopcart-group">
                <span class="shopcart-groupL">购物车<i @click="closeCar()">[清空]</i></span>
                <img class="addcar" src="/static/image/pc/addcar.png" title="添加购物车"/>
                <div class="clear"></div>
            </div>

            <div class="shopcart-goods" v-for="(item,index) in car">
                <template v-if="item.arr.numb > 0||item.arr.numb ==''">

                    <div class="cell itemname" @mouseover="itemnameMove(event)" @mouseout="itemnameOver()">
                        <div class="boxHide">{{detaileName(item)}}</div>
                        {{item.arr.goodsName}}

                    </div>


                    <div class="cell itemquantity">
                        <button @click="buysub(index)">-</button>
                        <input :value="inputCarMark==item.mark?'':item.arr.numb" @input="updataCar(item,event)"/>
                        <button @click="buyadd(index)" :style="check(item)?'':'cursor: not-allowed'"
                                :disabled="check(item)?false:true">+
                        </button>
                    </div>
                    <div class="cell itemtotal">￥{{Math.round(item.arr.shopPrice*item.arr.numb*100)/100}}</div>
                    <!--{{Math.round(item.arr.shopPrice*item.arr.numb*100)/100}}-->
                </template>
            </div>

        </div>

        <div class="shopcart-footer">
            <div @click="shopcartTF()">
	<span class="shopcar-icon">
			<img src="/static/image/pc/car.png"/>
			<div class="shopcart-number" v-if="car.length>0">{{totalnumb}}</div>
		</span>
                <p class="shopcart-price">{{totalprice}}</p>
                <span class="shopcart-footerText">配送费￥{{dataz.deliveryStartMoney}}</span>
            </div>

            <button class="shopPay " :class="[shopSure?'sure':'']" @click="puy()">{{distance_text}}</button>
        </div>
        <div class="tooltips-top">
            <div class="tooltip-guideBot"></div>
            <div class="tooltip-wordtop">添加购物车</div>
        </div>
    </div>
    <!--页脚-->
    <!--<include file="./Apps/HomePc/View/food/foot.html"/>-->
    <comfooter></comfooter>
</div>

</body>
<script src="/static/js/pc/shop.js"></script>
<script src="/static/js/pc/stopExecutionOnTimeout-6c99970ade81e43be51fa877be0f7600.js"></script>
<script src="/static/js/pc/requestAnimationFrame.js"></script>
<script src="/static/js/pc/jquery_002.js"></script>
</html>