<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>afanti阿凡提订单</title>
    <link rel="stylesheet" href="/static/css/pc/all.css">
    <link rel="stylesheet" href="/static/css/pc/tuidanjilu.css">
    <link rel="stylesheet" href="/static/css/pc/threemont.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>
</head>
<body>
<!--头部-->

<!--头部-->


<!--主要内容-->
<div class="conter" id="app" v-cloak>
    <comheader></comheader>
    <div id="all_inprotener">
        <div class="title">当前位置：&nbsp;&nbsp;<a href="/pc/index.html" class="geographic">{{geographic}}</a>&nbsp;&nbsp;<a href="javascript:0;" @click="addressclick()"> [{{geographic==null?'选择地址':'切换地址'}}]</a>&nbsp;&nbsp;>&nbsp;&nbsp;退单记录
        </div>


        <div class="all_left">
            <div class="myall"><a href="/pc/onlyconter.html">个人中心</a></div>

            <div class="mydingdan">我的订单</div>
            <div class="er_fenlan "><a href="/pc/threemont.html">近三个月订单</a></div>
            <div class="er_fenlan"><a href="/pc/daipjdingdan.html">待评价订单</a></div>
            <div class="er_fenlan"><a id="active" href="/pc/tuidanjilu.html">退单记录</a></div>

            <div class="myzichan">我的资产</div>
            <div class="er_fenlan"><a href="/pc/myhongbao.html">我的红包</a></div>
            <div class="er_fenlan"><a href="/pc/zhanghuyue.html">账户余额</a></div>
            <div class="er_fenlan"><a href="/pc/myjifen.html">我的积分</a></div>

            <div class="myziliao">我的资料</div>
            <div class="er_fenlan"><a href="/pc/myziliao.html">个人资料</a></div>
            <div class="er_fenlan"><a href="/pc/dizhiguanli.html">地址管理</a></div>
            <div class="er_fenlan"><a href="/pc/safeconter.html">安全中心</a></div>
            <div class="er_fenlan"><a href="/pc/ggpassword.html">修改密码</a></div>

            <div class="myshoucang"><a href="/pc/wodeshoucang.html">我的收藏</a></div>

        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->
        <div class="all_right">

            <div class="dai_pjdingdan">退单记录</div>

            <!-- 无退单记录    无退单记录       无退单记录     无退单记录      无退单记录      无退单记录    -->
            <div class="wu_daipjdingdan" v-show="!dataz">
                <img src="/static/image/pc/21.jpg" height="113" width="85">
                <span>暂无记录，现在就去<a href="/pc/index.html">订餐</a>吧！</span>
            </div>
            <!-- 无退单记录    无退单记录       无退单记录     无退单记录      无退单记录      无退单记录    -->
            <!--  有 退单记录    有 退单记录    有 退单记录    有 退单记录    有 退单记录    有 退单记录    有 退单记录  -->
            <!--<div class="you_daipjdingdan">-->
            <div v-show="dataz">
                <div class="all_zhuangtai">
                    <span class="one">下单时间</span>
                    <span class="two">订单内容</span>
                    <span class="three">支付金额(元)</span>
                    <span class="four">状态</span>
                    <span class="five">操作</span>
                </div>

                <!---11111111111111111111111111111111111111111后台循环后台循环后台循环后台循环后台循环后台循环11111111111111111111111-->


                <template v-for="(item,index) in dataz">
                    <div class="dai_xunhuan">
                        <div class="this_left">{{item.open}}<br/><span>{{item.end}}</span></div>
                        <div class="xiao_biao"></div>

                        <div class="this_right"><img :src="'https://image.aftdc.com/'+item.shopImg" height="70"
                                                     width="70">
                        </div>
                        <div class="this_zuizuo">
                            <div class="all_xinxi">
                                <span>{{item.shopName}}</span>
                                <div class="divs">{{item.goods}}</div>
                                <div class="divs">订单号：{{item.orderNo}}</div>
                            </div>

                            <div class="all_zhifu">
                                <span>{{item.realTotalMoney}}</span>
                                <div class="divs">{{item.payType}}</div>
                            </div>

                            <div class="all_zhuangtai">
                                {{item.orderStatus}}
                            </div>
                            <div class="all_caozuo">
                                <a href="/pc/dingdanxiangqin.html">
                                    <div class="xiang_qing">订单详情</div>
                                </a>
                                <div class="all_agaen"><a href="">再来一份</a></div>
                            </div>
                        </div>
                    </div>
                </template>


                <!---1111111111111111111111111后台循环后台循环后台循环后台循环后台循环后台循环11111111111111-->


                <!--<div class="text-center " v-if="pageNumb>0">-->
                <!--<ul class="pagination many-pagination">-->
                <!--&lt;!&ndash;.kui-pagination&ndash;&gt;-->
                <!--<li class="disabled" :class="[pageCurent==1?'disabledN':'disabledY']"-->
                <!--@click="pageSub(pageCurent - 1)">-->
                <!--<a>«</a>-->
                <!--</li>-->
                <!--<li :class="{'active':pageCurent==index+1}" v-if=" showText(index+1)"-->
                <!--v-for="(item,index) in pageNumb" @click="pageClick(index+1)">-->
                <!--<a>{{showText(index+1)}}</a>-->
                <!--</li>-->
                <!--<li class="disabled" :class="[pageCurent==pageNumb?'disabledN':'disabledY']"-->
                <!--@click="pageAdd(pageCurent + 1)">-->
                <!--<a>»</a>-->
                <!--</li>-->

                <!--</ul>-->
                <!--<div>第<input type="text" class="goto">/{{pageNumb}}页 <input type="button" value="go"-->
                <!--@click="pageGo()">-->
                <!--</div>-->
                <!--</div>-->

                <!--  有 退单记录    有 退单记录    有 退单记录    有 退单记录    有 退单记录    有 退单记录    有 退单记录  -->
            </div>
        </div>

        <!--</div>-->
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->


    </div>

    <!--主要内容-->

    <comfooter></comfooter>
    <!--尾部-->

</div>
<script src="/static/js/pc/tuidanjilu.js"></script>
</body>
</html>
