<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>afanti阿凡提订单</title>
    <link rel="stylesheet" href="/static/css/pc/all.css">
    <link rel="stylesheet" href="/static/css/pc/wodeshoucang.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/pc/common.js"></script>
    <style>

    </style>
</head>


<body>
<!--头部-->

<!--头部-->


<input type="hidden" value="{$adminss.userId}" name="userId">
<!--主要内容-->
<div class="conter" id="app" v-cloak>
    <comheader></comheader>
    <div id="all_inprotener">
        <div class="title">当前位置：&nbsp;&nbsp;<a href="/pc/index.html" class="geographic">{{geographic}}</a>&nbsp;&nbsp;<a href="javascript:0;" @click="addressclick()"> [{{geographic==null?'选择地址':'切换地址'}}]</a>&nbsp;&nbsp;>&nbsp;&nbsp;我的收藏
        </div>


        <div class="all_left">
            <div class="myall"><a href="/pc/onlyconter.html">个人中心</a></div>

            <div class="mydingdan">我的订单</div>
            <div class="er_fenlan "><a href="/pc/threemont.html">近三个月订单</a></div>
            <div class="er_fenlan"><a href="/pc/daipjdingdan.html">待评价订单</a></div>
            <div class="er_fenlan"><a href="/pc/tuidanjilu.html">退单记录</a></div>

            <div class="myzichan">我的资产</div>
            <div class="er_fenlan"><a href="/pc/myhongbao.html">我的红包</a></div>
            <div class="er_fenlan"><a href="/pc/zhanghuyue.html">账户余额</a></div>
            <div class="er_fenlan"><a href="/pc/myjifen.html">我的积分</a></div>

            <div class="myziliao">我的资料</div>
            <div class="er_fenlan"><a href="/pc/myziliao.html">个人资料</a></div>
            <div class="er_fenlan"><a href="/pc/dizhiguanli.html">地址管理</a></div>
            <div class="er_fenlan"><a href="/pc/safeconter.html">安全中心</a></div>
            <div class="er_fenlan"><a href="/pc/ggpassword.html">修改密码</a></div>
            <div class="myshoucang"><a id="active" href="/pc/wodeshoucang.html">我的收藏</a></div>
        </div>


        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->
        <div class="all_right">

            <div class="wode_shoucang">我的收藏</div>

            <div class="elm_tishi">当前区域共有<span class="howmay">{{datac.length}}</span>家可配送商家</div>
            <!--1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111-->
            <!--没有收藏显示-->
            <div class="wu_shoucang" >
                <!--待隐藏-->
                <div class="no_peisong" v-if="datac.length==0||datac==''">
                    <img class="imgone" src="/static/image/pc/21.jpg" height="113" width="85">
                    <span class="spanone">暂无可配送商家</span>
                </div>
                <!--待隐藏-->
                <!--循环收藏-->



                <template  v-else>
                    <div class="ture_shoucang" v-for="(item,index) in datac" >
                        <!--弹出影藏框弹出影藏框弹出影藏框-->

                        <div class="ban_toumin">
                            <div class="under">取消收藏该商家？</div>
                            <div class="teotter">
                                <div class="deit_qu" data-shopId="{{item.shopId}}" @click="cancelCollect(this)">取消</div>
                                <div class="no_quxiao" @click="no_quxiaoClick(event)">不取消</div>
                            </div>
                        </div>

                        <!--弹出影藏框弹出影藏框弹出影藏框-->
                        <div class="allprotener" @click="allprotenerClick(item)">
                            <img style="width:100%;height:90px" src="/static/image/pc/02131.jpg">
                            <span class="dian_logo"><img class="xiaologo"
                                                         :src="'https://www.aftdc.com/'+item.shopImg"></span>
                            <span class="logfunck"><a href="">{{item.shopName}}</a></span>
                        </div>
                        <div class="star">
                            <div class="yu_shou">销售<span>{{item.sales}}</span>单</div>
                            <div class="fivestar">
                      <span class="fodblock-stars orderguide-info-size">
									  <!--90%长度控制星星-->
                         <span class="fodblock-starsNum" :style="shopAvg(item)"></span>
                          <!--<span class="fodblock-starsNum" style="width: 90%;" ></span>-->
                                </span>
                            </div>
                        </div>
                        <div class="submenter">
                            <div class="subzuo">
                                <div class="qisong_jia">起送价</div>
                                <div class="change_money"><span>￥</span>{{item.deliveryFreeMoney}}</div>
                            </div>
                            <div class="subline"></div>
                            <div class="subyou">
                                <div class="song_time">送餐时间</div>
                                <div class="need_time">{{item.deliveryCostTime}}<span>分</span></div>
                            </div>
                        </div>
                        <div class="better_top">
                            <span class="bao">保</span>
                            <span class="piao">票</span>
                            <div class="shan_delete" @click="shan_deleteClick(event)"><img src="/static/image/pc/4.jpg"
                                                                                      height="20" width="20" alt="">
                            </div>
                        </div>
                    </div>
                </template>


                <!--循环收藏-->


            </div>
            <!--没有收藏显示-->
            <!--1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111-->
            <div class="now_quyu">当前区域不可配送得商家</div>
            <!--22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222-->
            <!--不可配送-->
            <div class="wu_peisong">
                <div class="no_peisong" v-if="dataf.length==0||dataf==''">
                    <img class="imgtwo" src="/static/image/pc/21.jpg" height="113" width="85">
                    <span class="spantwo">暂无不可配送商家</span>
                </div>
                <template v-else>
                    <div class="ture_shoucang" v-for="(item,index) in dataf" style="opacity: 0.5">
                        <!--弹出影藏框弹出影藏框弹出影藏框-->

                        <div class="ban_toumin" >
                            <div class="under">取消收藏该商家？</div>
                            <div class="teotter">
                                <div class="deit_qu" data-shopId="{{item.shopId}}" @click="cancelCollect(item)">取消</div>
                                <div class="no_quxiao" @click="no_quxiaoClick(event)">不取消</div>
                            </div>
                        </div>

                        <!--弹出影藏框弹出影藏框弹出影藏框-->
                        <div class="allprotener" @click="allprotenerClick(item)">
                            <img style="width:100%;height:90px" src="/static/image/pc/02131.jpg">
                            <span class="dian_logo"><img class="xiaologo"
                                                         :src="'https://www.aftdc.com/'+item.shopImg"></span>
                            <span class="logfunck"><a href="">{{item.shopName}}</a></span>
                        </div>
                        <div class="star">
                            <div class="yu_shou">销售<span>{{item.sales}}</span>单</div>
                            <div class="fivestar">
                      <span class="fodblock-stars orderguide-info-size">
									  <!--90%长度控制星星-->
                         <span class="fodblock-starsNum" :style="shopAvg(item)"></span>
                          <!--<span class="fodblock-starsNum" style="width: 90%;" ></span>-->
                                </span>
                            </div>
                        </div>
                        <div class="submenter">
                            <div class="subzuo">
                                <div class="qisong_jia">起送价</div>
                                <div class="change_money"><span>￥</span>{{item.deliveryFreeMoney}}</div>
                            </div>
                            <div class="subline"></div>
                            <div class="subyou">
                                <div class="song_time">送餐时间</div>
                                <div class="need_time">{{item.deliveryCostTime}}<span>分</span></div>
                            </div>
                        </div>
                        <div class="better_top">
                            <span class="bao">保</span>
                            <span class="piao">票</span>
                            <div class="shan_delete" @click="shan_deleteClick(event)"><img src="/static/image/pc/4.jpg"
                                                                                      height="20" width="20" alt="">
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <!--不可配送-->
            <!--22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222-->
        </div>
        <!--  里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框   里面为右边白框  -->


    </div>

    <!--主要内容-->
    <comfooter></comfooter>

    <!--尾部-->


</div>
<script src="/static/js/pc/wodeshoucang.js"></script>
</body>
</html>
