<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>我的反馈</title>
    <link rel="stylesheet" href="/static/css/business/all.css" />
    <link rel="stylesheet" href="/static/css/business/myOpinion.css" />
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.js"></script>
</head>

<body>
    <div id="myOpinion" v-cloak>
        <div class="listBox" v-for="(item,index) in opinion" v-if="opinion&&opinion.length>0">
            <div class="list-item">
                <div class="itemlr">
                    <span class="name">时间:</span>
                    <span>{{item.time}}</span>
                </div>
                <div class="itemlr">
                    <span class="name">问题:</span>
                    <span>{{item.clasIfy}}</span>
                </div>
                <div class="items">
                    <span class="name">内容:</span>
                    <span>{{item.detailPro}}</span>
                </div>
                <div class="items">
                    <span class="name">回复:</span>
                    <span>{{item.reply}}</span>
                </div>
            </div>
        </div>
        <!--暂无内容  -->
        <div class="notContent" v-if="!opinion||opinion.length==0">
            <image src="/static/image/business/noorders.png"></image>
            <span>暂无反馈</span>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/business/myOpinion.js"></script>
</body>

</html>