<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>意见反馈</title>
    <link rel="stylesheet" href="/static/css/business/all.css"/>
    <link rel="stylesheet" href="/static/css/business/opinion.css"/>
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<body>
<div id="opinion" v-cloak>
    <a href="javascript:0;" @click="myOpinionClick()" class="myOpinion whitle">
        <span>我的反馈</span>
        <span>></span>
    </a>

    <div class="clasIfy whitle">
        <span>请选择反馈类型：</span>
        <div class="clasIfy-choiceBox">
            <span v-for="(item,index) in clasData" :class="{'active':clasIndex==index}" @click="clasChoice(index)">{{item}}</span>
        </div>
    </div>

    <div class="write whitle">
        <textarea v-model="detailPro" placeholder="请详细描述问题"></textarea>
        <div class="uploadImg">
            <div class="relative">
                <img src="/static/image/business/upload.png"/>
                <input type="file" name="file" class="uploadInput" multiple="multiple" @change="uploadImg($event)"/>
            </div>
            <div class="relative imgBox" v-for="(item,index) in imgData">
                <img :src="imgReturn(item)"/>
                <div class="closeImg" @click="closeImg(index)">×</div>
            </div>
        </div>
    </div>

    <div class="whitle contact">
        <label>
            联系方式:<input type="text" placeholder="请留下您的手机号码，方便与您联系" v-model="phone"/>
        </label>
    </div>

    <div class="date">
        反馈提交后，我们会在3个工作日内回复您
    </div>

    <div class="butBox">
        <!--<div class="but" :disabled="disabled" @click="submitBut">提交</div>-->
        <input class="but":disabled="disabled" @click="submitBut" value="提交">
    </div>
</div>
<script type="text/javascript" src="/static/js/business/opinion.js"></script>
</body>
</html>