<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我要入驻</title>
	<link rel="stylesheet" href="/static/css/business/all.css" />
	<link rel="stylesheet" href="/static/css/business/AnnexPower.css" />
	<script type="text/javascript" src="/static/js/public/jquery.min.js" ></script>
	<script type="text/javascript" src="/static/js/public/vue.min.js" ></script>
</head>
<body>
<input type="hidden" name="branchId" value="{$branchId}" />
	<div id="AnnexPower" v-cloak>
	<h2 class="text-center powerName">权限管理</h2>
	<ul class="power-lists">
		<li class="list-item" v-for="(item,index) in author_list_all">
		<div class="item-title clear">
           <span>{{item.name}}</span>
			<span :class="[item.have?'switch-on':'switch-off']" themeColor="#06c1ae" id="directory">
			<span class="slider" @click="parentChange(index)"></span>
			</span>
	  	 </div>

	  	 <div class="item-choice">
  	 			<div v-for="(x,xdex) in item.children">
  	 				 <span>{{x.name}}</span>
		            <span :class="[x.have?'switch-on':'switch-off']" themeColor="#06c1ae" id="directory">
		             <span class="slider" @click="childChange(index,xdex)"></span>
		            </span>
  	 			</div>
	  	 </div> 
	  	 	
		</li>
	</ul> 
  
   <div class="sureBut" @click="sureBut">确定</div>

	</div>


	<script src="/static/js/business/AnnexPower.js"></script>

</body>
</html>

    






























