<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
</head>

<!-- 禁售 -->
<body class="wst-page">
<div id="app" v-cloak v-if="goods">
    <div id='tab' class="wst-tab-box wst-table">
        <ul class="wst-tab-nav">
            <li>商品信息</li>
            <!-- <li>商品属性</li>
            <li>商品相册</li> -->
        </ul>
        <div class="wst-tab-content" >
            <div class='wst-tab-item'>
                <table class="table table-hover table-striped table-bordered wst-form">
                    <tr>
                        <th width='120'>商品编号：</th>
                        <td width='300'>
                            {{goods.goodsId}}
                        </td>
                        <td rowspan='6' style='padding:5px;'>
                            <img id='goodsImgPreview' :src="'https://image.aftdc.com/'+goods.goodsImg" width='160' height='160'/><br/>

                        </td>
                    </tr>
                    <tr>
                        <th width='120'>商品名称<font color='red'>*</font>：</th>
                        <td>{{goods.goodsName}}</td>
                    </tr>
                    <tr>
                        <th width='120'>市场价<font color='red'>*</font>：</th>
                        <td>{{goods.marketPrice}}</td>
                    </tr>
                    <tr>
                        <th width='120'>店铺价格<font color='red'>*</font>：</th>
                        <td>{{goods.shopPrice}}</td>
                    </tr>
                    <tr>
                        <th width='120'>商品库存<font color='red'>*</font>：</th>
                        <td>{{goods.goodsStock}}</td>
                    </tr>
                    <tr>
                        <th width='120'>单位<font color='red'>*</font>：</th>
                        <td>{{goods.goodsUnit}}</td>
                    </tr>
                    <tr>
                        <th width='120'>商品信息：</th>
                        <td colspan='3'>
                            {{goods.goodsSpec}}
                        </td>
                    </tr>
                    <tr>
                        <th width='120'>商品状态<font color='red'>*</font>：</th>
                        <td colspan='3'>
                            <span v-if="goods.isSale==1">上架</span>
                            <span v-if="goods.isSale==0">下架</span>
                        </td>
                    </tr>
                    <tr>
                        <th width='120'>所属分类<font color='red'>*</font>：</th>
                        <td colspan='3'>{{goods.shopCats.goodsName1}}->{{goods.shopCats.goodsName2}}</td>
                    </tr>
                    <tr>
                        <th width='120'>店铺分类<font color='red'>*</font>：</th>
                        <td colspan='3'>
                            主营：{{goods.goodsCats.onename.name}}/次营：{{goods.goodsCats.twoname.name?goods.goodsCats.twoname.name:'无'}}
                        </td>
                    </tr>
                    <tr>
                        <th width='120'>商品描述<font color='red'>*</font>：</th>
                        <td colspan='3'>
                            {{goods.goodsDesc}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3' style='text-align: center'>
                            <button type="button" class="btn btn-danger" style="margin-right: 40px;" v-if="goods.goodsStatus==1"
                                    @click='changeStatus(goods.goodsId,0)'>禁&nbsp;售
                            </button>
                            <button type="button" class="btn btn-primary" style="margin-right: 40px;" v-if="goods.goodsStatus==0"
                                    @click='changeStatus(goods.goodsId,1)'>可&nbsp;售
                            </button>
                            <button type="button" class="btn btn-primary" onclick='history.go(-1)'>返&nbsp;回</button>
                        </td>
                    </tr>
                </table>

            </div>
            <!-- <div class='wst-tab-item'>
               <table class="table table-hover table-striped table-bordered wst-form">
                  <tr>
                    <th width='120'>商品分类：</th>
                    <td>{{goods.attrCatName}}&nbsp;</td>
                  </tr>
                  <tr>
                    <th width='120'>价格属性：</th>
                    <td style='margin:0px;'>
                    <if condition=" count($object.priceAttrs) gt 0">
                       <table class="table wst-list" style='margin:0px;border-top:1px solid #ddd;'>
                       <thead>
                       <tr>
                         <th style='background:#f5f5f5'>属性</th>
                         <th style='background:#f5f5f5'>规格</th>
                         <th style='background:#f5f5f5'>价格</th>
                         <th style='background:#f5f5f5'>推荐</th>
                         <th style='background:#f5f5f5'>库存</th>
                       </tr>
                       </thead>
                       <tr style='margin:0px;' v-for="(item,index) in goods.priceAttrs">
                           <td nowrap width='100px'>{{goods.priceAttrName}}</td>
                           <td>{{item.attrVal}}</td>
                           <td>{{item.attrPrice}}</td>
                           <td><span v-if="item.isRecomm==1">是</span></td>
                           <td>{{item.attrStock}}</td>
                       </tr>
                       </table>
                    </if>
                    </td>
                  </tr>
                  <tr>
                    <th width='120' valign='top'>展示属性：</th>
                    <td style='margin:0px;'>
                    <if condition=" count($object.attrs) gt 0">
                       <table class="table  wst-form" style='margin:0px;'>
                       <template v-for="(item,index) in goods.attrs">
                       <tr style='margin:0px;border:0px;' v-if="item.attrContent"   >
                           <th  width='100px'>{{item.attrName}}：</th>
                           <td>{{item.attrContent}}</td>
                       </tr>
                       </template>
                       </table>
                    </if>
                    </td>
                  </tr>
               </table>
             </div>
              <div class='wst-tab-item'>
              <div id='galleryImgs' class='wst-gallery-imgs'>
                  <div class="wst-gallery-img" v-for="(item.index) in goods.gallery">
                      <img class="gallery-img" width='140' height='100'  :src="item.goodsThumbs"/>
                  </div>
              </div>
              <div style='clear:both;'></div>
             </div> -->
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/forbid.js"></script>
</html>