<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>阿凡提</title>
        <link rel="stylesheet" href="/static/css/pc/index.css">
        <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
        <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
        <script src="https://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    </head>
<body>
    <div class="" id="app" v-cloak>
        <button @click="getCode">这是手机版</button>
        <div v-if="userInfo">
            <ul>
                <li class="clear" v-for="(item,index) in userInfo">
                    <div class="item-1 padt">
                        <i class="numb">{{index}}</i>
                    </div>
                    <div class="item-11">
                        <p><strong class="fontMax">{{item}}</strong></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
<script>
    window.onload = function () {
        var app = new Vue({
            el: '#app',
            data: {
                userInfo:[]
            },
            created: function () {
                var userInfo = JSON.parse(sessionStorage.getItem('userInfo'));
                var code = this.getQueryString('code');

                if (userInfo) {//已登录
                    this.userInfo = userInfo;
                }else if (code) {//未登录，通过code去登录
                    this.getUserInfo(code)
                }else {//未登录，去获取code
                    this.getCode()
                }
            },
            methods: {
                getCode:function () {
                    window.location.href='https://www.aftdc.com/mobile/Wxdecode/getCode?url='+window.location.href;
                },
                getUserInfo:function (code) {
                    var that = this
                    var param='code='+code;
                    axios({
                        method: "post",
                        url: 'https://www.aftdc.com/mobile/Wxdecode/getUserInfo',
                        data: param,
                    }).then(function (res) {
                        alert(JSON.stringify(res.data))
                        if (res.data.res == 1){
                            that.userInfo = res.data.data;
                            sessionStorage.setItem('userInfo',JSON.stringify(that.userInfo));//缓存本次登录
                        }
                    })
                },
                //获取 URL 传过来的值
                getQueryString(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) return unescape(r[2]);
                    return null;
                },
            },
        });
    }
</script>
</html>



