page {
    background-color: #f8f8f8;
}

.article {
    padding-bottom: 10%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
}

.detail {
    padding: 3% 3% 0 3%;
    font-size: 16px;
    color: #666;
    /* background-color: #fff; */
}
/* .detailTop{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */

.name, .title {
    font-size: 19px;
    font-weight: bold;
    line-height: 27px;
}

.author {
    display: flex;
    margin-bottom: 2%;
}

.music {
    background-color: #f8f8f8;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}

.play {
    flex: 1;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(90deg);
    text-align: center;
}

.musicName {
    flex: 7;
}

.L {
    flex: 1;
    position: relative;
}

.L img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #dedede;
}

.C {
    flex: 5;
    line-height: 20px;
    margin: 0 2%;
}

.shop {
    padding: 3%;
    font-size: 16px;
}

.S {
    display: flex;
    align-items: center;
}

.S img {
    width: 23px;
    height: 23px;
    margin-right: 5px;
    border-radius: 50%;
}

.S-left {
    flex: 7;
    display: flex;
    align-items: center;
}

.S-right {
    flex: 2;
    text-align: center;
    border: 1px solid #53beb7;
    color: #53beb7;
    border-radius: 4px;
    line-height: 25px;
}

.Z {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 0;
}

.Z view, .X view {
    flex: 1;
}

.X {
    display: flex;
}

.form {
    flex: 1;
}

.form1 {
    width: 100px;
}

.xbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dedede;
    /* padding: 2% 0; *//* margin: 0 1%; */
    border-radius: 4px;
    color: #666;
    line-height: 2;
}

.xbox img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.read {
    padding: 3%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #666;
}

.read_left {
    display: flex;
    align-items: center;
}

.read_left img {
    width: 19px;
    height: 19px;
    margin-right: 6px;
}

.jinxuan {
    position: absolute;
    text-align: center;
    min-width: 100%;
    font-size: 16px;
    color: #666;
    overflow: hidden;
    padding: 3% 0;
}

.jinxuan:after, .jinxuan:before {
    background: #dedede;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 35%;
}

.jinxuan:before {
    left: 3%;
}

.jinxuan:after {
    right: 3%;
}

.leaveW {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    font-size: 16px;
    color: #53beb7;
    margin: 8% 3% 2% 0;
}

.leaveW img {
    width: 18px;
    height: 18px;
    padding-left: 8px;
}

.name {
    /* font-weight: bold; */
}

.time {
    font-size: 12px;
    color: #999;
    display: flex;
    align-items: flex-end;
    margin-top: 3%;
}

.time_l {
    flex: 5;
}

.R {
    flex: 1;
    /* background-color: #fff; */
}

.Collection .word {
    font-size: 10px;
    font-weight: bolder;
    color: #fff;
    background-color: #e16456;
    width: 50px;
    border-radius: 4px;
    padding: 0;
    text-align: center;
}

.Collection button::after {
    border: none;
}

.R button {
    font-size: 10px;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3%;
    border-radius: 15px;
}

.ygz {
    background-color: #53beb7;
}

.wgz {
    background-color: red;
}

.action {
    flex: auto;
}

.action img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.address {
    padding: 3% 0;
    display: flex;
    align-items: center;
}

.address img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.note {
    padding: 3% 0;
    line-height: 24px;
}

.content {
    display: flex;
}

.content-left {
    flex: 1;
}

.content-left img {
    width: 45px;
    height: 45px;
    border: 1px solid #dedede;
    border-radius: 50%;
}

.content-right {
    flex: 5;
}

/* .content-right image {
    width: 220rpx;
    height: 220rpx;
    margin: 1% 2% 0 0;
} */
.content-right img {
    width: 100%;
    margin: 1% 2% 0 0;
}

.content text {
    line-height: 24px;
}

.tags {
    margin-top: 2%;
    padding: 2% 0 0 0;
    /* border-top: 10rpx solid #f8f8f8; */
}

.tag {
    display: flex;
    font-size:13px;
    color: #999;
    padding-top: 3%;
}

.tag div {
    margin-right: 2%;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 2% 4%;
}

.line {
    border: 3px solid #f8f8f8;
}

.ly {
    padding: 15% 3% 0 3%;
    font-size: 16px;
    color: #666;
}

.lyBlock {
    margin-bottom: 6%;
    display: flex;
}

.userphoto {
    flex: 1;
}

.userphoto img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.middle {
    flex: 8;
    line-height: 20px;
}

.userName {
    color: #777;
    font-size: 14px;
}

.totop {
    font-size: 12px;
    color: #53beb7;
    padding: 0 2%;
    margin-left: 1%;
    border: 1px solid #53beb7;
    border-radius: 10%;
}

.yd {
    font-size: 10px;
    color: #53beb7;
    padding: 0 2%;
    margin-left: 1%;
    border: 1px solid #53beb7;
    border-radius: 10%;
}

.yfs {
    font-size: 9px;
    color: #999;
    padding: 0 2%;
    border: 1px solid #999;
    border-radius: 5%;
}

.pl {
    font-size: 14px;
    color: #666;
    line-height: 25px;
}

.replay {
    color: #6b8db4;
}

.zanPl {
    flex: 1;
    display: flex;
    align-items: center;
}

.zanPl img {
    width: 18px;
    height: 18px;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2% 0;
    background-color: #f8f8f8;
    border-top: 1px solid #dedede;
    display: flex;
    align-items: center;
}

/* .textarea {
    flex: 3;
} */

.textarea input {
    background-color: #f8f8f8;
    border: 1px solid #dedede;
    padding: 2% 4%;
    font-size: 15px;
    width: 100%;
    border-radius: 20px
}

.share {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 3% 3% 0 3%;
    align-items: flex-end;
}

.share form {
    display: inline-block;
    margin-right: 8%;
}

.share img {
    width: 18px;
    height: 18px;
    margin-left: 0;
}

.lyNum, .colloct {
    text-align: center;
    flex: 1;
}

.lyNum {
    position: relative;
}

.munber {
    position: absolute;
    top: 0;
    left: 55%;
    font-size: 9px;
    color: #fff;
    background-color: red;
    border-radius: 10px;
    padding: 1% 3%;
}

.bottom img {
    padding: 2%;
    width: 20px;
    height: 20px;
}

.button {
    line-height: 1;
    padding: 10% 0;
    font-size: 16px;
    color: #666;
    background-color: #fff;
}

button::after {
    border: none;
}

.back {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #333;
    opacity: 0.5;
}

.hobbyTip {
    font-size: 16px;
    position: fixed;
    width: 86%;
    padding: 2%;
    left: 7%;
    bottom: 15%;
    background-color: #53beb7;
    opacity: 0.9;
    border-radius: 40px;
    text-align: center;
    color: #fff;
}

.lwTip {
    padding: 2% 0 8% 0;
    text-align: center;
    font-size: 32px;
}

.saixuan {
    position: absolute;
    text-align: center;
    min-width: 100%;
    font-size: 32px;
    color: #666;
    margin: 5% 0 2% 0;
    overflow: hidden;
}

.saixuan:after, .saixuan:before {
    background: #dedede;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 15%;
}

.saixuan:before {
    left: 3%;
}

.saixuan:after {
    right: 3%;
}

/*点赞 */

.dzanBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.zanBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 9;
}

.zanBox img {
    width: 80px;
    height: 80px;
}

.cartoonZan img {
    animation: zan 1000ms 1;
    animation-timing-function: linear;
}

@keyframes zan {
    0% {
        opacity: 0;
        transform: scale(1, 1);
    }

    40% {
        opacity: 1;
        transform: scale(2.3, 2.3);
    }

    44% {
        transform: rotate(10deg) scale(2.3, 2.3);
    }

    48% {
        transform: rotate(0deg) scale(2.3, 2.3);
    }

    52% {
        transform: rotate(-10deg) scale(2.3, 2.3);
    }

    56% {
        transform: rotate(10deg) scale(2.3, 2.3);
    }

    60% {
        transform: rotate(0deg) scale(2.3, 2.3);
    }

    64% {
        transform: rotate(-10deg) scale(2.3, 2.3);
    }

    68% {
        transform: rotate(10deg) scale(2.3, 2.3);
    }

    72% {
        transform: rotate(0deg) scale(2.3, 2.3);
    }

    76% {
        transform: rotate(-10deg) scale(2.3, 2.3);
    }

    100% {
        opacity: 0;
        transform: scale(1, 1);
    }
}

/*  */

.jiayou {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    background-color: #53beb7;
    color: #fff;
    font-size: 14px;
    bottom: 175px;
    right: 10px;
    display: flex;
    align-items: center;
}

/*  */
/* */
.musicImg{
    position: fixed;
    z-index: 2;
    width: 38px;
    height: 38px;
    bottom: 88px;
    right: 22px;
    animation: musicImg 6s linear infinite
}
@keyframes musicImg{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
/* */

.bottoms {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 2% 2%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #f1f1f1;
}

.textBox {
    display: flex;
    align-items: center;
}

.textBox_flex{
    font-size: 13px;
    color: #666;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    margin: 0;
    background-color: #fff;
    padding: 5px;
}
.textBoxView{
    display: flex;
    flex-direction: row;
    align-items: center
}
.readTextBox{
    background-color: #f1f1f1;
    border-radius: 19px;
    flex: 4;
    justify-content: space-between;
    padding:0 0 0 10px;

}
.textBox_flex .textBoxView .pancli{
    width: 15px;
    height: 15px
}

.lybuttom{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #666;
    text-align: left
}
.commentNumb{
    position: absolute;
    top: 0;
    right: 13px;
    font-size: 10px;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    text-align: center;
    line-height: 11px;
    background-color: #ff4500;
    color: #fff
}

.textBox_flex img{
    width: 20px;
    height: 20px;
    margin-right: 6%;
}

.textarea {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendText {
    flex: 1;
    background-color: #fff;
    display: flex;
    /* padding-left: 40rpx; */
    align-items: center;
text-align: center;
    justify-content: center;
}

.sendText span {
    background-color: #fff;
    color: #666;
    font-size: 15px;
}

.add {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.add img {
    width: 25px;
    height: 25px;
}

.file {
    margin-top: 3%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.block img {
    width: 40px;
    height: 40px;
    border: 1px solid #dedede;
    border-radius: 8px;
}

.block text {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}

.cerification{
    position:absolute;
    z-index:100;
    top:38px;
    right:5px;
}
/* 投票 */
.vote {
    margin-top: 40px;
    border: 2px solid #dbdbe1;
    border-radius: 8px;
    padding-top: 15px;
    /* background-color: #fff; */
}
.voteTitle {
    width: 315px;
    font-size: 19px;
    line-height: 26px;
}
.subTitle {
    font-size: 12px;
    margin-top: 13px;
}
.option {
    border-bottom: 2px solid #dbdbe1;
    padding-top: 15px;
    padding-bottom: 15px;
}
.optionNoBorder {
    border-bottom: 0;
}
.optionText {
    line-height: 25px;
    width: 290px;
    font-size: 16px
}
.optionIcon {
    display: flex;
    width: 18px;
    height: 18px;
    border: 2px solid #dedee4;
    border-radius: 10px;
    margin-top: 4px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}
.optionIconInside {
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
}
.optionIconChecked {
    background-color: #53beb7;
}
.voteTop {
    padding-left: 15px;
    padding-right: 15px;

}
.voteBottom {
    display: flex;
    height: 45px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #dbdbe1;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
}

/* 投票成功 */
.voteComp{
    display: flex;
    flex-direction: column;
}
.voteCompTitle{
    line-height: 25px;
    width: 300px;
    font-size: 16px;
    margin-top:20px;
}
.voteCompTicket{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.ticketLine{
    width: 200px;
    height: 5px;
    background-color: #666;
}
.ticketLineTrue{
    height: 5px;
    background-color: #53beb7;
}
.ticketText{
    font-size: 12px;
    color: #949494;
}