<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!-- 设置在苹果手机上以应用模式启动时，是否全屏 -->
    <meta name='apple-touch-fullscreen' content='yes'>
    <!-- ios 系统 作用未知 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- iso 系统 作用未知 -->
    <meta content="fullscreen=yes,preventMove=no" name="ML-Config">
    <!-- iso 系统 作用未知 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 是否识别 手机号码、 电子邮件 地址 等-->
    <meta name="format-detection" content="telephone=no,email=no,address=no" />

    <!-- 让360双核浏览器用webkit内核渲染页面 -->

    <meta name="renderer" content="webkit">

    <!-- 避免IE使用兼容模式 -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--允许全屏模式浏览,隐藏浏览器导航栏&ndash;&gt;-->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!--微信缓存-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>餐头条文章</title>
    <link rel="stylesheet" href="/static/css/business/articleContent.css?time=Date.parse(new Date())">
    <link rel="stylesheet" href="/static/css/business/alls.css">
    <link rel="stylesheet" href="/static/css/business/flexible.css">
    <script type="text/javascript" src="/static/js/public/flexible.js"></script>
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/public/md5.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
</head>
<body >
<div class='article' v-if="isLoad" :style="{background:template.imgUrl?'url('+template.imgUrl+') no-repeat':'#fff',backgroundSize:'100% 100%'}" >


    <div id='detail' class='detail'>
        <div class='title' >{{articleInfo.title}}</div>
        <div class='author'>
            <div class='L'>

                    <img class="shopImg" :src="'https://image.aftdc.com/'+articleInfo.shopImg"/>

                    <img class="cerification" v-if="articleInfo.certification" style="width:0.4rem;height:0.4rem"  src='https://image.aftdc.com/images/daV.png'/>

            </div>
            <div class='C'>
                <div class='time'>
                    <div class='time_l'>
                        <p style='color: #53beb7;font-size: 0.373333rem;font-weight:700;' @click='gotoShop'>{{articleInfo.shopName}}</p>
                        <!-- <text>　{{articleInfo.time}}
                                    </text> -->
                        <p>
                            {{articleInfo.time}}</p>
                        <!-- <text>{{articleInfo.city}}　{{articleInfo.distance}}</text> -->
                    </div>

                    <div class="R Collection" >
                        <div  class="word" style='background-color: #00b8a5;' v-if="attentionType==1" >已关注</div>
                        <div class="word" v-else >关　注</div>
                    </div>

                    <!-- <view class='address'>
                                  <image src='https://image.aftdc.com/images/nearDW.png'></image> {{articleInfo.distance}} {{articleInfo.shopAddress}}
                              </view>  -->
                </div>
            </div>
        </div>
    </div>
        <div>
            <video v-if="articleInfo.video" style='width:94%;margin:3% 3% 0 3%;'
                   :src="'https://image.aftdc.com/'+articleInfo.video"></video>
        </div>

        <div  class='detail'>

            <div class='content'>
                <!-- <view class='content-left'>
                          <image src='https://image.aftdc.com/{{articleInfo.shopImg}}'></image>
                      </view> -->
                <div class='content-right'>
                    <template v-if="articleInfo.imageFontRadio==0">
                        <div v-for="(item,index) in articleInfo.content">
                            <p :style="{color:template.fontColor}" style="white-space: pre-wrap">{{item.content}}</p>
                            <img  v-if="item.articleImg"
                                   :src="'https://image.aftdc.com/'+item.articleImg"/>
                        </div>
                    </template>
                    <template v-else>
                        <div v-for="(item,index) in articleInfo.content">
                            <img v-if="item.articleImg"
                                 :src="'https://image.aftdc.com/'+item.articleImg"/>
                            <p :style="{color:template.fontColor}"  style="white-space: pre-wrap">{{item.content}}</p>
                        </div>
                    </template>

                    <!-- <view class='title'>{{articleInfo.title}}</view>   >
                    <!-- <text>{{articleInfo.content.text}}</text>
                    <view class='img' wx:if="{{articleInfo.content.img}}">
                      <block wx:for="{{articleInfo.content.img}}">
                        <image data-index='{{index}}' bindtap='seeImg' mode='aspectFill' src='https://image.aftdc.com/{{item}}'></image>
                      </block>
                    </view> -->
                    <!--投票-->

                        <div class="vote" v-if="vote">
                            <div class="voteTop" :style="{color:template.fontColor}">
                                <p class="voteTitle">{{vote.voteTopic}}</p>
                                <div class="row">
                                    <!--<text class="subTitle">截止时间：{{vote.time}}&nbsp;00:00</text>-->
                                    <p class="subTitle" v-if="vote.type<2">{{vote.type===1?'(单选)':'(多选,无限制)'}}
                                    </p>
                                    <p class="subTitle" v-else>(最多可选{{vote.type}}项)</p>
                                </div>
                                <div v-if="voteSure==0">
                                    <template v-for="(item,index) in vote.inputList">
                                        <div class="option row " :class="[index===vote.inputList.length-1?'optionNoBorder':'']" @click="voteClick(index)">
                                            <div class="optionIcon">
                                                <div class="optionIconInside " :class="[item.checked?'optionIconChecked':'']"></div>
                                            </div>
                                            <p class="optionText" :style="{color:template.fontColor}">
                                                {{item.value}}
                                            </p>
                                        </div>
                                    </template>
                                </div>
                                <div v-else>
                                    <div v-for="(item,index) in inputList">
                                        <div class='voteComp'>
                                            <p class='voteCompTitle' :style="{color:template.fontColor}">
                                                {{item.value}} {{item.checked?'（已投票）':''}}
                                            </p>
                                            <div class='voteCompTicket'
                                                  :style="{marginBottom:index==inputList.length-1?'0.266667rem':''}">
                                                <div class='ticketLine'
                                                      :style="{backgroundColor:template.fontColor}">
                                                    <div class='ticketLineTrue'
                                                          :style="{width:item.percentageVotes}"></div>
                                                </div>
                                                <p class='ticketText' :style="{color:template.fontColor}">
                                                    {{item.voteNum}}票
                                                </p>
                                                <p class='ticketText' :style="{color:template.fontColor}">
                                                    {{item.percentageVotes}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="voteBottom" @click="voteSure==0&&voteClickIndex.length>0?sureVote():''">
                                <p  :style="{color:template.fontColor,fontSize:'0.426667rem',opacity:voteClickIndex.length>0||voteSure==1?1:0.7}" >
                                    {{voteSure==0?'确定':'你已投票'}}
                                </p>
                            </div>
                        </div>

                </div>
            </div>

            <div class='tags' v-if="articleInfo.key_word">
                <div :style="{color:template.fontColor}">文章标签</div>
                <div class='tag'>
                    <template v-for="(item,index) in articleInfo.key_word">
                        <div>{{item}}</div>
                    </template>
                </div>
            </div>

        </div>

        <div class='read'>
            <div class='read_left'>
                <p :style="{color:template.fontColor}">阅读 {{articleInfo.read_num}}　</p>

                <img @click="Praise(1)" :src="articleInfo.is_praise==0?'https://image.aftdc.com/images/nozhan.png':'https://image.aftdc.com/images/zhan.png'"/>
                <p :style="{color:template.fontColor}"> {{articleInfo.praise_num}}　</p>

                 <!--<div class='button' hover-class="none" form-type='submit'>-->
                    <!--<img :src="collectType==0?'https://image.aftdc.com/images/sooucan.png':'https://image.aftdc.com/images/Collection1.png'"/>-->
                  <!--</div>-->

            </div>
            <div class='tousu'  :style="{color:template.fontColor}" @click='report'>投诉
            </div>
        </div>

        <div class='jinxuan' :style="{color:template.fontColor}" v-if="lyDatas!= ''">
            <span>我的{{articleInfo.commentOrleaveWord==1?'评论':'留言'}}</span>
        </div>
        <div  class='ly' v-if="lyDatas != ''">

            <div v-for="(item,index) in lyDatas" v-if="index<2">
                <div class='lyBlock'>
                    <div class='userphoto' @click="jump(item.userId,item.userName,item.userPhoto)">
                        <img  :src='item.userPhoto'/>
                    </div>
                    <div class='middle'>
                        <div class='userName' :style="{color:template.fontColor}"><span>{{item.userName}}</span>
                            <span class='yd' v-if='item.is_read==1'>已读</span>
                            <span class='yfs' :style="{color:template.fontColor}" v-else>送达</span>
                        </div>
                        <div class='pl' :style="{color:template.fontColor}" v-if="item.content">
                            <span>{{item.content}}</span>
                        </div>
                        <div class='pl' v-if="item.img">
                            <img style='width:70%' :src="'https://image.aftdc.com/'+item.img"/>
                        </div>
                        <div class='plTime' style='font-size:0.293333rem;color:#999'>
                            <span :style="{color:template.fontColor}">{{item.timestamp}}</span>
                            <span class='replay' :style="{color:template.fontColor}" @click="focus('replay')"> · 回复
                            </span>
                            <span class='replay' :style="{color:template.fontColor}" @click='del(index,item.id)'> · 删除
                            </span>
                        </div>
                    </div>
                    <div class='zanPl' @click='Praise(3,index)' :style="{color:template.fontColor}">
                        <img :src="item.is_praise==0?'https://image.aftdc.com/images/nozhan.png':'https://image.aftdc.com/images/zhan.png'"/>
                        <span>{{item.praise_num}}</span>
                    </div>
                </div>
            </div>

        </div>

        <div class='jinxuan' id='comment' :style="{color:template.fontColor}">
            {{articleInfo.commentOrleaveWord==1?'全部评论':'精选留言'}}
        </div>

        <!--<div class='leaveW' bindtap='gotoLw'>-->
            <!--&lt;!&ndash; <text>留言</text>-->
                <!--<image src="https://image.aftdc.com/images/shuqian.png"></image> &ndash;&gt;-->
        <!--</div>-->


        <div id='lyq' class='ly'>

            <div v-for="(item,index) in lyData" v-if="index<2">
                <div class='lyBlock'>
                    <div class='userphoto'>
                        <img :src='item.userPhoto'/>
                    </div>
                    <div class='middle'>
                        <div class='userName' :style="{color:template.fontColor}">{{item.userName}}
                            <span class='totop' v-if='item.top==1'>置顶</span>
                        </div>
                        <div class='pl' :style="{color:template.fontColor}" v-if="item.content">
                            {{item.content}}
                        </div>
                        <div class='pl' v-if="item.img">
                            <img  style='width:70%' :src="'https://image.aftdc.com/'+item.img"/>
                        </div>
                        <div class='plTime' style='font-size:0.293333rem;color:#999'>
                            <span :style="{color:template.fontColor}">{{item.timestamp}}</span>
                            <span class='replay' :style="{color:template.fontColor}" @click="focus('replay')"> · 回复
                            </span>
                        </div>
                    </div>
                    <div class='zanPl' @click='Praise(2,index)' :style="{color:template.fontColor}" >
                        <img :src="item.is_praise==0?'https://image.aftdc.com/images/nozhan.png':'https://image.aftdc.com/images/zhan.png'"/>
                        <span>{{item.praise_num}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div v-if="articleInfo.commentOrleaveWord==2">
            <div class='lwTip' v-if="lyData!=''">
                <div class='saixuan' :style="{color:template.fontColor}">以上留言由商家筛选后显示</div>
            </div>
            <div class='lwTip' style='padding:8% 0 15% 0;' v-if="lyData!=''"  @click='lwTip'>
                <div style='color:#53beb7'>了解留言功能详情</div>
            </div>
        </div>

   <!---->
    <div class='jiayou' @click="comeOn">
        <p style="width: 1.066667rem">帮TA
            加油
        </p>
    </div>

    <image class='musicImg'  v-if="articleInfo.music"
           src='https://image.aftdc.com/appBimg/icon_music_check.png'></image>


    <div class='bottoms'>
        <div class='textBox' v-if='focus'>
            <div class='textarea'>
                <input :placeholder="articleInfo.commentOrleaveWord==1?'评论审核后可见':'留言审核后可见'"  v-modal='content'  ></input>
            </div>
            <div class='sendText'>
                <span class='' >发送</span>
            </div>
        </div>
        <div class='textBox' v-if='!focus'>
            <div class='textBox_flex readTextBox' @click="focus('send')">
                <div class='textBoxView'>
                    <img class='pancli' src="https://image.aftdc.com/appBimg/icon_leaveWord.png"/>
                    <span class='lybuttom'>写{{articleInfo.commentOrleaveWord==1?'评论':'留言'}}...</span>
                </div>
                <!-- <image  src="http://chuantu.biz/t6/338/1530751608x-1566688712.png"></image> -->
            </div>
            <div class='textBox_flex' style='position:relative' >
                <img src="https://image.aftdc.com/appBimg/icon_articleComment.png"/>
                <span class='commentNumb' v-if="articleInfo.comment_num>0">{{articleInfo.comment_num}}</span>
                <!-- <text>餐头条</text> -->

            </div>
            <div  style='flex:1'>
                <div class='textBox_flex' >
                    <img :src="collectType==0?'https://image.aftdc.com/images/sooucan.png':'https://image.aftdc.com/images/Collection1.png'"/>
                </div>
            </div>
            <div class='textBox_flex' >
                <img src='https://image.aftdc.com/images/share.png'/>
                <!-- <text>分享</text> -->
            </div>
        </div>
        <!-- <view class='file' wx:if="{{add}}">
                <view class='block' bindtap='chooseImg'>
                    <image src='https://image.aftdc.com/images/xc.png'></image>
                    <text>相册</text>
                </view>
            </view> -->
    </div>


<div class='dzanBack' v-if="dzan"></div>
<div class="zanBox" :class="[dzan?'cartoonZan':'']" v-if="dzan">
    <img src="https://image.aftdc.com/images/zan.png"/>
</div>

<!-- <view class='hobbyTip' wx:if="{{hobbyTip}}">{{hobbyTipTitle}}</view> -->
<!--<include src="/pages/template/toast.wxml" />-->
</div>
<script type="text/javascript" src="/static/js/business/articleContent.js?time=Date.parse(new Date())"></script>

</body>
</html>