<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/all.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
</head>


<body class="wst-page" style="position:relative;">
<div class='wst-body wst-table' id="app" v-cloak>

    <table class="table table-hover table-striped table-bordered wst-list">
        <tr>
            <td>门店名称</td>
            <td>{{res.shopName}}</td>
        </tr>
        <tr>
            <td>门店电话</td>
            <td>{{res.stores_phon}}</td>
        </tr>
        <tr>
            <td>联系人姓名</td>
            <td>{{res.userName}}</td>
        </tr>

        <tr>
            <td>联系人电话</td>
            <td>{{res.phone}}</td>
        </tr>

        <tr>
            <td>门店分类</td>
            <td>主营：{{res.csName}}/次营：{{res.twoname}}</td>
        </tr>
        <tr>
            <td>营业时间</td>
            <td>{{res.serviceStartTime}}-{{res.serviceEndTime}}</td>
        </tr>

        <tr>
            <td>店铺地址</td>
            <td>{{res.province}}-{{res.city}}-{{res.county}}</td>
        </tr>
        <tr>
            <td>详情地址</td>
            <td>{{res.shopAddress}}</td>
        </tr>
        <tr>
            <td>商家类型</td>
            <td>
                <span v-if="res.shopType==1">连锁店</span>
                <span v-if="res.shopType==2">单店</span>
            </td>
        </tr>
        <tr>
            <td>配送方式</td>
            <td>
                {{res.dlvService}}
            </td>
        </tr>

        <tr>
            <td>门店LOGO</td>
            <td>
                <div id="layer-photos-appraiseg" style="margin-bottom:10px">
                    <img width="30%" :src="'https://image.aftdc.com/'+res.shopImg">
                </div>
            </td>
        </tr>

        <tr>
            <td>门脸照和店内照</td>
            <td>
                <div id="layer-photos-appraisel" style="margin-bottom:10px">
                    <img width="30%" :src="'https://image.aftdc.com/'+res.door_img">
                    <img width="30%" :src="'https://image.aftdc.com/'+res.store_img">
                </div>
            </td>
        </tr>
        <tr>
            <td>证件类型</td>
            <td>{{res.cardClasfly}}</td>
        </tr>
        <tr>
            <td>{{res.cardClasfly}}正反面和手持证件正面</td>
            <td>
                <div id="layer-photos-appraiseB" style="margin-bottom:10px">
                    <img width="30%" :src="'https://image.aftdc.com/'+res.faceImg">
                    <img width="30%" :src="'https://image.aftdc.com/'+res.backImg">
                    <img width="30%" :src="'https://image.aftdc.com/'+res.handImg">
                </div>
            </td>
        </tr>


        <tr>
            <td>{{res.cardClasfly}}姓名</td>
            <td>{{res.bankUserName}}</td>
        </tr>

        <tr>
            <td>{{res.cardClasfly}}号码</td>
            <td>{{res.IdentityNo}}</td>
        </tr>

        <tr>
            <td>银行卡号码</td>
            <td>{{res.bankNo}}</td>
        </tr>


        <tr>
            <td>主体资质证件类型</td>
            <td>{{res.unitType}}</td>
        </tr>

        <tr>
            <td>{{res.unitType}}证件照片</td>
            <td>
                <div id="layer-photos-appraise{c}" style="margin-bottom:10px">
                    <img width="30%" :src="'https://image.aftdc.com/'+res.unitImg">
                </div>
            </td>
        </tr>

        <tr>
            <td>单位名称</td>
            <td>{{res.unitName}}</td>
        </tr>

        <tr>
            <td>注册号</td>
            <td>{{res.unitNumb}}</td>
        </tr>
        <tr>
            <td>注册地址</td>
            <td>{{res.unitAdres}}</td>
        </tr>

        <tr>
            <td>法定人代表</td>
            <td>{{res.unitPeople}}</td>
        </tr>

        <tr>
            <td>有效期</td>
            <td>
                {{res.unitRadio}}
                <span v-if="res.unitRadio=='固定日期'">:{{res.unitFixed}}</span>
            </td>
        </tr>
        <tr v-if="res.allowType">
            <td>行业资质证件类型</td>
            <td>{{res.allowType}}</td>
        </tr>

        <tr v-if="res.allowImg||res.allowType">
            <td>证件照片</td>
            <td>
                <div style="margin-bottom:10px">
                    <img name="allowImg" width="100" :src="'https://image.aftdc.com/'+res.allowImg">
                </div>
            </td>
        </tr>

        <tr v-if="res.allowName">
            <td>单位名称</td>
            <td>{{res.allowName}}</td>
        </tr>

        <tr v-if="res.allowNumb">
            <td>许可证编号</td>
            <td>{{res.allowNumb}}</td>
        </tr>


        <tr v-if="res.allowAdres">
            <td>许可证地址</td>
            <td>{{res.allowAdres}}</td>
        </tr>

        <tr v-if="res.allowPeople">
            <td>法定人代表</td>
            <td>{{res.allowPeople}}</td>
        </tr>

        <tr v-if="res.allowRadio||res.allowType">
            <td>有效期</td>
            <td>
                {{res.allowRadio}}
                <span v-if="res.allowRadio=='固定日期'">:{{res.allowFixed}}</span>
            </td>
        </tr>

        <tr>
            <td>商铺入驻费用设置</td>
            <td>

                <input type="text" class="input_search" v-model='res.applyMoney'
                       @input="res.applyMoney=res.applyMoney.replace(/[^\d^\.]+/g,'')" name='money'>
                <button class="btn btn-info" @click="addShopMoney">金额确定审核通过</button>
            </td>
        </tr>

        <tr>
            <td>审核不通过原因</td>
            <td><input name="reason" type="text" class="input_search" v-model="notTxt" placeholder="请输入审核不通过的原因"/></td>
        </tr>

    </table>
    <div colspan='2' style='text-align: center'>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="not" @click="notShop">审核不通过</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="history.go(-1)">返&nbsp;回</button>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/seeShop.js"></script>
</html>





































