<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/pages.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/report.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/jquery.min.js"></script>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
    <!-- 分页组件 -->
    <script src="/static/js/public/pages.js"></script>
</head>


<body class="wst-page" style="position:relative;">
<div class='wst-body' id="app" v-cloak>
    <div class="wst-table">
        <table class="table table-hover table-striped table-bordered wst-list">
            <thead>
            <tr>
                <th>序号</th>
                <th>举报内容</th>
                <th>被举报评论内容</th>
                <th>被举报评论图片</th>
                <th>举报原因</th>
                <th>举报人</th>
                <th>被举报人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item,index) in reportData">
                <td>{{index+1}}</td>
                <td>{{item.content}}</td>
                <td>{{item.pcontent}}</td>
                <td v-if="item.img">
                    <span  @click="seeImg(item)" style="color: #06c1ae;cursor: pointer">点击查看</span>
                </td>
                <td  v-else><span>无图片</span></td>
                <td>{{item.reason}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.reUserName}}</td>
                <td>
                    <a class="btn btn-danger glyphicon glyphicon-trash" @click="del(item.id,index)">删除</a>
                    <!--<a class="btn btn-default glyphicon glyphicon-pencil" data-userid="{$vo.userId}" data-type='1'onclick="ban(this)">封号举报人</a>-->
                    <!--<a class="btn btn-default glyphicon glyphicon-pencil" data-userid="{$vo.reUserId}" data-type='2'onclick="ban(this)">封号被举报人</a>-->
                    <a class="btn btn-primary glyphicon glyphicon-eye-open" @click="reportdetail(item.pid)">举报详情</a>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

    <div class="seeImgHide">
        <div class="seeImgHide_content">
        <div class="seeImgHide_top">
            第{{imgToggle+1}}张图片
            <span class="seeImgHide_close" @click="imgClose()" >×</span>
        </div>
        <img :src="'https://image.aftdc.com/'+imgData[imgToggle]" class="seeImg"/>
        <div  class="seeImgHide_bottom">
            <button class="btn btn-default" @click="prev()" :disabled="imgToggle==0?true:false" :style="imgToggle==0?'cursor:not-allowed;':''">上一张</button>
            <button class="btn btn-default" @click="next()"  :disabled="imgToggle==imgData.length-1?true:false" :style="imgToggle==imgData.length-1?'cursor:not-allowed;':''">下一张</button>
        </div>
        </div>
    </div>
    <div style='text-align:center' class="pages">
        <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
        <div class="wst-pagination" v-if="pageNumb<=1">
            <span class="rows">共<b>{{pageSum}}</b>条数据 第<b>1</b>页/共<b>1</b>页</span>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/plReport.js"></script>
</html>