<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/report.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/jquery.min.js"></script>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>

</head>


<body class="wst-page" style="position:relative;">
<div class='wst-body' id="app" v-cloak>
    <div class="table-title">主评论</div>
    <div class="wst-table">
    <table class="table table-hover table-striped table-bordered wst-list">
        <thead>
            <tr>
                <th width='30'>序号</th>
                <th width='80'>评论内容</th>
                <th width='80'>被举报评论图片</th>
                <th width='80'>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>{{mainContent.content}}</td>
                <td>
                    <span v-if="mainContent.appraisesAnnex" @click="seeImg()" style="color: #06c1ae;cursor: pointer">点击查看</span>
                    <span v-else>暂无图片</span>
                </td>
                <td>
                    <a class="btn btn-warning glyphicon glyphicon-pencil" data-type='2' @click="ban(mainContent.userId,2)">封号</a>
                    <!-- <a class="btn btn-default glyphicon glyphicon-pencil">删除</a> -->
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="table-title">举报人</div>
    <div class="wst-table">
    <table class="table table-hover table-striped table-bordered wst-list">
        <thead>
        <tr>
            <th>序号</th>
            <th>举报内容</th>
            <th>举报原因</th>
            <th>举报人</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in reportMan">
            <td>{{index+1}}</td>
            <td>{{item.content}}</td>
            <td>{{item.reason}}</td>
            <td>{{item.userName}}</td>
            <td>
                <a class="btn btn-warning glyphicon glyphicon-pencil" data-type='1' @click="ban(item.userId,1)">封号</a>
            </td>
        </tr>

        </tbody>
    </table>
    </div>
    <div class="table-title">子回复</div>
    <div class="wst-table">
    <table class="table table-hover table-striped table-bordered wst-list">
        <thead>
        <tr>
            <th>序号</th>
            <th>回复内容</th>
            <th>回复人</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in subReply">
            <td>{{index+1}}</td>
            <td>{{item.content}}</td>
            <td>{{item.userName}}</td>
            <td>
                <a class="btn btn-default glyphicon glyphicon-pencil" data-type='2' @click="ban(item.userId,1)">封号</a>
                <a class="btn btn-default glyphicon glyphicon-pencil" @click="delComm(item.id,index)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="seeImgHide">
        <div class="seeImgHide_content">
            <div class="seeImgHide_top">
                第{{imgToggle+1}}张图片
                <span class="seeImgHide_close" @click="imgClose()" >×</span>
            </div>
            <img :src="'https://image.aftdc.com/'+imgData[imgToggle]" class="seeImg"/>
            <div  class="seeImgHide_bottom">
                <button class="btn btn-default" @click="prev()" :disabled="imgToggle==0?true:false" :style="imgToggle==0?'cursor:not-allowed;':''">上一张</button>
                <button class="btn btn-default" @click="next()"  :disabled="imgToggle==imgData.length-2?true:false" :style="imgToggle==imgData.length-2?'cursor:not-allowed;':''">下一张</button>
            </div>
        </div>
    </div>
    <!-- <div style='text-align:center' class="pages">{$show}</div> -->
</div>
</body>
<script type="text/javascript" src="/static/js/admin/reportdetail.js"></script>
</html>