<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/pages.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/report.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/jquery.min.js"></script>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
    <!-- 分页组件 -->
    <script src="/static/js/public/pages.js"></script>
</head>


<body class="wst-page" style="position:relative;">
<div id="app" class='wst-body' v-cloak>
    <div class="wst-table">
        <table class="table table-hover table-striped table-bordered wst-list">
            <thead>
            <tr>
                <th>序号</th>
                <th>举报内容</th>
                <th>举报人</th>
                <th>商家名称</th>
                <th>被举报评论图片</th>
                <th>举报原因</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in shopData">
                <td>{{index+1}}</td>
                <td>{{item.text}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.shopName}}</td>
                <td>
                    <span v-if="item.Img" @click="seeImg(item)" style="color: #06c1ae;cursor: pointer">点击查看</span>
                    <span v-else>暂无图片</span>
                </td>
                <td>{{item.reType}}</td>
                <td>
                    <a class="btn btn-danger glyphicon glyphicon-trash" @click="del(item.id,index)">删除</a>
                    <a class="btn btn-warning glyphicon glyphicon-remove" @click="ban(item.userId)" v-if="item.userStatus==1">封号举报人</a>
                    <a class="btn btn-default " style="cursor: not-allowed" v-else>已封号举报人</a>
                    <a class="btn btn-warning glyphicon glyphicon-remove" @click="banShop(item.shopId)" v-if="item.shopStatus!=5">封店</a>
                    <a class="btn btn-default " @click="banShop(item.shopId)" v-else>已封店</a>
                    <a class="btn btn-warning glyphicon glyphicon-remove" @click="banShopForever(item.shopId)" v-if="item.banNum<4">永久封店</a>
                    <a class="btn btn-default " @click="banShopForever(item.shopId)" v-else>已永久封店</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="seeImgHide">
        <div class="seeImgHide_content">
            <div class="seeImgHide_top">
                第{{imgToggle+1}}张图片
                <span class="seeImgHide_close" @click="imgClose()" >×</span>
            </div>
            <img :src="'https://image.aftdc.com/'+imgData[imgToggle]" class="seeImg"/>
            <div  class="seeImgHide_bottom">
                <button class="btn btn-default" @click="prev()" :disabled="imgToggle==0?true:false" :style="imgToggle==0?'cursor:not-allowed;':''">上一张</button>
                <button class="btn btn-default" @click="next()"  :disabled="imgToggle==imgData.length-1?true:false" :style="imgToggle==imgData.length-1?'cursor:not-allowed;':''">下一张</button>
            </div>
        </div>
    </div>
    <div style='text-align:center' class="pages">
        <!-- 分页 -->
        <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/shopReport.js"></script>
</html>