<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/report.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
</head>


<body class="wst-page" style="position:relative;">
<div class='wst-body' id="app" v-cloak>
    <div class="wst-table">
    <table class="table table-hover table-striped table-bordered wst-list">
        <thead>
        <tr>
            <th width='30'>序号</th>
            <th width='80'>标签名称</th>
            <th width='120'>标签关键词<label style='color:red'>*多个请用英文逗号隔开</label></th>
            <th width='120'>标签关键词</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in tagsData">
            <td>{{index+1}}</td>
            <td><input type='text' name='name' class="input_search" v-model="item.name" @blur='updName(index)'></td>
            <td><input type='text' name='keyword' class="input_search" v-model="item.keyword" @blur='updKeyword(item.id,item.keyword)' style='width:100%'
                       onkeyup="this.value=this.value.replace(/，/g,'')"
                       onafterpaste="this.value=this.value.replace(/，/g,'')"></td>
            <td>
                <a class="btn btn-danger glyphicon glyphicon-trash" @click="del(index,item.id)">删除</a>
            </td>
        </tr>
        <!-- <tr>
           <td colspan='11' align='center'>{$Page['pager']}</td>
       </tr> -->
        </tbody>
    </table>
    <button type="submit" class="btn btn-success glyphicon glyphicon-plus" @click="add">添加</button>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/tags.js"></script>
</html>