<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/pages.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/all.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
    <!-- 分页组件 -->
    <script src="/static/js/public/pages.js"></script>
</head>
<body class='wst-page'>
<div id="app" v-cloak>
    <div class='wst-tbar'>
        店铺：<input type='text' id='shopName' name='shopName' class="input_search" v-model='shopName'/>
        订单：<input type='text' id='orderNo' name='orderNo' class="input_search" v-model='orderNo'/>
        退款状态 ：<select id='isRefund' name='isRefund' class="input_search" v-model="orderStatus">
        <option value='-1'>全部</option>
        <option value='-3'>未退</option>
        <option value='-4'>已退</option>

    </select>
        <button type="submit" class="btn btn-search glyphicon glyphicon-search" @click="pageFn(1)">查询</button>
    </div>

    <div class="wst-body wst-table" v-if="listData.length>0">
        <table class="table table-hover table-striped table-bordered wst-list">
            <template v-for="(item,index) in listData">
                <thead>
                <tr>
                    <th colspan='6'>{{index+1}}.订单：{{item.orderNo}}<span style='margin-left:100px;'><a
                            href="javascript:" @click="nameSearch(item.shopName)">{{item.shopName}}</a></span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width='350'>
                        <div style='width:350px;'>
                            <img v-for="(x,imgdex) in item.goodslist" style='margin:2px;' :src="'https://image.aftdc.com/'+x.goodsImg" height="50"
                                 width="50" :title='x.goodsName'/>
                        </div>
                    </td>
                    <td>{{item.userName}}</td>
                    <td>
                        {{numbs(item.realTotalMoney,item.deliverMoney)}}<br/>
                        <span v-of="item.payType==1">在线支付</span> <span v-else>货到付款</span>
                    </td>
                    <td>{{item.createTime}}</td>
                    <td>
                        <span v-if="item.orderStatus==-4">已退款</span>
                        <span v-else>未退款</span>
                    </td>
                    <td >
                        <a class="btn btn-primary glyphicon glyphicon-eye-open" href="javascript:" @click="see(item.orderId)">查看</a>&nbsp;
                        <a class="btn btn-danger glyphicon" href="javascript:" @click="operateFn(index)"
                           v-if="item.orderStatus!=-4">操作退款</a>&nbsp;
                    </td>
                </tr>
            </template>
            <tr>
                <td colspan='6' align='center'>
                    <!-- 分页 -->
                    <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="wu_mei"  v-else>
        <img src="/static/image/pc/21.jpg" height="113" width="85">
        <div style="display:block" class="panduan">暂无该查询条件的内容 换个条件试试吧！</div>

    </div>
    <div class="modal fade  in" v-show="togle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><b>订单退款</b></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-striped table-bordered wst-form">
                        <tbody>
                        <tr>
                            <th align="right" style="width:120px">订单：</th>
                            <td>{{operate.orderNo}}</td>
                        </tr>
                        <tr>
                            <th align="right" style="width:120px">订单总金额：</th>
                            <td><span class="red">￥{{numbs(operate.realTotalMoney,operate.deliverMoney)}}</span>
                                (商品总金额：￥{{operate.realTotalMoney}} + 运费：￥{{operate.deliverMoney}})
                            </td>
                        </tr>
                        <tr>
                            <th align="right" style="width:120px">退款金额：</th>
                            <td><span class="red">￥{{numbs(operate.realTotalMoney,operate.deliverMoney)}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-left:250px;">
                                <button type="button" class="btn btn-success" @click="addWord">确定</button>
                                <button type="button" class="btn btn-primary" @click="togle=0">取消</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/refundList.js"></script>
</html>