*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #efefef;
}

.Xerter{
    padding: 0.15rem 0.25rem;
    min-height: 1rem;
    background: #fff;
    font-size: 0.225rem;
}

.DerNser{
    height: 0.4rem;
    line-height: 0.65rem;
    /* background: green; */
    font-size: 0.225rem;
    color: #666;
    display: flex;
    align-items: center;
}
.Newser{
    width: 0.275rem;
    height: 0.275rem;
    border: 1px solid red;
    color: red;
    display: flex;
    font-size: 0.2rem;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0.1rem;
    border-radius: 2px;
}
.Querter{
    width: 0.275rem;
    height: 0.275rem;
    background: #C0C0C0;
    font-size: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 0 0 0.1rem;
    color: #fff;
}


.DerNonc{
    height: 0.6rem;
    line-height: 0.6rem;
    /* background: #bababa; */
    font-size: 0.5rem;
    font-weight: 600;
}


.DerNonc .Sin{
    font-size: 0.275rem;
    font-weight: 400;
}




.Xinderfei{
    min-height: 1.75rem;
  /*  background:#eee;*/
    display:flex;
    align-items:center;
}
.Xon{
    width:100%;
    min-height:1.5rem;
}

.herden{
    border-right: 1px solid #efefef;
}
.maedpe{
   /* border-left: 1px solid #bababa;*/
}


.DerTser{
    height: 0.4rem;
    line-height: 0.65rem;
    /* background: green; */
    font-size: 0.225rem;
    color: #666;
    display: flex;
    align-items: center;
}

.QueIter{
    width: 0.275rem;
    height: 0.275rem;
    background: #C0C0C0;
    font-size: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 0 0 0.2rem;
    color: #fff;
}
.NubPonc{
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.55rem;
    font-weight: 800;
    display: flex;
    align-items: center;
}


.NubPonc .Liv{
    font-size: 0.225rem;
    font-weight: 400;
}

.Houf{
    padding:0 0 0 0.25rem;
}





.Ainder{
    min-height:3rem;
    background:#fff;
    font-size: 0.225rem;
    margin:0.2rem 0 0 0;
    /*padding:0 0 0.1rem 0;*/
}

.Asin{
    height:1rem;
    display:flex;
    align-items:center;
}

.QuSi{
    width: 100%;
    font-size: 0.25rem;
    color: #000;
    min-height: 0.8rem;
    line-height: 0.7rem;
    text-align: center;
    border-bottom: 0.1rem solid #fff;
}

.QuSi.active{
    color:#09c1a9;
    border-bottom:0.1rem solid #09c1a9 ;
}


.AsinCK{
    height: 0.7rem;
    display: flex;
    align-items: center;

}

.QuSiCl{
    width: 100%;
    font-size: 0.25rem;
    color: #000;
    min-height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
   background: #f5f9f8;
}
.QuSiCl.active{
    background-color: #fff;
    color: #09c1a9;
}

.Fensh{
    background:#f5f9f8;
    color:#000;
}
/*图例*/
.tooltips{
display: none;
}

.tooltip0{
display: block !important;
}
/**/













































































































