<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/business/all.css" />
    <link rel="stylesheet" href="/static/css/business/invoice.css" />
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>

<body>
    <div class="preOrder" id="preOrder">
        <div class="Sinfer">
            <div class="XinPin">
                <span class="zuol">微信认证</span>
                <span class="youl">微信认证流程详细说明</span>
            </div>
            <div class="TextEn">
                <div class="lou Ain">1同意协议<span class="lvser"></span></div>
                <div class="lou Bin">2填写资料<span class="lvser"></span></div>
                <div class="lou Cin">3填写发票<span class="lvse"></span></div>
                <div class="lou Din">4支付费用</div>
            </div>
            <div class="KunDer">
                <div class="Oneder">
                    1.发票资料提交后不能修改,请填写正确的发票类型和寄送地址,若填写错误造成发票开具错误,寄送错误或选择不开具发票,后续将无法开具并寄送发票。
                </div>
                <div class="Oneder">
                    2.普通发票为定额发票,增值税专用发票的抬头为认证申请机构的全称。
                </div>
                <div class="Oneder">
                    3.增值税专用发票的开票资质进行审核,审核结果将在7个工作日内(不包括周末,法定节假日)在通知中心发送审核结果。
                </div>
                <div class="Oneder">
                    4.订单完成后(包括认证成功和失败),腾讯会在45天内开具并寄出普通发票,80天内开具并寄出增值税专用发票。
                </div>
                <div class="Xinder">
                    <div class="Sinder">发票类型</div>
                    <div class="Xderpo">
                        <select class="sleteler" v-model="city" @click="showBranches(city)">
                            <option value="">请选择</option>
                            <option class="paper" v-for="city in citys" :value="city.id">{{city.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="Zuioh">
                    <span class="wenhao">!</span>成功认证之后，您所填写的资料将和资质，将会显示出来,详见图示。
                </div>
            </div>
            <div class="Acunder">
                <div class="SinSon" @click="step">上一步</div>
                <div class="XinSon" @click="next">保存订单并下一步</div>
            </div>
        </div>
    </div>
    <script  src="/static/js/business/invoice.js"></script>
</body>

</html>