<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0"/>
    <title>阿凡提平台版</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/admin/index.css"/>

    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
</head>
<body>
<div id="wrapper" v-cloak @click="allFn">
    <div class="indexTop">
        <div class="home-wrapper">
            <a class="home-link" href="javacscipt:" :class="{'navWidth':navState}">
                <span class="project-name" v-if="!navState">阿凡提平台版</span>
                <div class="title-content" :class="{'project-name':navState}">
                    <img src="/static/image/admin/home.png"/>
                </div>
            </a>
            <!--<a class="toggle-btn" href="javascript:" @click="navWidth">-->
                <!--<img src="/static/image/admin/toggle-btn.png"/>-->
            <!--</a>-->
        </div>



        <div class="pull-right user-section">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="https://www.aftdc.com/pc/index.html" target='_blank' style="color: rgba(255, 255, 255, 0.8);">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>前台&nbsp;</span>
                    </a>
                </li>
                <li class="dropdown user user-menu" @click='cleanCache()'>
                    <a style="color: rgba(255, 255, 255, 0.8);">
                        <i class="glyphicon glyphicon glyphicon-refresh"></i>
                        <span>清除缓存</span>
                    </a>
                </li>


                <li class="dropdown user user-menu" id="touding">
                    <a href="javascript:" class="text" id="text" @click.stop="togle=!togle" style="color: #fff;">
                        <span id="nameser" class="names">admin</span>
                        <span>
							<i class="caret"></i>
						</span>
                    </a>
                    <div id="Defkjw" class="Defkjw" v-if="togle">
                        <div class="bin xiugaimima">修改密码</div>
                        <div class="bin xiugaiphone" @click='loginOut()'>退出系统</div>
                    </div>
                </li>

            </ul>

        </div>

    </div>

    <div class="aside" :class="{'navWidth':navState}" @mouseover="navMouseFn()" @mouseout="navMouseFn()">
        <div class="sidebar-inner">
            <div class="main-menu">
                <ul>
                    <li class="openable" v-for="(item, pindex) in navData" v-bind:class="{active:navs==pindex}">
                        <a href="javascript:" class="nav-header" :class="{collapsed:itemShow===pindex}"
                           @click="navChoice(pindex)">
                            <span class="text">{{item.name}}</span>
                            <span class="menu-hover"></span>
                        </a>
                        <ul id="menu1" class="navs nav-list submenu collapse in" v-if="item.item"
                            v-show='itemShow===pindex && !navState'>
                            <li v-for="(x, index) in item.item" v-if="x.name" @click="navItemChoice(index)"
                                :class="{active:navItems==index}"><a :href="x.hash">{{x.name}}</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="javascript:void(0)" target="hashframe" class="pageSrc"></a>
            </div>
        </div>
    </div>

    <div id="main-container" :class="{'navMar':navState}">
        <div id="main-content" v-for="iframes">
            <iframe :src="pageSrc" width="100%" height="100%" border="0" frameborder="no" name="hashframe"
                    id="iframe"></iframe>
        </div>
    </div>
    <!-- :src="pageSrc" -->
</div>
</body>
<script type="text/javascript" src="/static/js/admin/index.js"></script>
</html>
