<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>阿凡提</title>
<link rel="stylesheet" href="/static/css/business/registered.css" />
<script src="/static/js/public/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/public/vue.min.js" ></script>
<script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<style type="text/css">
  [v-cloak] {
    display: none;
  }
</style>
<body @keydown="on_return()">

<div id="dec"v-cloak>
  <div class="sadkpf">
   <div class="topzuo">
     <div class="djasi">
        <div class="tulogin">
            <img  src="/static/image/business/a.png" height="65" width="65">
        </div>
        <div class="lecdsf">智慧阿凡提</div>
        <div class="cdwee"><span>上阿凡提</span><span>随叫随到</span></div>
     </div>
     <div class="shanghjia">商家中心</div>
   </div>
   <div class="topyou">
       <div class="qian">
         <img src="/static/image/business/1201.png" height="15" width="15"> 商家PC客户端
       </div>
       <div class="hou">
          <img src="/static/image/business/12122.png" height="15" width="15"> 商家手机客户端
       </div>
   </div>
</div>
<div class="esfwefcw" v-bind:style="{display:token}">
   <div class="allweid">
      注册
   </div>
<!--【账号密码登录】【账号密码登录】【账号密码登录】【账号密码登录】--> <!-- //v-bind:value="phone" -->
   <div class="zhucezhanghao">
      <div class="xainsianhjua">
        <img class="tueragen" src="/static/image/business/phoe.png">
         <input class="inpfour" name="userPhone" type="text" onkeyup="value=value.replace(/\D/g,'')" v-on:input="wuha" v-model="phone" placeholder="账号使用者手机号">
      </div>
      <div class="mimayfour">
          <img class="pfour" src="/static/image/business/jskjds.png" v-bind:value="secode" height="12" width="12">
          <span id="four.info"></span>
      </div>
      <div class="shuyanzm">
         <input class="inpfive" name="code" v-model='code' value="code" type="text" onkeyup="value=value.replace(/\D/g,'')" placeholder="验证码">
         <span class="dianfa" @click="yzm" v-bind:style="{background: color}">点击获取验证码</span>
         <span class="Times" style="display: none;">90秒</span>
      </div>
      <div class="yanzmyzm">
         <img class="pfive" src="/static/image/business/jskjds.png" height="12" width="12">
          <span id="five.info"></span>
      </div>
      <div class="button" id="dengluone" @click="registered">注册</div>
    </div>
</div>
<!--【重新获得TOKEN】【重新获得TOKEN】【重新获得TOKEN】【重新获得TOKEN】-->
    <div class="token"  v-bind:style="{display:code_token}">
        <div class="allweid">
            重新获得TOKEN
        </div>
        <div class="zhucezhanghao">
            <div class="xainsianhjua">
                <img class="tueragen" src="/static/image/business/phoe.png">
                <input class="inpfour" type="text" onkeyup="value=value.replace(/\D/g,'')" v-on:input="wuha" v-model="phone" placeholder="账号使用者手机号">
            </div>
            <div class="mimayfour">
                <img class="pfour" src="/static/image/business/jskjds.png" v-bind:value="secode" height="12" width="12">
            </div>
            <div class="shuyanzm">
                <input class="inpfive" name="code" v-model='code_code' value="code_code" type="text" onkeyup="value=value.replace(/\D/g,'')" placeholder="验证码">
                <span class="dianfa" @click="yzm" v-bind:style="{background: color}">点击获取验证码</span>
                <span class="Times" style="display: none;">90秒</span>
            </div>
            <div class="mimayfour">
                <img class="pfour" src="/static/image/business/jskjds.png" v-bind:value="secode" height="12" width="12">
            </div>
            <input class="button" style="margin-left: 16px;" type="button" @click="open" value="重新获得TOKEN">
        </div>
        <!--<input class="tueragen" type="text" onkeyup="value=value.replace(/\D/g,'')" v-on:input="wuha" v-model="phone" placeholder="账号使用者手机号">-->
        <!--<span class="dianfa" @click="yzm" v-bind:style="{background: color}">点击获取验证码</span>-->
        <!--<span class="Times" style="display: none;">90秒</span>-->
        <!--<input class="inpfive" name="code" v-model='code_code' value="code_code" type="text" onkeyup="value=value.replace(/\D/g,'')" placeholder="验证码">-->
        <!--<input type="button" @click="open" value="重新获得TOKEN">-->
    </div>
</div>
<script src="/static/js/business/registered.js"></script>
</body>
</html>