<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>阿凡提开店申请</title>
	<link rel="stylesheet" href="/static/css/business/all.css" />
	<link rel="stylesheet" href="/static/css/business/scheme.css" />
	<script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<body>
	<div id="scheme">

		<div class="top">
			<div class=" topCenter">
				<div class="topLeft">
					<a class="logo" href="javascript:">阿凡提商户中心</a>
					<a href="javascript:">点击查看《廉正告知书》</a>
				</div>

				<div class="topRight">
					<a class="dowm" href="javascript:">如开店遇到问题，请咨询 在线客服</a>
				</div>

			</div>
		</div>
		<div class="Prompt">
			<ul>
				<li class="active" v-for="(item,index) in title">
					<span class="icon-circle"><img src="__ROOT__/Apps/Business/View/images/sure.png"></span>
					{{item}} 
					<div class="step-before" v-if="index+1 < title.length">></div>
				</li>
			</ul>
		</div>
		<div class="shop-content">
		<div class="choice-give">
		<div class="choiceBox" v-for="(item,index) in 2">
			 <div class="choice-item cursor" :class="{'active':choice==index+1}">
			 	<div class="item-top" v-if="index==0">
			 		<img src="__ROOT__/Apps/Business/View/images/shopGive.png">
			 		<h4>商家配送</h4>
			 	</div>
			 	<div class="item-top" v-else>
			 		<img src="__ROOT__/Apps/Business/View/images/aftGive.png">
			 		<h4>阿凡提配送</h4>
			 	</div>
			 	<ul class="serves">
			 		<li class="serves-item" v-for="(x,idx) in serveData">
			 			<img src="__ROOT__/Apps/Business/View/images/sure.png">
			 			<span>{{x}}</span>
			 		</li>
			 	</ul>
			 	<div class="butChoice" @click="giveChange(index+1)">{{choice==index+1?'✔':'选择'}}</div>
			 	<p class="priceDetail" @click.stop="priceDetail(index)">收费明细</p>
			 </div>
		</div>
		</div>
    <div class="submit" @click="submit">提交开店申请</div>
         <div class="modelBox" v-if="togle">
         	<div class="model">
         		<div class="model-title">
         			<h4>{{giveDate.name}}</h4>
         			<span class="model-close" @click="closeModel">×</span>
         		</div>
         		<div class="model-content">
         			<p>{{giveDate.per}}</p>
         			<strong>示例</strong>
         			<p class="shili-word" v-for="(x,idx) in giveDate.shili">{{x}}</p>
         		</div>
         	</div>
         </div>

		</div>
 

	</div>
<script src="/static/js/business/scheme.js"></script>		
</body>
</html>

