<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>阿凡提</title>
    <link rel="stylesheet" href="/static/css/business/view.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<style type="text/css">
  [v-cloak] {
    display: none;
  }
</style>
<body>
    <div id="dec">
        <div class="sadkpf"v-cloak>
            <div class="topzuo">
                <div class="djasi">
                    <div class="tulogin">
                        <img src="/static/image/business/a.png" height="65" width="65">
                    </div>
                    <div class="lecdsf">智慧阿凡提</div>
                    <div class="cdwee"><span>上阿凡提</span><span>随叫随到</span></div>
                </div>
                <div class="shanghjia">商家中心</div>
            </div>
            <div class="topyou">
                <div class="qian">
                    <img src="/static/image/business/1201.png" height="15" width="15"> 商家PC客户端
                </div>
                <div class="hou">
                    <img src="/static/image/business/12122.png" height="15" width="15"> 商家手机客户端
                </div>
            </div>
        </div>
        <div class="esfwefcw">
            <div class="allweid">
                <span class="number">查询</span>
            </div>
            <!--【账号密码登录】【账号密码登录】【账号密码登录】【账号密码登录】-->
            <div class="oneid">
                <div class="cfmweo"><img src="/static/image/business/jskjds.png" height="12" width="12"><span id="spanone.info"></span></div>
                <div class="jweozhanghao">
                    <img class="toudenglu" src="/static/image/business/1211.png" height="16" width="16">
                    <input class="zhanghao" name="username" v-model='phone' onkeyup="value=value.replace(/\D/g,'')" v-on:input="wuha" value="phone" type="text" placeholder="手机号">
                </div>
                <div class="wnowhw">
                    <input class="yzmkuang" v-model='code' value="code" name="code" type="text" placeholder="验证码">
                    <span class="fayzm" id="coke" @click="yzm(this.event)" v-bind:style="{background: color}">发送验证码</span>
                    <span class="Times" style="display: none;">90秒</span>
                </div>
                <div id="dengluone" class="dengluone" @click="next">确定</div>
            </div>
        </div>
    </div>
    <script src="/static/js/business/view.js"></script>
</body>

</html>