<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">
      <title>阿凡提开店申请</title>
      <link rel="stylesheet" href="/static/css/business/all.css" />
      <link rel="stylesheet" href="/static/css/business/wait.css" />
      <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<style type="text/css">
  [v-cloak] {
    display: none;
  }
</style>
<body>
<!-- <input type='hidden' name='wxcode' value="{$wxcode}"> -->
      <div id="wait">
            <div class="top"v-cloak>
                  <div class=" topCenter">
                        <div class="topLeft">
                              <a class="logo" href="javascript:">阿凡提商户中心</a>
                              <a href="javascript:">点击查看《廉正告知书》</a>
                        </div>
                        <div class="topRight">
                              <a class="dowm" href="javascript:">如开店遇到问题，请咨询 在线客服</a>
                        </div>
                  </div>
            </div>
            <div class="shop-content">
            <div class="Kaier">开店申请记录</div>
                  <div class="xuwanshan" v-bind:style="{background: a}">待提交开店申请</div>
                  <div class="xuwanshan" v-bind:style="{background: b}">待审核</div>
                  <div class="xuwanshan" v-bind:style="{background: c}">请支付</div>
                  <div class="xuwanshan" v-bind:style="{background: d}">支付完成</div>
            <div class="TheNext">
                  <div class="Lefter">
                        <div class="Imgert"><img v-bind:src="logo" class="imge"></div>
                        <div class="Wender">
                               <div class="Title">{{info.shopName}}</div>
                               <div class="Mser">门店联系人 {{info.userName}}({{info.phone}})</div>
                               <div class="Timeter">提交时间 ：{{info.createTime}}</div>
                        </div>
                        <!-- <div class="TupIan"> <img class="ImgerTu" src="__ROOT__/Apps/Business/View/images/s2.png"> </div> -->
                  </div>
                  <!-- <div class="rihter">查看详情</div> -->
                  <div v-bind:style="{display: rihter}" class="rihter">
                   <span class="logout" @click="zhuxiao">注销店铺</span>
                  </div>
                  <div v-bind:style="{display: del}" class="delete">
                   <span class="logout" @click="activate">删除店铺</span>
                  </div>
                  <div v-bind:style="{display: give}" class="give">
                   <span class="logout" @click="tanchu(1)">支付</span>
                  </div>
                  <div v-bind:style="{display: cipher}" class="cipher">
                   <span class="logout" @click="mount">设置密码</span>
                  </div>
            </div>
            <div class="Masseger">
                  <div class="THone">
                         <div class="Topder">店铺信息</div> 
                         <div class="needer">门店信息 ：{{shop}}</div>
                         <div class="needer">店铺头像 ：{{shop}}</div>
                         <div class="Shong" @click='url(0)' v-bind:style="{display: one}">修改</div>
                  </div>
                  <div class="THtwo">
                        <div class="Topder">资质信息</div> 
                         <div class="needer">法人证件 ：{{oneself}}</div>
                         <div class="needer">主体资质 ：{{oneself}}</div>
                         <div class="needer">行业资质 ：{{oneself}}</div>
                         <div class="Unong" @click='url(1)' v-bind:style="{display: two}">修改</div>
                  </div>
                  <div class="THthr">
                       <div class="Topder">合作方案</div> 
                         <div class="needer">{{distribution}}</div>
                         <div class="Gnong" @click='url(2)' v-bind:style="{display: three}">修改</div>
                  </div>
<!--                   <div class="logout">注销店铺</div>
                  <div class="delete">删除店铺</div> -->
                  <div v-bind:style="{display: why}" class="why">
                        <input type="text" v-model='cause' onkeyup="value=value.replace(/\s+/g,'')" class="cause" value="cause">
                        <input type="button" @click="refund" class="certain" value="确定">
                        <input type="button" @click="off" class="off" value="取消">
                  </div>
            </div>
            <div class="dcwef" v-bind:style="{display: dcwef}">
                  <div class="cve">
                        <div class="cef"> <span>请支付</span> <span class="cewce" @click="tanchu(2)">×</span>  </div>
                        <div class="cwcvweki">
                              <img class="ImgerTu" v-bind:src="code">
                        </div>
                  </div>
            </div>
            <!-- 修改密码 -->
            <div v-bind:style="{display: pwd}" class="password">
                  输入密码：<input type="password" v-model='enter' onKeyUp="value=value.replace(/[^\w\.\/]/ig,'')" class="pwdone" value="enter">
                  确定密码：<input type="password" v-model='again' onKeyUp="value=value.replace(/[^\w\.\/]/ig,'')" class="pwdtwo" value="again">
                  <input type="button" @click='password' class="pwd" value="确定">
            </div>
            </div>
`
      </div>
      <script src="/static/js/business/wait.js"></script>           
</body>
</html>