*{
	    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
	margin:0;
	padding:0;
}
.clear{
	clear:both;
}
.agent{
  width:100%;
  margin:0 auto;
}
.agent-top{
    height: 250px;
    line-height: 250px;
    text-align: center;
	background:url('/static/image/pc/agentop.png') no-repeat  center ,linear-gradient(104deg,#33b1ff,#0091ea);
	background-clip: border-box, border-box;
background-origin: padding-box, padding-box;
	background-color:#33b1ff;
}
.agent-top h1{
	    color: #fff;
    font-size: 40px;
    margin-bottom: 0;
	font-weight:500;
}
.strong{
	font-weight:700;
	font-size:50px;
}



.container-center{
	margin:0 auto;
	width:500px;
	font-size:14px;
}

.container-center .introduce{
	color: #999;
    line-height: 1.8;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-step{
	    text-align: center;
	font-size:22px;
}
.container-step-title{
	text-align: center;
}

.container-step-detail{
	text-align:center;
	margin-top:30px;
}
.container-step-choice{
	color: #666;
font-size: 18px;
text-align:center;
display: inline-block;
}
.step-choice-img{
width:100px;
height:100px;
border-radius:50%;
  line-height: 130px;
}
.agenta{background:#33b1ff;}
.agentb{background:#ffae33;}
.agentc{background:#0c6;}
.container-step-choice span{
	display:inline-block;
	margin-top:8px;
	font-size:16px;
	
}
.step-choice-img img{
	width:50px;
	height:50px;
	display:inline-block;
	margin:0 auto;
	line-height:100px;
}
.container-step-arrow{
	width:40px;
	height:40px;
	 vertical-align: top;

	margin:25px 16px;
}

.container-but{
	border:none;
	outline:0;
	background:#1998f8;
	color:#fff;
	width:320px;
	line-height:36px;
	border-radius:10px;
	text-align:center;
	margin:20px auto;
	
}
.apply{
	width:350px;
	margin:40px auto 20px;
	display:none;
}
.form-item{
	margin-bottom:6px;
}
.form-item-name{
	float: none;
display: inline-block;
text-align: left;
padding: 0 0 10px;
font-size: 12px;
color: #48576a;
width:100%;
}
.form-item-name:before{
	content:'*';
	color:#666;
}

.form-item-input{
	height:26px;
	line-height:26px;
	position: relative;
font-size: 14px;
display: inline-block;


}
.form-item-input.phone{
	float:left;
	width: 58%;
}
.form-item-input.numb{
	width:100%;
}
.form-item-but{
	width: 30%;
	text-align: center;
box-sizing: border-box;
outline: none;
margin: 0;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
	line-height:28px;
font-size: 14px;
border-radius: 4px;
	background-color:transparent;
	border:solid 1px #999;
	float:right;
	cursor:pointer;
}
.err{
	font-size:12px;
	color:#FF4040;
	line-height:20px;
	text-align:left;
	display:none;
}
.need{
	margin-top:60px;
}
.Times{
	width: 30%;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	line-height:28px;
	font-size: 14px;
	border-radius: 4px;
	background-color:transparent;
	border:solid 1px #666;
	float:right;
	display: none;
	cursor:not-allowed;
	background-color: #999;
	color: #333;
}
