body {
    font-family: "微软雅黑";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none
}

ul li {
    list-style: none;
}

article, aside, blockquote, body, button, code, dd, details, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.buts {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
}

.backs {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 200;
    display: none;
}

.color-mute {
    color: #999;
}

.main-color {
    color: #1998F8;
}

.clear {
    clear: both;
}

.minWidth {
    width: 960px;
    font-size: 14px;
    margin: 0 auto;
}

@media only screen and (min-width: 1260px) {
    .minWidth {
        width: 1180px;
        margin: 0 auto;
    }

}

.color-mute {
    color: #999;
}

/*头部导航*/

.indexTop {
    width: 100%;
    height: 60px;
    background: #1998f9; /*头部颜色*/
    color: #fff;
    font-size: 15px;
}

.topbar {
    /*	width: 1180px;*/
    margin: 0 auto;
    line-height: 60px;
    height: 60px;
    vertical-align: middle;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}

.iconLogo {
    font-size: 30px;
    font-weight: 800;
    float: left;
    margin-right: 10px;
}

.iconLogo img {
    width: 60px;
    height: 60px;
    float: left;
}

.topItemsy {
    width: 112px !important;
}

.topItem {
    width: 134px;
    text-align: center;
    display: inline-block;
    color: #fff;
    float: left;
}

.topNav {
    float: right;
    display: flex;
    flex-flow: nowrap row;
    width: 500px;
    position: relative;
}
.topItem:hover{
    background-color: #1e89e0;
}
.topNav-link {
    float: left;
    /*opacity: 0.8;*/
    width: 106px;
    position: relative;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Topimg {
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

.topNav-sign {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
}

/*       页脚                                  */

.footer {
    background-color: #f7f7f7;
    margin-top: 50px;
    border-top: 1px solid #eee;
}

.footer-container {
    /*width: 1180px;*/
    font-size: 14px;
    margin: 0 auto 30px;
}

.footer-link {
    width: 45%;
    float: left;
}

.footer-link .footer-link-son {
    float: left;
    width: 33.33333%;
    margin-top: 30px;
}

.footer-link-title {
    font-size: 14px;
    line-height: 30px;
}

.footer-link .footer-link-item {
    display: block;
    color: #999;
    line-height: 24px;
    cursor: pointer;
}

.footer-contect {
    padding-left: 3%;
    border-left: 1px #e6e6e6 solid;
    width: 23%;
    padding-right: 10px;
    float: left;
    margin-top: 30px;
    font-size: 14px;
}

.footer-contect-item {
    margin-bottom: 12px;
    color: #666;
    font-size: 14px;
    display: block;
    line-height: 24px;
    vertical-align: middle;
}

.footer-mobile {
    float: right;
    width: 23%;
    margin-top: 30px;
}

.footer-mobile-icon {
    width: 90px;
    height: 90px;
    margin-right: 20px;
    float: left;
}

.footer-mobile-content {
    margin-top: 20px;
    margin-left: 90px;
}

.footer-copyright {
    font-size: 12px;
    clear: both;
    padding-top: 60px;
    color: #999;
    text-align: center;
}

.aller {
    color: #0e0e0e;
    margin-bottom: 3px;
}

.footer-police {
    padding: 10px 0;
    text-align: center;
}

.follow-wx {
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;

}

.follow-wxImg {
    width: 24px;
    height: 24px;
    background: url(../../image/pc/wx.png) no-repeat;
    background-size: 100% 100%;
}

.follow-wx:hover .follow-wxImg {
    background-image: url(../../image/pc/wx1.png);
}

.follow-wx:hover .follow-wxTps {
    display: block;
}

.follow-wxTps {
    position: absolute;
    bottom: 30px;
    left: -60px;
    text-align: center;
    color: #999;
    background: #fff;
    background: rgba(255, 255, 255, .98);
    padding: 4px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    border: 1px solid #ddd;
    z-index: 6;
    font-size: 16px;
    line-height: 20px;
    display: none;
}

.follow-wxTps:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 65px;
    bottom: -6px;
    background: #fff;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 1;
    transform: rotate(45deg);
}

.follow-wxTps img {
    width: 130px;
    height: 130px;
}

.follow-wb {
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: url(../../image/pc/wb.png) no-repeat;
    background-size: 100% 100%;
}

.follow-wb:hover {
    background-image: url(../../image/pc/wb1.png);
}

/*       侧边栏                                  */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -295px;
    background-color: #504d53;
    width: 330px;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    z-index: 7;
}

.sidebarTran {
    transform: translate3d(-295px, 0px, 0px);
    /*transition: right 800ms linear;*/
}

.sidebar-tabs {
    float: left;
    width: 35px;
    height: 100%;
    position: relative;
}

.tabs-middle {
    margin-top: 90px;
    padding: 5px 0;
}

.tabsLine {
    width: 80%;
    height: 1px;
    margin: 8px auto 5px;
    background: #CCCCCC;
}

.tabs-middle a, .tabs-inform {
    display: block;
    opacity: 0.8;
    cursor: pointer;
}

.carNumbs {
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    width: 22px;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    color: #fff;
    background-color: #f63;
    text-align: center;
}

.carNumbs:after {
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: -11px;
    border: 6px solid;
    border-color: #f63 transparent transparent;
    width: 0;
    height: 0;

}

.tabsCar {
    padding: 5px 0;
    margin: 5px 0;

}

.tabsCar:hover {
    opacity: 1;
    background: #1998F9;
}

.tabsactive {
    opacity: 1 !important;
    background: #1998F9;
}

.tabs-middle-car {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: block;
}

.tabs-cartbtn {
    color: #fff;
    line-height: 16px;
    padding: 0 8px;
    margin-top: 3px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    display: block;
    cursor: pointer;
    text-align: center;
}

.tabs-middleBut {
    margin: 0 auto;
    bottom: 16px;
    left: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    visibility: hidden;
}

.toolbar-butbtn {
    display: block;
    margin: 0 auto;
    opacity: 0.8;
    padding: 8px 0;
}

.toolbar-butbtn:hover {
    background: #1998F9;
    opacity: 1;
}

.toolbar-butbtn img {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.tabs-order img, .tabs-inform img {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    display: block;
    padding: 6px 0;
}

.tabs-order:hover, .tabs-inform:hover {
    opacity: 1;
    background: #1998F9;
}

.tooltip {
    position: absolute;
    padding-right: 6px;
    left: -999px;
    top: 999px;
    z-index: 100;
    display: none;
}

.tooltip-guide {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-left: solid 6px #726F77;
    margin-top: -6px;
}

.tooltip-word {
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    background: #726F77;
    border-radius: 3px;

}

.sidebar-content {
    margin-left: 35px;
    height: 100%;
    width: 295px;
    overflow: auto;
    background-color: #e6e6e6;
}

.sidebar-content-title {
    padding: 5px 10px;
    color: #666;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
    font-size: 16px;
}

.sidebar-content-cz {
    float: right;
    line-height: 20px;
    margin-left: 15px;
    color: #666;
    font-size: 20px;
}

.sidebar-content-cz span {
    cursor: pointer;
}

.sidebar-choice-item {
    background: #fff;
    margin-top: 10px;
}

.sidebar-item-shop {
    border-bottom: solid 1px #dedede;
    padding: 8px;
    position: relative;
    font-size: 14px;
}

.sidebar-shopname {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.sidebar-item-shop .close {
    color: #1998F8;
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 3px;
    cursor: pointer;
}

.sidebarcart li {
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 20px;
    color: #666;
    /* display: table;*/
    box-sizing: border-box;
    width: 100%;
}

.sidebarcart li > div {
    /*display:table-cell;*/
    display: inline-block;
    vertical-align: middle;

}

.sidebarcart li .name {
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebarcart li .numbOPer {
    /*width: 32%;*/
    width: 28%;
    padding-left: 4%;

}

.sidebarcart li .numbOPer:before {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}

.sidebarcart li .numbOPer input {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #ddd;
    float: left;
    outline: 0;
}

.sidebarcart li .numbOPer span {
    background: #f5f5f5;
    color: #999;
    vertical-align: bottom;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #ddd;
    float: left;
    -webkit-user-select: none;
}

.sidebarcart li .numbOPer span:first-child {
    border-right-width: 0;
}

.sidebarcart li .numbOPer span:last-child {
    border-left-width: 0;
}

.sidebarcart li .price {
    font-weight: 700;
    color: #f17530;
    text-align: right;
    width: 18%;
}

.notInform {
    padding: 5px 10px;

    text-align: center;

}

.notInform img {
    width: 68px;
    height: 60px;
    display: block;
    margin: 12px auto;
}

.notInform-item {
    font-size: 18px;
    color: #333;
}

.notInform-txt {
    color: #999;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.sidebar-summary {
    padding: 20px 10px;
    text-align: right;
    border-top: 1px solid #ddd;
    width: 275px;
    background: #fff;
    opacity: .95;
    position: absolute;
    left: 35px;
    bottom: 0;
    font-size: 14px;
}

.color-red {
    color: #f74342;
}

.sidebar-but {
    display: block;
    border: 0;
    margin-top: 10px;
    line-height: 32px;
    width: 100%;
    text-align: center;
    background: #fa5858;
    color: #fff;
    padding: 0;
    cursor: pointer;
}

.topNav-sign .more {
    display: inline-block;
    position: relative;
}

.topNav-sign:hover .user-more {
    display: block;
}

.topNav-sign .more .jt {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    font-weight: 700;
    transform: rotate(90deg);
    cursor: pointer;
    /* background: #309ad1;*/
    font-size: 24px;
    border-radius: 3px;
    opacity: 0.9;
    vertical-align: middle;
}
.topNav-sign span{
    cursor: default;
}
.user-more {
    position: absolute;
    background: #fff;
    width: 120px;
    top: 45px;
    right: -8px;
    display: none;
    z-index: 20;


}

.user-more .point {
    width: 0;
    height: 0;

    border: solid 6px transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -12px;
    right: 12px;
}

.user-more a {
    display: block;
    line-height: 32px;
    padding: 0 15px;
    color: #666;
    font-size: 13px;
}

.user-more a:hover {
    background: #F0F0F0;
}

.user-more a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.user-more a span {

    vertical-align: middle;
}
#active{
    color: #0089dc;
}

.text-center{
    text-align: center;
}
/*分页*/
.pagination {
    font-size: 12px;
    display: inline-block;
    padding-left: 0;
    margin: 40px 0;
    border-radius: 4px;
}
.pagination li{
    margin-right: 4px;
}
.pagination li>a {
    position: relative;
    float: left;
    /*	padding: 6px 12px;*/
    margin-left: -1px;
    /*	line-height: 1.42857143;*/
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    width: 35px;
    height: 35px;
    line-height: 35px;
}
.pagination .disabled{
    font-size: 20px;
    line-height: 32px;
}
.pagination li {
    -webkit-user-select: none;
    display: inline-block;
}

.pagination .disabled a {
    color: #ddd;
    cursor: pointer;
    background-color: #fff;
    border-color: #ddd;
}

.pagination li.active a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #06c1ae;
    border-color: #06c1ae;
}



.many-pagination .disabledY a {
    cursor: pointer;
}
.many-pagination .disabledN a {
    cursor: not-allowed;
}

.many-pagination .disabledY a:hover {
    color: #000;
}
.goto{
    width: 25px;
    height: 17px;
}
[v-cloak] {
    display: none;
}

.imgBox{
    top: 100%;
    margin-top: -5px;
    cursor: auto;
     display: none;
    width: 200px;
    left: 7px;
    line-height: 40px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    padding: 3px 10px;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    z-index: 6;
    background: #fff;
}
.imgBox:before{
    content: ' ';
    border: 5px solid #fff;
    display: block;
    position: absolute;
    top: -10px;
    border-color: transparent transparent #fff;
    right: auto;
    left: 9px;
}
.imgBox img{
    width: 180px;
    height: 180px;
}



