@charset "utf-8";
/* CSS Document */
@import "style.css";


.all_right .gg_paswrd{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
    border-bottom: 2px solid #f4f4f4;
    font-weight: 900;
    margin-bottom: 10px;
    text-indent: 1em;
}

.all_right .elm_tishi{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 35px 0 10px 0;
    font-size: 0.9rem;
    text-indent: 1em;
    color: #999999;
    /*background: red;*/
}



.all_right .dqian_mima{
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*background: red;*/
    padding: 3px 0;
}
.all_right .dqian_mima span{
    float: left;
    font-size: 0.9rem;
    color: #666;
    margin-left: 75px;
}

.all_right .dqian_mima input{
    width: 300px;
    height: 36px;
    text-indent: 1em;
    border: 1px solid #ccc;
    margin: 0 0 0 30px;
    outline: none;
}

.all_right .dqian_mimaone{
    width: 100%;
    height: 20px;
    line-height: 20px;
    /*background: red;*/
}


.all_right .dqian_mimaone .coloerone{
    font-size: 0.7rem;
    margin: 0 0 0 0px;
    color: red;
    /*display:none;*/
}



.shangjiushi{
    margin-left: 165px;
    display: none;
}










.all_right .new_mima{
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*background: red;*/
    padding: 0px 0 3px 0px;
}
.all_right .new_mima span{
    float: left;
    font-size: 0.9rem;
    color: #666;
    margin-left: 90px;
}

.all_right .new_mima input{
    width: 300px;
    height: 36px;
    text-indent: 1em;
    border: 1px solid #ccc;
    margin: 0 0 0 30px;
}


.all_right .new_mimaone{
    width: 100%;
    height: 20px;
    line-height: 20px;
    /*background: red;*/
}

.all_right .new_mimaone .coloertwo{
    font-size: 0.7rem;
    margin: 0 0 0 0px;
    color: red;
    /*display:none;*/
}


.leftjiushi{
    margin-left: 165px;
    display: none;
}






















.all_right .confrom_mima{
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*background: red;*/
    padding: 0px 0 3px 0;
}
.all_right .confrom_mima span{
    float: left;
    font-size: 0.9rem;
    color: #666;
    margin-left: 75px;
}

.all_right .confrom_mima input{
    width: 300px;
    height: 36px;
    text-indent: 1em;
    border: 1px solid #ccc;
    margin: 0 0 0 30px;
}

.all_right .confrom_mimaone{
    width: 100%;
    height: 20px;
    line-height: 20px;
   /* background: red;*/
}
.all_right .confrom_mimaone .coloerthree{
    font-size: 0.7rem;
    margin: 0 0 0 0px;
    color: red;
    /*display:none;*/
}



.xaijiushi{
    margin-left: 165px;
    display: none;
}





.all_right .anniv{
    width: 100%;
    height: 40px;
    line-height: 40px;
   /* background: red;*/
    padding: 10px 0;
}
.all_right .anniv .bottom{
    width: 302px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #0089dc;
    color: #fff;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 0 0 162px;
}
.all_right .anniv .bottom:hover{
    background: #0165a2;
}


.yckuang{
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background: rgba(0,0,0,0.5);
    display: none;
}

.com_center{
    width: 500px;
    height:100%;
    display: flex;
    align-items: center;
    margin: auto;

}

.pptv_kun{
    width: 500px;
    height: 250px;
    background: #fff;
}

.kon_on{
    width: 100%;
    height: 35px;
    /*background: #eee;*/

}
.spant{
    width: 35px;
    height: 35px;
    line-height: 35px;
    /*background: #666;*/
    float: right;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
}


.wen_zi{
    width: 100%;
    height: 75px;
    margin: 40px 0 0 0;
    line-height: 75px;
    background: #eee;
    font-size: 30px;
    text-indent: 1em;
}

.mu_ment{
    font-size: 30px;
}


.comfit{
    width: 150px;
    height: 40px;
    margin: 20px 0 0 40px;
    background: #0089dc;
    border: 0px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    outline: none;
    border-radius: 3px;
}
































