/*分页*/
.paginations {
    font-size: 12px;
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
}
.paginations li{
    margin-right: 4px;
}
.paginations li>a {
    position: relative;
    float: left;
    /*	padding: 6px 12px;*/
    margin-left: -1px;
    /*	line-height: 1.42857143;*/
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.paginations .disabled{
    font-size: 20px;
    line-height: 32px;
}
.paginations li {
    -webkit-user-select: none;
    display: inline-block;
}

.paginations .disabled a {
    color: #ddd;
    cursor: pointer;
    background-color: #fff;
    border-color: #ddd;
}

.paginations li.active a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #06c1ae;
    border-color: #06c1ae;
}



.many-pagination .disabledY a {
    cursor: pointer;
}
.many-pagination .disabledN a {
    cursor: not-allowed;
}

.many-pagination .disabledY a:hover {
    color: #000;
}
.goto{
    width: 40px;
    height: 17px;
    border-radius: 5px;
    border: 1px solid #666;
    text-align: center;
}
