.loginBox{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-height:750px;
}



.themeach{
    width: 100%;
    height: 60px;
    /* background: pink; */
    margin: 100px 0 0 0;
}


.themeach .conter{
    width: 200px;
    height: 60px;
    display: flex;
    line-height: 60px;
    background: #1998f9;
    margin: auto;
}

.themeach .conter .ima{
    margin: 0 8px;
}

.themeach .conter .aft{
    font-size: 2.3rem;
    font-weight: bold;
    color: #fff;
}

.teor{
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: flex;
    /*background: red;*/
    justify-content: center;
}
.teor span{
    font-weight: 800;
    font-size: 1rem;
    color: #1998f9;
    margin: 0 10px;
}

.fangshi{
    width: 100%;
    height: 66px;
    line-height: 85px;
    display: flex;
    /*background: #eee;*/
    justify-content: center;
}
.fangshi span{
    margin: 0px 30px;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
}



.fangshi .duanxin{
    font-weight: 900;
    color:#1998f9;
    /*border-bottom: 3px solid #1998f9;*/
}
.fangshi .miam{
    font-weight: 100;
    color:#000;
    border-bottom: 0px solid #1998f9;
}






/***********************/

/************************/




.aboutus{
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 0.8rem;
    text-align: center;
    color: #999;
}
.aboutus a{
    text-decoration: none;
    color:#999;
}









.shuru_six{
    padding: 8px 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    /*background: yellow;*/
}

.shuru_six .mima_code{
    width: 180px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-indent: 1em;
    outline: none;
}
.shuru_six .yanzhenma{
    width: 120px;
    height: 49px;
    margin-left: 20px;
    cursor: pointer;
    background: red;
}












.shuru_four .mima_phone{
    width: 320px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-indent: 1em;
    outline: none;
}





.shuru_five{
    padding: 8px 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    /* background: #eee;*/
}
.passwordBox{
    display:flex;
    position:relative;
}

.shuru_five .mima_password{
    width: 320px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-indent: 1em;
    outline: none;
}


.tuoyuan{
    width: 50px;
    height: 14px;
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 11px;
    position: absolute;
    /*margin: 16px 0 0 125px;*/
    cursor: pointer;
    right:8px;
    top:18px;
}

.tuoyuan .kaiguan{
    float: left;
    width: 18px;
    height: 14px;
    margin: -1px 0 0 0;
    display: block;
    border: 1px solid #999;
    border-radius: 10px;
    cursor: pointer;
    background: #1998f9;
}


.zuixiamian{
    position: absolute;
    width: 100%;
    /*height: 135px;*/
    background: #eee;
    bottom: 0px;
    left: 0;
}



.footer-copyright {
    font-size: 12px;
    clear: both;
    /*    padding-top: 60px;*/
    color: #999;
    text-align: center;
}

.aller {
    color: #0e0e0e;
    margin-bottom: 3px;
}

.footer-police {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background: red; */
}

.jizhu{
    width:100%;
    height:20px;
    /*background:red;*/
}
.jizhu .jizhumima{
    width: 320px;
    height: 20px;
    margin: auto;
    font-size: 0.8rem;
}
.aa{
    background:#32cdbb;
}

/**********************/

.twonu{
    width: 100%;
    min-height: 180px;
    /*background: pink;*/
    margin-top: 10px;
    /*display:none;*/
    width: 320px;

    margin: auto;
}
.cfmwetwo{
    width: 90%;
    height: 40px;
    background: #fff6ec;
    margin: auto;
    display: flex;
    border: 1px solid #ffd9ca;
    font-size: 10px;
    align-items: center;
    margin-bottom: 10px;

    display:none;

}

.cfmwetwo img{
    margin:0 10px;
}
.phonenuber{
    width: 90%;
    height: 40px;
    margin: auto;
    margin-bottom: 15px;
}
.phoneexs{
    position: absolute;
    margin: 12px 15px 0 15px;
}
.phone{
    width:99%;
    height:40px;
    text-indent: 3em;
    margin:auto;
    outline:none;
}
.wnowhw{
    width: 90%;
    height: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    justify-content: space-between;
}
.yzmkuang{
    width: 130px;
    height: 40px;
    outline:none;
    text-indent: 1em;
}
.fayzm{
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #bababa;
    border-radius: 5px;
    cursor: pointer;
    background: #bababa;
    color: #fff;
}
.aa{
    background:#32cdbb;
}
.Times{
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #bababa;
    border-radius: 5px;
    cursor: pointer;
    background: #bababa;
    color: #fff;
}
.denglutwo{
    width:90%;
    height:40px;
    line-height: 40px;
    background:#06c1ae;
    text-align: center;
    margin:auto;
    font-size: 15px;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
}
.denglutwo:hover{
    background:#32cdbb;
}










































