<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/pages.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/all.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
    <!-- 分页组件 -->
    <script src="/static/js/public/pages.js"></script>
</head>
<body class='wst-page'>
<div class="wst-body" id="app" v-cloak>
    <div class='wst-tbar'>

        禁用词:&nbsp;<input type="text" class="input_search" name="word" v-model="word">
        <button type="submit" class="btn  btn-search glyphicon glyphicon-search" @click="pageFn(1)">查询</button>
    </div>

    <div class='wst-tbar'>
        <button type="button" class="btn btn-primary glyphicon" @click="banShow">添加禁用词</button>
    </div>
    <div class="wst-table" v-if="banData.length>0">
        <table class="table table-hover table-striped table-bordered wst-list">
            <thead>
            <tr>
                <th width='40'>序号</th>
                <th width='60'>评价禁用词</th>
                <th width='60'>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in banData">
                <td>{{index+1}}</td>
                <td>{{item.word}}</td>
                </td>
                <td>
                    <button type="button" class="btn btn-danger glyphicon glyphicon-trash"
                            @click="del(item.id,index)">刪除
                    </button>
                </td>
            </tr>

            <tr>
                <td colspan='8' align='center' class="pages">
                    <!-- 分页 -->
                    <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
                    <!--<div class="wst-pagination" v-if="pageNumb<=1">-->
                        <!--<span class="rows">共<b>{{pageSum}}</b>条数据 第<b>1</b>页/共<b>1</b>页</span>-->
                    <!--</div>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="wu_mei"  v-else>
        <img src="/static/image/pc/21.jpg" height="113" width="85">
        <div style="display:block" class="panduan">暂无该查询条件的内容 换个条件试试吧！</div>

    </div>
    <div class="modal fade  in" v-show="togle==1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><b>添加禁用词</b></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover  table-bordered wst-form">
                        <tbody>
                        <tr style="height: 50px;">
                            <th align="right" style="width:90px;background: #fff">禁用词</th>
                            <td><input class="word" type="text" style="width:100%;height: 30px" v-model="banTxt"
                                       placeholder="添加多个请用英文逗号','隔开"
                                       id="keywords"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <button type="button" class="btn btn-primary" @click="addWord">确定</button>
                                <button type="button" class="btn btn-danger" @click="togle=0">取消</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="/static/js/admin/goodsBan.js"></script>
</html>