<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/pages.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/all.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
    <!-- 分页组件 -->
    <script src="/static/js/public/pages.js"></script>
</head>
<body class='wst-page'>
<div class='wst-body' id="app" v-cloak @click="overall">
    <div class='wst-tbar'>
        <div>
            分类名称:&nbsp;<input type="text" class="input_search" name="name" v-model="name">
            <button type="submit" class="btn btn-search glyphicon glyphicon-search" @click="pageFn(1)">查询</button>
        </div>
    </div>
    <div class='wst-tbar'>
        <button type="button" class="btn btn-primary glyphicon" @click="modalFn(1)">添加分类</button>
    </div>
    <div class="wst-table" v-if="cuisineData.length>0">
        <table class="table table-hover table-striped table-bordered wst-list" style="margin-top: 16px">
            <thead>
            <tr>
                <th>分类名称</th>
                <th>是否显示</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <template v-for="(item,index) in cuisineData">
                <tr id='tr_0_1_{{index+1}}' class="tr_0_1" isLoad='1'>
                    <td @click="childStartFn(index)" style="color: red">
                    <span class='glyphicon' :class="[item.childStart?'glyphicon-plus':'glyphicon-minus']"
                          :@click="loadChildTree(event,item.id)" style='margin-right:3px;cursor:pointer'></span>
                        {{item.name}}
                    </td>
                    <td>
                        <div class="dropdown" @click.stop>
                            <button :class="[item.isShow==0?'btn-danger':'btn-success']"
                                    class="btn dropdown-toggle wst-btn-dropdown" type="button" data-toggle="dropdown"
                                    @click.stop="toggleFn(index,'b')">
                                {{item.isShow==0?'隐藏':'显示'}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="display: block;left: 43%"
                                v-if="istogle==('a'+index+'bb')">
                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                           @click="toggleIsShow(1,item.id)">显示</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                           @click="toggleIsShow(0,item.id)">隐藏</a></li>
                            </ul>
                        </div>
                    </td>

                    <td style="width: 20%">
                        <button type="button" class="btn btn-danger glyphicon glyphicon-trash"
                                @click="del(item.id,'a'+index+'bb')">刪除
                        </button>
                        <a type="button" class="btn btn-primary glyphicon glyphicon-plus"
                           @click="modalFn(2,item.id,index)">添加子分类</a>
                    </td>
                </tr>

                <template v-for="(x,cindex) in item.child" v-if="!item.childStart">
                    <tr class="tr_0_1_" isLoad='1'>

                        <td>
                            <span style='margin-right:3px;margin-left:20px;cursor:pointer'>{{x.name}}</span>
                        </td>
                        <td>
                            <div class="dropdown" @click.stop>

                                <button :class="[x.isShow==0?'btn-danger':'btn-success']"
                                        class="btn dropdown-toggle wst-btn-dropdown" type="button"
                                        data-toggle="dropdown"
                                        @click="toggleFn(index,cindex)">
                                    {{x.isShow==0?'隐藏':'显示'}}
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu" style="display: block;left: 43%"
                                    v-if="istogle==('a'+index+'b'+cindex)">
                                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                                               @click="toggleIsShow(1,x.id)">显示</a>
                                    </li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                                               @click="toggleIsShow(0,x.id)">隐藏</a>
                                    </li>
                                </ul>
                            </div>
                        </td>

                        <td width="100">
                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash"
                                    @click="del(x.id,'a'+index+'b'+cindex)">刪除
                            </button>

                        </td>
                    </tr>
                </template>

            </template>
            <tr>
                <td colspan='8' align='center' class="pages">
                    <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="wu_mei"  v-else>
        <img src="/static/image/pc/21.jpg" height="113" width="85">
        <div style="display:block" class="panduan">暂无该查询条件的内容 换个条件试试吧！</div>

    </div>
    <div class="modal fade  in" v-show="togle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><b>{{togle==1?'添加主分类':'添加子分类'}}</b></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover  table-bordered wst-form">
                        <tbody>
                        <tr style="height: 50px">
                            <th align="right" style="width:90px;background: #fff">{{togle==1?'主分类名称':'子分类名称'}}</th>
                            <td><input class="word" style="width:100%;height: 30px" placeholder="添加多个请用英文逗号','隔开" v-model="modalTxt"
                                       id="keywords"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <button type="button" class="btn btn-success" v-if="togle==1" @click="addWord">确定
                                </button>
                                <button type="button" class="btn btn-success" v-else @click="addSon">确定</button>

                                <button type="button" class="btn btn-primary" @click="togle=0">取消</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/goodsCuisine.js"></script>
</html>