<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>后台管理中心</title>
        <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/admin/goodsList.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/admin/pages.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
        <script src="/static/js/public/axios.min.js"></script>
        <script src="/static/js/public/vue.min.js"></script>
        <!-- 分页组件 -->
        <script src="/static/js/public/pages.js"></script>

    </head>
</head>
<body>
<div id="app" v-cloak>

    <div class='wst-tbar'>
        所属店铺：<input type='text' id='shopName' name='shopName' class="input_search" v-model='shopName'/>
        商品：<input type='text' id='goodsName' name='goodsName' class="input_search" v-model='goodsName'/>
        <button type="submit" class="btn btn-search glyphicon glyphicon-search" @click="pageFn(1)">查询</button>
    </div>

    <div class='wst-body'>
        <div class='wst-tbar'>

            <button type="button" class="btn btn-success glyphicon" @click='batchChangeStatus(1)'>批量解禁</button>
            <button type="button" class="btn btn-danger glyphicon" @click='batchChangeStatus(0)'>批量禁售</button>
        </div>
        <div class="wst-table" v-if="listData.length>0">

            <table class="table table-hover table-striped table-bordered wst-list">
                <thead>
                <tr>
                    <th width=''><input type='checkbox' name='chk' v-model="sumCheck" style="margin:0 5px 0 0;vertical-align: middle" @change="checkSum"/>全选</th>
                    <th width=''>商品名称</th>
                    <th width=''>店铺</th>
                    <th width=''>价格</th>
                    <th width=''>销量</th>
                    <th width=''>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in listData">
                    <td><input type='checkbox' class='chk' name='chk' :value='item.goodsId' v-model="checkData"
                               @change="checkU"/></td>
                    <td :img='item.goodsImg' class='imgPreview'>
                        <img :src="'https://image.aftdc.com/'+item.goodsImg" width='50'/>
                        {{item.goodsName}}
                    </td>
                    <td><a href="javascript:0" @click="shopJump(item)">{{item.shopName}}</a>&nbsp;</td>
                    <td>{{item.shopPrice}}</td>
                    <td>{{item.saleCount}}</td>
                    <td>
                        <a class="btn btn-primary glyphicon glyphicon-eye-open" href="javascript:">查看</a> &nbsp;
                        <button type="button" class="btn btn-danger glyphicon glyphicon-pencil"
                                v-if="item.goodsStatus==1"
                                @click="changeStatus(item.goodsId,0)">禁售
                        </button>
                        <button type="button" class="btn btn-success glyphicon glyphicon-pencil"
                                v-if="item.goodsStatus==0"
                                @click="changeStatus(item.goodsId,1)">解禁
                        </button>
                    </td>
                </tr>

                <tr>
                    <td colspan='10' align='center'>
                        <!-- 分页 -->
                        <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="wu_mei"  v-else>
            <img src="/static/image/pc/21.jpg" height="113" width="85">
            <div style="display:block" class="panduan">暂无该查询条件的内容 换个条件试试吧！</div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/goodsList.js"></script>
</html>
