<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/pages.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/all.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
    <script src="/static/js/public/pages.js"></script>

</head>
<body class='wst-page'>
<div id="app" v-cloak>
    <div class='wst-tbar'>
        所属店铺：<input type='text' class="input_search" name='shopName' id='shopName' v-model="shopName"/>
        评论内容：<input type='text' class="input_search" name='content' id='content' v-model="content"/>
        <button type='submit' class='btn btn-search glyphicon glyphicon-search'
                @click="pageFn(1)">查询
        </button>
    </div>

    <div class="wst-body wst-table" v-if="goodsData.length>0">
        <table class="table table-hover table-striped table-bordered wst-list">
            <thead>
            <tr>
                <th width='40'>序号</th>
                <th colspan='2'>商品</th>
                <th width='60'>状态</th>
                <th width='100'>商品评分</th>
                <th width='100'>时效评分</th>
                <th width='100'>服务评分</th>
                <th width='250'>操作</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="(item,index) in goodsData">
                <tr>
                    <td rowspan='2'>{{index+1}}</td>
                    <td rowspan='2' width='50' style='border-right:0px;'>
                        <img :src="'https://image.aftdc.com/'+item.shopImg"/>
                    </td>
                    <td rowspan='2' width='140' style='border-left:0px;'>
                        <span style='font-weight:bold;'>{{item.shopName}}</span><br/>订单：{{item.orderNo}}
                    </td>
                    <td>
                        <span class='label label-success' v-if="item.isShow==1">显示</span>
                        <span class='label label-warning' v-else>隐藏</span>
                    </td>
                    <td>
                        <div>
                            <template>
                                <img v-for="imgs in item.goodsScore" src="/static/image/admin/star-on-big.png"/>
                            </template>
                            &nbsp;{{item.goodsScore}} 分
                        </div>
                    </td>
                    <td>
                        <div>
                            <template>
                                <img v-for="imgs in item.timeScore" src="/static/image/admin/star-on-big.png"/>
                            </template>
                            &nbsp;{{item.timeScore}} 分
                        </div>
                    </td>
                    <td>
                        <div>
                            <template>
                                <img v-for="imgs in item.serviceScore" src="/static/image/admin/star-on-big.png"/>
                            </template>
                            &nbsp;{{item.serviceScore}} 分
                        </div>
                    </td>
                    <td rowspan='2'>
                        <a class="btn btn-warning glyphicon glyphicon-pencil" @click="operation(index,1)">修改</a>
                        <button type="button" class="btn btn-danger glyphicon glyphicon-trash" @click="del(index)">刪除
                        </button>
                        <button type="button" class="btn btn-primary glyphicon glyphicon-eye-open"
                                @click="operation(index,2)">查看回复
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan='4' style='word-break:break-all;text-align: left'>
                        <span>评价[{{item.loginName}}]：</span><span style="color: red">{{item.content}}</span></td>
                </tr>

            </template>
            <tr>
                <td colspan='8' align='center'>
                    <!-- 分页 -->
                    <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="wu_mei"  v-else>
        <img src="/static/image/pc/21.jpg" height="113" width="85">
        <div style="display:block" class="panduan">暂无该查询条件的内容 换个条件试试吧！</div>

    </div>
</div>
<!-- 分页组件 -->
<!--<script src="/static/js/public/pages.js"></script>-->
<script src="/static/js/admin/goodsAppraise.js"></script>
</body>
</html>
