<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="https://www.aftdc.com" />
    <meta http-equiv="Access-Control-Allow-Methods" content="POST" />

    <title></title>
    <link rel="stylesheet" href="/static/css/business/all.css" />
    <link rel="stylesheet" href="/static/css/business/edit.css" />
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<!--菜品编辑-->

<body>
    <div class="content-wrapper padding-md" id="eait" @click="hide" v-cloak>
        <input type="hidden" name="goodsId" :value="goodsId">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="shopTitle">
                    <span v-if="goodsId">商品修改</span>
                        <span v-else>商品添加</span>
                   
                    <!-- <a href="javascript:;" onClick="javascript :history.back(-1);" class="pull-right menu-color">返回</a> -->
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <!--商品分类-->
                    <div class="form-group">
                        <label class="control-label item-2">
                            <span class="text-danger">*</span> 商品分类
                        </label>
                        <div class="pull-left item-4" @click.stop>
                            <span class="select2" style="width: 248px;">
								<span class="selection">
									<span class="select2-selection" @click.stop="classData.togle=!classData.togle">
										<span class="selectionTxt">{{goods.classify}}</span>
                            <span class="selection__arrow ">
											<b rol="presentation"></b>
										</span>
                            </span>
                            </span>
                            <!--下拉框-->
                            <div class="select-detail" v-show="classData.togle" @click.stop>
                                <span class="select-detail-dropdown">
										<input type="search" id="lei" v-model="classData.search" @input="searchFn" />
									</span>
                                <span class="select-optionBox">
										<ul v-if="classData['sele'].length>0">
											<li class="select-options"  v-for="(item,index) in classData.sele" :class="{'active':classData.active==item}" @click="classifySeleFn(index )">{{item}}</li>
										</ul>
										<div v-else class="select-not">未找到结果</div>
									</span>
                            </div>
                            </span>
                        </div>
                        <!--<div class="item-2">
								<span class="kui-button-menu">添加分类</span>
							</div>-->
                    </div>
                    <!--商品名称-->
                    <div class="form-group">
                        <label class="control-label item-2">
                            <span class="text-danger">*</span> 商品名称
                        </label>
                        <div class="item-4">
                            <input maxlength="20" type="text" maxlength="20" name="name" class="form-control" v-model="goods.name" />
                        </div>
                    </div>
                    <if condition="!$goodsId ">
                        <div class="form-group">
                            <label class="control-label item-2">
                                <span class="text-danger">*</span> 商品价格
                            </label>
                            <div class="item-4">
                                <input type="number" name="shopPrice" class="form-control" v-model="goods.spec.price" placeholder=""/>
                            </div>
                        </div>
                    </if>
                    <div class="form-group">
                        <label class="control-label item-2">
                            <span class="text-danger">*</span> 餐盒费
                        </label>
                        <div class="item-4">
                            <input type="number" name="distribution" class="form-control" v-model="goods.boxFee" />
                        </div>
                    </div>
                    <!-- <div class="form-group">
							<label class="control-label item-2">
								<span class="text-danger">*</span>
								商品原价
							</label>
							<div class="item-4">
								<input type="text" name="marketPrice" class="form-control" />
							</div>
						</div> -->
                    <div class="form-group">
                        <label class="control-label item-2">
                            <span class="text-danger">*</span> 商品库存
                        </label>
                        <div class="item-4">
                            <!-- <input type="text" name="goodsStock" class="form-control" maxlength="6" /> -->
                            <div style="height:34px; line-height: 40px">
                                <input type="radio" name="rd" style="width:20px; height: 20px; margin-left: 5px;position:inherit;" class="same others" v-model="stockRadio" :value='1' @click="sameClick()"><span style="margin-left:6px;">有限</span>
                                <input type="radio" name="Stock" style="width:20px; height: 20px; position:inherit;" class="same" v-model="stockRadio" :value='-1' @click="sameClick()"><span style="margin-left:6px;">无限</span>
                                <input type="number" v-model="goods.goodsStock" v-if="stockRadio!=-1" :disabled="goods.spec.length>=2?true:false" name="goodsStock" placeholder="如有规格，库存将随规格库存改变" :style="goods.spec.length>=2?'background: #f3f3f3;cursor:not-allowed':''" class="form-control txt" maxlength="5" style="float:left;" />
                            </div>
                        </div>
                        
                    </div>
                    <!--商品图片-->
                    <div class="form-group">
                        <label class="control-label item-2">
                            <span class="text-danger">*</span> 商品图片
                        </label>
                        <div class="item-6">
                            <div class="clear img-box pull-left" @click=togleFn(1)>
                                <img :src="'https://image.aftdc.com/'+goods.img" v-if="goods.img" class="imgClass" id="imgId">
                                <a href="javascript:;" class="img-upload" v-else>
                                    <!-- <input type="file" @change="upImg($event)" /> -->
                                    <span class="imgAdd">＋</span>
                                    <br> 上传图片
                                </a>
                            </div>
                            <div class="pull-left closeImg">
                                <i class="circleX" @click="imgDelete">×</i>
                            </div>
                        </div>
                    </div>
                    <!-- <script>
							function validate_img(ele){
							      // 返回 KB，保留小数点后两位
							      //alert((ele.files[0].size/(1024*1024)).toFixed(2));
							      var file = ele.value;

							      if(!/.(jpg|jpeg|png|GIF|JPG|bmp)$/.test(file)){

							        alert("图片类型必须是.jpeg,jpg,png,bmp中的一种");
							            return false;

							      }else{

							          //alert((ele.files[0].size).toFixed(2));
							          //返回Byte(B),保留小数点后两位
							         if(((ele.files[0].size).toFixed(2))>=(2*1024*1024)){

							           alert("请上传小于2M的图片");
							                  return false;
							          }
							      }
							 }
							</script> -->
                    <!--商品规格-->
                    <div class="form-group">
                        <label class="control-label item-2">
                            <span class="text-danger"></span> 商品规格
                        </label>
                        <div class="item-10">
                            <div class="spec-wrapper">
                                <div class="panel panel-default" v-for="(item,index) in goods.spec">
                                    <div class="panel-body">
                                        <div class="row specTitle-heig">
                                            <p class="item-4">商品ID：{{item.id}}</p>
                                            <i class="pointer pull-right closeFork" v-show="goods.spec.length>1" @click="specDelete(index)">×</i>
                                        </div>
                                        <div class="row">
                                            <div class="item-2">
                                                <div class="spec-label">
                                                    <span class="text-danger">*</span>规格
                                                </div>
                                                <div>
                                                    <input type="text" class="form-control" style="width: auto" v-model='item.guigeName' />
                                                </div>
                                            </div>
                                            <div class="item-2">
                                                <div class="spec-label">
                                                    <span class="text-danger">*</span>价格
                                                </div>
                                                <div>
                                                    <input type="number" class="form-control" style="width: auto" v-model='item.price' />
                                                </div>
                                            </div>
                                            <div class="item-2" v-if="stockRadio!=-1">
                                                <div class="spec-label">
                                                    <span class="text-danger">*</span>库存
                                                </div>
                                                <div>
                                                    <input type="number" class="form-control" style="width: auto" v-model='item.stock' />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="kui-button-menu" id="myLabel" @click="specAdd" v-if="goods.spec.length<2">多规格(多种价格设置)</span>
                                    <span class="kui-button-menu" id="myLabel1" @click="specAdd(1)" v-if="goods.spec.length>=2" >添加规格</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--商品特色-->
                    <div class="form-group" style="display: none">
                        <label class="control-label item-2">
                            商品特色
                        </label>
                        <div class="item-6">
                            <div>
                                <span class="kui-button" :class="{'btn-default':goods['feature']['sign']}" @click="featureFn('sign')">
											<i class="inconGou" :class="[goods['feature']['sign']?'ba-menu':'ba-gray']">✔</i>招牌
										</span>
                                <span class="kui-button" :class="{'btn-default':goods['feature']['set']}" @click="featureFn('set')">
											<i class="inconGou" :class="[goods['feature']['set']?'ba-menu':'ba-gray']">✔</i>套餐
										</span>
                                <span class="kui-butSm">
											<img src="/static/image/business/i.png" class="smallIcon" />标记的好处
										</span>
                            </div>
                            <p class="w-grayer small m-top-xs">每个店最多设置15个招牌商品</p>
                        </div>
                    </div>
                    <!--套餐适用人数-->
                    <div class="form-group" v-if="goods['feature']['set']">
                        <label class="control-label item-2">
                            <span class="text-danger">*</span> 套餐适用人数
                        </label>
                        <div class="item-6">
                            <div class="item-2" style="padding: 0;">
                                <input type="text" class="form-control" data-title="请输入1-9间的数字" v-model='featureNumb' />
                            </div>
                        </div>
                    </div>
                    <!--商品属性-->
                    <div class="form-group">
                        <label class="control-label item-2">
                            商品属性
                        </label>
                        <div class="item-10">
                            <div class="row mid-gap" v-for="(item,index) in goods.attrs">
                                <div class="item-3">
                                    <input type="text" class="form-control taste" placeholder="例如：味道" value="" v-model="item.name" />
                                    <!-- <input type="text" class="form-control taste" value="{{goods['feature']['set']}}" v-model="item.name" /> -->
                                </div>
                                <div class="item-7">
                                    <label class="bootstrap-tagsinput" @click.stop>
                                        <span class="tag label" v-for="(x,numb) in item.choice">{{x}}<span class="pointer m-left-xs" @click="ChoiceDetail(index,numb)">×</span></span>
                                        <input type="text" v-model='item.inputs' placeholder="例如：微辣（多个属性用英文逗号隔开）" @focus='attrFocus($event,index)' @keyup.enter="attrEnter(index)" style="width: 260px" />
                                    </label>
                                </div>
                                <div class="item-1" @click="attrDetele(index)">
                                    <i class="circleX">×</i>
                                </div>
                            </div>
                            <div class=" mid-gap" @click="attrAdd" v-if="goods.attrs.length<=0">
                                <span class="kui-button-menu">添加属性</span>
                            </div>
                        </div>
                    </div>
                    <!--商品单位-->
                    <div class="form-group">
                        <label class="control-label item-2">
                            <span class="text-danger">*</span> 商品单位
                        </label>
                        <div class="item-4">
                            <!-- <input type="text" class="form-control" value="份"  v-model="goods.unit"/> -->
                            <input type="text" style="width: 248px" class="form-control" name="goodsUnit" :value="dataz.goodsUnit" placeholder="例如：份、个等"/>
                        </div>
                    </div>
                    <!--最小购买量-->
                    <div class="form-group" style="display:none">
                        <label class="control-label item-2">
                            <span class="text-danger">*</span> 最小购买量
                        </label>
                        <div class="item-4">
                            <input type="text" class="form-control" v-model="goods.min" @mouseover="hoverTipsFn($event,0)" @mouseout="hoverTips['state']=false" />
                        </div>
                    </div>
                    <!--可售时间-->
                    <div class="form-group" style="display:none">
                        <label class="control-label item-2">
                            <span class="text-danger">*</span> 可售时间
                        </label>
                        <div class="item-10">
                            <div class="row">
                                <div class="radio inline">
                                    <label class="label-radio inline">
                                        <input type="radio" name="pre-status" v-model="goods.time" value="时间不限" />
                                        <span class="custom-radio"></span>
                                        <span class="custom-radio">时间不限</span>
                                    </label>
                                    <label class="label-radio inline">
                                        <input type="radio" name="pre-status" v-model="goods.time" value="自定义时间" />
                                        <span class="custom-radio"></span>
                                        <span class="custom-radio">自定义时间</span>
                                    </label>
                                </div>
                                <span class="kui-butSm m-botf">
											<img src="/static/image/business/wh.png" class="smallIcon" />商品不可售原因
										</span>
                            </div>
                            <div class="row" v-show="goods.time=='自定义时间'">
                                <div class="m-top">
                                    <div class="kui-checkbox-group">
                                        <label class="label-checkbox" v-for="(item,index) in weeks">
                                            <input type="checkbox" name="week" v-model="item.check" />
                                            <span class="custom-checkbox"></span> {{item.name}}
                                        </label>
                                    </div>
                                </div>
                                <div class="m-top-md mid-gap ">
                                    <div class="row mid-gap " v-for="(item,index) in timeData">
                                        <div class="item-3 relative" @click.stop>
                                            <input class="form-control text-center" name="dayTime" type="text" v-model="item.state" @focus="timeFocus('state',index,$event)" @blur="timeBlur('state',index)" placeholder="开始时间" />
                                        </div>
                                        <div class="item-1">
                                            <p class="form-control-static text-center">--</p>
                                        </div>
                                        <div class="item-3 relative" @click.stop>
                                            <input type="text" v-model="item.end" @click.stop @focus="timeFocus('end',index,$event)" @blur="timeBlur('state',index)" class="form-control text-center" placeholder="结束时间">
                                        </div>
                                        <i class="circleX" v-show="timeData.length > 1" @click="deleteTime">×</i>
                                    </div>
                                </div>
                                <span class="kui-button-menu" @click="addTime">添加事件段</span>
                            </div>
                        </div>
                    </div>
                    <!--商品描述-->
                    <div class="form-group">
                        <label class="control-label item-2">
                            <!-- <span class="text-danger">*</span> -->
                            商品描述
                        </label>
                        <div class="item-4">
                            <textarea style="width:248px;" class="form-control noresize" maxlength="200" v-model="goods.describe"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="kui-button-menu active paddings" @click="saveGoods()">保存</button>
                <button class="kui-button-menu paddings" onClick="javascript :history.back(-1);">取消</button>
            </div>
        </div>
        <!--属性弹出框-->
        <div class="popover bottom" v-show="attrTips.togle" :style="attrTips.styles" @click.stop>
            <div class="arrow"></div>
            <div class="popover-content">
                <div class="tags-wrapper clear">
                    <span class="tag-item " v-for="(item,index) in attrTips.choice" :class="{'disabled':item.active}" @click="attrFn(index)">{{item.name}}</span>
                </div>
            </div>
        </div>
        <!--选择时间-->
        <div class="time-box" :style="[timeStyle]" v-show="timeBox.box" @click.stop>
            <div class="time-select" v-show="timeBox.box==1">
                <div class="time-row clear">
                    <span class="time-arrow time-hoverBox time-arrowUp pull-left" @click="changeTime('h',1)"></span>
                    <span class="time-arrow time-hoverBox time-arrowUp pull-right" @click="changeTime('m',1)"></span>
                </div>
                <div class="time-rowcon clear">
                    <span class="text-bold fz-twenty item-4 text-left">
								<span class="time-hoverBox" @click="timeBox.box=2">{{timeBox['addsub']['h']}}</span>
                    </span>
                    <span class=" item-4 text-center lineHig">:</span>
                    <span class="text-bold fz-twenty item-4 text-right">
								<span class="time-hoverBox" @click="timeBox.box=3">{{timeBox['addsub']['m']}}</span>
                    </span>
                </div>
                <div class="time-row clear">
                    <span class="time-arrow time-hoverBox time-arrowBot pull-left" @click="changeTime('h',0)"></span>
                    <span class="time-arrow time-hoverBox time-arrowBot pull-right" @click="changeTime('m',0)"></span>
                </div>
            </div>
            <div class="time-option" v-show="timeBox.box==2">
                <div class="clear">
                    <span v-for="(item,index) in 23" @click="obtainHM('h',index)" class="item-3 time-numb">{{index}}</span>
                </div>
            </div>
            <div class="time-option" v-show="timeBox.box==3">
                <div class="clear">
                    <span v-for="(item,index) in 60" @click="obtainHM('m',index)" class="item-3 time-numb" v-if="index%3==0">{{index}}</span>
                </div>
            </div>
        </div>
        <!--************************* 选择图片弹出框 *************************************-->
        <div class="me_dwjc" style="left: 0" v-if="togleImg==1">
            <div class="cwekoo">
                <div class="cweojh">
                    <div class="si_ij">上传菜品图片<span class="si_cuo" @click="togleFn(0)">×</span></div>
                    <div class="si_line">
                        <span class="si_chuan" :class="{'active':imgMode==1}" @click="imgMode=1">选择素材</span>
                        <span class="si_chuan" :class="{'active':imgMode==2}" @click="imgMode=2">上传图片</span>
                    </div>
                    <div class="choickImg" v-if="imgMode==1">
                        <div class="list-datum" v-if="imgData&&imgData.length>0">
                            <img :src="item" alt="素材" @click="imgChange(index)" v-for="(item,index) in showImgData">
                        </div>
                        <div class="datum-not" v-else>
                            <img src="/static/image/business/noorders.png" alt="素材">
                            <span>暂无素材图片，可<a href="/index.php/Business/Picture/picture">前往</a>导入图片导入</span>
                        </div>
                        <!--分页-->
                        <div class="text-center" v-if="pageNumb>1">
                            <ul class="pagination many-pagination">
                                <!--.kui-pagination-->
                                <li class="disabled" :class="[pageCurent==1?'disabledN':'disabledY']" @click="pageSub">
                                    <a>«</a>
                                </li>
                                <li class="pages-list">
                                    <ul v-if="pageCurent<6">
                                        <li :class="{'active':pageCurent==index+1}" v-if="index<9" v-for="(item,index) in pageNumb" @click="pageClick(index+1)">
                                            <a href="javascript:;">{{index+1}}</a>
                                        </li>
                                    </ul>
                                    <ul v-else-if="(pageCurent+4)<pageNumb">
                                        <li :class="{'active':pageCurent==index+1}" v-if="index>(pageCurent-6)&&(pageCurent+4)>index" v-for="(item,index) in pageNumb" @click="pageClick(index+1)">
                                            <a href="javascript:;">{{index+1}}</a>
                                        </li>
                                    </ul>
                                    <ul v-else>
                                        <li :class="{'active':pageCurent==index+1}" v-if="index>(pageNumb-10)" v-for="(item,index) in pageNumb" @click="pageClick(index+1)">
                                            <a href="javascript:;">{{index+1}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="disabled" :class="[pageCurent==pageNumb?'disabledN':'disabledY']" @click="pageAdd">
                                    <a>»</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="upImgBox" v-if="imgMode==2">
                        <div class="ben_tup">
                            <div class="cfjwoe">
                                <div class="ckjsa">
                                    <span>上传图片</span>
                                    <input type="file" @change="upImg($event)" id="cdefunck" />
                                </div>
                            </div>
                            <input type="hidden" name="shopId" id="shopId" value="{$shops.shopId}">
                            <div class="cfwoe_injwe">错误图片示例</div>
                            <div class="wecjoweij_xic">
                                <div class="tu_ind">
                                    <img src="/static/image/business/msd.png" height="160" width="199" alt="">
                                    <div class="heio_imh">直接翻拍菜单</div>
                                </div>
                                <div class="tu_ind">
                                    <img src="/static/image/business/msd.png" height="160" width="199" alt="">
                                    <div class="heio_imh">图片模糊</div>
                                </div>
                                <div class="tu_ind">
                                    <img src="/static/image/business/msd.png" height="160" width="199" alt="">
                                    <div class="heio_imh">图片翻转、变形</div>
                                </div>
                                <div class="tu_ind">
                                    <img src="/static/image/business/msd.png" height="160" width="199" alt="">
                                    <div class="heio_imh">图片含有水印、马赛克</div>
                                </div>
                            </div>
                        </div>
                        <div class="shanmwango" style="display:none">
                            <div class="dceko_dci">
                                <div id="cvdkjv">
                                    <!-- <img src="images/ces1.png" height="300" width="250"> --></div>
                                <div class="wekncfo"><span class="scw_su">选择图片</span></div>
                            </div>
                            <div class="qwcjqwh">
                                <div class="eskoo_ckc"><img src="" height="200" width="250" alt=""></div>
                                <div class="decjnw">预览
                                    <div class="cdek_shiy">确定使用</div>
                                    <div class="qu_wsh">取消</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="guan_lian">
                        <div class="guan_bi" @click="togleFn(0)">关闭</div>
                    </div>
                </div>
            </div>
        </div>
        <!--错误提示-->
        <div class="errBox modal" v-if="errTips['state']">
            <div class="modal-dialog">
                <div class="errContent">
                    <p class="errtips">{{errTips.txt}}</p>
                </div>
            </div>
        </div>
        <!--提示框-->
        <div class="HoverBox" v-if="hoverTips['state']" :style="hoverTips.styles">
            <div class="arrow"></div>
            {{hoverTips.txt}}
        </div>
    </div>
    <script type="text/javascript" src="/static/js/business/edit.js"></script>
</body>

</html>