<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="/static/css/business/all.css" />
    <link rel="stylesheet" href="/static/css/business/shopBatch.css" />
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/dateSelect.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
</head>
<!--商品管理 批量管理-->

<body>
    <div class="shopBatch" id="shopBatch" v-cloak>
        <div>
            <div class="nav mid-gap clear">
                <div class="breadcrumb pull-left">
                    <img class="icon-sm" src="/static/image/business/shop-home.png" />
                    <span>商品管理</span>
                    <span class="active">批量管理</span>
                </div>
                <a class="pull-right m-right menu-color" href="javascript:;" style="line-height: 40px;">＜＜返回</a>
            </div>
            <ul class="nav-cards clear">
                <!--<li><a class="active" href="javascript:;">批量新建商品</a></li>
					<li><a href="javascript:;">批量上传图片</a></li>-->
                <li><a :class="{active:navs==1}" @click="navs=1" href="javascript:;">批量修改商品</a></li>
                <li><a :class="{active:navs==2}" @click="navs=2" href="javascript:;">批量删除</a></li>
                <li><a :class="{active:navs==3}" @click="navs=3" href="javascript:;">处理进度</a></li>
            </ul>
        </div>
        <!--内容-->
        <!--批量新建商品-->
        <div class="panel panel-default" style="display: none;">
            <form class="form-horizontal">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label item-2">新建商品</label>
                        <div class="item-10">
                            <div class="radio">
                                <label class="label-radio inline">
                                    <input type="radio" name="pre-status" value="1" />
                                    <span class="custom-radio"></span>
                                    <span class="custom-radio">未预定时间</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label item-2"></label>
                        <div class="item-6">
                            <div class="form-group">
                                <div class="item-10">
                                    <div class="relative">
                                        <textarea placeholder="批量添加仅支持一种规格商品" class="noresize form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group description-info">
                                <h4>填写说明</h4>
                                <p class="red">#一级分类名（必填）</p>
                                <p><span class="red">名称(必填) 价格(必填) </span>单位 包装盒个数 包装盒单价 最小购买量 SKU码</p>
                                <p>#酒水饮料</p>
                                <p>冰红茶 2.5 瓶</p>
                                <p>果粒橙 2.8 瓶</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label item-2"></label>
                                <div class="item-6 text-center">
                                    <span class="kui-button active">保存</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--批量上传图片-->
        <div class="panel panel-default isB" style="display: none;">
            <div class="panel-body">
                <div class="row">
                    <div class="item-6 form-horizontal batchImg">
                        <div class="form-group">
                            <label class="control-label">选择图片命名方式：</label>
                            <div class="radio">
                                <label class="label-radio inline">
                                    <input type="radio" name="pre-status" value="1" />
                                    <span class="custom-radio"></span>
                                    <span class="custom-radio">使用商品名称命名</span>
                                </label>
                                <label class="label-radio inline">
                                    <input type="radio" name="pre-status" value="1" />
                                    <span class="custom-radio"></span>
                                    <span class="custom-radio">使用UPC/EAN码命名</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group file-box">
                            <label class="file">
                                <input type="file" accept=".rar,.zip" />
                            </label>
                            <span class="kui-button active m-left-md ">上传</span>
                        </div>
                        <br>
                        <h5 class="c-red">批量上传图片重要说明</h5>
                        <p>1、压缩包为Zip，最大不超过20M</p>
                        <p>2、单张图片分辨率需大于600*450，图片像素宽/高比例4 : 3，大小不超过500Kb</p>
                        <p>3、同名称或同UPC/EAN码商品将使用同一张图片，以最后上传的为准</p>
                        <p>4、以上规则有任意一项错误，图片将上传失败</p>
                    </div>
                    <div class="item-6">
                        <h4 class="text-center">批量上传步骤</h4>
                        <ul class="wizardlist">
                            <li class="finish">
                                <span class="step">1</span>
                                <div class="detail">
                                    <div class="title">在门店首页下载本店商品，筛选出店铺内无图片、需要传图的商品</div>
                                </div>
                            </li>
                            <li class="finish">
                                <span class="step">2</span>
                                <div class="detail">
                                    <div class="title">在门店首页下载本店商品，筛选出店铺内无图片、需要传图的商品</div>
                                    <div class="info"> 例：宫保鸡丁.jpg或：49061035.jpg
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!------------批量修改图片--------->
        <div class="panel panel-default" v-if="navs==1">
            <form class="form-horizontal">
                <div class="panel-body">
                    <p class="operationDesc">
                        操作说明：
                        <br> 允许按照商品名称、商品SKU码、商品UPC码来匹配对应的商品，并对其进行修改操作。
                        <br> 按商品名称匹配时，分类和规格名称不是必填项；但填写不完整可能增加匹配到的商品，从而导致修改了不想修改的信息。
                        <br> 商品库存无限请填写「-1」。
                        <br> 每次批量操作至多执行1000条修改规则。
                        <br>
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label item-2">批量修改规则</label>
                    <div class="item-8" style="margin: 0px 0px 20px;">
                        <div class="card" v-for="(item,index) in modify">
                            <div class="delete-btn">
                                <a href="javascript:;" @click="deleteModify(index,'modify')">×</a>
                            </div>
                            <div class="card-row clear">
                                <div class="form-rule ">
                                    <label>商品匹配方式</label>
                                    <select class="form-control" v-model="item.match">
                                        <option v-for="(item,index) in matching" :value="index+1">{{item}}</option>
                                    </select>
                                </div>
                                <div v-if="item.match==1">
                                    <div class="form-rule ">
                                        <label>分类名称</label>
                                        <input class="form-control" type="text" v-model="item.data.className" />
                                    </div>
                                    <div class="form-rule ">
                                        <label><span class="c-red">*</span>商品名称</label>
                                        <input class="form-control" type="text" v-model="item.data.shop" />
                                    </div>
                                    <div class="form-rule ">
                                        <label>规格名称</label>
                                        <input class="form-control" type="text" v-model="item.data.rule" />
                                    </div>
                                </div>
                                <div class="form-rule" v-if="item.match==2">
                                    <label><span class="c-red">*</span>UPC/EAN/条形码</label>
                                    <input class="form-control" type="text" />
                                </div>
                                <div class="form-rule" v-if="item.match==3">
                                    <label><span class="c-red">*</span>SKU码/货号</label>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="card-row clear">
                                <div class="form-rule">
                                    <label>商品价格设置为</label>
                                    <input class="form-control" v-model="item.data.price" type="text" />
                                </div>
                                <div class="form-rule">
                                    <label>商品库存设置为</label>
                                    <input class="form-control" v-model="item.data.stock" type="text" />
                                </div>
                                <div class="form-rule ">
                                    <label>售卖状态设置为</label>
                                    <select class="form-control" v-model="item.data.state">
                                        <option v-for="(item,index) in shopState" :value="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-row clear">
                                <div class="form-rule">
                                    <label>商品重量(g)设置为</label>
                                    <input class="form-control" v-model="item.data.weight" type="text" />
                                </div>
                                <div class="form-rule">
                                    <label>餐盒价格设置为</label>
                                    <input class="form-control" v-model="item.data.boxPrice" type="text" />
                                </div>
                                <div class="form-rule">
                                    <label>餐盒数量设置为</label>
                                    <input class="form-control" v-model="item.data.boxNumb" type="text" />
                                </div>
                            </div>
                            <div class="card-row clear">
                                <div class="form-rule ">
                                    <label>商品描述</label>
                                    <textarea rows="3" v-model="item.data.describe" class="form-control"></textarea>
                                </div>
                                <div class="form-rule ">
                                    <label>商品图片设置为</label>
                                    <div class="choosePic" @click="imgTogle=true,modifyIndex=index">
                                        <span class="imgAdd">＋</span>
                                        <div>上传图片</div>
                                        <img :src="item.data.img" class="imgsrc" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-2 item-8">
                        <hr>
                        <div>
                            <span class="kui-button-menu" @click="oneAdd(1)">添加一条修改规则</span>
                            <span class="kui-button-menu" style="display: none;">批量添加修改规则</span>
                        </div>
                        <div class="text-center">
                            <span class="kui-button active" @click="modifyFn">开始批量修改</span>
                            <!--<?php echo "<div>124</div>" ?>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--********************批量删除*************************-->
        <div class="panel panel-default" v-if="navs==2">
            <form class="form-horizontal">
                <div class="panel-body">
                    <p class="operationDesc">
                        操作说明：
                        <br> 允许按照商品名称、商品SKU码、商品UPC码来匹配对应的商品，并对其进行修改操作。
                        <br> 按商品名称匹配时，分类和规格名称不是必填项；但填写不完整可能增加匹配到的商品，从而导致修改了不想修改的信息。
                        <br> 商品库存无限请填写「-1」。
                        <br> 每次批量操作至多执行1000条修改规则。
                        <br>
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label item-2">匹配规则</label>
                    <div class="item-8" style="margin: 0px 0px 20px;">
                        <div class="card" v-for="(item,index) in deletes">
                            <div class="delete-btn" @click="deleteModify(index,'deletes')">
                                <a href="javascript:;">×</a>
                            </div>
                            <div class="card-row clear">
                                <div class="form-rule ">
                                    <label>商品匹配方式</label>
                                    <select class="form-control" v-model="item.match">
                                        <option v-for="(item,index) in matching" :value="index+1">{{item}}</option>
                                    </select>
                                </div>
                                <div>
                                    <div class="form-rule ">
                                        <label>分类名称</label>
                                        <input class="form-control" type="text" v-model="item.className" />
                                    </div>
                                    <div class="form-rule ">
                                        <label><span class="c-red">*</span>商品名称</label>
                                        <input class="form-control" type="text" v-model="item.shop" />
                                    </div>
                                    <div class="form-rule ">
                                        <label>规格名称</label>
                                        <input class="form-control" type="text" v-model="item.rule" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-2 item-8">
                        <hr>
                        <div>
                            <span class="kui-button-menu" @click="oneAdd(2)">添加一条匹配规则</span>
                            <span class="kui-button-menu" style="display: none;">批量添加修改规则</span>
                        </div>
                        <div class="text-center">
                            <span class="kui-button active" @click="deletesFn">开始批量删除</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--********************处理进度*************************-->
        <div class="panel panel-default isE" v-if="navs==3">
            <form class="form-horizontal">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="item-10">
                            <span class="kui-button active buts">刷新本页</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item-10">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>操作名称</th>
                                        <th>操作时间</th>
                                        <th>操作状态</th>
                                        <th>操作详情</th>
                                        <th>结果查看</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <!--分页-->
                            <div class="text-center ">
                                <ul class="pagination many-pagination">
                                    <!--.kui-pagination «-->
                                    <li class="disabled jt">
                                        <a>«</a>
                                    </li>
                                    <li class="active">
                                        <a>1</a>
                                    </li>
                                    <li class="disabled jt">
                                        <a>»</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--弹出图片上传-->
        <div class="modal kui-modal backdrop" v-if="imgTogle">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header inline clear">
                        <h4 class="modal-title">图片上传</h4>
                    </div>
                    <div class="modal-body">
                        <div class="cropper-cmodal clear">
                            <div class="img-clip-wrap">
                                <div class="container-bg ">
                                    <img class="imgsrc" :src="imgURL" />
                                </div>
                                <div class="reset-img">
                                    <input type="file" id="file" accept="image/*" @change="getPhoto(this)"> 选择图片
                                </div>
                            </div>
                            <div class="img-preview-wrap">
                                <div class="pre-container">
                                    <img class="imgsrc" :src="imgURL" />
                                </div>
                                <div class="pre-info">预览</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center m-top-lg modal-footer">
                        <span class="kui-button-menu active" @click="useImg">使用预览图片</span>
                        <span class="kui-button-menu" @click="imgTogle=false">关闭</span>
                    </div>
                </div>
            </div>
        </div>
        <!--错误提示-->
        <div class="errBox modal" v-if="errTips['state']">
            <div class="modal-dialog">
                <div class="errContent">
                    <p class="errtips">{{errTips.txt}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/business/shopBatch.js">
</script>

</html>