<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/business/all.css" />
    <link rel="stylesheet" href="/static/css/business/shop.css" />
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/dateSelectSum.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<script>
</script>

<body>
    <div class="shop" id="shop" @click="hide" v-cloak>
        <div class="header">
            <a v-for="(x,index) in kuiBut.txt" class="kui-button inline menu-color" :class="{active:kuiBut.selt===index}" href="javascript:0;"@click="editClick()">{{x}}</a>
            <!--<a class="inline w-grayer link-black" href="javascript:;">下载商品</a>-->
            <!--<a class="inline w-grayer link-black" href="javascript:;">下载记录</a>-->
            <!--<a class="inline w-grayer" href="javascript:;">回收站</a>-->
            <div class="pull-right input-group">
                <input type="text" placeholder="商品分类名" id="goods_name" class="form-control" />
                <button class="search-icon" @click="searchIconClick()">
                    <img src="/static/image/business/sou.png">
                </button>
            </div>
        </div>
        <!-- <div class="header m-top">
				 <div class="category-title clear">
					<strong class="m-right">语言列表</strong>
					<div class="kui-button-menu inline padMax"  v-for="(item,index) in getGoods" :class="{'active':langIndex==index}" @click="langFn(index)">{{item.language}}</div>
			   </div>
			</div> -->
        <div class="shop-content clear m-top">
            <div class="category pull-left">
                <div class="category-title clear">
                    分类列表
                    <div class="kui-button btn-default pull-right setUp" @click="clasNameFn">
                        <img src="/static/image/business/setUp.png" />
                        <span>管理分类</span>
                    </div>
                </div>
                <div class="cate-tree">
                    <div class="all-line" v-for="(x,index) in foods" :class="{'selected':foodSelt==index}" @click="navClass(index)">
                        <span>{{x.catName}}</span>
                        <span class="all-cnt">{{x.goods?x.goods.length:'0'}}</span>
                    </div>
                </div>
            </div>
            <div class="main-content pull-left relative">
                <div class="page-list-name content-name" style="display:none">超值套餐</div>
                <div class="page-list-name filters">
                    <span class="filter" v-for="(x,index) in filters" :class="{selected:filterSelt==index}" @click="navState(index)">
						{{x.catName}} {{x.goods.length}}
						<span class="redSign inline" v-if="x.catName=='无图片'&&x.goods.length>0">!</span>
                    </span>
                </div>
                <div class="product-list relative">
                    <!--************批量操作*****************-->
                    <div class="tool-bar relative">
                        <div class="clear" style="padding: 16px 0px;">
                            <div class="kui-checkbox checkbox  inline m-right">
                                <label class="label-checkbox">
                                    <input type="checkbox" v-model="sumSelect" @click="sumSelectFn($event)" />
                                    <span class="custom-checkbox"></span> 全选本页
                                </label>
                            </div>
                            <div class="kui-button btn-sm  bgbor-hover" @click="batchModal(item,index+1)" @mouseout="tipsTogle=false" @mouseover="batchOver($event)" v-for="(item,index) in operateData.child">{{item}}</div>
                            <span class="more-three " :class="{threeTop:!operateMore,threeBot:operateMore}" @click="operateMore=!operateMore">更多批量操作</span>
                        </div>
                        <div style="margin: 0px 0px 10px 20px;" v-if="operateMore">
                            <div class="kui-button btn-sm bgbor-hover" style="margin-left: 90px;" @click="batchModal(item,index+4)" @mouseout="tipsTogle=false" @mouseover="batchOver($event)" v-for="(item,index) in operateData.more">{{item}}</div>
                        </div>
                        <div class="m-right right-part pointer">
                            <span class="change-list" :class="{active:!column}" @click="column=false">单列</span>
                            <span class="change-list" :class="{active:column}" @click="column=true">多列</span>
                        </div>
                    </div>
                    <!--菜-->
                    <div class="products clear">
                        <!--  -->
                        <div class="product-card  clear" :class="[column?'multi-column':'single-column']" v-for="(item,index) in currentFood">
                            <div class="kui-checkbox checkbox">
                                <label class="label-checkbox">
                                    <input type="checkbox" v-model="item.selects" @click="foodSelect($event)" />
                                    <span class="custom-checkbox"></span>
                                </label>
                            </div>
                            <!--<div class="foodDetail">-->
                            <div class="foodImg">
                                <img :src="'https://image.aftdc.com/'+item.goodsImg" />
                                <span class="bar" v-if="item.isSale==0">已下架</span>
                            </div>
                            <div class="foodWord" @click.stop>
                                <div class="foodName" :class="{edit:modify.goodsName==index}">
                                    <span>
											<span class="edit-signs">
												<span>{{item.goodsName}}</span>
                                    <img class="icon-sm foodHover" src="/static/image/business/modify.png" />
                                    </span>
                                    <span class="edit-sign" @click="modifyFn('goodsName',index)">
												<span>{{item.goodsName}}</span>
                                    <img class="icon-sm" src="/static/image/business/modify.png" />
                                    </span>
                                    </span>
                                    <div class="edit-input" v-show="modify.goodsName==index">
                                        <div class="kui-textarea">
                                            <textarea rows="2" v-model="modifyTxt" placeholder="请输入商品名称" maxlength="30"></textarea>
                                            <span class="textarea-group-addon">
														<i class="fa fa-check" @click="modifySure('goodsName',index)">✔</i>
														<i class="fa fa-remove" @click="modifyClose">✘</i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="minor" :data-index="item['size']?item['size'].length:'0'">月售&nbsp;{{item.sell}}&nbsp;&nbsp;赞&nbsp; {{item.zan}}</p>
                                <div class="other" v-if="!item.size&&!item.taste">
                                    <span>￥
										<span class="eait m-right-sm edit">
													<span @click="modifyFn('shopPrice',index)">
														{{item.shopPrice}}
						  							  <img class="icon-sm foodHover" src="/static/image/business/modify.png" />
												   </span>
                                    <div class="edit-input" v-show="modify.shopPrice==index">
                                        <div class="relative editable" style="width: 144px;">
                                            <div class="input-groups">
                                                <input maxlength="7" v-model="modifyTxt" type="text" placeholder="价格" class="form-control" />
                                                <span class="input-group-addon">
																<i class="fa fa-check" @click="modifySure('shopPrice',index)">✔</i>
																<i class="fa fa-remove" @click="modifyClose">✘</i>
															</span>
                                            </div>
                                        </div>
                                    </div>
                                    </span>
                                    </span>
                                    <span>
											库存
                                    <span class="eait m-right">
												<span  @click="modifyFn('goodsStock',index)">
													{{item.goodsStock<0?'无限':item.goodsStock}}
			  							            <img class="icon-sm foodHover" src="/static/image/business/modify.png" />
												</span>
                                    <div class="edit-input" v-show="modify.goodsStock==index">
                                        <div class="relative editable" style="width: 144px;">
                                            <div class="input-groups">
                                                <input maxlength="7" :value="item.goodsStock"  v-model="modifyTxt" type="text" placeholder="库存" class="form-control" />
                                                <span class="input-group-addon">
														<i class="fa fa-check" @click="modifySure('goodsStock',index)">✔</i>
														<i class="fa fa-remove" @click="modifyClose">✘</i>
													</span>
                                            </div>
                                        </div>
                                    </div>
                                    </span>
                                    </span>
                                </div>
                                <div class="others" v-else>
                                    <span>￥ {{item.shopPrice}}</span>
                                    <span class="pull-right skus" @click="specMore($event,index)">
										<span class="more more-three threeTop">
											多规格
										</span>
                                    </span>
                                </div>
                            </div>
                            <!--</div>-->
                            <div class="product-opr">
                                <a href="javascript:;" class="inline opr-edit foodHover">
										<img class="inline" src="/static/image/business/closeL.png">
										<span class="inline" @click="delGoods(item.goodsId)">删除</span>
									</a>
                                <a class="inline opr-edit" @click="goEdit($event,item.goodsId)">
										<img class="inline" src="/static/image/business/modifyL.png">
										<span class="inline">编辑</span>
									</a>
                                <div class="kui-button-menu" :class="[item.isSale==0?'active':'']" @click="danSale(item.goodsId,item.isSale)">{{item.isSale==0?'上架':'下架'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="notOrder-box" v-if="currentFood.length==0">
                        <div class="notOrder">
                            <img class="notOrder-icon" src="/static/image/business/notGoods.png" />
                            <p class="notOrder-title">暂无该类商品</p>
                            <!--<div class="notOrder-word">暂时没有该筛选条件的订单，稍后再来看看吧!</div>-->
                        </div>
                    </div>
                </div>
                <!--****************************************分页**********************************************-->
                <div class="text-center " v-if="currentFood.length > 0">
                    <ul class="pagination many-pagination">
                        <!--.kui-pagination-->
                        <li class="disabled" :class="[pageCurent==1?'disabledN':'disabledY']" @click="pageSub">
                            <a>«</a>
                        </li>
                        <li :class="{'active':pageCurent==index+1}" v-for="(item,index) in pageNumb" @click="pageClick(index+1)">
                            <a href="javascript:;">{{index+1}}</a>
                        </li>
                        <li class="disabled" :class="[pageCurent==pageNumb?'disabledN':'disabledY']" @click="pageAdd">
                            <a>»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="panel panel-default">
				<div class="panel-body">
					<p>商品管理对你是否有帮助</p>
					<div class="row" style="padding: 15px 0;">
						<div class="item-4 text-center manner">
							<div class="zan icon-wrapper "></div>
							<div class="description">很好,鼓励一下</div>
							<div class="count">1.41k</div>
						</div>
						<div class="item-4 text-center manner">
							<div class="notZan icon-wrapper "></div>
							<div class="description">不好,继续优化</div>
							<div class="count">1.41k</div>
						</div>
						<div class="item-4 text-center manner">
							<div class="infor icon-wrapper "></div>
							<div class="description">很好,鼓励一下</div>
							<div class="count"></div>
						</div>
					</div>
				</div>
			</div> -->
        <!--提示框-->
        <div class="kui-tooltip" :style="[tipsStyle]" v-show="tipsTogle||selectNumb > 0">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner" v-if="selectNumb > 0">已选{{selectNumb}}个商品</div>
            <div class="tooltip-inner" v-else>请选择商品</div>
        </div>
        <!--批量操作弹出框  1到8 -->
        <div class="modal sp-modal kui-modal backdrop" v-if="modalTogle>0 && modalTogle <= 8" @click="modalTogle=0">
            <div class="modal-dialog modal-sm" @click.stop="modalBox">
                <div class="modal-content">
                    <div class="modal-header inline clear">
                        <span class="close" @click="modalTogle=0">×</span>
                        <h5 class="modal-title">{{modalTxt}}</h5>
                    </div>
                    <div class="modal-body">
                        <div class="stock" :class="{specific:modalTogle==4}">
                            <p class="text-center">共选择了{{selectNumb}}件商品</p>
                            <!--批量改库存-->
                            <div class="kui-checkbox-group" v-if="modalTogle==4">
                                <div class="kui-radio">
                                    <label class="label-radio inline">
                                        <input type="radio" name="batch" v-model="stockChoice" value="0" />
                                        <span class="custom-radio"></span>
                                        <span class="custom-radio">无限</span>
                                    </label>
                                </div>
                                <div class="kui-radio">
                                    <label class="label-radio inline">
                                        <input type="radio" name="batch" v-model="stockChoice" value="1" />
                                        <span class="custom-radio"></span>
                                        <span class="custom-radio">具体库存数</span>
                                    </label>
                                    <div class="stock-num" v-if="stockChoice==1">
                                        <input type="text" class="form-control" v-model="stockNum" value="" />
                                    </div>
                                </div>
                            </div>
                            <!--餐盒价格 餐盒数量-->
                            <div v-if="modalTogle==5||modalTogle==6">
                                <span>
										{{modalTogle==5?'餐盒价格':'餐盒数量'}}
										<div class="box-input">
											<input type="text" maxlength="5" class="form-control" />
										</div>
										{{modalTogle==5?'元':'个'}}
									</span>
                            </div>
                            <!--批量修改可售时间-->
                            <div v-if="modalTogle==7">
                                <div>
                                    <span class="infoTime">可售时间</span>
                                    <label class="label-radio inline">
                                        <input type="radio" name="time" v-model="limitTime" value="0" />
                                        <span class="custom-radio"></span>
                                        <span class="custom-radio">时间不限</span>
                                    </label>
                                    <label class="label-radio inline">
                                        <input type="radio" name="time" v-model="limitTime" value="1" />
                                        <span class="custom-radio"></span>
                                        <span class="custom-radio">自定义</span>
                                    </label>
                                </div>
                                <div v-if="limitTime==1">
                                    <div class="kui-checkbox-group">
                                        <label class="label-checkbox" v-for="(item,index) in weeks">
                                            <input type="checkbox" name="week" v-model="item.check" />
                                            <span class="custom-checkbox"></span> {{item.name}}
                                        </label>
                                    </div>
                                    <div class="picker relative">
                                        <div v-for="(item,index) in timeData">
                                            <div class="radio inline">
                                                <div class="inline input-times">
                                                    <input type="text" v-model="item.state" @click.stop @focus="timeFocus('state',index,$event)" @blur="timeBlur('state',index)">
                                                    <span class="DataIncon">
											      <img src="/static/image/business/calendar.png">
										      </span>
                                                </div>
                                                <span class="inline"> - </span>
                                                <div class="inline input-times">
                                                    <input type="text" v-model="item.end" @click.stop @focus="timeFocus('end',index,$event)" @blur="timeBlur('state',index)">
                                                    <span class="DataIncon">
											<img src="/static/image/business/calendar.png">
										</span>
                                                </div>
                                            </div>
                                            <span>
                                     	<i class="icons fa-plus-circle" @click="addTime">＋</i>
										<i class="icons fa-times-circle" v-if="timeData.length>1" @click="deleteTime(index)">×</i>
                                     </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--批量修改分类-->
                            <div class="tag-picker" v-if="modalTogle==8">
                                <span>选择一级分类</span>
                                <div class="kui-select">
                                    <div class="pointer relative">
                                        <div class="relative no-select" @click="classifyFood.states=!classifyFood.states">
                                            <input type="text" placeholder="请选择" v-model="classifyFood.txt" readonly="readonly" class="form-control" />
                                            <span class="tag-picker-right">
												<span class="more-three" :class="[classifyFood.states?'threeBot':'threeTop']" ></span>
                                            </span>
                                        </div>
                                        <div class="kui-select-dropdown" v-show="classifyFood.states">
                                            <ul class="kui-select-option-list">
                                                <li class="kui-select-option" v-for="(item,index) in classifyFood.data" @click="classifyFn(item)">{{item}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center modal-footer">
                        <span class="kui-button bgbor-hover" @click="modalTogle=0">取消</span>
                        <span class="kui-button active" v-if="modalTogle==1" @click="batchSure">确认上架</span>
                        <span class="kui-button active" v-else-if="modalTogle==2" @click="batchSure">确认下架</span>
                        <span class="kui-button active" v-else-if="modalTogle==3" @click="batchSure">确认删除</span>
                        <span class="kui-button active" v-else @click="batchSure">确定</span>
                    </div>
                </div>
            </div>
        </div>
        <!--分类管理弹窗-->
        <div class="modal kui-modal backdrop" v-if="modalTogle==12">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header inline clear">
                        <span class="close" @click="modalTogle=0">×</span>
                        <h5 class="modal-title">分类管理</h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div style="height: 340px; overflow-y: scroll;overflow-x: hidden;" class="scrollBox">
                                <div class="edit-category">
                                    <!-- <div class="add-opr">
											<div class="row">
												<div class="item-8">
													<input class="form-control" v-model="addLang" />
												</div>
												<div class="item-4">
													<span class="kui-button active" @click="addLangFn">增加语言</span>
												</div>
											</div>
										</div>
										<div class="tip">
											<p>1、可以拖动分类进行排序，点击“+”添加分类描述，设置分时段置顶</p>
											<p>2、可通过下拉框设置至多一个【必选】分类和多个【可单独下单】分类</p>
											<p>3、设置【必选】后，未设置标签的分类下菜品将不可单独下单</p>
										</div> -->
                                    <div class="category-list">
                                        <div class="kui-form form-horizontal relative">
                                            <div>
                                                <div class="edit-item">
                                                    <div v-for="(x,indexF) in clasName" class="scrollFat">
                                                        <div class="row mid-gap">
                                                            <strong class="item-3" style="padding:6px">{{x.name}}:</strong>
                                                            <div class="item-5">
                                                                <input class="form-control" maxlength="12" v-model="addClasTxt[indexF]" oninput='this.value=this.value.replace(/^[ ]+[0-9]*$/gi,"")' />
                                                            </div>
                                                            <div class="item-3">
                                                                <div class="row">
                                                                    <span class="kui-button active pull-left" @click="addClasFn(indexF)">增加分类</span>
                                                                    <i class="opr-icon icon2 Tankuang" style="font-size: 10px;" @click="setPrint('sum'+indexF)">设置打印</i>
                                                                    <!-- <i class="opr-icon icon2" @click="closeLang(indexF)">×</i> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clear relative scrollItem" draggable="true" v-for="(item,index) in x.choice" @dragstart="startTd($event,indexF,index)" @dragend="endTd($event)">
                                                            <!-- <i class="opr-icon icon1">+</i> -->
                                                            <div class="form-group edit-name clear pull-left">
                                                                <div class="item-4 control-label">分类名称:</div>
                                                                <div class="item-8">
                                                                    <input class="form-control" v-model="item.name" />
                                                                </div>
                                                            </div>
                                                            <!-- <div class="pull-left m-left-cs relative">
																<input placeholder="--设置必选分类--" class="form-control" readonly="readonly">
																<span class=" triangle trianDown"></span>
															</div> -->
                                                            <i class="opr-icon icon2" @click="closeClas(indexF,index)">×</i>
                                                            <i class="opr-icon icon2 Tankuang" @click="setPrintChild(item.catId)" style="font-size: 10px;padding-left:20px; margin-left: 26px;" v-if="item.catId!=0">设置打印</i>
                                                        </div>
                                                    </div>
                                                    <!-- <div style="display:none">  分类管理的操作
															<div class="form-group edit-name clear">
																<div class="item-4 control-label">分类管理:</div>
																<div class="item-8">
																	<input class="form-control" />
																</div>
															</div>
															<div class="form-group edit-name clear">
																<div class="item-4 control-label">分类管理:</div>
																<div class="radio inline item-8">
																	<label class="label-radio inline">
																		<input type="radio" name="pre-status" value="1" />
																		<span class="custom-radio"></span>
																		<span class="custom-radio">关闭</span>
																	</label>
																	<label class="label-radio inline">
																		<input type="radio" name="pre-status" value="1" />
																		<span class="custom-radio"></span>
																		<span class="custom-radio">打开</span>
																	</label>
																</div>
															</div>
														</div> -->
                                                </div>
                                            </div>
                                            <div class="kui-select-dropdown class-dropdown" style="display: none;">
                                                <ul class="kui-select-option-list">
                                                    <li class="kui-select-option">必选</li>
                                                    <li class="kui-select-option">可单独下单</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-top-md text-capitalize text-center">
                                <span class="kui-button bgbor-hover" @click="modalTogle=0">取消</span>
                                <span class="kui-button active" @click="clasSure()">确认</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--设置商品分类打印参数-->
        <!--【岱山】----【岱山】----【岱山】----【岱山】----【岱山】----【岱山】----【岱山】-->
        <div class="modal kui-modal" v-if="modalTogles==1" style="z-index:1899">
            <div class="modal-dialog NeiNiner" style="min-width:400px;height: 200px;background: #FFF;border: 1px solid #bababa;border-radius: 10px;">
                <div class="AinderSon">
                    <span class="Swenzi">打印机参数</span>
                    <span class="Cunder" @click="modalTogles=0">×</span>
                </div>
                <div class="XunderSen">
                    <span class="Xin">打印机号码：</span>
                    <span class="Nind"><input type="text" name="printsNum" class="Sonder"></span>
                </div>
                <div class="XunderSen">
                    <span class="Xin">打印机密钥：</span>
                    <span class="Nind"><input type="text" name="printsKey" class="Sonder"></span>
                </div>
                <div class="FendSen">
                    <span class="Gin Qinxo" @click="modalTogles=0">取消</span>
                    <span class="Gin Quere" @click="printSure">确认</span>
                </div>
                <!--<div class="modal-content">-->
                <!--<div class="modal-header inline clear">-->
                <!--<span class="close" @click="modalTogles=0">×</span>-->
                <!--<h5 class="modal-title">打印机参数</h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-body" style="background-color: #fff;text-align: center">-->
                <!--<div>-->
                <!--<div class="form-group ">-->
                <!--<div class="item-4 control-label">打印机号码:</div>-->
                <!--<div class="item-8" style="width: 200px">-->
                <!--<input class="form-control"  name="printsNum"/>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group ">-->
                <!--<div class="item-4 control-label">打印机密钥:</div>-->
                <!--<div class="item-8" style="width: 200px">-->
                <!--<input class="form-control"name="printsKey" />-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="m-top-md text-capitalize text-center">-->
                <!--<span class="kui-button bgbor-hover" @click="modalTogles=0">取消</span>-->
                <!--<span class="kui-button active" @click="printSure">确认</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                </>
            </div>
        </div>
        <!--【岱山】----【岱山】----【岱山】----【岱山】----【岱山】----【岱山】----【岱山】-->
        <!--多规格下拉框-->
        <div class="kui-popup" :style="[specStyle]" v-show="specTogle" @click.stop>
            <div class="popup-skulist">
                <div v-if="specData && specData.length>0">
                    <div>规格：</div>
                    <ul class="sku-list" @click="modalTogle=10">
                        <li class="sku" v-for="(item,index) in specData">
                            <span class="spec ellip inline-block">{{item.name}}</span>
                            <span class="price ellip inline-block">￥{{item.price}}</span>
                            <span class="stock ellip inline-block">库存：{{item.kucun==-1?'无限':item.kucun}}</span>
                        </li>

                    </ul>
                </div>
                <div v-if="tasteData && tasteData.length>0">
                    <div class="m-top">口味：</div>
                    <ul class="sku-list" @click="modalTogle=11">
                        <li class="sku" v-for="(item,index) in tasteData">
                            <span class="spec ellip inline-block">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--编辑规格 9是批量设置价格      10是多规格单商品编辑规格   -->
        <div class="modal kui-modal backdrop" v-if="modalTogle==9||modalTogle==10">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header inline clear">
                        <span class="close" @click="modalTogle=0">×</span>
                        <h5 class="modal-title" v-if="modalTogle==9">{{modalTxt}}</h5>
                        <h5 class="modal-title" v-else>分类管理</h5>
                    </div>
                    <div class="kui-alert c-red" v-if="modalTogle == 9">
                        保存后，所选商品的规格、价格、库存都会更新为下方输入内容，请谨慎操作
                    </div>
                    <div class="modal-body">
                        <div>
                            <p class="text-center" v-if="modalTogle == 9">共选择了{{selectNumb}}件商品</p>
                            <div class="kui-table table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th v-if="modalTogle == 10||modalTogle==9">
                                                <span><label class="c-red">*</label>规格</span>
                                            </th>
                                            <th>
                                                <span><label class="c-red">*</label>价格</span>
                                            </th>
                                            <th>
                                                <span><label class="c-red">*</label>库存</span>
                                            </th>
                                            <th>
                                                <span><label class="c-red">*</label>包装盒价格</span>
                                            </th>
                                            <th>
                                                <span><label class="c-red">*</label>包装盒数量</span>
                                            </th>
                                            <th>
                                                <span>UPC/EAN/条形码</span>
                                            </th>
                                            <th>
                                                <span>SKU码/货号</span>
                                            </th>
                                            <th>
                                                <span>操作</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in specData">
                                            <td v-if="modalTogle == 10||modalTogle==9">
                                                <div class="kui-input normal">
                                                    <input type="text" v-model="item.name" maxlength="10" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="kui-input normal">
                                                    <input type="text" v-model="item.price" maxlength="7" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="kui-input normal">
                                                    <input type="text" v-model="item.kucun" maxlength="7" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="kui-input normal">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="kui-input normal">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="kui-input normal">
                                                    <input type="text" maxlength="20" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="kui-input normal">
                                                    <input type="text" maxlength="40" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <i class="icons fa-plus-circle" @click="addSpec">＋</i>
                                                <i class="icons fa-times-circle" @click="subSpec(index)" v-if="specData.length > 1">×</i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center m-top-lg">
                                <span class="kui-button" @click="modalTogle=0">取消</span>
                                <span class="kui-button active" @click="saveSpec()">保存</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--编辑口味-->
        <div class="modal spec-modal kui-modal backdrop" v-if="modalTogle == 11">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header inline clear">
                        <span class="close" @click="modalTogle=0">×</span>
                        <h5 class="modal-title">口味修改</h5>
                    </div>
                    <div class="modal-body">
                        <span class="inline-top">口味：</span>
                        <div class="inline">
                            <div class="mid-gap" v-for="(item,index) in tasteData">
                                <div class="box-input">
                                    <input type="text" maxlength="10" class="form-control" v-model="item.name" />
                                </div>
                                <span>
									<i class="icons fa-plus-circle" @click="addTaste">＋</i>
									<i class="icons fa-times-circle"  @click="subTaste(index)">×</i>
								</span>
                            </div>
                        </div>
                        <div class="text-center m-top-lg">
                            <span class="kui-button" @click="modalTogle=0">取消</span>
                            <span class="kui-button active" @click="saveTaste()">保存</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--选择时间-->
        <div class="time-box" :style="[timeStyle]" v-show="timeBox.box && modalTogle==7">
            <div class="time-select" v-show="timeBox.box==1">
                <div class="time-row clear">
                    <span class="time-arrow time-hoverBox time-arrowUp pull-left" @click="changeTime('h',1)"></span>
                    <span class="time-arrow time-hoverBox time-arrowUp pull-right" @click="changeTime('m',1)"></span>
                </div>
                <div class="time-rowcon clear">
                    <span class="text-bold fz-twenty item-4 text-left">
							<span class="time-hoverBox" @click="timeBox.box=2">{{timeBox['addsub']['h']}}</span>
                    </span>
                    <span class=" item-4 text-center lineHig">:</span>
                    <span class="text-bold fz-twenty item-4 text-right">
							<span class="time-hoverBox" @click="timeBox.box=3">{{timeBox['addsub']['m']}}</span>
                    </span>
                </div>
                <div class="time-row clear">
                    <span class="time-arrow time-hoverBox time-arrowBot pull-left" @click="changeTime('h',0)"></span>
                    <span class="time-arrow time-hoverBox time-arrowBot pull-right" @click="changeTime('m',0)"></span>
                </div>
            </div>
            <div class="time-option" v-show="timeBox.box==2">
                <div class="clear">
                    <span v-for="(item,index) in 23" @click="obtainHM('h',index)" class="item-3 time-numb">{{index}}</span>
                </div>
            </div>
            <div class="time-option" v-show="timeBox.box==3">
                <div class="clear">
                    <span v-for="(item,index) in 60" @click="obtainHM('m',index)" class="item-3 time-numb" v-if="index%3==0">{{index}}</span>
                </div>
            </div>
        </div>
        <!--错误提示-->
        <div class="errBox modal" v-if="errTips['state']">
            <div class="modal-dialog">
                <div class="errContent">
                    <p class="errtips">{{errTips.txt}}</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/business/shop.js"></script>
</body>


</html>
