<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/business/all.css" />
    <link rel="stylesheet" href="/static/css/business/time.css" />
    <link rel="stylesheet" href="/static/css/business/evaluate.css" />
    <link rel="stylesheet" href="/static/css/business/pages.css">
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/dateSelect-over.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/pages.js"></script>
</head>
<!--售后管理 用户评价-->

<body>
    <div class="evaluate content-wrapper" v-cloak>
        <div class="panel panel-default ">
            <div class="panel-body evaluation-heading ">
                <span>近30天评价统计：</span>
                <span class="general-grade">
                        商家评分
                        <b>{{arr.shopAvg}}<i class="rotatei menu-color"></i></b>
                        <span class="v-line"></span>
                </span>
                <span class="general-grade">
                        口味评分
                        <b>{{arr.tasteAvg}}<i class="fa-down menu-color"></i></b>
                        <span class="v-line"></span>
                </span>
                <span class="general-grade">
                        包装评分
                        <b>{{arr.warpAvg}}<i class="fa-up menu-color"></i></b>
                        <span class="v-line"></span>
                </span>
                <span class="general-grade">
                        配送评分
                        <b>{{arr.timeAvg}}<i class="fa-up c-red "></i></b>
                        <span class="c-grayest">（自建）</span>
                </span>
                <a class="pull-right c-grayest fz-hover" href="javascript:0;" @click="usexiqiClick()">查看评价统计详情<i class="menu-color"> ＞</i></a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group clear" v-for="(item,index) in radios">
                    <label class="control-label item-2 inline">{{item.val}}</label>
                    <div class="item-9 inline">
                        <div class="radio inline">
                            <label class="label-radio inline" v-for="(x,numb) in item.choice">
                                <input type="radio" :name="'pre'+index" v-model="item.sele" :value="x" @click="changeRadio" />
                                <span class="custom-radio"></span>
                                <span class="custom-radio">{{x}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group clear">
                    <label class="control-label item-2 inline">用户评论时间</label>
                    <div class="item-9 inline">
                        <div class="radio inline">
                            <div class="inline input-times">
                                <input type="text" id="date" v-model="time.start" @focus="time.name='start'">
                                <span class="DataIncon">
                                            <img src="/static/image/business/calendar.png">
                                        </span>
                            </div>
                            <span class="inline"> 至 </span>
                            <div class="inline input-times">
                                <input type="text" id="dateN" v-model="time.end" @focus="time.name='end'">
                                <span class="DataIncon">
                                            <img src="/static/image/business/calendar.png">
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default details-area" v-cloak>
            <div class="panel-heading">
                符合条件的评价：<strong>{{pinglun.length}}</strong>条
            </div>
            <div class="panel-body">
                <div>
                    <div class="details clear c-gray " v-for="(item,index) in pinglun" :key="index">
                        <div class="item-2 navs">
                            <div class="small-gap no-wrap">{{item.userName}}</div>
                            <div class="mid-gap small no-wrap">
                                商家评分{{item.scoreList[0].numb}}星：
                                <span v-if="item.scoreList[0].numb==5">无懈可击</span>
                                <span v-else-if="item.scoreList[0].numb >= 3">满意</span>
                                <span v-else-if="item.scoreList[0].numb ==2">一般</span>
                                <span v-else-if="item.scoreList[0].numb == 1">不满意</span>
                            </div>
                            <div class="mid-gap small no-wrap" v-if="item.shopReply!=''">
                                商家回复:
                            </div>
                            <div class="small-gap small" v-for="(x,indexS) in item.scoreList">
                                <template v-if="indexS < item.mores">
                                    {{x.name}}
                                    <span class="fz-zero inline">
                                <span class="stars-yellow" v-for="st in x.numb"></span>
                                    <span class="stars" v-for="st in (5-x.numb)"></span>
                                    </span>
                                </template>
                            </div>
                            <div class="c-grayest pointer small" v-show='item.mores<3' @click="scoreMore(index)">
                                更多评价
                                <i class="bracketsMore"></i>
                                <!--stop-->
                            </div>
                        </div>
                        <div class="con item-10">
                            <div class="c-grayest small-gap small">{{item.createTime}}
                                <!--<span class="t-line"></span>28分钟送达--></div>
                            <div class="small-gap">{{item.content}}</div>
                            <div class="small-gap" v-if="item.shopReply!=''">{{item.shopReply[0]['content']}}</div>
                            <div class="w-grayer clear">
                                <div class="small-gap small user-des" v-if="item.goodslist!=''">
                                    <img class="icon-sms" src="/static/image/business/zan2.png" />{{item.goodsName}}
                                </div>
                                <div class="small-gap small user-des" v-if="item.tagStr!=''">
                                    #{{item.tagStr}}
                                </div>
                            </div>
                            <div>
                                <span class="menu-color m-right pointer" @click="writeTogle(index)" v-if="item.shopReply==''">
                                <img class="icon-sms" src="/static/image/business/infor2.png" />
                                回复
                            </span>
                                <!-- <span class="menu-color m-right pointer" @click="grantTicketFn(index)">
                                <img class="icon-sms" src="/static/image/business/ticket.png" />
                                发券
                            </span> -->
                                <span class="m-right pointer report" @click="reportFn(index)">
                                <span class="backicon-sm"></span> 举报
                                </span>
                            </div>
                            <div class="reply-area" v-show="item.writePl">
                                <div class="input-area">
                                    <textarea class="form-control" maxlength="300px" v-model='item.writeTxt'></textarea>
                                    <div class="small m-top mid-gap">
                                        <div class="kui-button-menu active" @click="replyFn(index)">回复</div>
                                        <div class="kui-button-menu" @click="writeTogle(index)">取消</div>
                                    </div>
                                </div>
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notOrder" v-if="pinglun.length<=0">
                    <img class="notOrder-icon" src="/static/image/business/order.png" />
                    <p class="notOrder-title">暂无评价</p>
                    <div class="notOrder-word">暂时没有该筛选条件的评价，稍后再来看看吧!</div>
                </div>
            </div>
        </div>
        <!--分页-->

        <div style='text-align:center;display: initial;' class="pages">
            <!-- 分页 -->
            <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
        </div>
        <!--发券-->
        <!-- <div class="modal kui-modal backdrop createCoupon" v-show="modalTogle==1">
                <div class="modal-dialog modal-lg " >
                    <div class="modal-content">
                        <div class="modal-header inline clear">
                            <span class="close" @click="modalTogle=0">×</span>
                            <h3 class="modal-title">精准营销</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal mar-lr">



                        <div class="form-group mg-bot  button-area">
                            <label class="item-3 labLine text-right label-checkbox">
                                <input type="checkbox" name="week" v-model="couponData.check" @click="couponFn" />
                                    <span class="custom-checkbox"></span>
                                                                     我已同意
                            </label>
                            <a href="javascript:;" id="dihe" class="menu-color inline labLine">《商家自营销协议》</a>
                        </div>
                        <div class="form-group button-area">
                            <button class="btn btn-primary" :disabled="couponData.disabled" @click="grant">立即发券</button>
                        </div>

                    </form>


    <div class="efNerMet" style="display: none">
        <div class="ceGenDer">
             <div class="ConUer">商家自营销协议<span class="gUanbIn">×</span></div>
            <div class="NeiRongO">
                1. 店铺优惠活动可以与阿凡提外卖平台的其他活动同时进行，如满减等；店铺优惠可以和阿凡提外卖红包同时使用；<br/>
                2. 店铺优惠活动的促销成本由商家自己承担，我公司（阿凡提）只是提供阿凡提外卖平台的服务方；商家不得要求我公司（阿凡提）开具有关“店铺优惠”的发票；<br/>
                3. 店铺优惠的实际归属为各个开展活动的商家，我公司（阿凡提）只负责代发，归属权不属于我公司（阿凡提）；<br/>
                4. 针对确认收货的订单，我公司（阿凡提）向商家支付的结算金额中不包括商家店铺自己发放的优惠金额，即：合同中的结算价为净值（原订单金额 - 商家店铺优惠金额）；
            </div>
        </div>
    </div>

<script>
$(function(){
    $("#dihe").click(function(){ //  点击
        $(".efNerMet").show();
    });
    $(".gUanbIn").click(function(){ //  点击 【×】 【关闭 efNerMet 】
        $(".efNerMet").hide();
    });
});
</script>










                        </div>

                    </div>
                </div>
            </div> -->
        <!--举报-->
        <div class="modal kui-modal backdrop" v-show="modalTogle==2">
            <div class="modal-dialog modal-sm ">
                <div class="modal-content">
                    <div class="modal-header inline clear">
                        <span class="close" @click="modalTogle=0">×</span>
                        <h4 class="modal-title">可举报的而已评价</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="report-type c-gray ">
                            <li v-for="(item,index) in reportData">
                                <span class="circle"></span>{{item}}
                            </li>
                        </ul>
                        <div class="alert-danger">只有以上类型的恶意评价可举报，如滥用举报，将影响您的商家排名</div>
                    </div>
                    <div class="text-center m-top-lg modal-footer">
                        <span class="kui-button-menu active"><a cla href="javascript:0;"  id="goto"style="color:#fff">继续举报</a></span>
                        <span class="kui-button-menu" @click="modalTogle=0">取消</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/business/evaluate.js"></script>
</body>

</html>