<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>阿凡提</title>
    <link rel="stylesheet" href="/static/css/business/usexiqi.css">
    <script src="/static/js/public/jquery.min.js"></script>

    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    
</head>

<body>
    <div class="dec" v-cloak>
        <div class="cedc"><img class="ijdf" src="/static/image/business/401.png">用户评价 > <span class="tonhj">评价统计</span></div>
        <div class="bigneikaung">
            <div class="oneku">
                <div class="a_pink">
                    <div class="fen">{{dataza.shopAvg}}<span class="fenspan">↓</span></div>
                    <div class="cek">
                        <div class="tobiao">
                            <img class='imh' v-for="item in dataza.shopAvgs" src='/static/image/business/huang.png' />
                            <img class='imh' v-for="item in 5-dataza.shopAvgs" src='/static/image/business/bai.png' />
                        </div>
                        <div class="pinfen">商家评分</div>
                    </div>
                </div>
                <div class="b_pink">
                    <div class="ckcewo">
                        <div class="ekino">{{dataza.tasteAvg}}<span class="all_san">↓</span></div>
                        <div class="kouweei">口味评分</div>
                    </div>
                </div>
                <div class="c_pink">
                    <div class="edcewo">
                        <div class="ekicdo">{{dataza.warpAvg}}<span class="all_si">↓</span></div>
                        <div class="kou_weei">包装评分</div>
                    </div>
                </div>
                <div class="d_pink">
                    <div class="edcllc">
                        <div class="ekidscdo">{{dataza.timeAvg}}<span class="all_fsi"><img src="/static/image/business/zuixiao.png"></span></div>
                        <div class="kouei">配送评分<span class="jtime">{{dataza.dct}}min</span></div>
                    </div>
                </div>
            </div>
            <div class="efjo_dwiteo">
                <div class="xai_zuo">
                    <div class="ruxians" style="display: none;">评价口碑是指商家在评分在同城的排名情况</div>
                    <img class="eije" style="display: none;" src="/static/image/business/jhk.png">
                    <div class="pinjdw">评价口碑<span @mousemove="chu()" @mouseout="yin()" class="wnejha">?</span></div>
                    <div class="sdkj">
                        <div class="yuanaxin">
                            <canvas id="my_html" width="150" height="150"></canvas>
                        </div>
                        <div class="hescs">
                            <div class="esceqj" v-if="dataz.cousco<25">您的评分等级为"较差"，提升空间巨大！</div>
                            <div v-else-if="dataz.cousco<50" class="esceqj">您的评分等级为"一般"，提升空间巨大！</div>
                            <div v-else-if="dataz.cousco<75" class="esceqj">您的评分等级为"良好"，请继续努力！</div>
                            <div class="esceqj" v-else-if="dataz.cousco<90">您的评分等级为"优秀"，继续向前冲刺吧！</div>
                            <div class="esceqj" v-else-if="dataz.cousco==0">您还未有评分呢！</div>
                            <div class="esceqj" v-else>您的评分等级为"极好"，请继续保持！</div>
                            <div class="xsadcc">商家评分只超过 <span class="fenbui">{{dataz.cousco}}</span>% 同行，关注评价建议可改善口碑哦！</div>
                            <img class="xia_eije" src="/static/image/business/jhk.png">
                        </div>
                    </div>
                    <div class="ejhuihwe">
                        <div class="wnzifen">
                            <span>较差</span>
                            <span>一般</span>
                            <span>良好</span>
                            <span>优秀</span>
                            <span>极好</span>
                        </div>
                        <div class="junse">
                            <div class="se_one"></div>
                            <div class="se_two"></div>
                            <div class="se_three"></div>
                            <div class="se_four"></div>
                            <div class="se_five"></div>
                        </div>
                        <div class="wnzicefen">
                            <span>0%</span>
                            <span>25%</span>
                            <span>50%</span>
                            <span>75%</span>
                            <span>90%</span>
                            <span>100%</span>
                        </div>
                    </div>
                    <div class="weibu">中差评统计<span>(近30天一二星统计)</span></div>
                    <div class="bais">您的店铺在<span class="cedcsap">各个</span>评分收获中差评的统计如下，请着重优化中差评的评价，以提升店铺口碑！</div>
                    <div class="ckcjdk">
                        <div class="xzuao">商品差评</div>
                        <div class="zhongjian" v-if="dataz.goodsScore>0">
                            <div class="tijhiwq" style="width: 100%;background: #eda08f;"></div>
                        </div>
                        <div class="zhongjian" v-else>
                            <div class="tijhiwq" style="width: 100%;background: #77dc22;"></div>
                        </div>
                        <div class="xais">{{dataz.goodsScore}}</div>
                    </div>
                    <div class="ckcjdk">
                        <div class="xzuao">包装差评</div>
                        <div class="zhongjian" v-if="dataz.warpScore>0">
                            <div class="tijhiwq" style="width: 100%;background: #eda08f;"></div>
                        </div>
                        <div class="zhongjian" v-else>
                            <div class="tijhiwq" style="width: 100%;background: #77dc22;"></div>
                        </div>
                        <div class="xais">{{dataz.warpScore}}</div>
                    </div>
                    <div class="ckcjdk">
                        <div class="xzuao">口味差评</div>
                        <div class="zhongjian" v-if="dataz.tasteScore>0">
                            <div class="tijhiwq" style="width: 100%;background: #eda08f;"></div>
                        </div>
                        <div class="zhongjian" v-else>
                            <div class="tijhiwq" style="width: 100%;background: #77dc22;"></div>
                        </div>
                        <div class="xais">{{dataz.tasteScore}}</div>
                    </div>
                    <div class="ckcjdk">
                        <div class="xzuao">服务差评</div>
                        <div class="zhongjian" v-if="dataz.serviceScore>0">
                            <div class="tijhiwq" style="width: 100%;background: #eda08f;"></div>
                        </div>
                        <div class="zhongjian" v-else>
                            <div class="tijhiwq" style="width: 100%;background: #77dc22;"></div>
                        </div>
                        <div class="xais">{{dataz.serviceScore}}</div>
                    </div>
                    <div class="ckcjdk">
                        <div class="xzuao">配送差评</div>
                        <div class="zhongjian" v-if="dataz.timeScore>0">
                            <div class="tijhiwq" style="width: 100%;background: #eda08f;"></div>
                        </div>
                        <div class="zhongjian" v-else>
                            <div class="tijhiwq" style="width: 100%;background: #77dc22;"></div>
                        </div>
                        <div class="xais">{{dataz.timeScore}}</div>
                    </div>
                </div>
                <div class="xia_you">
                    <div class="ewjsh_ei">评价关键词</div>
                    <div class="xscde_jw">
                        <template v-for="(item,index) in dataz.tag">
                            <span class="spaner">{{item.name}}({{item.count}})</span>
                        </template>
                    </div>
                    <!-- <div class="ewj_ei">商品好评榜<span class="ekio_ojiw">(历史统计结果)</span></div>
           <div class="elkf_cje">
                <div class="xqwlkj"><img src="/static/image/business/lohik.png" height="50" width="50"></div>
                <div class="cekwjo">
                      <div class="ewnfow"><span class="ewio_je">No.1</span>周瑜凉皮</div>
                      <div class="qwedfm">
                          <img class="sejno" src="/static/image/business/21d.png" height="12" width="11"> 赞
                          <span class="xcxascxac">月销24</span>
                      </div>
                </div>
           </div>

           <div class="cdevwvw">商品差评榜<span class="ekicdsiw">(历史统计结果)</span></div>
           <div class="bgerbebeb">
                    <div class="cwekj"><img src="/static/image/business/ckcwac.png" width="50" height="50"></div>
                    <div class="ekfcho">被踩过的商品很少，请继续保持！</div>
           </div> -->
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/business/usexiqi.js"></script>
    <script src="/static/js/business/progress.js"></script>
</body>

</html>