.center{
    background-color: #ffffff;
    display: flex;
    width: 96%;
    min-height: 600px;
    margin: 20px auto;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
.codeImg{
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 250px;
    flex-wrap: wrap;
    width: 285px;
    margin-left: 20px;
}
.codeImg img{
    width: 200px;
    height: 200px;
}
.header{
    height: 35px;
    padding: 13px 20px;
    background: #fff;
    position: relative;
}

.kui-button{
    color: #fff;
    background-color: #06c1ae;
    border-color: #06c1ae;
}
.opr-edit {
    color: #06C1AE;
    font-size: 13px;
    margin-right: 4px;
}
.inline {
    display: inline-block;
    vertical-align: middle;
    color: #06c1ae;
}
/*-------------------------------------------------------*/
.center table{
font-size: 16px;
text-align: center;
}

table thead{
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.desk-download,.desk-edits{
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.desk-edits{
    color: #ff0000;
}

/* 新增预定座位弹出框 */
.newAdd-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}
.newAdd{
    width: 50%;
    height: 600px;
    background-color: #fff;
    border-radius: 8px;
    overflow: auto;
    
}
.heading{
    color: #2a2a2a;
    background-color: #53beb7;
    border-color: #fafafa;
    padding: 10px 15px;
    color: #fff;
}
.heading .close{
 font-size: 28px;
 float: right;
 line-height: 18px;
 cursor: pointer;
}
.newAdd-content{
    padding: 30px 0 0 30px;
}
.filIn{
     line-height: 32px;
}
.filIn .name{
    display: inline-block;
    width: 120px;
    text-align: right;
}
.filIn input{
    line-height: 32px;
    border-radius: 5px;
    width: 300px;
    margin-left: 16px;
    border: solid 1px #dedede;
    padding-left: 10px;
}
.list-item{
    margin-bottom: 18px;
      box-sizing: border-box;
}

#aptitude{
    position: absolute;
    top: 100%;
    left: 140px;
}
.tz-datepicker{
    width: 294px;
    border-radius: 5px;
    position: fixed !important;
    box-sizing: content-box;
}
.week ul li{
    width: 42px;
}
.day ul li{
    width: 42px;
}

.hour-min{
    position: absolute;
    top: 100%;
    left: 140px;
    width: 300px;
    max-height: 300px;
   border-radius: 5px;
   border: solid 1px #dedede;
   overflow: auto;
   background-color: #fff;
   z-index: 99;
}
.hour-min li{
border-bottom: solid 1px #efefef;
padding: 1px 30px;
cursor: pointer;
}
.hour-min li:hover{
    background-color: #efefef;
}
.hour-min::-webkit-scrollbar {
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.label-radio{
    margin-left: 16px;
}


.butSure{
    width: 50%;
    height: 38px;
    line-height: 38px;
    border-radius: 5px;
    background-color: #53beb7;
    color: #fff;
    font-size: 15px;
    text-align: center;;
    letter-spacing: 3px;
    margin: 100px auto 0;
    cursor: pointer;
}

/*-------------*/
.d-preview{
     opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: absolute;
    width: 1px;
    height: 1px;
    top: 0;
    right: 100%;
    z-index: 1003;
    background: #fff;
}
/*.showImg*/
.ewmShow:hover+.d-preview{
     width: 130px;
    height: 130px;
    right: 140px;
    top: 50%;
    opacity: 1;
    webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 3px 5px 10px #ddd;
    
  }
.ewmShow{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/*------------------------------------弹出框-------------------------------------*/
.kui-modal.backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.kui-modal.modal {
    display: block;
}
.modal-sm {
    width: 360px;
}
.modal-max {
    width: 650px;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    box-sizing: border-box;
}

.kui-modal .modal-dialog {
    position: fixed;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.175);
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    overflow: hidden;
    border: none;
    border-radius: 4px;
    box-shadow: none;
}

.modal-header {
    background-color: #f7f7f7;
    border: 0 none;
    padding: 3px 20px;
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
}

.modal-header .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .6;
    margin-top: 3px;
    cursor: pointer;
}

.modal-header .modal-title {
    color: #6a6a6a;
    margin: 0;
    line-height: 2;
}

.modal-body {
    overflow: auto;
    max-height: 420px;
    position: relative;
     padding: 30px 20px 36px;
}
.modal-footer {
        padding: 0 60px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/******************************************/

h5 {
    font-size: 14px;
}

.modal-lg{
    width: 630px;
    margin: 30px auto;
}


.modal-evaluate-delivery .give-mark {
       /* margin-left: 48px; */
    font-size: 16px;
}
.vote-star{
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}
.vote-star .icon-stars {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 2px;
}

.modal-evaluate-delivery textarea {
    width: 80%;
    margin: 0 10%;
    height: 100px;
    resize: none;
    border: 1px solid #ddd;
    padding: 10px;
}
textarea.form-control {
    line-height: 22px;
}
.borRed{
    background-color: #ff0000;
    border: solid 1px #ff0000;
}
.bfc{
    padding: 6px 26px;
    margin:0 3px 0 20px;
    cursor: pointer;
}
[v-cloak] {
    display: none;
}