*{
    margin: 0px;
    padding: 0px;
}
[v-cloak] {
    display: none;
}
/*body{
     background: #bababa;
     padding-left: 200px;
}*/
.dec{
    min-height: 500px;
    background: #ebeef2;
    padding: 30px 80px 550px 25px;
}
.csakj_iw{
    width: 100%;
    height:35px;
    line-height: 35px;
  /*  background:red;*/
    font-size: 13px;
}
.cdek{
    color: #06c1ae;
}

.csacsdk_w{
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #fafafa;
    font-size: 15px;
    text-indent: 1em;
}

.conry{
    min-height: 255px;
    background: #fff;
    padding: 0 0 10px 0;
}

.secdk_sk{
    min-height: 120px;
    border-bottom:1px dashed #ccc;
}

.secdk_on{
    min-height: 80px;
    border-bottom:1px dashed #ccc;
}
.secdk_df{
    min-height: 50px;
    border-bottom:1px dashed #ccc;
}
.kcks_wdc{
    height: 30px;
    line-height:30px;
    /*background: red;*/
    padding: 0 0 0 250px;
    font-size: 14px;
}
.cdck{
    margin:0 10px 0 0;
}

.kgtg_wdc{
    height: 30px;
    line-height: 30px;
    /*background: red;*/
    padding: 0 0 0 0px;
    font-size: 14px;
}
.number{
    margin:0 0 0 40px;
}
.money{
    margin:0 0 0 90px;
}
.caibiaoti{
    width:303px;
    height:30px;
    line-height: 30px;
    display: inline-block;
    text-align: right;
}





.kgtg_frr{
    height: 30px;
    line-height: 30px;
    /*background: red;*/
    padding:4px 0px;
    font-size: 14px;
}
.caib_iaoti{
    width:303px;
    height:30px;
    line-height: 30px;
    display: inline-block;
    text-align: right;
}
.numb{
    margin:0 0 0 40px;
}



.dhmkl_olol{
    height: 30px;
    line-height: 30px;
    /*background: red;*/
    padding:4px 0px;
    font-size: 14px;
    font-weight: 900;
}
.cai_ti{
    width:303px;
    height:30px;
    line-height: 30px;
    display: inline-block;
    text-align: right;
    font-weight: 900;
    color:#000;
}
.turnnumb{
    font-size: 13px;
    margin:0 0 0 40px;
    color:#06c1ae;
}


.tizhuansong{
    width:100%;
    height:25px;
    line-height: 25px;
    font-size: 13px;
    color:#666;
}





