* {
    margin: 0px;
    padding: 0px;
}
[v-cloak] {
    display: none;
}
body {}

.preOrder {
    padding: 10px 20px 0 20px;
    background: #ebeef2;
}


.Sinfer {
    min-height: 200px;
    background: #fff;
    padding: 0 0 20px 0;
}


.XinPin {
    width: 100%;
    height: 30px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    /*padding: 0 10px;*/
}


.zuol {
    margin: 0 20px;
}

.youl {
    margin: 0 20px;
}




.TextEn {
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid #9b9b9b;
}


.lou {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Ain {
    background: #3dc6b6;
    color: #fff;
}

.Bin {
    background: #fff;
}

.Cin {
    background: #fff;
}

.Din {
    background: #fff;
}



/*.imgone{*/


/*position: absolute;*/


/*right: -20px;*/


/*top: 0;*/


/*z-index: 1;*/


/*}*/

.lvse {
    border: 2px solid #bababa;
    width: 25px;
    height: 25px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    right: -15px;
    top: 6px;
    z-index: 1;
    background: #3dc6b6;
    border-bottom: 2px solid #3dc6b6;
    border-left: 2px solid #3dc6b6;
}

.lvser {
    border: 2px solid #bababa;
    width: 25px;
    height: 25px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    right: -15px;
    top: 6px;
    z-index: 1;
    background: #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}


/**************************************************************************************/

.KunDer {
    width: 80%;
    height: 400px;
    border: 1px solid #bababa;
    margin: auto;
    margin-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
}



.titler {
    height: 30px;
    line-height: 30px;
    text-align: center;
    /*background: red;*/
    margin: 30px 0 0 0;
    font-size: 16px;
}


.togetering {
    height: 30px;
    line-height: 30px;
    /* background: #bababa; */
    padding: 0 2em;
}

.Xinfer {
    padding: 0 30px;
    margin: 0 0 10px 0;
}


.CS {
    font-weight: 800;
}


.FonDer {
    width: 80%;
    height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bababa;
    margin: auto;
}


.Acunder {
    width: 100%;
    height: 30px;
    /*background: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}



.XinSon {
    height: 30px;
    line-height: 30px;
    width: 80px;
    background: #3dc6b6;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.XinSon:hover {
    background: #2ad6c2;
}












/*****************【弹出框】【弹出框】【弹出框】【弹出框】*****************/

.Sinden {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.XonDen {
    width: 430px;
    height: 170px;
    background: #fff;
    border-radius: 10px;
}

.Sinftin {
    height: 40px;
    background: #ededee;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Xiaoti {
    font-size: 20px;
}

.Xoufer {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.Hinder {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Xper {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Quxa {
    width: 80px;
    height: 36px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.Comfirm {
    width: 80px;
    height: 36px;
    border: 1px solid #3dc6b6;
    background: #3dc6b6;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    border-radius: 5px;
}


.Comfirm:hover {
    background: #08ccb5;
}

input[type="checkbox"] {
    position: relative;
    top: 0;
    z-index: 2;
    width: 14px;
    height: 14px;
    margin-top: 0px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 1;
}