body{
    background: #efeef4;
}

.dec{
    min-height: 1000px;
    /*background: #ebeef2;*/
    padding: 10px 30px 550px 25px;
}
[v-cloak] {
    display: none;
}
.ckewfe{
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    font-size: 13px;
    color: #000;
    font-weight: 900;
    padding: 0 0 0 20px;
}

.xkiw_xjn{
    height: 80px;
    display: flex;
    background: #fff;
    padding: 0 0 0 30px;
    align-items: center;
}
.cej_Jon{
    width: 250px;
    height: 60px;
    display: flex;
    border: 1px solid #666;
    align-items: center;
}
.zuo{
    width: 50px;
    height: 50px;
    /*border:1px solid #666;*/
    margin-left: 10px;
}

.zhong{
    width: 120px;
    height: 50px;
    border-right: 1px solid #666;
    margin-left: 10px;
    /*background: red;*/
}

.cejkK{
    width: 60px;
    height: 50px;
    /*background: pink;*/
  
}
.cek{
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    color: #000;
}
.reea{
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #eee;
}

.deew{
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #999; 
}
.ions{
    height: 30px;
    font-size: 15px;
    color: red;
    text-align: center;
}
.wscc{
    height: 20px;
    font-size: 10px;
    color: #bababa;
    text-align: center;
}


.oner{
    height: 60px;
    display: flex;
    background: #fff;
    font-size: 13px;
    color: #000;
    align-items: center; 
}

sub{
    color: red;
}

.toumin{
    width: 150px;
    height: 60px;
    line-height: 60px;
    /*background: pink;*/
    text-align: right;
}

.onertext{
    width: 250px;
    height: 30px;
    border:1px solid #eee;
    border-radius: 3px;
    text-indent: 1em;
    margin-left:20px;
    outline:none;
}

.cico{
    margin-left:20px;
}
.dewi{
    font-size: 10px;
    color: #666;
    margin-left: 20px;
}

.cekoo{
    margin-left: 20px;
}
.ckiisk{
    margin-left: 20px;
}

.onecefcxt{
    width: 197px;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 3px;
    text-indent: 1em;
    margin-left: 20px;
    outline: none;
}

.timexc{
    font-size: 10px;
    color: #666;
    margin-left: 20px;
}



.onercdcve{
    height: 60px;
    display: flex;
    background: #fff;
    font-size: 13px;
    color: #000;
    align-items: center;
    padding: 0 0 0 170px;
}

.cekos{
    color: #06c1ae;
    cursor: pointer;
}

.ondeve{
    height: 60px;
    display: flex;
    background: #fff;
    font-size: 13px;
    color: #000;
    align-items: center;
    padding: 0 0 0 170px;
}

.sjwi{
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #06c1ae;
    cursor: pointer;
    border-radius:5px;
}


.xwic{
    width: 50px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #06c1ae;
    border:1px solid #06c1ae;
    cursor: pointer;
    margin-left: 30px;
    border-radius:5px;  
}






.cdeGjh_kw{
    width: 100%;
    height:100%;
    position: fixed;
    left: 0px;
    top:0px;
    background: rgba(0,0,0,0.5);
}
.c_Doi{
    width: 600px;
    height:100%;
    /*background: red;*/
    display: flex;
    align-items: center;
    margin: auto;
}
.cH_wAj{
    width: 600px;
    height: 325px;
    background: #fff;
}



.ck_Uio{
    height:40px;
    line-height:40px;
    font-size: 13px;
    padding:0 20px;
    background: #fafafa;
}
.Hh_kjh{
    width: 40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    float: right;
    cursor: pointer;
}



.creo{
    padding: 0 20px;
    font-size: 13px;
    line-height: 15px;
}









