<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>阿凡提商家版</title>
    <link rel="stylesheet" href="/static/css/business/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/business/index.css" />
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>

<body>
    <div id="wrapper" v-cloak @click="allFn">
        <div class="indexTop">
            <div class="home-wrapper">
                <a class="home-link" href="javacscipt:" :class="{'navWidth':navState}">
					<span class="project-name" v-if="!navState">阿凡提点餐商家版</span>
					<div class="title-content" :class="{'project-name':navState}">
						<img src="/static/image/business/home.png" />
					</div>
				</a>
                <a class="toggle-btn" href="javascript:" @click="navWidth">
					<img src="/static/image/business/toggle-btn.png" />
				</a>
            </div>
            <div class="pull-left input-group">
                <input type="text" placeholder="手机号或订单号" class="form-control" />
                <div class="input-group-btn">
                    <button class="btn" @click="btnClick()">
                        <span class="glyphicon"></span>
                    </button>
                </div>
            </div>
            <div class="pull-right user-section">
                <div class="pull-left box">
                    <a href="javascript:" class="text">
						<!--<span class="names">{{shop.shopName}}</span>-->
					</a>
                </div>
                <div class="pull-left box">
                    <a href="javascript:" class="text">
					   营业状态：
						
						<span class="names tz" v-if="shopAtive==1" @click="tzClick()" >营业中</span>
						
						<span class="names kq"  v-else-if="shopAtive==0||shopAtive==-1" style="color:#FF0000;font-weight: 700" @click="kqClick()" >已停业</span>
						
						<span class="names xx" v-else @click="xxClick()" >休息中</span>
					<!-- <if condition="$shopAtive['shopAtive'] eq 1 ">
						<span class="names tz">营业中</span>
						<elseif  condition="($shopAtive['shopAtive'] eq 0) OR ($shopAtive['shopAtive'] eq -1)" />
						<span class="names kq" style="color:#FF0000;font-weight: 700">已停业</span>
						<else />
						<span class="names xx">休息中</span>
						</if> -->

						<!-- <span >
							<i class="fa-angle-down fa">></i>
						</span> -->
					</a>
                </div>
                <div class="pull-left box" id="touding">
                    <a href="javascript:" class="text" id="text">
						<span id="nameser" @mouseover="mdMouseover()" @mouseout="mdMouseout()" class="names">{{shop.shopName}}</span>
						<span >
							<i class="fa-angle-down fa">></i>
						</span>
					</a>
                    <div id="Defkjw" class="Defkjw" @mouseover="mdMouseover()" @mouseout="mdMouseout()" style="display: none">
                        <div class="bin xiugaimima" @click="passWordClick()"><a>修改密码</a></div>
                        <div class="bin xiugaiphone" @click="phoneClick()">修改手机</div>
                        <div class="bin loginout" @click="loginoutClick()"><a>退出</a></div>
                    </div>
                </div>
                <div class="pull-left wm-notice bg-green">
                    <span>
						<i class="fa fa-custom-notice">
							<a href="javascript:0;" target="_blank" @click="ActMesgClick()"><img src="/static/image/business/custom-notice.png" /></a>
						</i>
					</span>
                </div>
            </div>
        </div>
        <!--  javascript:void(0) :href="'#main'+pindex" :style="{navStyle.nav:navState}"-->
        <div class="aside" :class="{'navWidth':navState}" @mouseover="navMouseFn()" @mouseout="navMouseFn()">
            <div class="sidebar-inner">
                <div class="main-menu">
                    <ul>
                        <li class="openable" v-for="(item, pindex) in navData" v-bind:class="{active:navs==pindex}">
                            <a :href="item.hash" class="nav-header" :class="{collapsed:itemShow===pindex}" @click="navChoice(pindex)">
                                <div class="fa-wrapper">
                                    <i class="fa" v-if="navs==pindex"><img  :src="'/static/image/business/'+item.img1"/></i>
                                    <i class="fa" v-else><img  :src="'/static/image/business/'+item.img" /></i>
                                </div>
                                <span class="text">{{item.name}}</span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul id="menu1" class="navs nav-list submenu collapse in" v-if="item.item" v-show='itemShow===pindex && !navState'>
                                <li v-for="(x, index) in item.item" v-if="x.name" @click="navItemChoice(index)" :class="{active:navItems==index}"><a :href="x.hash">{{x.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" target="hashframe" class="pageSrc"></a>
                </div>
            </div>
        </div>
        <div id="main-container" :class="{'navMar':navState}">
            <div id="main-content" v-for="iframes">
                <iframe :src="pageSrc" width="100%" height="100%" border="0" frameborder="no" name="hashframe" id="iframe"></iframe>
            </div>
        </div>
        <!-- :src="pageSrc" -->
    </div>
    <script type="text/javascript" src="/static/js/business/index.js"></script>
</body>

</html>