<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章管理</title>
    <link rel="stylesheet" href="/static/css/business/all.css"/>
    <link rel="stylesheet" href="/static/css/business/article.css"/>
    <link rel="stylesheet" href="/static/css/business/time.css">
    <link rel="stylesheet" href="/static/css/business/pages.css">
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<body>

<div class="Huod" v-cloak>
    <!--<h1 ><a href="/index.php/Business/Setshop/shopVip" class="laijie" >设置会员等级</a></h1>-->
    <div class="search">
        <input name="mobile" class="Cinpr" type="text" placeholder="通过搜索手机号查找会员"> <span class="Xin"
                                                                                        @click="Submit()">搜索</span>
    </div>

    <!--<div class="Minew"> <span class="Xince">发送短信</span> </div>-->

    <div class="content">
        <div class="hangius" style="display:none;">店铺名：{{dataz['shopName']}}</div>
        <table id="div1">
            <thead>
            <tr>
                <td>
                    <input type="checkbox" class="allINte" name="allINte" value="" @click="allINteClick()"/>
                </td>
                <td>编号</td>
                <td width="200">标题</td>
                <td width="300">内容</td>
                <td>封面图片</td>
                <td>视频</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in dataz">
                <td>
                    <input type="checkbox" name="vehicle" value=""/>
                </td>
                <td>{{item.id}}</td>
                <td><p>{{item.title}}</p></td>
                <td><p>{{item.content.text}}</p></td>
                <td><img :src="'https://image.aftdca.com/'+item.invert_picture" width="100"/></td>
                <td>
                    <video :src="'https://image.aftdc.com/'+item.video" controls="controls"
                           style="width: 200px;"></video>
                </td>
                <td>
                    <a style="cursor: pointer; color:  #06c1ae;margin-right: 5px">修改</a>
                    <a style="color: red;cursor: pointer;">删除</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center " v-if="pageNumb>0">
            <ul class="pagination many-pagination">
                <!--.kui-pagination-->
                <li class="disabled" :class="[pageCurent==1?'disabledN':'disabledY']" @click="pageSub(pageCurent - 1)">
                    <a>«</a>
                </li>
                <li :class="{'active':pageCurent==index+1}" v-if=" showText(index+1)" v-for="(item,index) in pageNumb"
                    @click="pageClick(index+1)">
                    <a>{{showText(index+1)}}</a>
                </li>
                <li class="disabled" :class="[pageCurent==pageNumb?'disabledN':'disabledY']"
                    @click="pageAdd(pageCurent + 1)">
                    <a>»</a>
                </li>

            </ul>
            <div>第<input type="text" class="goto">/{{pageNumb}}页 <input type="button" value="go" @click="pageGo()">
            </div>

        </div>

    </div>
    <div class="updataClass">
        <div class="content">
            <div class="top">
                修改文章
                <span class="close"></span>
            </div>
            <div class=" content_class">
                <span> 标题：</span><input type="text"  placeholder="标题">
            </div>
            <div class=" content_class">
                <span> 内容：</span><textarea rows="3" cols="50%"  placeholder='内容'></textarea>
            </div>

        </div>
    </div>
</div>

<script src="/static/js/business/article.js"></script>
</body>
</html>