<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>阿凡提</title>
    <link rel="stylesheet" href="/static/css/business/HuoDong.css">
    <link rel="stylesheet" href="/static/css/business/time.css">
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/jquery.min.js"></script>
</head>

<!-- 营销活动   店铺活动 -->
<body>
<div id="app" v-cloak>
    <div class="liebiapxz">活动创建</div>

    <div class="allonekuang">
        <!--循环循环循环循环循环循环循环循环-->
        <div class="xunhuankuang">
            <div class="bigkua">
                <div class="jian" id="Nojian">减</div>
            </div>
            <div class="bigcun">
                <div class="manjian">满减活动</div>
                <div class="cuxiao">引流&促销</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;" @click="HuoJianClick">立即创建</a>
                </div>
            </div>
        </div>
        <!--循环循环循环循环循环循环循环循环-->

        <div class="xunhuankuang" style="display: none">
            <div class="bigkua">
                <div class="jian" id="NoFan">返</div>
            </div>
            <div class="bigcun">
                <div class="manjian">下单返券</div>
                <div class="cuxiao">复购</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;"
                                         href="{:U('Business/Activity/Huofan')}">立即创建</a></div>
            </div>
        </div>
        <div class="xunhuankuang">
            <div class="bigkua">
                <div class="jian" id="NoLin">领</div>
            </div>
            <div class="bigcun">
                <div class="manjian">商家优惠券</div>
                <div class="cuxiao">引流&拉新</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;" @click="HuoLinClick">立即创建</a></div>
            </div>
        </div>
        <div class="xunhuankuang">
            <div class="bigkua">
                <div class="jian" id="NoNew">新</div>
            </div>
            <div class="bigcun">
                <div class="manjian">新客立减</div>
                <div class="cuxiao">拉新</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;" @click="HuoNewClick">立即创建</a></div>
            </div>
        </div>
        <div class="xunhuankuang">
            <div class="bigkua">
                <div class="jian" id="Nozhe">折</div>
            </div>
            <div class="bigcun">
                <div class="manjian">折扣活动</div>
                <div class="cuxiao">推商品&打造爆款</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;" @click="hongSaClick">立即创建</a></div>
            </div>
        </div>
        <div class="xunhuankuang">
            <div class="bigkua">
                <div class="jian" id="NoKan">砍</div>
            </div>
            <div class="bigcun">
                <div class="manjian">砍价活动</div>
                <div class="cuxiao">引流&促销</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;" @click="BargainClick">立即创建</a>
                </div>
            </div>
        </div>
        <div class="xunhuankuang">
            <div class="bigkua">
                <div class="jian" id="NoTuan">团</div>
            </div>
            <div class="bigcun">
                <div class="manjian">团购活动</div>
                <div class="cuxiao">引流</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;" @click="HuogroupClick">立即创建</a>
                </div>
            </div>
        </div>
        <div class="xunhuankuang">
            <div class="bigkua">
                <div class="jian" id="NoMiao">秒</div>
            </div>
            <div class="bigcun">
                <div class="manjian">秒杀活动</div>
                <div class="cuxiao">推商品&打造爆款</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;" @click="HuomiaoClick">立即创建</a>
                </div>
            </div>
        </div>
        <div class="xunhuankuang">
            <div class="bigkua">
                <div class="jian" id="NoMiao">代</div>
            </div>
            <div class="bigcun">
                <div class="manjian">代金券活动</div>
                <div class="cuxiao">代金&优惠</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;" @click="generationClick">立即创建</a>
                </div>
            </div>
        </div>
        <div class="xunhuankuang" style="display: none">
            <div class="bigkua">
                <div class="jian" id="NoZeng">赠</div>
            </div>
            <div class="bigcun">
                <div class="manjian">买赠活动</div>
                <div class="cuxiao">引流&促销</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;"
                                         href="{:U('Business/Activity/HuoZeng')}">立即创建</a></div>
            </div>
        </div>

        <div class="xunhuankuang">
            <div class="bigkua">
                <div class="jian" id="NoZeng">红</div>
            </div>
            <div class="bigcun">
                <div class="manjian">红包大派送</div>
                <div class="cuxiao">引流&促销</div>
            </div>
            <div class="bigpig">
                <div class="cujianok"><a style="text-decoration: none; color: #fff;" @click="HongBaoClick">立即创建</a>
                </div>
            </div>
        </div>


    </div>


    <div class="liebiapxz">活动列表</div>

    <div class="baisedakuangh">
        <div class="lanxian">
            <div id="dangqian" @click="dangqianClick()">当前活动</div>
            <div id="lishi" @click="lishiClick()">历史活动</div>
        </div>

        <!--切换切换切换切换-->

        <!--当前活动-->
        <div class="diyikuang">
            <div class="toubu">
                <div class="ac_one">活动名称</div>
                <div class="ac_two">活动状态</div>
                <div class="ac_three">活动时间</div>
                <div class="ac_four">活动内容</div>
                <div class="ac_five">操作</div>
            </div>

                <div class="centerbu" v-if="cou.newCou>0">
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span style="background: #c183e2;">新</span>新用户立减活动
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">进行中</div>
                    </div>
                    <div class="htc_c">
                        <div style="line-height: 78px">无限制</div>
                    </div>
                    <div class="htc_d">
                        <div>新用户下单立减{{cou.newCou}}元</div>
                    </div>
                    <div class="htc_e">
                        <div class="dcvjnwo"><a @click="huoMessageClick()">查看详情</a></div>
                    </div>
                </div>

            <volist name="coupon" id="vo">
                <div class="centerbu" v-if="huodong.coupon > 0">
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span style="background-color: #ff7298">领</span>商家优惠券
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">进行中</div>
                        <!--<div class="cwicow">剩余1天</div>-->
                    </div>
                    <div class="htc_c">
                        <div></div>
                        <div>请查看页面详情</div>
                        <div></div>
                    </div>
                    <div class="htc_d">
                        <div>共{{huodong.coupon}}个优惠券活动进行</div>
                    </div>
                    <div class="htc_e">
                        <div class="dcvjnwo"><a @click="seeCouponClick()">查看详情</a>
                        </div>
                    </div>
                </div>
            </volist>

            <volist name="genera" id="vo" v-if="huodong.genera>0">
                <div class="centerbu">
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span id="NoMiao">代</span>商家代金券
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">进行中</div>
                    </div>
                    <div class="htc_c">
                        <div></div>
                        <div>请查看页面详情</div>
                        <div></div>

                    </div>
                    <div class="htc_d">
                        <div>共{{huodong.genera}}个代金券活动进行</div>
                    </div>
                    <div class="htc_e">
                        <div class="dcvjnwo"><a @click="generaISClick()">查看详情</a>
                        </div>
                    </div>
                </div>
            </volist>

            <volist name="hongbao" id="vo" v-if="huodong.hongbao > 0">
                <div class="centerbu">
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span id="NoZeng">红</span>商家红包
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">进行中</div>
                    </div>
                    <div class="htc_c">
                        <div></div>
                        <div>请查看页面详情</div>
                        <div></div>
                    </div>
                    <div class="htc_d">
                        <div>共{{huodong.hongbao}}个红包活动进行</div>
                    </div>
                    <div class="htc_e">
                        <div class="dcvjnwo"><a @click="seeHongBaoClick()">查看详情</a></div>
                    </div>
                </div>
            </volist>

            <div class="centerbu" v-if="youhui.full > 0">
                <div class="htc_a">
                    <div class="jiaoixsj">
                        <span style="background-color: #ff635b">减</span>满减活动
                    </div>
                </div>
                <div class="htc_b">
                    <div class="loging">进行中</div>
                </div>
                <div class="htc_c">
                    <div style="line-height: 78px">无限制</div>
                </div>
                <div class="htc_d">
                    <div>共{{shop}}个满减活动进行</div>
                </div>
                <div class="htc_e">
                    <div class="dcvjnwo"><a @click="HuoJianClick()">查看详情</a></div>
                </div>
            </div>
            <div class="centerbu" v-if="huodong.discount > 0">
                <div class="htc_a">
                    <div class="jiaoixsj">
                        <span id="NoZhe">折</span>折扣活动
                    </div>
                </div>
                <div class="htc_b">
                    <div class="loging">进行中</div>
                </div>
                <div class="htc_c">
                    <div style="line-height: 78px">请看详情页</div>
                </div>
                <div class="htc_d">
                    <div>共{{huodong.discount}} 个商品参与</div>
                </div>
                <div class="htc_e">
                    <div class="dcvjnwo"><a @click="hongSaClick()">查看详情</a></div>
                </div>
            </div>
            <div class="centerbu" v-if="huodong.bargain > 0">
                <div class="htc_a">
                    <div class="jiaoixsj">
                        <span id="NoKan">砍</span>砍价活动
                    </div>
                </div>
                <div class="htc_b">
                    <div class="loging">进行中</div>
                </div>
                <div class="htc_c">

                    <div style="line-height: 78px">请看详情页</div>
                </div>
                <div class="htc_d">

                    <div>共{{huodong.bargain}} 个商品参与</div>
                </div>
                <div class="htc_e">
                    <div class="dcvjnwo"><a @click="BargainClick()">查看详情</a></div>
                </div>
            </div>

            <div class="centerbu" v-if="huodong.groups > 0">
                <div class="htc_a">
                    <div class="jiaoixsj">
                        <span id="NoTuan">团</span>团购活动
                    </div>
                </div>
                <div class="htc_b">
                    <div class="loging">进行中</div>
                </div>
                <div class="htc_c">
                    <div style="line-height: 78px">请看详情页</div>
                </div>
                <div class="htc_d">
                    <div>共{{huodong.groups}} 个团购活动</div>
                </div>
                <div class="htc_e">
                    <div class="dcvjnwo"><a @click="HuogroupClick()">查看详情</a></div>
                </div>
            </div>

            <div class="centerbu" v-if="huodong.seckill > 0">
                <div class="htc_a">
                    <div class="jiaoixsj">
                        <span id="NoMiao">秒</span>秒杀活动
                    </div>
                </div>
                <div class="htc_b">
                    <div class="loging">进行中</div>
                </div>
                <div class="htc_c">
                    <div style="line-height: 78px">请看详情页</div>
                </div>
                <div class="htc_d">
                    <div>共{{huodong.seckill}} 个秒杀活动</div>
                </div>
                <div class="htc_e">
                    <div class="dcvjnwo"><a @click="HuomiaoClick()">查看详情</a></div>
                </div>
            </div>

        </div>
        <!--当前活动-->

        <!--历史活动-->
        <div class="cweochwocc" style="display:none;">
            <div class="topbu">
                <div class="top_a">活动名称</div>
                <div class="top_b">活动状态</div>
                <div class="top_c">活动时间</div>
                <div class="top_d">活动内容</div>
                <div class="top_e">说明</div>
            </div>
            <volist name="hisCoupon" id="vo">
                <!--v-if="huodong.hisCoupon!=''"-->
                <div class="centerbu">
                    <!--v-if="huodong.hisCoupon[0].spendMoney > 0"-->
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span style="background-color: #ff7298">领</span>商家优惠券
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">已结束</div>
                        <!--<div class="cwicow">剩余1天</div>-->
                    </div>
                    <div class="htc_c">
                        <div></div>
                        <!--{{huodong.hisCoupon[0].validStartTime}}-->
                        <div>无限制</div>
                        <div></div>
                        <!--{{huodong.hisCoupon[0].validEndTime}}-->

                    </div>
                    <div class="htc_d" style="width:350px;">
                        <div>共{{huodong.hisCoupon}}个优惠券活动</div>
                        <!--满{{huodong.hisCoupon[0].spendMoney}}减{{huodong.hisCoupon[0].couponMoney}}-->
                    </div>
                    <div class="htc_e" style="width:225px;">
                        <div class="dcvjnwo">已过设定的活动时间</div>
                    </div>
                </div>
            </volist>
            <volist name="Hishongbao" id="vo">
                <div class="centerbu">
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span id="NoZeng">红</span>商家红包
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">已结束</div>
                        <!--<div class="cwicow">剩余1天</div>-->
                    </div>
                    <div class="htc_c">
                        <!--<div>{{huodong.hongbao[0].start_time}}</div>-->
                        <div></div>
                        <div>无限制</div>
                        <div></div>
                        <!--<div>{{huodong.hongbao[0].end_time}}</div>-->

                    </div>
                    <div class="htc_d" style="width:350px;">
                        <div>共{{huodong.Hishongbao}}个红包活动</div>
                        <!--<div>￥{{huodong.hongbao[0]['money']}} x {{huodong.hongbao[0]['piece']}}</div>-->
                    </div>
                    <div class="htc_e" style="width:225px;">
                        <div class="dcvjnwo">已过设定的活动时间</div>
                    </div>
                </div>
            </volist>


            <volist name="generaend" id="vo">
                <!--v-if="huodong.generaend!=''"-->
                <div class="centerbu">
                    <!-- v-if="huodong.generaend[0].shopPrice > 0"-->
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span id="NoMiao">代</span>代金券活动
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">已结束</div>
                        <!--<div class="cwicow">剩余1天</div>-->
                    </div>
                    <div class="htc_c">
                        <div></div>
                        <div>无限制</div>
                        <div></div>
                        <!---->

                    </div>
                    <div class="htc_d" style="width:350px;">
                        <div>共{{huodong.generaend}}个代金券活动</div>
                        <!--满{{huodong.generaend[0].shopPrice}}减{{huodong.generaend[0].marketPrice}}-->
                    </div>
                    <div class="htc_e" style="width:225px;">
                        <div class="dcvjnwo">已过设定的活动时间</div>
                    </div>
                </div>
            </volist>

            <div class="centerbu">
                <div class="htc_a">
                    <div class="jiaoixsj">
                        <span id="NoZhe">折</span>折扣活动
                    </div>
                </div>
                <div class="htc_b">
                    <div class="loging">已结束</div>
                </div>
                <div class="htc_c">
                    <div style="line-height: 78px">无限制</div>
                </div>
                <div class="htc_d" style="width:350px;">
                    <div>共{{huodong.Hisdiscount}} 个商品参与</div>
                </div>
                <!-- <div class="htc_e" style="width:225px;">
                    <div class="dcvjnwo"><a href="{:U('Business/Activity/hongSa')}">查看详情</a></div>
                </div> -->
                <div class="htc_e" style="width:225px;">
                    <div class="dcvjnwo">已过设定的活动时间</div>
                </div>
            </div>
            <if condition="$Hisbargain neq 0">
                <div class="centerbu">
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span id="NoKan">砍</span>砍价活动
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">已结束</div>
                        <!--<div class="cwicow">剩余1天</div>-->
                    </div>
                    <div class="htc_c">
                        <!--<div>{$vo.validStartTime}</div>-->
                        <!--<div>至</div>-->
                        <!--<div>{$vo.validEndTime}</div>-->
                        <div style="line-height: 78px">无限制</div>
                    </div>
                    <div class="htc_d" style="width:350px;">
                        <div>共{{huodong.Hisbargain}} 个商品参与</div>
                    </div>
                    <!-- <div class="htc_e" style="width:225px;">
                        <div class="dcvjnwo"><a href="{:U('Business/Activity/Bargain')}">查看详情</a></div>
                    </div> -->
                    <div class="htc_e" style="width:225px;">
                        <div class="dcvjnwo">已过设定的活动时间</div>
                    </div>
                </div>
            </if>
            <if condition="$Hisgroups neq 0">
                <div class="centerbu">
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span id="NoTuan">团</span>团购活动
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">已结束</div>
                    </div>
                    <div class="htc_c">
                        <div style="line-height: 78px">无限制</div>
                    </div>
                    <div class="htc_d" style="width:350px;">
                        <div>共{{huodong.Hisgroups}}个团购活动</div>
                    </div>
                    <!-- <div class="htc_e" style="width:225px;">
                        <div class="dcvjnwo"><a href="{:U('Business/Activity/Huogroup')}">查看详情</a></div>
                    </div> -->
                    <div class="htc_e" style="width:225px;">
                        <div class="dcvjnwo">已过设定的活动时间</div>
                    </div>
                </div>
            </if>
            <if condition="$Hisseckill neq 0">
                <div class="centerbu">
                    <div class="htc_a">
                        <div class="jiaoixsj">
                            <span id="NoMiao">秒</span>秒杀活动
                        </div>
                    </div>
                    <div class="htc_b">
                        <div class="loging">已结束</div>
                    </div>
                    <div class="htc_c">
                        <div style="line-height: 78px">无限制</div>
                    </div>
                    <div class="htc_d" style="width:350px;">
                        <div>共{{huodong.Hisseckill}} 个秒杀活动</div>
                    </div>
                    <!-- <div class="htc_e" style="width:225px;">
                        <div class="dcvjnwo"><a href="{:U('Business/Activity/Huomiao')}">查看详情</a></div>
                    </div> -->
                    <div class="htc_e" style="width:225px;">
                        <div class="dcvjnwo">已过设定的活动时间</div>
                    </div>
                </div>
            </if>
        </div>
        <!--历史活动-->
        <!--切换切换切换切换-->
    </div>


    <!--修改 影藏框修改 影藏框修改 影藏框修改 影藏框修改 影藏框修改 影藏框-->
    <div class="cewo_iej" style="display:none">
        <div class="ceio_e">
            <div class="chosa_d">
                <div class="cewk_jhoi">每单限购折扣商品种类<span class="xdecf">×</span></div>
                <div class="ced_jded">每单限购商品总数<input name="codj" type="text" placeholder="必须为整数">种<span class="dvcklj">(-1为不做限制)</span>
                </div>
                <div class="cedswd">建议大于单品限购数</div>
                <div class="wefkoiw">
                    <div class="qu_xwkc">取消</div>
                    <div class="ba_kcfc">保存</div>
                </div>
            </div>
        </div>
    </div>
    <!--修改 影藏框修改 影藏框修改 影藏框修改 影藏框修改 影藏框修改 影藏框-->

    <!--影藏框 【重新发起】【重新发起】【重新发起】【重新发起】-->
    <div class="wearebest" style="display:none;">
        <div class="neqoc">
            <div class="kaunhg_faui">
                <div class="zhe_yi">温馨提示<span class="hswqcuo" @click="hswqcuoClick()">×</span></div>
                <div class="neireonk">您尚未签约，请前往签约流程进行签约。</div>
                <div class="diajiksc">
                    <div id="goqianyue">去签约</div>
                    <div id="goguanbi" @click="goguanbiClick()">关闭</div>
                </div>
            </div>
        </div>
    </div>
    <!--影藏框 【重新发起】【重新发起】【重新发起】【重新发起】-->


    <!--leixin【历史活动】【满减活动】【查看详情】-->
    <div class="lishi_manchan" style="display:none;"><!---->
        <div class="bai_kiau">
            <div class="biaoti">活动详情</div>
            <div class="ke_hunh">活动类型：满减活动</div>
            <div class="ke_hunh">活动状态：已结束</div>
            <div class="ke_hunh">活动时间：2017-08-03 00:00:00 至 2017-08-31 23:59:59</div>
            <div class="ke_hh">优惠信息：满25减5(店铺承担5元,美团承担0元)</div>
            <div class="ke_hhme">满25减5(店铺承担5元,美团承担0元)</div>
            <div class="ke_hhme">满60减12(店铺承担12元,美团承担0元)</div>
        </div>
        <div class="bai_kiaudf">
            <div class="biaoti">活动效果</div>
            <div class="olcw">
                <div class="diws_ops">
                    <span>昨日订单</span>
                    <span>总计订单</span>
                    <span>昨日流水</span>
                    <span>总计流水</span>
                </div>

                <div class="diws_nvn">
                    <span>0</span>
                    <span>8</span>
                    <span>0</span>
                    <span>361</span>
                </div>
            </div>

            <div class="dcewqkojno">近7日活动效果(2017.08.25~2017.08.31) <span>每日活动详情</span></div>
            <div class="ndfowcwe">
                <div class="dnq_om">
                    <div class="title">
                        <span class="legendsBox"><span class="legends legends-one"></span>活动订单</span>
                        <span class="legendsBox"><span class="legends legends-two"></span>流水订单</span>
                    </div>
                    <div class="chart" id="dnq_om"></div>
                </div>


                <div class="dnq_kd">
                    <div class="Bone">
                        <div class="toHng enger">日期</div>
                        <div class="toHng enger biners">活动本日订单</div>
                        <div class="toHng enger">活动本日流水</div>
                    </div>
                    <div class="Bone">
                        <div class="toHng">2017.11.01</div>
                        <div class="toHng biners">1</div>
                        <div class="toHng">45</div>
                    </div>
                    <div class="Bone">
                        <div class="toHng">2017.11.02</div>
                        <div class="toHng biners">4</div>
                        <div class="toHng">167</div>
                    </div>
                    <div class="Bone">
                        <div class="toHng">2017.11.03</div>
                        <div class="toHng biners">3</div>
                        <div class="toHng">103</div>
                    </div>


                    <div class="Bone">
                        <div class="toHng">2017.11.04</div>
                        <div class="toHng biners">2</div>
                        <div class="toHng">70</div>
                    </div>

                    <div class="Bone">
                        <div class="toHng">2017.11.05</div>
                        <div class="toHng biners">2</div>
                        <div class="toHng">70</div>
                    </div>

                    <div class="Bone">
                        <div class="toHng">2017.11.06</div>
                        <div class="toHng biners">1</div>
                        <div class="toHng">37</div>
                    </div>
                    <div class="Bone">
                        <div class="toHng">2017.11.07</div>
                        <div class="toHng biners">1</div>
                        <div class="toHng">31</div>
                    </div>

                    <div class="Bone">
                        <div class="toHng">2017.11.08</div>
                        <div class="toHng biners">1</div>
                        <div class="toHng">37</div>
                    </div>

                </div>


            </div>
        </div>

        <div class="kco_skcn">
            <div id="adfka_fan">返回列表</div>
            <div id="adfka_chn">重新发起</div>
        </div>
    </div>
    <!--leixin【历史活动】【满减活动】【查看详情】-->


</div>

</div>

<!-- <script>

</script> -->

<script src="/static/js/public/dateSelectSum.js"></script>
<script src="/static/js/business/HuoDong.js"></script>
</body>
</html>



