<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>阿凡提</title>
    <link rel="stylesheet" href="/static/css/business/HuoJian.css">
    <link rel="stylesheet" href="/static/css/business/time.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script src="/static/js/public/dateSelectSum.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
    <script src="/static/js/public/axios.min.js"></script>
</head>
<body>

<div class="dec" id="reduce" v-cloak>

    <!--影藏框   【立即创建】【立即创建】【立即创建】-->
    <div class="yingcangkuzng">
        <div class="allthisper">
            <!--<button class="btn" style="margin-top:20px;margin-left:15px" @click="isOpenClick">开启满减优惠</button>-->
            <div  class="container">
                <div class="huodwedwsfunck"><span>●</span>优惠信息</div>
                <div class="thisjidj">
               <span class="mjTitle">
                   满减优惠<span class="mjDoubt" @mouseover="lastzuo()" @mouseout="lastyou()">?</span>
               </span>
                    <ul class="mjBox">
                        <li v-for="(item,index) in dataz" style="display: flex">
                            满<input type="text" @focus="tonesFoucs(index+'m')" @blur="tonesBlur()" v-model="item.full"
                                    @input="item.full=item.full.replace(/[^0-9,]/g,'')" name="tones" class="tones"
                                    :class="{'infocus':focuNub==index+'m'}" value="sss">

                            减<input type="text" @focus="ttwosFoucs(index+'j')" @blur="ttwosBlur()"
                                    @input="item.minus=item.minus.replace(/[^0-9,]/g,'')" v-model="item.minus" name="ttwos"
                                    class="ttwos" :class="{'infocus':focuNub==index+'j'}">元
                            <span style="margin: 0 10px">优惠时间:</span>
                            <input type="date" :id="'zuotext'+index" :data-index="index" class="zuotext"  v-model="item.startTime" ><div class="cewojk"><img src="/static/image/business/911.png"></div>
                            <span style="margin: 0 10px">至</span>
                            <input type="date" :id="'csdevwe'+index"  class="csdevwe" :data-index="index"  v-model ="item.endTime" ><div class="cewojk"><img src="/static/image/business/911.png"></div>
                            <span class="mj-mark mj-sub" @click="mjSub(item,index)" >×</span>
                            <!--<span class="mj-mark mj-add" @click="mjAdd" v-if="index==dataz.length-1">+</span>-->
                        </li>
                    </ul>

                    <div class="thedSan" style="display: none">
                        <div class="orresan">提示</div>
                        <img class="san_img" src="/static/image/business/daolionly.png">
                        <div class="siwsan">仅在线支付支持活动</div>
                    </div>
                    <!--减<input type="text"  value="{$shops.minus}" name="ttwos" class="ttwos" onkeyup="this.value=this.value.replace(/[^0-9,]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9,]/g,'')">元-->
                    <!-- <span id="jiahao">+</span> <span id="jianhao">-</span> -->
                </div>
                <!--  <div class="xieyihao">
                    <label style="color: gray;padding-left:200px">多个优惠可用英文逗号','隔开  例如 满20,40,60 减5,7,8  最多可设置三个满减。</label>
                 </div> -->
                <div class="xieyihao">
                    <input type="checkbox" name="" value="" placeholder="">已阅读并同意
                    <a id="Coneyler" href="javascript:;" @click="ConeylerClick()">商家自营销协议</a>
                </div>
            </div>

            <!-- <div class="baocunz">保存</div> -->
            <input type="submit" name="" value="保存" class="baocunz" placeholder="" @click="submit">
            <input type="text" name="" value="新增" class="xinzeng" placeholder="" @click="mjAdd">
        </div>
    </div>
    <!--影藏框【立即创建】【立即创建】【立即创建】【立即创建】-->


    <!--商家自营销协议-->
    <div class="allUender" style="display: none">
        <div class="pasjUnjs">
            <div class="ekjpSkd">
                <div class="maddeToubu">商家自营销协议<span class="dckAws" @click="dckAwsClick()">×</span></div>
                <div class="xswDoi">商家自营销协议</div>
                <div class="alxSid">
                    1. 店铺优惠活动可以与阿凡提外卖平台的其他活动同时进行, 如满减、满折等; 商家优惠可以和阿凡提外卖红包同时使用;<br/>
                    2. 店铺优惠活动的促销成本由商家自己承担, 我公司(阿凡提)只是活动工具的提供方; 商家不得要求我公司 (阿凡提) 开具"店铺优惠"的发票;<br/>
                    3. 店铺优惠的实际归属为各个开展活动的商家, 我公司(阿凡提)只负责代发, 归属权不属于我公司 (阿凡提) ;<br/>
                    4. 与商家结算的金额中, 不包括商家店铺自己发放的优惠, 即: 合同中的结算为净值 (原订单金额-商家店铺优惠) ;<br/>
                    5. 进行中的店铺优惠, 若商家在预先设置活动结束时间前结束活动, 则已发放的优惠仍然有效。<br/>
                </div>
            </div>
        </div>
    </div>
</div>

<!--商家自营销协议-->
<script src="/static/js/business/HuoJian.js"></script>
</body>

<!-- -->
</html>



