<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>阿凡提</title>
    <link rel="stylesheet" href="/static/css/business/CaiConter.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<!-- 财务管理 对账首页 -->

<body>
    <div class="dec" v-cloak>
        <div class="conter">
            <div class="leftall">
                <div class="akodkfewp">
                    <div class="sapcd"><img class="cdwec" :src="'https://image.aftdc.com/'+datazs.shopImg" height="28" width="31">{{datazs.shopName}}</div>
                    <div class="dweoih" @click="dweoihClick()">账户信息></div>
                </div>
                <div class="contdcew">
                    <div class="wenzi">可提现余额</div>
                    <div class="tixian" @click="tixianClick()"><a href="javascript:0;">提现</a></div>
                </div>
                <div class="esfck">￥<span class="big">{{datazu.userMoney}}</span></div>
                <div class="enfowq">
                    <!-- <div class="efweoi">
                      推广费/配送费账户
                      <div class="xuanzhuanh"></div>
                      <div class="chongzhbi">充值</div>
                  </div> -->
                    <div class="fwewehoi" @click="fwewehoiClick()"><a href="javascript:0;">进账入户</a></div>
                </div>
            </div>
            <div class="rightall" style="overflow: hidden;">
                <div class="ewfwiowh">
                    <span class="csdvwkjc">最近余额流水动态</span>
                    <span class="vcvekong"><a href="javascript:0;" @click="vcvekongClick()">查看余额流水</a></span>
                </div>
                
                    <div class="oneall" v-for="(item,index) in dataz.moneys">
                        <span class="thisone">{{item.createTime}}</span>
                        <span class="thistwo">{{item.moneyRemark}}</span>
                        <span class="thisthree">{{item.money}}元<span class="leter">(余额+{{item.money}}元)</span></span>
                    </div>
                
            </div>
        </div>
        <div class="dsvevefbefb">
            <span class="">账单信息</span>
            <span class="yanse"> <a href="javascript:0;" @click="CaiDuizhangClick()">全部账单</a></span>
        </div>
        <div class="allthenteralal">
            <div class="tpoubu"> <span class="daijiesun">待结算账单</span> </div>
            <div class="huibeijin">
                <span class="jine">账单金额</span>
                <span class="caozuop">操作</span>
                <span class="zhangxixxi">账单信息</span>
            </div>
            
                <span style="margin:38%" v-if="dataz.not_target==''">暂无未结算的账单...</span>
                
                <div class="dvojwalal" v-else>
                    <div class="comzuook">
                        <div class="porder">
                            
                                <span v-for="(item,index) in dataz.not_target"> {{item.createTime}}</span>
                            
                        </div>
                        <div class="efcwelkenj">
                            <div class="danhang">
                                
                                <template v-for="(item,index) in dataz.not_target">
                                    <span class="moneyshu">￥{{item.money}}</span>
                                    <div class="jingdutioa">
                                        <div class="shuzibaifenbi" style="width:100%"></div>
                                    </div>
                                    <span class="laianjie"><a href="javascript:0;" @click="CaiMingxiClick(item)">&nbsp&nbsp&nbsp&nbsp查看</a></span>
                                    </template>
                                
                            </div>
                        </div>
                    </div>
                    <div class="xsoiyouo">
                        <div class="alltimne">未结算总额</div>
                        <div class="contherj">￥<span class="yspan">{{dataz.count}}</span></div>
                        <!-- <div class="ruzhang">预计2017-10-20入账</div> -->
                        <div class="ruzhang">1至3个工作日内入账</div>
                    </div>
                </div>
            </if>
            <div class="xcwelovch">已结算账单</div>
            <div class="zhangdanjine">
                <span class="dcvwekj">账单金额</span>
                <span class="aldswi">操作</span>
                <span class="ckjweoqw">账单信息</span>
            </div>
            <!--影藏框影藏框影藏框影藏框影藏框-->
            <div class="YinCanKu" style="display: none">
                <div style="padding: 0px 50px 0 20px;">
                    <div class="touBu">
                        <span class="coner">√</span>
                        <span class="wenzia">您的餐厅已开通在线支付功能</span>
                    </div>
                    <div class="NexterKon">
                        <div class="conterFor">
                            <span class="allTouSuoYou">卡号:</span><span>{{datazs.bankNo}}</span>
                        </div>
                        <!-- <div class="conterFor">
                <span class="allTouSuoYou">开户行:</span><span>广州支行</span>
            </div> -->
                        <div class="conterFor">
                            <span class="allTouSuoYou">户名:</span><span>{{datazs.bankUserName}}</span>
                        </div>
                        <div class="conterFor">
                            <span class="allTouSuoYou">最低结算余额:</span><span>10元</span>
                        </div>
                        <div class="conterFor" style="border-bottom:none;">
                            <span class="allTouSuoYou" style="color: #06c1ae;cursor:pointer" @click="allTouSuoYouClick()">返回</span>
                        </div>
                        <!-- <div class="conterFor">
                <span class="allTouSuoYou">结算周期:</span><span>3天</span>
            </div>
            <div class="conterFor">
                <span class="allTouSuoYou">下一结算周期:</span><span>2017.11.06 23:59:59~2017.11.09 23:59:59</span>
            </div>
            <div class="conterFor">
                <span class="allTouSuoYou">结算方式:</span><span>周期结算</span>
            </div>
            <div class="conterFor">
                <span class="allTouSuoYou">商家财务联系人:</span><span>衡哥</span>
            </div>
            <div class="conterFor">
                <span class="allTouSuoYou">商家财务电话:</span><span>13995484819</span>
            </div> -->
                    </div>
                </div>
            </div>
            <!--影藏框影藏框影藏框影藏框影藏框-->
            
                <span style="margin:38%" v-if="dataz.target == ''">暂无已结算的账单...</span>
                
                <!--大框-->
                <div class="perterne" v-else style="overflow: hidden;">
                    <div class="tiqition">
                        
                            <div class="xinqio" v-for="(item,index) in dataz.target">{{item.createTime}}</div>
                        
                    </div>
                    <div class="lvbeijing">
                       
                            <div class="zhangyi" v-for="(item,index) in dataz.target">
                                <div class="zheshiqian">￥{{item.money}}</div>
                                <div class="waikuang">
                                    <div class="linetiao" style="width: 100%;"></div>
                                </div>
                                <div class="liaherf"><a href="javascript:0;"@click="CaiMingxClick(item)">&nbsp&nbsp&nbsp&nbsp查看</a></div>
                            </div>
                       
                    </div>
                    <div class="ixqweo">
                        <div class="swkkikiki">已结算总额</div>
                        <div class="thismoany">￥<span>{{dataz.count1}}</span></div>
                        <div class="huuiruyue"><a href="javascript:0;" @click="CaiYueClick()">已汇入余额></a></div>
                    </div>
                </div>
                <!--大框-->
            </if>
        </div>
    </div>
    <script src="/static/js/business/CaiConter.js"></script>
</body>

</html>