<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name=" apple-mobile-web-app-status-bar-style"/>
    <meta content="email=no" name="format-detection"/>
	<title>营业统计</title>
	<link rel="stylesheet" type="text/css" href="/static/css/mobile/time.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mobile/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mobile/appCount_del.css">
	<script src="/static/js/mobile/jquery.min.js"></script>
	<script src="/static/js/mobile/g2.js"></script>
	<script src="/static/js/mobile/dateSelect-over.js"></script>
</head>
<body>
  <div class="phoneAll minbarPT" id="count">
      <div class="minibarBox">
          <div class="minibar">
              <div @click="back()">
                  <img src="https://image.aftdc.com/appBimg/icon_back_normal.png" alt="">
              </div>
              <span>营业统计</span>
              <span></span>
          </div>
      </div>
  	<header>
  		<div class="header-choice">
  			<span class="but-choice" :class="{'active':dateChoice==1}" @click="dateFn(1)">今天</span>
  			<span class="but-choice" :class="{'active':dateChoice==2}" @click="dateFn(2)">近7天</span>
  			<span class="but-choice" :class="{'active':dateChoice==3}" @click="dateFn(3)">近30天</span>
  			<span class="but-choice" :class="{'active':dateChoice==4}" @click="dateFn(4)">自定义</span>
  		</div>
  		<div class="dateBox" v-show="dateChoice==4">
  			<input type="text" id="date" name="start" value="" v-model="time.start" readonly="readonly">
  			 <span class="inline marlr">至</span>
  			<input type="text" id="dateEnd" name="end" value="" v-model="time.end" readonly="readonly">
  		</div>
  	</header>

  	<div class="business">
  		<div class="panel-heading clear ">
			<strong class="m-left">营业总览</strong>
			<span class="c-grayest pull-right m-right-sm fontCen">{{period}}</span>
		</div>
		<div class="clear bb-solid padding">
			<div class="item-6 br-dashed textCent">
				<p>营业总额<i class="askIcon"></i></p>
				<strong class="fontMax">￥{{needPay}}</strong>
			</div>
			<div class="item-6 textCent">
				<p>商家补贴<i class="askIcon"></i></p>
				<strong class="fontMax">￥{{deduction}}</strong>
			</div>
		</div>
		<div class="clear bb-solid padding">
			<div class="item-6 br-dashed textCent">
				<p>有效订单量<i class="askIcon"></i></p>
				<strong class="fontMax">{{effectiveOrder}}</strong>
				<div class="c-grayest fontMin">客单价：￥{{customerPrice}}</div>
			</div>
			<div class="item-6 textCent">
				<p>无效订单量<i class="askIcon"></i></p>
				<strong class="fontMax">{{invalidOrder}}</strong>
				<div class="c-grayest fontMin">损失营业额约：￥{{invalidAmount}}</div>
			</div>
		</div>
	
  	</div>

   <div class="targetBox" v-show="dateChoice">
   	  <div class="panel-heading clear ">
			<strong class="m-left">选择指标</strong>
			<span class="c-grayest pull-right m-right-sm fontCen">{{period}}</span>
	  </div>
	  <div class="panel-body">
	   <div class="target-choice">
	   	 <span class="but" v-for="(item,index) in choiceData"  :class="{'active':choice==index}" @click="choiceFn(index)">{{item}}</span>
	   </div>
	  	<div id="target"></div>
	  </div>
   </div>

  <div class="analysis">
  	 <div>1.昨天营业数据请以今天10:00后的数据为准</div>
  	 <div>2.如需查看每日营业详细数据，请前往电脑版进行查询和下载</div>
  	 <div>3.如需订单对账，请查看门店管理>财务信息>订单对账</div>
  </div>
  <!-- 问号弹出框 -->
  <div class="doubtBack" style="display: none">
  	<div class="doubtBox">
  		<div class="doubtDetail">
  			<p>
  				<strong>营业总额：</strong>
  				<span>门店订单的流水总额</span>
  			</p>
  		</div>
  		<div class="doubtBut">我知道了</div>
  	</div>
  </div>
  

  </div>
  <script  src="/static/js/mobile/vue.js"></script>
<script src="/static/js/mobile/appCount_del.js"></script>

  <script type="text/javascript">
      $(function(){
          $("#date").dateSelect();
          $("#dateEnd").dateSelect(); //加载事件选择*/
      });
  </script>
</body>
</html>