<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>营业统计</title>
<link rel="stylesheet" href="/static/css/mobile/time.css">
<link rel="stylesheet" href="/static/css/mobile/all.css">
<link rel="stylesheet" href="/static/css/mobile/appCount.css">
<script src="/static/js/mobile/jquery.min.js"></script>
<script src="/static/js/mobile/dateSelect-over.js"></script>
</head>
<body>
<div class="minbarPT" id="count" v-cloak>
    <div class="minibarBox">
        <div class="minibar">
            <div @click="back()">
                <img src="https://image.aftdc.com/appBimg/icon_back_normal.png" alt="">
            </div>
            <span>营业统计</span>
            <span></span>
        </div>
    </div>
  <a class="topnBun" :href="'countToday.html?shopId='+ shopId">
    <span class="shiSi"><span class="lvLin"></span>今日实时数据</span> 
    <span class="xiangQin">详情></span>
  </a>
 <div class="TwouDer">
     <div class="bin Bzuo">
        <div class="DerNser">营业额 <span class="Newser">新</span> <span class="Querter">?</span> </div>
        <div class="DerNonc"><span class="Sin">￥</span>{{todayData.needPay}}</div>
     </div>
     <div class="bin Byou">
       <div class="DerTser">有效订单  <span class="QueIter">?</span> </div>
        <div class="DerPonc">{{todayData.orderNum}}<span class="Siv">单</span></div>
     </div>
 </div>

 <div class="QieHuan">
     <div class="Kin yestoday" :class="{'active':dayNav==1}" @click="dayNavFn(1)">昨日</div>
     <div class="Kin sevenday" :class="{'active':dayNav==7}" @click="dayNavFn(7)">近7天</div>
     <div class="Kin theryday" :class="{'active':dayNav==30}" @click="dayNavFn(30)">近30天</div>
     <div class="Kin myselfde" :class="{'active':dayNav==0}" @click="dayNavFn(0)">自定义</div>
 </div>

<div class="XiHunped" v-show="dayNav==0">
    <input id="date" class="Time kai"  v-model="time.start" type="text" name="start" value="" readonly="readonly" />
    <span class="CenTen">至</span>
    <input id="dateEnd" class="Time Wan"  v-model="time.end" type="text" name="end" value="" readonly="readonly" />
</div>



  <a class="Necter" :href="'countThan.html?dayNav='+dayNav+'&time='+times+'&shopId='+shopId">
    <span class="shiSi"><span class="lvLin"></span>营业环比分析</span>
    <span class="PerQin">详情></span> 
  </a>

<div class="HinSer">
      <div class="DerNser_d">营业额 <span class="Newser_d">新</span> <span class="Querter_d">?</span> </div>
      <div class="DerNonc_d"><span class="Sing">￥</span>{{than.needPay}}</div>
      <div class="funsIn">比前{{diff}}日
        <i v-if="thandb.subNeed==0">--持平</i>
        <i v-else class="jianTou" :class="[thandb.subNeed>0?'be-up':'be-down']">{{thandb.proNeed}}</i>
      </div>

     <div class="FouruDer">
         <div class="Gin Gzuo">
            <div class="hInNser">有效订单 <span class="Houter">?</span> </div>
            <div class="NubPonc"><span class="Liv">{{than.orderNum}}单</span></div>
            <div class="ConSu">比前{{diff}}日
             <i v-if="thandb.subNum==0">--持平</i>
             <i v-else class="jianTou" :class="[thandb.subNum>0?'be-up':'be-down']">{{thandb.proNum}}</i>
            </div>
         </div>
         <div class="Gin Gyou">
           <div class="VieTser">单均价  <span class="BifIter">?</span> </div>
           <div class="CunNonc"><span class="Fin">￥{{than.means}}</span></div>
           <div class="PastnSu">比前{{diff}}日
             <i v-if="thandb.subMean==0">--持平</i>
             <i v-else class="jianTou" :class="[thandb.subMean>0?'be-up':'be-down']">{{thandb.proMean}}</i>
           </div>
         </div>
     </div>

</div>

<!-- <div class="DinLouid">
    <div class="HaoBun"> 
      <span class="overSi">发现下列可能情况</span> 
      <span class="gertgQin">详情></span> 
    </div>


   <div class="Wenaer">
      <div class="Xer oner">
         <div class="ShuLin">入店客户量</div>
         <div class="JanTin"><i class="fa-down Oinv"></i><span class="Sbb">￥119.00</span></div>
      </div>
      <div class="Xer twor">
         <div class="ShuLin">下单转化率</div>
         <div class="JanTin"><i class="fa-down Oinv"></i><span class="Sbb">￥60.00</span></div>
      </div>
      <div class="Xer ther">
        <div class="ShuLin">新客量</div>
        <div class="JanTin"><i class="fa-down Oinv"></i><span class="Sbb">￥60.00</span></div>
      </div>
    </div>
   </div> 



   <div class="Mistake"> 
    <span class="Vinder"><span class="lvLin"></span>商圈同行对比</span> 
    <span class="Loinver">详情></span> 
   </div>
  

   <div class="ZuendLes">
      <div class="Sindeper">发现4点问题落后于其他同行</div>

      <div class="Heartaer">
          
          <div class="Xurin Loner">
             <div class="Fackin">入店客户量</div>
             <div class="GonenTin"><i class="fa-down Gunv"></i><span class="Kbb">落后</span></div>
          </div>

          <div class="Xurin Ltwor">
             <div class="Fackin">下单转化率</div>
             <div class="GonenTin"><i class="fa-down Gunv"></i><span class="Kbb">落后</span></div>
          </div>

          <div class="Xurin Lther">
            <div class="Fackin">新客量</div>
            <div class="GonenTin"><i class="fa-down Gunv"></i><span class="Kbb">落后</span></div>
          </div>

      </div>
</div> -->



<!---->
  <a class="FoodBun" :href="'countNot.html?dayNav='+dayNav+'&time='+times+'&shopId='+shopId">
    <span class="FontSi"><span class="lvLin"></span>无效订单分析</span> 
    <span class="KunFiQin">详情></span> 
  </a>


  <div class="SanTers">
     <div class="Bunt lefter">
        <div class="Fiser">无效订单 <span class="Jinter">?</span> </div>
        <div class="Conic">{{invalidNum}}<span class="niv">单</span></div>
        <div class="HunerSu">比前{{diff}}日
          <i v-if="invalidb.subi==0">--持平</i>
          <i v-else class="jianTou" :class="[invalidb.subi>0?'be-up':'be-down']">{{invalidb.proi}}</i>
        </div>
     </div>
     <div class="Bunt rightr">
        <div class="CunFun">商家原因：{{reason}}单</div> 
     </div>
  </div>
</div>
<script src="/static/js/mobile/vue.js"></script>
<script src="/static/js/mobile/appCount.js"></script>

<script type="text/javascript">
$(function(){
  $("#date").dateSelect();
  $("#dateEnd").dateSelect(); //加载事件选择*/
});
</script>
</body>
</html>
