<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="black" name=" apple-mobile-web-app-status-bar-style"/>
	<meta content="email=no" name="format-detection"/>
	<title>顾客分析</title>
	<link rel="stylesheet" type="text/css" href="/static/css/mobile/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mobile/appGuest.css">
	<script src="/static/js/mobile/jquery.min.js"></script>
	<script src="/static/js/mobile/jquery.mobile-1.4.5.min.js"></script>
	<script src="/static/js/mobile/g2.js"></script>
</head>
<body>
	<div class="phoneAll minbarPT" id="guest" v-cloak>
        <div class="minibarBox">
            <div class="minibar">
                <div @click="back()">
                    <img src="https://image.aftdc.com/appBimg/icon_back_normal.png" alt="">
                </div>
                <span>顾客分析</span>
                <span></span>
            </div>
        </div>
	<!-- __ROOT__/Apps/Phone/View/apph5/ -->
		<!--********************************************  顾客数据 ******************************************** -->
		<div class="peopleData" v-if="choice==1">
			<header>
				<div class="header-choice">
					<span class="but-choice" :class="{'active':dateChoice==1}" @click="dateFn(1)">昨日</span>
					<span class="but-choice" :class="{'active':dateChoice==2}" @click="dateFn(2)">近7日</span>
					<span class="but-choice" :class="{'active':dateChoice==3}" @click="dateFn(3)">近30日</span>
				</div>
			</header>

			<div class="panel">
				<div class="panel-heading clear ">
					<strong class="m-left">总览</strong><i class="askIcon"></i>
				</div>
				<div class="panel-body">
					<div class="clear">
						<div class="item-4">
							<p class="c-grayest">下单人数</p>
							<p><strong class="fontMaxs">{{orderCount}}</strong>人</p>
							<p>
								<span v-if="dateChoice==1">较前日</span>
								<span v-else>较上{{day}}日</span>
								<i v-if="subOrder==0">--持平</i>
								<i :class="[subOrder>0?'fa-up':'fa-down']" v-else>{{subOrder|abs}}人</i></p>
							</p>
						</div>
						<div class="item-8 relative">
							<div id="orders"></div>
						<!-- 	<div class="stateDate">01.01</div>
						<div class="endDate">01.07</div> -->
					</div>
				</div>
				<div class="newold clear w-grayer">
					<div class="item-6 br-dashed">
						<p class="c-grayest">新客</p>
						<p ><strong class="fontMaxt">{{newOrderNum}}</strong>人</p>
						<p class="c-grayest">
							<span v-if="dateChoice==1">较前日</span>
							<span v-else>较上{{day}}日</span>
							<i v-if="newOrderSub==0">--持平</i>
							<i v-else :class="[newOrderSub>0?'fa-up':'fa-down']" >{{newOrderSub|abs}}人</i>
						</p>
						<div>
							<i>占{{newOrderPer}}</i>
							<span class="speedBox">
								<span class="speed" :style="{width:newOrderPer}"></span>
							</span>
						</div>
					</div>
					<div class="item-6 br-dashed">
						<p class="c-grayest">老客</p>
						<p ><strong class="fontMaxt">{{oldOrderNum}}</strong>人</p>
						<p class="c-grayest">
							<span v-if="dateChoice==1">较前日</span>
							<span v-else>较上{{day}}日</span>
							<i v-if="oldOrderSub==0">--持平</i>
							<i v-else :class="[oldOrderSub>0?'fa-up':'fa-down']" >{{oldOrderSub|abs}}人</i>
						</p>
						<div>
							<i>占{{oldOrderPer}}</i>
							<span class="speedBox">
								<span class="speed" :style="{width:oldOrderPer}"></span>
							</span>
						</div>
					</div>
				</div>

				<!-- <div class="problem">暂无发现经营问题，请保持关注</div> -->
			</div>
		</div>
		<div  v-if="dateChoice!=1">
			<div class="panel">
				<div class="panel-heading clear ">
					<strong class="m-left">重复下单</strong><i class="askIcon"></i>
					<span class="c-grayest pull-right m-right-sm fontCen">{{date}}</span>
				</div>
				<div class="panel-body w-grayer martb">
					<div class="clear">
						<div class="item-6 br-dashed">
							<p class="c-grayest">重复下单率</p>
							<p><strong class="fontMaxt">{{reOrderPer}}</strong>%</p>
							<p>
								较上{{day}}日
								<i v-if="reOrderSub==0">--持平</i>
								<i v-else :class="[reOrderSub>0?'fa-up':'fa-down']" >{{reOrderSub|abs}}人</i>
							</p>
						</div>
						<div class="item-6">
							<p class="c-grayest">重复下单顾客</p>
							<p><strong class="fontMaxt">{{reOrderNum}}</strong>人</p>
							<p>
								较上{{day}}日
								<i v-if="reOrderSub==0">--持平</i>
								<i v-else :class="[reOrderSub>0?'fa-up':'fa-down']" >{{reOrderSub|abs}}人</i>
							</p>
						</div>
					</div>
				</div>
			<!-- 	<div class="panel-body bt-solid">
					<div class="problem">
						<div class="specific clear">
							<img src="/static/image/mobile/lamp.png">
							老客的回头率在下降
							<span class="menu-color pull-right m-right-sm">立即设置 ></span>
						</div>
						<div class="solve">
							尝试 “满返券” 刺激老客回购
						</div>
					</div>
				</div> -->
			</div>

			<div class="panel notMar">
				<div class="panel-heading  ">
					<strong class="m-left">顾客趋势</strong><i class="c-grayest">（点击查看每日详情）</i>
				</div>
				<div class="panel-body">
					<div class="target-choice">
						<div class="but" :class="{'active':counts==1}" @click="chooseCount(1)">下单顾客</div>
						<div class="but" :class="{'active':counts==2}" @click="chooseCount(2)">新顾客</div>
						<div class="but" :class="{'active':counts==3}" @click="chooseCount(3)">老顾客</div>
					</div>
					<div class="lagendWord">
						<span><i class="my"></i>我的</span>
					</div>
					<!-- 图例 -->
					<div id="trend"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- ********************************************  顾客偏好 ******************************************* -->
	<div class="peopleHobby" v-if="choice==2">

		<div class="panel-heading clear ">
			<strong class="m-left">本店顾客偏好</strong><i class="c-grayest">（牢记本店顾客偏好，继续加油）</i>
		</div>

		<div class="hobby-nav">
			<span :class="{'active':likeChoice==1}" @click="likeChoiceFn(1)">爱买的商品</span>
			<span :class="{'active':likeChoice==2}" @click="likeChoiceFn(2)">喜欢的活动</span>
		</div>
		<div class="loveShop" v-if="likeChoice==1">
			<div class="self-hobby">
				<ul class="hobby-spec">
					<li class="clear" v-for="(item,index) in customerLike" v-if="index < likeNumb">
						<i class="numb">{{index+1}}、</i>
						<span class="name noWrap">{{item.name}}</span>
						<span class="pull-right">{{item.people}}人 | {{item.numb}}单</span>
					</li>
				</ul>
				<!-- 先显示6个 点击查看更多才显示更多 -->
				<div class="moreHobby" v-if="customerLike&&customerLike.length > 6" @click="likeNumbFn()">
					<span v-if="likeNumb<10">点击查看更多<i class="threeBot"></i></span>
					<span v-else>点击收起<i class="threeTop"></i></span>
				</div>

			</div>
						<!-- 没活动 -->
				<div class="notActive" v-if="!customerLike||customerLike.length == 0">
					<p class="w-grayer">暂无爱买的商品</p>
				</div>
		
		</div>

		<div class="loveActive"  v-if="likeChoice==2">
			<div class="self-active">
				<!-- 没活动 -->
				<div class="notActive">
					<p class="w-grayer">暂无顾客参加本店活动</p>
					<span class="but">换个活动试试</span>
				</div>

			</div>
		</div>


	</div>

	<!--********************************************  顾客结构 ******************************************** -->

	<div class="peopleStruct" v-if="choice==3">
		<div class="hobby-nav">
			<span :class="{'active':structChoice==1}" @click="structFn(1)">顾客活跃度</span>
			<span :class="{'active':structChoice==2}" @click="structFn(2)">顾客价值</span>
		</div>
		<!-- 顾客活跃度 -->
		<div class="ba-white" v-show="structChoice === 1">
		 <div class="panel-bor">
			<div id="cakeChart"></div>
			<div class="clear bolds">
				<span>顾客分类</span>
				<span class="pull-right">最近一次成交在近</span>
			</div>
			<ul class="statePeople">
				<li class="clear" v-for="(item,index) in brisk">
					<span>{{item.name}}<i class="c-grayest">({{item.val}}人)</i></span>
					<span class="pull-right">
					<i v-if="index==0">1</i>
					<i v-else>{{timeArr[index-1].val}}</i>
					-{{timeArr[index].val}}天</span>
				</li>
				<!-- <li class="clear">
					<span>沉默顾客<i class="c-grayest">(21人)</i></span>
					<span class="pull-right">30-60天</span>
				</li>
				<li class="clear">
					<span>流失顾客<i class="c-grayest">(19人)</i></span>
					<span class="pull-right">60-90天</span>
				</li> -->
			</ul>
			</div>
			<div class="panel-bor">
				<div class="clear grouping" @click="groupingFn">
					<span>点击编辑顾客分组</span>
					<span class="fontMax pull-right c-grayest">></span>
				</div>
			</div>
		</div>
		<!-- 顾客价值 -->
		<div v-show="structChoice==2">
			<header>
				<div class="header-choice">
					<span class="but-choice" :class="{'active':frameTime==1}" @click="frameTimeFn(1)">近7天</span>
					<span class="but-choice" :class="{'active':frameTime==2}" @click="frameTimeFn(2)">近30天</span>
					<span class="but-choice" :class="{'active':frameTime==3}" @click="frameTimeFn(3)">近90天</span>
				</div>
			</header>

			<div class="panel panel-body">
				<div>成交频次</div>
				<div id="frequency"></div>
			</div>

			<div class="panel-body ba-white">
				<div>成交金额分布</div>
				<div id="moneyPillar"></div>
			</div>

		</div>
	</div>


<!--********************************************  底部导航 ******************************************** -->
	<div class="nav-height"></div>
	<div class="nav">
		<span class="nav-choice inline" :class="{'active':choice==1}" @click="choiceFn(1)">
			<img v-if="choice==1" src="/static/image/mobile/people-data1.png" />
			<img v-else src="/static/image/mobile/people-data.png" />
			<span>顾客数据</span>
		</span>
		<span class="nav-choice inline" :class="{'active':choice==2}" @click="choiceFn(2)">
			<img v-if="choice==2" src="/static/image/mobile/people-hobby1.png" />
			<img v-else src="/static/image/mobile/people-hobby.png" />
			<span>顾客偏好</span>
		</span>
		<span class="nav-choice inline" :class="{'active':choice==3}" @click="choiceFn(3)">
			<img v-if="choice==3" src="/static/image/mobile/people-struct1.png" />
			<img v-else src="/static/image/mobile/people-struct.png" />
			<span>顾客结构</span>
		</span>
	</div>


<!-- ********************************   编辑顾客分组  ************************************* -->
  <div class="groupBox"  v-show="groupState">
  	<div class="groupState" v-for="(item,index) in timeArrBox">
  		<div class="states">
  			<span class="name">{{item.name}}</span>
  			<i class="c-grayest fontCen">最近一次成交在近</i>
  		</div>
  		<div class="group-txt c-grayest">
  			<span v-if="index==0">1天</span>
  			<span v-else>{{timeArrBox[index-1].val}}</span>
  			 <i class="zi inline">至</i>
  			<span @click="timeArrFn(index)">{{item.val}}天</span>
  		</div>
  	</div>

  	<p class="explainRight">系统暂时支持统计1-120天内的顾客数据</p>

  	<div class="butKeep" @click="groupKeep()">立即保存</div>
  	<div class="butClose" @click="groupingFn()">返回</div>

  	<p class="explainRight" @click="defaultSys()">恢复至默认分组</p>

    <!-- 时间弹出选择 -->
    <div class="popTimeBox" v-show="popTimeState" @click="timeTogle()">
    	<div class="popTime" @click.stop>
    		<div class="please clear">
    			<span class="c-grayest pull-left" @click="timeTogle()">取消</span>
    			<span>请选择</span>
    			<span class="menu-color pull-right" @click="timeFinish()">完成</span>
    		</div>
    		<div class="choiceNumbBox">
    		<div class="choiceNumb">
    		    <div :style="{height:maskH +'px'}"></div>
    			<ul class="numBox">
    			   <li v-for="(item,index) in timeFor">{{item}}</li>
    			</ul>
    			<div :style="{height:maskH +'px'}"></div>
    		</div>
    		<!-- 遮罩层 -->
    			<div class="maskTop" :style="{height:maskH +'px'}"></div>
    			<div class="maskBot" :style="{height:maskH +'px'}"></div>
    		</div>
    		
    	</div>
    </div>

  </div>


</div>
<script src="/static/js/mobile/jquery.cookie.js"></script>
<script src="/static/js/mobile/vue.js"></script>
<script src="/static/js/mobile/appGuest.js"></script>
</body>
</html>