<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>阿凡提</title>
<link rel="stylesheet" href="/static/css/mobile/time.css">
<link rel="stylesheet" href="/static/css/mobile/all.css">
<link rel="stylesheet" href="/static/css/mobile/countThan.css">
<script src="/static/js/mobile/jquery.min.js"></script>
</head>
<body>
<input type="hidden" name="day" value="{$res.day}"/>
<input type="hidden" name="time" value="{$res.time}"/>
<div class="minbarPT" id="than" v-cloak>
    <div class="minibarBox">
        <div class="minibar">
            <div @click="back()">
                <img src="https://image.aftdc.com/appBimg/icon_back_normal.png" alt="">
            </div>
            <span>阿凡提</span>
            <span></span>
        </div>
    </div>
<div class="ZuiAWaiKin">
    <div class="XunTver">
        <div class="Lenr" :class="{'active':dayNav==1}" @click="dayNavFn(1)">昨日</div>
        <div class="Lenr" :class="{'active':dayNav==7}" @click="dayNavFn(7)">近7天</div>
        <div class="Lenr" :class="{'active':dayNav==30}" @click="dayNavFn(30)">近30天</div>
        <div class="Lenr" :class="{'active':dayNav==0}" @click="dayNavFn(0)">自定义</div>
    </div>

    <div class="XunDer" v-show="dayNav==0">
        <input class="Txt" id="date" type="text" name="start" v-model="time.start" readonly="readonly">
        <span class="Tst">至</span>
        <input class="Txt" id="dateEnd" type="text" name="end" v-model="time.end" readonly="readonly">
    </div>
</div>


<div class="Mistake"> 
    <span class="Vinder"><span class="lvLin"></span>营业详细数据</span> 
    <span class="Loinver"></span> 
</div>


<div class="Sinfopu">
    <div class="DerNser">营业额 <span class="Newser">新</span> <span class="Querter">?</span> </div>
    <div class="DerNonc_d">
       <span class="Sing">￥</span>{{than.needPay}}
       <span class="xaunzhuan" :class="[moreData?'transft':'transfb']" @click="moreDataFn()">›</span>
    </div>
    <div class="funsIn">比前{{diff}}日
      <i v-if="thandb.subNeed==0">--持平</i>
      <i v-else class="jianTou" :class="[thandb.subNeed>0?'be-up':'be-down']">{{thandb.proNeed}}</i>
    </div>
</div>

    <div class="NeiCang" v-show="moreData">
        <div class="leosi"><span class="lenName">菜品原价：</span>￥{{than.totalMoney}}</div>
        <div class="leosi"><span class="lenName">餐盒费：</span>￥{{than.boxFee}}</div>
        <div class="leosi"><span class="lenName">配送收入：</span>￥{{than.deliverMoney}}</div>
    </div>


<div class="Iunter">

    <div class="FouruDer">
         <div class="Gin Gzuo">
            <div class="hInNser">有效订单 <span class="Houter">?</span> </div>
            <div class="NubPonc"><span class="Liv">{{than.orderNum}}单</span></div>
            <div class="ConSu">比前{{diff}}日
             <i v-if="thandb.subNum==0">--持平</i>
             <i v-else class="jianTou" :class="[thandb.subNum>0?'be-up':'be-down']">{{thandb.proNum}}</i>
            </div>
         </div>
         <div class="Gin Gyou">
           <div class="VieTser">单均价  <span class="BifIter">?</span> </div>
           <div class="CunNonc"><span class="Fin">￥{{than.means}}</span></div>
           <div class="PastnSu">比前{{diff}}日
             <i v-if="thandb.subMean==0">--持平</i>
             <i v-else class="jianTou" :class="[thandb.subMean>0?'be-up':'be-down']">{{thandb.proMean}}</i>
           </div>
         </div>
    </div>

</div>


<div class="Boyytui"> 
    <div class="Guitake">
        <span class="Xti one">订单收入 <span class="Houter">?</span></span>
        <span class="Xti two">￥{{than.plan}}</span>
        <span class="Xti thr">比前{{diff}}日
         <i v-if="thandb.subPlan==0">--持平</i>
         <i v-else class="jianTou" :class="[thandb.subPlan>0?'be-up':'be-down']">{{thandb.proPlan}}</i>
        </span>
    </div>

</div>

</div>
<script type="text/javascript">
$(function(){
  $("#date").dateSelect();
  $("#dateEnd").dateSelect(); //加载事件选择*/
});
</script>
<script src="/static/js/mobile/vue.js"></script>
<script src="/static/js/mobile/dateSelect-over.js"></script>
<script src="/static/js/mobile/countThan.js"></script>
</body>
</html>


