<!DOCTYPE html>
<html >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="black" name=" apple-mobile-web-app-status-bar-style"/>
	<meta content="email=no" name="format-detection"/>
	<title>经营数据-首页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/mobile/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mobile/index.css">
	<!--<script src="/static/js/mobile/g2.js"></script>-->
</head>
<body>
	<div class="phoneAll minbarPT" id="indexBox" v-cloak>
        <div class="minibarBox">
            <div class="minibar">
                <div @click="back()">
                    <img src="https://image.aftdc.com/appBimg/icon_back_normal.png" alt="">
                </div>
                <span>经营数据</span>
                <span></span>
            </div>
        </div>
		<div class="title w-grayer">数据统计</div>
		<div class="header">
			<a class="tabBar" :href="'appCount.html?shopId='+ shopId">
				<img src="/static/image/mobile/business.png" />
				<p>营业统计</p>
			</a>
			<div class="headerLine"></div>
			<a class="tabBar" :href="'appGuest.html?shopId='+ shopId">
				<img src="/static/image/mobile/shopper.png" />
				<p>顾客分析</p>
			</a>
			<div class="headerLine"></div>
			<a class="tabBar" :href="'appFlow.html?shopId='+ shopId">
				<img src="/static/image/mobile/flow.png" />
				<p>流量分析</p>
			</a>
			<div class="headerLine"></div>
			<a class="tabBar" :href="'appShop.html?shopId='+ shopId">
				<img src="/static/image/mobile/goods.png" />
				<p>商品分析</p>
			</a>
			<!--<a class="tabBar" :href="'../appFell/appFeel.html?shopId='+ shopId">-->
				<!--<img src="/static/image/mobile/seller.png" />-->
				<!--<i>商家体检</i>-->
			<!--</a>-->
		</div>

		<div class="title "><a class="w-grayer" :href="'appCount_del.html?shopId='+ shopId">经营报告</a></div>

		<div class="choice">
			<span :class="{'active':dateChoice==1}" @click="datefn(1)">昨日 经营日报</span>
			<span :class="{'active':dateChoice==7}"  @click="datefn(7)">近7日 经营数据</span>
		</div>
        <div class="selectLine">
            <div class="line" :class="{'activeLine':dateChoice==1}"></div>
            <div class="line" :class="{'activeLine':dateChoice==7}"></div>
        </div>
		<div class="title c-grayest">统计时间 {{statisticsTime}}</div>


		<!-- 昨日 经营日报 -->
		<div class="yesterday" v-show="dateChoice == 1">
			<div class="">
				<div class="panel-heading clear ">
					<!--<strong class="m-left c-gray">昨日 流量概况</strong>-->
                    <strong class="m-left c-menuGray bigFS">昨日 流量概况</strong>
					<!--<span class="c-grayest pull-right m-right-sm fontCen">详情 ></span>-->
				</div>
                <div class="flow-rofile panel-body relative">
                    <div class="w-grayer">
                        <p>访问顾客</p>
						<p class="c-normal fontCen"><span class="fontjia fontNumb">{{number.readNum}}</span>人</p>
                        <!-- <p>较前日 --持平</p> -->
                    </div>
                    <div class="w-grayer">
                        <p>下单顾客</p>
						<p class="c-normal fontCen"><span class="fontjia fontNumb">{{number.sales}}</span>人</p>
                        <!-- <p>较前日 <span class="fa-down">1人</span></p> -->
                    </div>
                    <div class="w-grayer">
                        <p>下单转化率</p>
						<p class="fontCen"><span class="fontjia fontNumb">{{number.order}}</span>%</p>
                        <!-- <p>较前日<span class="fa-up">1人</span></p> -->
                    </div>
                </div>
			</div>
            <div class="big-line"></div>
			<div class="panel">
				<div class="panel-heading clear ">
					<strong class="m-left c-menuGray bigFS" >昨日 下单顾客概况</strong>
					<!--<span class="c-grayest pull-right m-right-sm fontCen">详情 ></span>-->
				</div>
				<div class="panel-body clear orderSituation">
					<div class="flex-left">
						<p class="flex-left-box"></p>
					</div>
					<div class="flex-right">
						<p class="c-grayest">
							<span class="boxMain"></span>老客
						</p>
						<p class=" m-top">
							<span class="fontjia fontNumb">{{yed.oldOrderNum}}</span><i class="expression">人 </i>
							较前日
							<i v-if="subYed.oldsub==0">--持平</i>
							<i :class="[subYed.oldsub>0?'fa-up':'fa-down']" v-else>{{subYed.oldsub|abs}}人</i>
						</p>
						<p class="c-grayest mt">
							<span class="boxGray"></span>新客
						</p>
						<p class=" m-top" >
							<span class="fontjia fontNumb">{{yed.newOrderNum}}</span><i class="expression">人 </i>
							较前日
							<i v-if="subYed.newsub==0">--持平</i>
							<i :class="[subYed.newsub>0?'fa-up':'fa-down']" v-else>{{subYed.newsub|abs}}人</i>
						</p>
					</div>
					<div class="item-5"></div>
				</div>

			</div>
            <div class="big-line"></div>
			<div class="panel">
				<div class="panel-heading clear ">
					<strong class="m-left c-menuGray bigFS">昨日 营业统计</strong>
					<!--<span class="c-grayest pull-right m-right-sm fontCen">详情 ></span>-->
				</div>
				<div class="paddingt clear">
					<div class="item-6">
						<p class="c-grayest">有效订单</p>
						<p class="c-normal fonyMin font-height"><i class="fontjia fontNumb">{{YesterdayIncomes.orderNum}} </i>单</p>
						<p class="w-grayer">较前日
						 <i v-if="subcomes.num==0">--持平</i>
					     <i :class="[subcomes.num>0?'fa-up':'fa-down']" v-else>{{subcomes.num|abs}}单</i>
						</p>
					</div>
					<div class="item-6">
						<p class="c-grayest">营业总额</p>
						<p class="c-normal fonyMin font-height">￥<i class="fontjia fontNumb">{{YesterdayIncomes.plan}}</i></p>
						<p class="w-grayer">较前日
						  <i v-if="subcomes.plan==0">--持平</i>
					     <i :class="[subcomes.plan>0?'fa-up':'fa-down']" v-else>{{subcomes.plan|abs}}元</i>
						</p>	
					</div>
				</div>
				<div class="panel-body invalid"> 
					<div>
						<i class="c-grayest">无效订单 </i><span class="fontNumb">{{YesterdaytodayOut.orderNum}}</span>单
					</div>
					<div>
						<i class="c-grayest">损失金额 </i>￥<span class="fontNumb">{{YesterdaytodayOut.plan}}</span>
					</div>
				</div>
			</div>
            <div class="big-line"></div>
			<div class="ba-whtie">
				<div class="panel-heading clear ">
					<strong class="m-left c-menuGray bigFS">昨日 体检结果</strong>
				</div>
				<div class="panel-body fontzro">
                    <div>
                        <span class="fractionBox">
                            <span>
                                <i class="fontMax">65</i>分
                            </span>
                        </span>
                        <div class="inlineTop">
                            <p>门店存在<i class="bc-red">4个</i>问题项</p>
                            <span class="c-grayest">建议优化</span>
                        </div>
                    </div>
                    <span class="c-grayest fonyMin inlineTop pull-right">立即优化 ></span>
				</div>
			</div>
		</div>

		<!-- 近7日经营数据 -->
		<div class="weekBox" v-show="dateChoice==7">
			<div class="panel">
				<div class="panel-heading clear ">
					<strong class="m-left bigFS">近7日 下单顾客</strong>
					<!--<span class="c-grayest pull-right m-right-sm fontCen">详情 ></span>-->
				</div>
				<div class="whole">
					<div id="customer"></div>
                    <div class="whole-datas bt-solid clear" v-if="orderCalc.max.value != orderCalc.min.value">
					<!--<div class="whole-datas bt-solid clear">-->
                            <div class="item-6 br-dashed">
							<p>单日顾客最高({{orderCalc.max.month}})</p>
							<span class="c-normal">{{orderCalc.max.value}}人</span>
						</div>
						<div class="item-6 minimum">
							<p>单日顾客最低({{orderCalc.min.month}})</p>
							<span class="c-normal">{{orderCalc.min.value}}人</span>
						</div>
					</div>
				</div>
			</div>
            <div class="big-line"></div>
			<div class="panel">
				<div class="panel-heading clear ">
					<strong class="m-left bigFS">近7日 有效订单</strong>
					<!--<span class="c-grayest pull-right m-right-sm fontCen">详情 ></span>-->
				</div>
				<div class="whole">
					<div id="valids"></div>
                    <div class="whole-datas bt-solid clear" v-if="validCalc.max.value != validCalc.min.value">
					<!--<div class="whole-datas bt-solid clear">-->
						<div class="item-6 br-dashed">
							<p>单日订单最高({{validCalc.max.month}})</p>
							<span class="c-normal">{{validCalc.max.value}}单</span>
						</div>
						<div class="item-6 minimum">
							<p>单日订单最低({{validCalc.min.month}})</p>
							<span class="c-normal">{{validCalc.min.value}}单</span>
						</div>
					</div>
				</div>
			</div>
            <div class="big-line"></div>
			<div class="panel" >
				<div class="panel-heading clear ">
					<strong class="m-left bigFS">近7日 商品分析</strong>
					<!--<span class="c-grayest pull-right m-right-sm fontCen">详情 ></span>-->
				</div>
                <table width="100%" v-if="goods&&goods.length>0">
                    <tr class="bg-gray">
                        <th width="50%" style="text-align: left">&nbsp;&nbsp;&nbsp;菜品</th>
                        <th width="20%" style="text-align: right">销量(份)</th>
                        <th width="30%"style="text-align: right">售价(元)&nbsp;&nbsp;</th><!--销售额-->
                    </tr>
                    <tr v-for="(item,index) in goods" :class="[index%2!==0?'bg-gray':'']">
                        <td width="50%">&nbsp;&nbsp;{{item.name}}</td>
                        <td width="20%" style="text-align: right">{{item.numb}}&nbsp;</td>
                        <td width="30%" style="text-align: right">{{item.price}}&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                </table>
				 <div class="notContent" v-else>
				     暂无商品
                 </div>
			</div>
		</div>
	</div>
	<script src="/static/js/mobile/jquery.min.js"></script>
	<script  src="/static/js/mobile/vue.js"></script>
	<script src="/static/js/mobile/index.js"></script>
    <script src="/static/js/mobile/g2.js"></script>
</body>
</html>