<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>批量上传图片</title>
    <link rel="stylesheet" href="/static/css/business/picture.css">
    <link rel="stylesheet" href="/static/css/business/all.css" />
    <link rel="stylesheet" href="/static/css/business/pages.css">
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script src="/static/js/public/pages.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>

</head>

<body>
<div class="Sindre" v-cloak>
    <div style="margin :0px auto; width:990px;">
        <div class="img XuanImg" @click="javascript:Clicks();">选择图片</div>
        <div class="Uinder">
            <div class="img saver" @click="javascript:save();">保存</div>
            <div class="imgsrc deltye" @click="javascript:Clicksend();">删除</div>
            <!--****************************************分页**********************************************-->
            <div style='text-align:center;display: initial;' class="pages">
                <!-- 分页 -->
                <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
            </div>
        </div>


        <input type="file" name="file" id="doc" multiple="multiple" style="width:150px;display: none;"
               @change="javascript:setImagePreviews();" accept="image/*"/>
        <div id="dd" style=" width:990px;overflow: hidden;">
            <template v-for="(item,index) in fileUrl">
                <div style="float:left;position: relative;">
                    <img  :src="item" style="display: block; width: 150px; height: 150px; border: 1px solid rgb(0, 0, 0); padding: 10px; margin: 0px 10px 10px 0px;">
                    <span class="close1" @click="closeFn(index)" style="display: inline;">X</span></div>

            </template>
            <!--<div class="imgbox1 leison news" v-for="(item,index) in fileUrl">-->
                <!--<div class="imgnum1">-->
                    <!--<input type="file" class="filepath1"/>-->
                    <!--<span class="close1" @click="closeFn(index)" style="display: inline;">X</span>-->
                    <!--<img src="/static/image/business/upload.png" style="display: none;" class="img11"/>-->
                    <!--<img :src="item" class="img22"/>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <template v-for="(item,index) in dataz">
            <div class="imgtogle" style="float:left;position: relative" @click="imgtogleClick($event)">
                <img id="img" @click="closeFnend($event,item.imgId)" :src="'https://image.aftdc.com/'+item.Image_path"
                     class="imageting">
                <div class="monhu">✔</div>
            </div>

        </template>

    </div>
</div>
<script src="/static/js/business/picture.js"></script>
</body>

</html>
