<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/business/all.css"/>
    <link rel="stylesheet" href="/static/css/business/fenemsg.css"/>
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<!--菜品编辑-->


<body>
<div id="body" v-cloak>
    <input type="hidden" name="shopId" :value="shopId">
    <input type="hidden" name="id" value="id">
    <template v-if="dataz!=''">
    <div class="header" v-for="(item ,index) in dataz">
        <div class="OneCall">
            <div class="lei one_a">{{item.time}}</div>
            <div class="lei one_b">
                <img class="zjidin Zone idzhi" v-if="item.state==0||item.state==2" @click="ZoneClick(item)"
                     :data-index="item.id" style="display: block;" src="/static/image/business/zd.png">
                <img class="zjidin Ztwo quidzhi" v-else @click="ZtwoClick(item)" :data-index="item.id"
                     style="display: block;" src="/static/image/business/zhiding.png">
                </span>
                <span class="Waikuon">
				
					 <img class="star Sone" v-if="item.state==0||item.state==1" @click="SoneClick(item)" :data-index="item.id"
                          style="display: block;" src="/static/image/business/sc.png">
				
					 <img class="star Stwo" v-else @click="StwoClick(item)" :data-index="item.id" style="display: block;"
                          src="/static/image/business/sc1.png">
				
				 </span>
                <span class="Waikuon">
					 <!-- <img  class="delete" src="/static/image/business/delete.png"> -->
					 <img :data-index="item.id" class="delete" @click="deleteClick(item)"
                          src="/static/image/business/delete.png">
				 </span>
            </div>
        </div>
        <div class="Twocall">
            <img class="tuImg" :src="userPhoto.userPhoto"> {{item.leaveword}}
        </div>
        <div class="fhuifu">
            <div class="konImg"></div>
            <div class="contern" v-if="item.replay!=null">
                <div class="shgangjia">商家回复：</div>
                <div>{{item.replay}}</div>
            </div>
            <span style="color:#a0a0a0;" v-else>(商家暂未回复...)</span>
        </div>
        <div class="SonPer" v-if="item.replay!=null">
            <div style="color:red;">已回复</div>
        </div>
        <div class="SonPer" v-else>
            <div  class="hiuucin" @click="hiuucinClick(item)">回复</div>
        </div>
    </div>


    </template>

    <div class="header" v-else>
        <h1>此用户暂无进行留言...</h1>
    </div>
    <a style="background: #06c1ae; text-decoration: none; padding: 6px 12px; color:#fff" href="#"
       @click="backClick()">返回</a>
    <!--[回复框][回复框][回复框]-->
    <div class="Onkaungt" style="display: none">
        <div class="erkaung">
            <div class="DinPer">
                <div class="Cuole"><span>消息回复:</span> <span class="cinHao" @click="cinHaoClick()">×</span></div>
                <div class="texteren">
                    <textarea class="wenban"></textarea>
                </div>
                <div class="ZuHou">
                    <div class="con quxiao" @click="quxiaoClick()">取消</div>
                    <div class="con quedin" @click="quedinClick()">确定</div>
                </div>
            </div>
        </div>
    </div>
    <!--[回复框][回复框][回复框]-->
    <!----【置顶 关注 删除 影藏框】---->
    <div class="SanKuan" style="display: none">
        <div class="neiKuan">
            <div class="Licen">
                <div class="Menle"><span>提示内容:</span> <span class="ReuHao" @click="ReuHaoClick()">×</span></div>
                <div class="NongDer">这里是提示的内容哦!!!</div>
                <div class="FouIn">
                    <div class="Iner Aun" @click="AunClick()">取消</div>
                    <div class="Iner Cun">确认</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----【置顶 关注 删除 影藏框】---->
<script src="/static/js/business/fenemsg.js"></script>
</body>

</html>