<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
</head>
<body class="wst-page" style="position:relative;">
<div id="app" v-cloak>
    <table class="table table-hover table-striped table-bordered wst-form">
        <tr>
            <th width='120' align='right'>账号<font color='red'>*</font>：</th>
            <td>
                <input type='text' id='loginName' name='loginName' class="form-control wst-ipt"
                       v-model='staffs.loginName' @focus="focusPwd('tipsName',staffs.loginName)"
                       @blur="blurPwd('tipsName',staffs.loginName)">
                <div v-if="tipsName" class="onError"
                     style="display: inline-block; margin: 0px; padding: 0px; background: transparent;">
                    <div :class="tipsName">{{txtName}}</div>
            </td>
            </td>
            <td rowspan='6'>
                <!--       <div id="preview_Filedata">
                       <img id='preview' :src='https://image.aftdc.com/staffs.staffPhoto'  height='152'/><br/>
                     </div> -->
            </td>
        </tr>
        <tr v-if="!staffs.staffId">
            <th width='120' align='right'>密码<font color='red'>*</font>：</th>
            <td>
                <input type='password' id='loginPwd' class="form-control wst-ipt" maxLength='20'
                       v-model="staffs.loginPwd" @focus="focusPwd('tipsPwd',staffs.loginPwd)"
                       @blur="blurPwd('tipsPwd',staffs.loginPwd)"/>
                <div v-if="tipsPwd" class="onError"
                     style="display: inline-block; margin: 0px; padding: 0px; background: transparent;">
                    <div :class="tipsPwd">登录密码长度应该为5-20位之间</div>
            </td>
        </tr>
        <tr>
            <th align='right'>姓名<font color='red'>*</font>：</th>
            <td>
                <input type='text' id='staffName' class="form-control wst-ipt" v-model='staffs.staffName'
                       @focus="focusPwd('tipsSta',staffs.staffName)" @blur="blurPwd('tipsSta',staffs.staffName)"
                       maxLength='20'/>
                <div v-if="tipsSta" class="onError"
                     style="display: inline-block; margin: 0px; padding: 0px; background: transparent;">
                    <div :class="tipsSta">请输入职员名称</div>
            </td>
        </tr>
        <tr>
            <th align='right'>角色<font color='red'>*</font>：</th>
            <td>
                <select id='staffRoleId' name='staffRoleId' v-model="staffs.staffRoleId">
                    <option value='-1'>请选择</option>
                    <option v-for="(item,index) in roleList" :value='item.roleId'>{{item.roleName}}</option>
                </select>
                <div v-if="tipsSelect&&staffs.staffRoleId==-1" class="onError"
                     style="display: inline-block; margin: 0px; padding: 0px; background: transparent;">
                    <div class="onError">请选择角色</div>
            </td>
        </tr>
        <tr>
            <th align='right'>职员编号：</th>
            <td>
                <input type='text' id='staffNo' class="form-control wst-ipt" v-model='staffs.staffNo' maxLength='20'/>
            </td>
        </tr>
        <!--  <tr style="height:60px;">
           <th align='right'>职员头像：</th>
           <td>
            <div>
             <div id="filePicker" style='margin-left:0px;float:left'>上传头像</div>
             <div style='margin-left:5px;float:left'>图片大小:150 x 150 (px)，格式为 gif, jpg, jpeg, png</div>
           </div>
         </td>
        </tr> -->
        <tr>
            <th align='right'>工作状态<font color='red'>*</font>：</th>
            <td>
                <label>
                    <input type='radio' id='workStatus1' name='workStatus' value='1' v-model="staffs.workStatus"/>在职&nbsp;&nbsp;
                </label>
                <label>
                    <input type='radio' id='workStatus0' name='workStatus' value='0' v-model="staffs.workStatus"/>离职
                </label>
            </td>
        </tr>
        <tr>
            <th align='right'>账号状态<font color='red'>*</font>：</th>
            <td>
                <label>
                    <input type='radio' id='staffStatus1' name='staffStatus' value='1' v-model="staffs.staffStatus"/>启用&nbsp;&nbsp;
                </label>
                <label>
                    <input type='radio' id='staffStatus0' name='staffStatus' value='0' v-model="staffs.staffStatus"/>停用
                </label>
            </td>
        </tr>
        <tr>
            <td colspan='3' style='padding-left:250px;'>
                <button type="submit" class="btn btn-success" @click="keepFn">保&nbsp;存</button>
                <button type="button" class="btn btn-primary" onclick='javascript:history.go(-1)'>返&nbsp;回</button>
            </td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/staffIdEdit.js"></script>
</html>