<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理中心</title>
    <link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/admin/pages.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/vue.min.js"></script>
    <!-- 分页组件 -->
    <script src="/static/js/public/pages.js"></script>
</head>
<body class='wst-page'>
<div id="app" @click="content" v-cloak>
    <div class='wst-tbar'>
        账号：<input type='text' id='loginName' name='loginName' class='form-control wst-ipt-10' v-model='loginName'/>
        姓名：<input type='text' id='staffName' name='staffName' class='form-control wst-ipt-10' v-model='staffName'/>
        <button type="submit" class="btn btn-primary glyphicon glyphicon-search" @click="pageFn(1)">查询</button>
        <a class="btn btn-success glyphicon glyphicon-plus" href="javascript:" @click="edit()"
           style='float:right'>新增</a>
    </div>

    <div class="wst-body">
        <table class="table table-hover table-striped table-bordered wst-list">
            <thead>
            <tr>
                <th width='30'>序号</th>
                <th width='80'>账号</th>
                <th width='80'>姓名</th>
                <th width='80'>角色</th>
                <th width='60'>编号</th>
                <th width='60'>工作状态</th>
                <th width='120'>最后登录时间</th>
                <th width='80'>最后登录IP</th>
                <th width='40'>状态</th>
                <th width='120'>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in listData">
                <td>{{index+1}}</td>
                <td>{{item.loginName}}</td>
                <td>{{item.staffName}}&nbsp;</td>
                <td>{{item.roleName}}&nbsp;</td>
                <td>{{item.staffNo}}&nbsp;</td>
                <td>
                    <span v-if="item.workStatus==1">在职</span>
                    <span v-if="item.workStatus==0">离职</span>
                </td>
                <td>{{item.lastTime}}&nbsp;</td>
                <td>{{item.lastIP}}&nbsp;</td>
                <td>
                    <div class="dropdown">
             <span style="display: inline-block" v-if="item.staffStatus==0" @click.stop="stateTogle=index">
              <button class="btn btn-danger dropdown-toggle wst-btn-dropdown" type="button" data-toggle="dropdown">
                停用
                <span class="caret"></span>
              </button>
            </span>
                        <span style="display: inline-block" v-else @click.stop="stateTogle=index">
             <button class="btn btn-success dropdown-toggle wst-btn-dropdown" type="button" data-toggle="dropdown">
               启用
               <span class="caret"></span>
             </button>
           </span>

                        <ul class="dropdown-menu" role="menu" style="display: block" v-if="stateTogle==index">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:"
                                                       @click="editStatus(item.staffId,1,index)">启用</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:"
                                                       @click="editStatus(item.staffId,0,index)">停用</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <a class="btn btn-default glyphicon glyphicon-pencil" @click="edit(item.staffId)">修改</a>&nbsp;
                    <button type="button" class="btn btn-default glyphicon glyphicon-trash"
                            @click="del(item.staffId,index)">刪除
                    </button>
                </td>
            </tr>

            <tr>
                <td colspan='11' align='center'>
                    <!-- 分页 -->
                    <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/admin/staffsList.js"></script>
</html>