<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/business/all.css"/>
    <link rel="stylesheet" href="/static/css/business/time.css"/>
    <link rel="stylesheet" href="/static/css/business/analyCount.css"/>
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/dateSelect-over.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/g2.js"></script>
    <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=AQMBZ-L4FCO-4VNWY-S5SGC-BNSG7-ALBIS"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>
<!--经营分析 统计-->

<body>
<div class="evaluate" id="analyCounts" v-cloak>
    <div class="alert alert-info">温馨提醒：每天11：00可查看最新历史数据。本页面数据仅供商家作为调整经营策略的参考，不作为结款与验证的准确依据。</div>
    <div class="content-wrapper">
        <div class="panel-total clear">
            <div class="panel-income-inner panel panel-default item-10">
                <div class="panel-heading">近日营业收入</div>
                <div class="panel-body clear">
                    <div class="pull-left field-left">
                        <div class="field-left-content">
                            <div class="yiju">扣除相关支付费用(营销活动支出,平台服务费等)后的净收入.仅供参考,不可作为实际结款依据</div>
                            <img class="yijuimg" src="/static/image/business/jhk.png">
                            <div>实时 订单收入<span class="askIcon yijuspan" @mouseover="yijuspanOver()"
                                              @mouseout="yijuspanOut()"></span></div>
                            <div class="num-wrapper">
                                <a href="javascript:;" class="num">
                                    <span>{{todayIncome.orderNum}}</span>
                                    <b class="f-normal">单</b>
                                    <i class="c-grayest">›</i>
                                </a>
                                <p class="c-grayest m-top ">昨日全天 {{YesterdayIncome.plan}}元</p>
                                <!-- <div class="chipin">今日当前数据与昨日对应同时间段的数据进行对比</div>
                                    <img class="chipinimg" src="/static/image/business/jhk.png">
                                    <div class="c-grayest">对比昨日同时段<span class="askIcon chipitwo" @mouseover="chipitwoOver()" @mouseout="chipitwoOut()"></span>--持平</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="pull-left field-left">
                        <div class="field-left-content">
                            <div class="shusan">已接单且未被取消的订单</div>
                            <img class="sanimg" src="/static/image/business/jhk.png">
                            <div>有效订单<span class="askIcon" id="shouru" @mouseover="shouruOver()"
                                           @mouseout="shouruOut()"></span></div>
                            <div class="num-wrapper">
                                <a href="javascript:;" class="num">
                                    <span>{{todayIncomes.orderNum}}</span>
                                    <b class="f-normal">单</b>
                                    <i class="c-grayest">›</i>
                                </a>
                                <p class="c-grayest m-top ">昨日全天 {{YesterdayIncomes.plan}} 元</p>
                                <!-- <div class="c-grayest">对比昨日同时段<span class="askIcon"></span>--持平</div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-loss panel panel-default">
                <div class="panel-heading">今日营业损失</div>
                <div class="panel-body ">
                    <div class="field-left-content">
                        <div class="cdacv">已被取消的订单</div>
                        <img class="cdacvimg" src="/static/image/business/jhk.png">
                        <div class="w-grayer">无效订单<span class="askIcon" id="wuxiao" @mouseover="wuxiaoOver()"
                                                        @mouseout="wuxiaoOut()"></span></div>
                        <div class="num-wrapper">
                            <a href="javascript:;" class="num">
                                <span v-if="todayOut">{{todayOut.orderNum}}</span>
                                <b class="f-normal">单</b>
                                <i class="c-grayest">›</i>
                            </a>
                            <p class="c-grayest m-top ">昨日全天 {{YesterdaytodayOut.plan}}元</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-history panel panel-default">
            <div class="panel-heading">
                <div class="panel-title clear small">
                    <span style="padding-right: 10px;">历史 营业统计  </span>
                    <div class="kui-button-menu" :class="{'active':historys==1}" @click="historyFn(1)">近7日</div>
                    <div class="kui-button-menu" :class="{'active':historys==2}" @click="historyFn(2)">近30日</div>
                    <div class="kui-button-menu" :class="{'active':historys==3}" @click="historyFn(3)">自定义</div>
                    <div class="inline" v-show="historys==3">
                        <div class="inline input-times">
                            <input type="text" id="date" v-model="time.start" @focus="time.name='start'">
                            <span class="DataIncon">
										<img src="/static/image/business/calendar.png">
									</span>
                        </div>
                        <span class="inline"> 至 </span>
                        <div class="inline input-times">
                            <input type="text" id="dateN" v-model="time.end" @focus="time.name='end'">
                            <span class="DataIncon">
										<img src="/static/image/business/calendar.png">
									</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="gross-data row text-eminfo">
                    <div class="item-3 item">
                        <div class="w-grayer">近7日订单收入</div>
                        <div class="c-grayest">
                            <a href="javascript:;" class="num w-grayest">
                                ￥
                                <span class="bignum">{{qiTian.plan}}</span>
                                <b class="f-normal"></b>

                                <template v-if="qiTian.plan!=0">
                                    <i class="c-grayest small">继续努力</i>
                                </template>
                                <template v-else>
                                    <i class="c-grayest small">请加油</i>
                                </template>
                            </a>
                            <!-- <p class="c-grayest m-top ">(商家:0元 阿凡提:3元)</p> -->
                        </div>
                    </div>
                    <!-- <div class="item-3 item">
                                                        <div class="w-grayer">近7日活动补贴</div>
                                                            <div class="c-grayest">
                                                                    <a href="javascript:;" class="num w-grayest">
                                                                            ￥
                                                                            <span class="bignum">135</span>
                                                                            <b class="f-normal"></b>
                                                                            <i class="c-grayest" style="display:none">请加油</i>
                                                                    </a>
                                                            </div>
                        </div> -->
                    <div class="item-3 item">
                        <div class="w-grayer">近7日有效订单</div>
                        <div class="c-grayest">
                            <a href="javascript:;" class="num w-grayest">
                                <span class="bignum">{{qiTian.orderNum}}</span>
                                单
                                <b class="f-normal"></b>

                                <template v-if="qiTian.orderNum!=0">
                                    <i class="c-grayest" style="display:none">继续努力</i>
                                </template>
                                <template v-else>
                                    <i class="c-grayest" style="display:none">请加油</i>
                                </template>
                            </a>
                        </div>
                    </div>
                    <div class="item-3 item" style="border-right:none;">
                        <div class="w-grayer">近7日无效订单</div>
                        <div class="c-grayest">
                            <a href="javascript:;" class="num w-grayest">
                                <span class="bignum">{{qiTianOut.orderNum}}</span>
                                单
                                <b class="f-normal"></b>

                                <template v-if="qiTianOut.orderNum!=0">
                                    <i class="c-grayest">请实时优化店铺商品哦</i>
                                </template>
                                <template v-else>
                                    <i class="c-grayest">请继续保持</i>
                                </template>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trend-chart">
                <div class="title sub">
                    <b>{{selTime}} 营业趋势</b>
                    <span class="c-grayer">最多可选两个指标</span>
                </div>
                <div class="content clear">
                    <div class="graph item-10">
                        <div id="trend"></div>
                    </div>
                    <div id="legend" class="item-2"></div>
                </div>
            </div>
            <div class="order-dis-single-wrapper">
                <div class="title sub">
                    <b>{{selTime}} 订单分布</b>
                </div>
                <div class="order-dis clear">
                    <div class="by-time pull-left">
                        <div class="dis-chart">
                            <div id="timeSpread"></div>
                            <div class="text-center w-grayer small">月份</div>
                        </div>
                        <div class="dis-des">
                            <img src="/static/image/business/bulb.png" class="bulb"/> 根据顾客下单时间特征可有效了解顾客下单习惯，进行精准营销
                        </div>
                    </div>
                    <div class="by-cost pull-right">
                        <div class="dis-chart">
                            <div id="priceSpread">
                            </div>
                        </div>
                        <div class="dis-des">
                            <img src="/static/image/business/bulb.png" class="bulb"/> 根据顾客下单金额特征进行营销，有调整单价结构，提升回头率的效果
                        </div>
                    </div>
                </div>
            </div>
            <!-- id="analyCounts"-->
            <div class="order-dis-single-wrapper" style="display: none">
                <div class="title sub">
                    <b>{{selTime}} 热门地标分布 </b>
                    <span class="c-grayer">（共4个地标，订单量4单）</span>
                </div>
                <div class="order-dis clear">
                    <div class="data-table">
                        <table class="table table-bordered table-striped w-grayer small">
                            <tbody>
                            <tr>
                                <th width="40%">店铺热门地标</th>
                                <td>订单量</td>
                                <td>金额</td>
                                <td>客单价</td>
                                <td>操作</td>
                            </tr>
                            <tr v-for="(x,index) in 10" class="posName">
                                <th width="40%">店铺热门地标</th>
                                <td>订单量</td>
                                <td>金额</td>
                                <td>客单价</td>
                                <td class="chuaxian" @click="chuaxianClick()">操作</td>
                            </tr>
                            <tr>
                                <th colspan="5">使用精准营销，可以针对特定地点中的顾客进行精准营销！</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="map-container" id="container"></div>
                </div>
            </div>
            <div class="order-dis-single-wrapper">
                <div class="title sub">
                    <b>{{selTime}} 营业详情 </b>
                </div>
                <div class="order-dis clear">
                    <div class="data-table-detail ">
                        <table class="table table-bordered table-striped w-grayer small">
                            <tbody>
                            <tr>
                                <th>日期</th>
                                <td v-for="item in businessTitle" @click="busineSortFn(item.name)">
                                    {{item.txt}}
                                    <span class="sort-three">
													<i class="up-three"
                                                       :class="{'active':busineSort.aspect==1 && busineSort.txt==item.name}"></i>
													<i class="bot-three"
                                                       :class="{'active':busineSort.aspect==2 && busineSort.txt==item.name}"></i>
												</span>
                                </td>
                            </tr>
                            <tr v-for="(item,index) in businessData">
                                <th>{{item.time}}</th>
                                <td>{{item.total}}</td>
                                <td>{{item.shop}}</td>
                                <td>{{item.aft}}</td>
                                <td>{{item.income}}</td>
                                <td>{{item.valid}}</td>
                                <td>{{item.invalid}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--分页-->
                    <div class="text-center " v-if="businessDatas.length>10">
                        <ul class="pagination many-pagination">
                            <!--.kui-pagination-->
                            <li class="disabled" :class="[pageCurent==1?'disabledN':'disabledY']" @click="pageSub">
                                <a>«</a>
                            </li>
                            <li :class="{'active':pageCurent==index+1}" v-for="(item,index) in pageNumb"
                                @click="pageClick(index+1)">
                                <a href="javascript:;">{{index+1}}</a>
                            </li>
                            <li class="disabled" :class="[pageCurent==pageNumb?'disabledN':'disabledY']"
                                @click="pageAdd">
                                <a>»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--点击 操作 【影藏框】-->
        <div class="cangkuang" style="display: none;">
            <div class="contt">
                <div class="centeron">
                    <div class="youhu">创建优惠劵 <span class="cuoi" @click="cuoiClick()">×</span></div>
                    <div class="konep"><sub>*</sub>优惠券名称
                        <input id="Mtxt" type="text" value="周瑜酿皮（体育西店）优惠券" @focus="MtxtFocus()" @input="MtxtInput()">
                    </div>
                    <div class="tisikonep" id="konep.info"></div>
                    <div class="ktwop">
                        <sub>*</sub>优惠券数量<span id="numer">1</span> 张 <span class="conde">目标人群数量 1</span>
                        <span class="askIcon" id="louis" @mouseover="louisOver()" @mouseout="louisOut()"></span>
                        <span class="cmks">1名顾客本周已领三张卷</span>
                        <img class="hjkimg" src="/static/image/business/hjk.jpg">
                    </div>
                    <div class="kmorep"><sub>*</sub>优惠券金额
                        <input id="More" type="text" value="3" @focus="MoreFocus()" @input="MoreInput()">元
                    </div>
                    <div class="tisikmorep" id="kmorep.info"></div>
                    <div class="kthreep"><sub>*</sub>使用门槛<span class="manle">满</span>
                        <input id="Ptxt" type="text" value="45" @focus="PtxtFocus()" @input="PtxtInput()">元可用
                    </div>
                    <div class="tisikthreep" id="kthreep.info"></div>
                    <div class="kfourp"><sub>*</sub>优惠券有效期<span class="fajuan">发券之日起</span>
                        <input id="Hine" type="text" value="30" @focus="HineFocus()" @input="HineInput()"> 天可用
                    </div>
                    <div class="tisikfourp" id="kfourp.info"></div>
                    <div class="kwup">
                        <label class="label-checkbox">
                            <input id="aconer" type="checkbox" @click="aconerClick()"/>
                            <span class="custom-checkbox"></span> 我已同意 <span class="cieyi" @click="cieyiClick()">《商家自营销协议》</span>
                        </label>
                    </div>
                    <input id="sendjuan" type="button" disabled="disabled" value="立即发劵" @click="sendjuanClick()">
                    <!--222222222222222222222222-->
                    <div class="nextku" style="display: none">
                        <div class="every">
                            <div class="nrsjs">商家自营销协议<span class="cder" @click="cderClick()">×</span></div>
                            <div class="ccikikd">
                                1. 店铺优惠活动可以与阿凡提外卖平台的其他活动同时进行，如满减等；店铺优惠可以和阿凡提外卖红包同时使用；
                                <br/> 2. 店铺优惠活动的促销成本由商家自己承担，我公司（阿凡提）只是提供阿凡提外卖平台的服务方；商家不得要求我公司（阿凡提）开具有关“店铺优惠”的发票；
                                <br/> 3. 店铺优惠的实际归属为各个开展活动的商家，我公司（阿凡提）只负责代发，归属权不属于我公司（阿凡提）；
                                <br/> 4. 针对确认收货的订单，我公司（阿凡提）向商家支付的结算金额中不包括商家店铺自己发放的优惠金额，即：合同中的结算价为净值（原订单金额 - 商家店铺优惠金额）；
                                <br/>
                            </div>
                        </div>
                    </div>
                    <!--222222222222222222222222-->
                </div>
            </div>
        </div>
        <!--点击 操作 【影藏框】-->

        <!--<div class="panel panel-default">
                                        <div class="panel-body">
                                                <p>商品管理对你是否有帮助</p>
                                                <div class="row" style="padding: 15px 0;">
                                                        <div class="item-4 text-center manner">
                                                                <div class="zan icon-wrapper "></div>
                                                                <div class="description">很好,鼓励一下</div>
                                                                <div class="count">1.41k</div>
                                                        </div>
                                                        <div class="item-4 text-center manner">
                                                                <div class="notZan icon-wrapper "></div>
                                                                <div class="description">不好,继续优化</div>
                                                                <div class="count">1.41k</div>
                                                        </div>
                                                        <div class="item-4 text-center manner">
                                                                <div class="infor icon-wrapper "></div>
                                                                <div class="description">很好,鼓励一下</div>
                                                                <div class="count"></div>
                                                        </div>
                                                </div>
                                        </div>
                </div>-->
    </div>
</div>
<script type="text/javascript" src="/static/js/business/analyCount.js"></script>
</body>


</html>
<!--    <div id="c1"></div>-->
<!--chart.axis('xDim', {
	labels: {
	custom: true, // 表示使用自定义 html 显示文本标签
	renderer: function(value){
	return '<img src="' +imageMap[value] + '" width="30px"/>';
	}
	}
	});-->