<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>阿凡提</title>

    <link rel="stylesheet" href="/static/css/business/member.css">
    <link rel="stylesheet" href="/static/css/business/all.css" />
    <link rel="stylesheet" href="/static/css/business/time.css">
    <link rel="stylesheet" href="/static/css/business/pages.css">
    <link rel="stylesheet" href="/static/css/business/frame.css">
    <!-- <script src="/static/js/public/dateSelectSum.js"></script> -->
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
</head>

<body>
<form action="" method="post">
    <div class="Huod" v-cloak>
        <!--<h1 ><a href="/index.php/Business/Setshop/shopVip" class="laijie" >设置会员等级</a></h1>-->
        <div class="Dingder">
            <input name="mobile" class="Cinpr" type="text" placeholder="通过搜索手机号查找会员"> <span class="Xin" @click="Submit()">搜索</span> </div>

        <!--<div class="Minew"> <span class="Xince">发送短信</span> </div>-->
        <div class="Sinew">
            <input id="btn3" type="button" value="导入" @click="File">
            <input style="display: none;" id="file" type="file" ref="searchDom" @change="getFile($event)">
            <!--<input id="btn1" type="button" value="全选" @click="btn1Click()">-->
            <!--<input id="btn2" type="button" value="全不选" @click="btn2Click()">-->
            <!--<input style="display:none;" id="btn3" type="button" value="反选" @click="btn3Click()">-->
        </div>
        <div class="Jian">
            <div class="hangius" style="display:none;">店铺名：{{dataz['shopName']}}</div>
            <table id="div1">
                <thead>
                <tr>
                    <td><input type="checkbox" @click="choiceAll"/></td>
                    <td>用户姓名</td>
                    <td>信息</td>
                    <td>时间</td>
                    <td>未读</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in list">
                    <td><input :value="item.userId" v-model="checkbox"/></td>
                    <td>{{item.userName}}</td>
                    <td>{{item.content}}</td>
                    <td>{{item.timestamp}}</td>
                    <td v-if="item.zk!=''">{{item.wd}}</td>
                    <td> <button @click="userDetail(item.userId)" type="button">回复</button> </td>
                </tr>
                <!-- <volist name="applyshop" id="vo">
                                <tr>
                                    <td>
                                        <input type="checkbox" name="vehicle" value="" />
                                    </td>
                                    <td>{{dataz['userName']}}</td>
                                    <td>{{dataz['money']}}</td>
                                    <td>{{dataz['userScore']}}</td>
                                    <td v-if="dataz.zk!=''">{{dataz['zk']}}</td>
                                    <td v-else>暂无折扣</td>
                                    <td> {{dataz['userPhone']}} </td>
                                    <td> <a class="ATERN" href="/index.php/Business/Setshop/history/phone/{$vo.userPhone}"> 历史订单 </a></td>
                                </tr>
                            </volist>
                             -->
                </tbody>
            </table>
            <div class="text-center " v-if="pageNumb>0">
                <ul class="pagination many-pagination">
                    <!--.kui-pagination-->
                    <li class="disabled" :class="[pageCurent==1?'disabledN':'disabledY']" @click="pageSub(pageCurent - 1)">
                        <a>«</a>
                    </li>
                    <li :class="{'active':pageCurent==index+1}" v-if=" showText(index+1)" v-for="(item,index) in pageNumb" @click="pageClick(index+1)">
                        <a>{{showText(index+1)}}</a>
                    </li>
                    <li class="disabled" :class="[pageCurent==pageNumb?'disabledN':'disabledY']" @click="pageAdd(pageCurent + 1)">
                        <a>»</a>
                    </li>

                </ul>
                <div>第<input type="text" class="goto">/{{pageNumb}}页 <input type="button" value="go" @click="pageGo()"></div>

            </div>
        </div>
        <div class="dcwef" v-bind:style="{display: display}">
            <div class="cve">
                <div class="cef"> <span class="cewce" @click="togleEwm">X</span>  </div>
                <div class="cwcvweki">
                    <img class="ImgerTu" style="max-width:100%;overflow:hidden;" v-bind:src="img">
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="/static/js/business/KufuUser.js"></script>
</body>

</html>