<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="divport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,divport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!-- 设置在苹果手机上以应用模式启动时，是否全屏 -->
    <meta name='apple-touch-fullscreen' content='yes'>
    <!-- ios 系统 作用未知 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- iso 系统 作用未知 -->
    <meta content="fullscreen=yes,preventMove=no" name="ML-Config">
    <!-- iso 系统 作用未知 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 是否识别 手机号码、 电子邮件 地址 等-->
    <meta name="format-detection" content="telephone=no,email=no,address=no" />

    <!-- 让360双核浏览器用webkit内核渲染页面 -->

    <meta name="renderer" content="webkit">

    <!-- 避免IE使用兼容模式 -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--允许全屏模式浏览,隐藏浏览器导航栏&ndash;&gt;-->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!--微信缓存-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>餐头条文章</title>
    <link rel="stylesheet" href="/static/css/mobile/chooseGoods.css?time=Date.parse(new Date())">
    <link rel="stylesheet" href="/static/css/mobile/alls.css">
    <link rel="stylesheet" href="/static/css/mobile/flexible.css">
    <script type="text/javascript" src="/static/js/public/flexible.js"></script>
    <script type="text/javascript" src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/public/md5.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
</head>
<body >
<!-- <div class="noCollages" v-if="{{noCollage}}">
  <img src="https://image.aftdc.com/images/noorders.jpg"/>
  <div>拼单已取消</div>
</div> -->
<div class="collageAll" v-cloak >
    <div class="minibarBox">
        <div class="minibar">
            <div @click="back()">
                <img src="https://image.aftdc.com/appBimg/icon_back_normal.png" alt="">
            </div>
            <span class="minibar_center">{{shopInfo.shopName}}</span>
            <span></span>
        </div>
    </div>
    <div class='top2'>
        <div style='flex:2;display:flex;flex-direction:row;justify-content: space-between;'>
            <div class="language-name" :class="[currentTab==0?'language-active':'']"  @click="onCurrentTabClick(0)">
                点 餐
            </div>
            <div class="language-name" :class="[currentTab==1?'language-active':'']"  @click="onCurrentTabClick(1)">
                评 价
            </div>
            <div class="language-name" :class="[currentTab==2?'language-active':'']"  @click="onCurrentTabClick(2)">
                商 家
            </div>
        </div>
    </div>

    <div class='top3'>

        <div class="content" v-if="currentTab==0"  >

            <!-- 邀请拼单 -->
            <div class="classify-name">
                <template v-for="(item,index) in Von">
                    <div class="classify" :class="[catNameIndex==index?'classify_back':'']"  @click="sortClick(index)">
                        <img src="https://image.aftdc.com/appBimg/give-icon.png" class="icons" v-if="item.catName=='买赠'"/>
                        <img src="https://image.aftdc.com/images/cut-icon.png" class="icons" v-if="item.catName=='砍价'"/>
                        <img src="https://image.aftdc.com/images/sec-icon.png" class="icons" v-if="item.catName=='秒杀'"/>
                        <img src="https://image.aftdc.com/images/reb-icon.png" class="icons" v-if="item.catName=='折扣'&&item.type==1"/>
                        <img src="https://image.aftdc.com/images/hot-icon.png" class="icons" v-if="item.catName=='热销'"/>
                        <span>{{item.catName}}</span>
                        <div class="amount" v-if="item.allNumb&&item.allNumb>0">{{item.allNumb>99?'99+':item.allNumb}}</div>
                    </div>

                </template>
            </div>



            <div class="good_Von">
                <template v-for="(item,index) in Von"  v-if="catNameIndex==index">
                    <div class="dishes" >
                        <div class="distop">{{item.catName}}</div>
                        <template v-for="(food,foodIndex) in item.distop" >
                            <div class="food"  >
                                <img :src="'https://image.aftdc.com/'+food.goodsImg"/>

                                <div class='noFoodDiv' v-if="food.goodsStock==0||food.todayGoodsStock==0">
                                    <span class='noFood'>已售罄</span>
                                </div>

                                <div class="disfood">
                                    <div class="disfood-name" >
                                        <span class="foodname">{{food.goodsName}}</span>
                                        <!-- <div class='foodDetailsDiv'> -->
                                        <span class='foodDetails'>{{food.goodsDesc}}</span>

                                        <div style='display:flex; flex-direction: row;'>
                                            <div class='discountDiv' v-if="item.catId==3">
                                                <img class='discountIcon' src='https://image.aftdc.com/appBimg/discountDetails.png'/>
                                                <span class='discountText'>{{food.discount}}折 {{food.buyNum==-1?'不限量':'限'+food.buyNum+'份'}}</span>
                                            </div>
                                            <div class='discountDiv' style='width:1.733333rem' v-if="food.buyMininum>1">
                                                <img class='discountIcon' src='https://image.aftdc.com/appBimg/discountDetails.png'/>
                                                <span class='discountText'>{{food.buyMininum}}份起购</span>
                                            </div>
                                        </div>

                                        <div class='fullGiveDiv' v-if="item.catId==4">
                                            <img class='discountIcon' style='margin-top:0.053333rem' src='https://image.aftdc.com/appBimg/discountDetails.png'/>
                                            <span class='discountText'>买{{food.buy_num}}份赠{{food.gift_num}}份{{food.gift_goods.goodsName}}</span>
                                        </div>
                                        <!-- </div> -->
                                    </div>
                                    <div class="disfood-bottom">
                                        <div class="spec-market">
                                            <span class="foodprice" v-if="food.guige.length>0">￥{{food.marketPrice}}起</span>
                                            <span class="foodprice" v-else>￥{{food.shopPrice}}</span>
                                            <span class="marketPrice" v-if="(food.marketPrice!=food.shopPrice&&!food.guige.length>0&&!food.guigeAttr.length>0)||(food.marketPrice!=food.shopPrice&&food.zkGoodsId)">￥{{food.marketPrice}}</span>
                                            <span v-else>　</span>
                                        </div>

                                        <!--有规格  -->
                                        <div class="subadd" v-if="food.guige.length>0||food.guigeAttr.length>0" @click="specBoxShowClick(index,foodIndex)">
                                            <div class='chooseGG'>选规格</div>
                                        </div>

                                        <!--加减  catId=1 砍价   catId=2 秒杀   catId=3 折扣-->
                                        <div class="subadd" v-else-if="item.catId!=1 || food.bargainType==2">
                                            <img  v-if="food.numb > 0"  class="sub" src="https://image.aftdc.com/images/sub.png" @click="sub(index,foodIndex)"/>
                                            <span class="number" v-if="food.numb > 0">{{food.numb}}</span>
                                            <img  :style="{opacity:food.goodsStock==0||food.todayGoodsStock==0||food.timeType&&food.timeType !== 1?'0.3':''}" class="add" src="https://image.aftdc.com/images/add.png" @click="add(index,foodIndex)"/>
                                        </div>
                                    </div>
                                    <span class="guigeNumbDiv" v-if="(food.guige.length>0||food.guigeAttr.length>0)&&food.numb>0" :style="{fontSize:'0.24rem',width:food.numb>99?'0.48rem':'0.4rem'}">{{food.numb>99?'99+':food.numb}}</span>
                                </div>
                            </div>
                        </template>
                    </div>
                </template>
            </div>

        </div>
        <div class="back" v-if="goods"  @click="shopCarShowClick()"></div>
        <!--购买详情弹出框->背景-->

        <!-- 评价 -->
        <template v-if="currentTab==1">
            <div class="zanBox" :class="[dzan?'cartoonZan':'']" v-if="dzan">
                <img src="https://image.aftdc.com/images/zan.png"/>
            </div>
            <div class='pinlun' >

                <div class="pingfen">
                    <div class="block1 inetr">
                        <div class="fenshu itemuinting">{{allPf.avg?allPf.avg:'暂无'}}</div>
                        <div class="leixing inderin">综合评分</div>
                    </div>
                    <div class="block1 inetr" style="flex:1.55">
                        <div class="starss">
                            <span style="color:#666;flex:1.5;text-align:left;">口味</span>
                            <div class="pinLun_scroeStar" >
                                <img class="starSize"
                                     src="https://image.aftdc.com/appBimg/icon_wuxing_nocolor.png"/>
                                <div class=" yellowStar" :style="{width:allPf.tasteScore*0.4+'rem'}">
                                    <img class="starSize"
                                         src="https://image.aftdc.com/appBimg/icon_wuxing_color.png"/>
                                </div>
                            </div>
                            <span style="flex:1;text-align:left;" v-if="allPf.tasteScore>0">{{allPf.tasteScore}}</span>
                            <span style="flex:1.5;text-align:left;color:#53beb7" v-else>暂无</span>
                        </div>
                        <div class="starss">
                            <span style="color:#666;flex:1.5;text-align:left;">包装</span>
                            <div class="pinLun_scroeStar" >
                                <img class="starSize"
                                     src="https://image.aftdc.com/appBimg/icon_wuxing_nocolor.png"/>
                                <div class=" yellowStar" :style="{width:allPf.warpScore*0.4+'rem'}">
                                    <img class="starSize"
                                         src="https://image.aftdc.com/appBimg/icon_wuxing_color.png"/>
                                </div>
                            </div>
                            <span style="flex:1;text-align:left;" v-if="allPf.warpScore">{{allPf.warpScore}}</span>
                            <span style="flex:1.5;text-align:left;color:#53beb7" v-else>暂无</span>
                        </div>
                    </div>

                    <div class="block1" style="border-left: 0.013333rem solid #dedede;border-right: 0.013333rem solid #dedede;height:1.866667rem;">
                        <div class="fenshu" v-if="allPf.timeScore">{{allPf.timeScore}}</div>
                        <div class="nofenshu" v-else>暂无</div>
                        <div class="leixing">配送评分</div>
                    </div>
                </div>

                <div class='reason'>
                    <span  :class="[ratingSelect=='0'?'btnReason':'']" @click="onRatingSwitch(0)">全部</span>
                    <span   :class="[ratingSelect=='1'?'btnReason':'']" @click="onRatingSwitch(1)">有图</span>
                    <span   :class="[ratingSelect=='2'?'btnReason':'']" @click="onRatingSwitch(2)">评分</span>
                </div>

                <div style='padding:0 3%;' v-if="pingLunShow.length>0">
                    <template v-for="(item,index) in pingLunShow" >
                        <div class="userpj">
                            <!--优质评论  -->
                            <img v-if="item.isGood==1" class="yzpl" src="https://image.aftdc.com/images/yzpl.png"/>

                            <div class="userpjHead">
                                <img v-if="item.userPhoto"  :src="item.userPhoto"/>
                                <img v-else src="https://image.aftdc.com/images/wtx.png"/>
                            </div>

                            <div class="userpjContent">
                                <div class="userpjContent-top">
                                    <div class="username">
                                        <div class='usernames'>{{item.userName}}</div>
                                        <!-- <img src="https://image.aftdc.com/images/v{{item.grade}}.png"/> -->
                                    </div>
                                    <span class="timePj">{{item.createTime}}</span>
                                </div>

                                <div class="stars">
                                    <span class="starsWord">对商品打分：</span>
                                    <div class="pinLun_scroeStar" >
                                        <img class="starSize"
                                             src="https://image.aftdc.com/appBimg/icon_wuxing_nocolor.png"/>
                                        <div class=" yellowStar" :style="{width:item.avg*0.4+'rem'}">
                                            <img class="starSize"
                                                 src="https://image.aftdc.com/appBimg/icon_wuxing_color.png"/>
                                        </div>
                                    </div>


                                </div>
                                <div class="plContent">
                                    <span class="wrap" v-if="item.content">对商品评价：{{item.content}}</span>
                                </div>
                                <div class="imgPj">
                                    <template v-for="(img,imgIndex) in item.appraisesAnnex" >
                                        <img :src="'https://image.aftdc.com/'+img" class="plimg"/>
                                    </template>
                                </div>
                                <div class='plGoods' v-if="item.goodsInfo!=[]">
                                    <img src="https://image.aftdc.com/images/zanfood.png"/>
                                    <div class='plgoodsDiv'>
                                        <div v-for="(goods,goodsIndex) in item.goodsInfo" class='plgoodslist' >{{goods.goodsName}}</div>
                                    </div>
                                </div>
                                <div class='plGoods' style='color:#53beb7;' v-if="item.tagStr">
                                    <img src="https://image.aftdc.com/images/shuqian.png"/>
                                    <div> {{item.tagStr}}</div>
                                </div>

                                <div class="replyAll">
                                    <img class="replyAll-img" :class="[item.writePl?'':'mt']" src="https://image.aftdc.com/images/replyAll.png" v-if="item.reply!=null"/>
                                    <div class="replyAll-detail">
                                        <span class="replyword" v-if="item.shopReply!=null"><span class="replyName">商家回复 </span>{{item.shopReply.content}}</span>
                                    </div>
                                </div>

                                <div class='plGoods' style='justify-content: space-between; margin-bottom: 0.133333rem;align-items: center;'>
                                    <div>浏览量:{{item.readNum}}</div>
                                    <!-- <div class='Praise'  >
                                        <img :src="item.isDZ==0?'https://image.aftdc.com/images/allzan1.png':'https://image.aftdc.com/images/allzan.png'"/>
                                        <span v-if="item.numbs!=0">{{item.numbs}} <span style="font-size:0.32rem"> 热 度</span></span>
                                        <span v-else>赞</span>
                                    </div> -->
                                </div>

                            </div>
                        </div>

                    </template>
                    <!-- <div class='more' v-if='{{more}}'>
                        <img src="https://image.aftdc.com/images/flash.gif"/>
                    </div>

                    <div class="with-line" v-if="{{!plScrolltoitemwer}}">我是有底线的</div> -->
                </div>
                <div class='wuPl' v-else>暂无评论...</div>
            </div>

            <!--  <div class='bottomFill' v-if="{{shopInfo.shopAtive==2&&!shopcar&&shopType != 21&&shopType != 26 || shopType == 1&&distance>=shopInfo.range}}"></div> -->
            <div class='zanBack' hidden="{{!dzan}}"></div>
        </template>
        <!--商家详情  -->
        <template >
            <div class="shopmessage" v-show="currentTab==2">


                <div class='huangjin' >
                    <div class='title'>商家信息</div>
                    <div :class="[currentTab==2?'huangjinImg':'']" style='  align-items:inherit;'  v-if="envImg.length>0">
                        <template v-for="(item,index) in envImg">
                            <img  :src="'https://image.aftdc.com/'+item" />
                        </template>
                    </div>
                </div>

                <div class='shopDetail'>
                    <!-- <div class='title'>商家信息</div> -->
                    <div class="noteView">
                        <img class="noteImage" src="https://image.aftdc.com/images/note.jpg"/>
                        <span>公告：{{shopInfo.notice}}</span>
                    </div>
                    <div class="phone" >
                        <img src="https://image.aftdc.com/images/dw.png"/>
                        <span>位置：{{shopInfo.shopAddress}}</span>
                    </div>
                    <div class="phone" >
                        <img src="https://image.aftdc.com/images/phone.png"/>
                        <span>电话：{{shopInfo.shopTel}}</span>
                    </div>
                    <div class="phone">
                        <img src="https://image.aftdc.com/images/send1.png"/>
                        <span>配送服务：由 商家 提供配送服务</span>
                    </div>
                    <div class="serviceTime">
                        <img src="https://image.aftdc.com/images/time.png"/>
                        <span>营业时间：</span>
                        <span v-for="(item,index) in shopInfo.serviceTime">{{item.serviceStartTime}}-{{item.serviceEndTime}}{{index!=shopInfo.serviceTime.length-1?',':''}}</span>
                    </div>
                    <div  class="phone">
                        <img src="https://image.aftdc.com/images/licence.png"/>
                        <span>营业资质</span>
                    </div>
                    <div class="phone" v-if="shopInfo.certification==1" >
                        <img src='https://image.aftdc.com/images/daV.png'/>
                        <span>已认证</span>
                    </div>
                </div>

                <div class="activity" v-if="shopInfo.projectNum>0" style='margin-bottom:0;'>
                    <div class='title'>商家活动</div>
                    <div class='bl_view'>

                        <span class="bl" v-if="shopInfo.newCou"><span class="bl-xin">新</span>新用户立减{{shopInfo.newCou}}元</span>
                        <!-- <span class="bl" v-if="{{shopInfo.yhq}}"><span class="bl-lin">领</span>进店领取优惠券</span> -->
                        <span class="bl" v-if="shopInfo.zk"><span class="bl-zhe">折</span>折扣商品</span>
                        <span class="bl" v-if="shopInfo.tg"><span class="bl-tuan">团</span>团购商品</span>
                        <span class="bl" v-if="shopInfo.djq"><span class="bl-lin">代</span>抢购代金券</span>
                        <span class="bl" v-if="shopInfo.kj"><span class="bl-kan">砍</span>砍价商品</span>
                        <span class="bl" v-if="shopInfo.ms"><span class="bl-miao">秒</span>秒杀商品</span>
                        <span class="bl" v-if="shopInfo.hb"><span class="bl-jian">红</span>进店领红包</span>
                        <span class="bl" v-if="shopInfo.mz"><span class="bl-man">赠</span>指定商品有赠品</span>
                        <span class="bl" v-if="shopInfo.jf"><span class="bl-jf">积</span>购买赠送积分</span>

                        <div class='blDiv' v-if="shopInfo.mj">
                            <span class="bl-jian">减</span>
                            <span class="blTwo">{{shopInfo.youhui}}</span>
                        </div>

                    </div>
                </div>
                <!-- <div class='shopInfoBottom'>

                    <div class="address" >
                        <span>{{shopInfo.colType==1?'已收藏商家':'收藏商家'}}</span>
                    </div>

                    <div class="address" >
                        <span>举报商家</span>
                    </div>
                </div> -->
            </div>
            <!-- <div class='bottomFill' v-if="{{shopInfo.shopAtive==2&&!shopcar&&shopType != 21&&shopType != 26 || shopType == 1&&distance>=shopInfo.range}}"></div> -->
        </template>
    </div>
    <!-- 规格弹出框 -->
    <div class="backDiv" v-if="specBoxShow" @click="boxHide">
        <div class="box" @click.stop="">
            <span class="box_name" >{{box.goodsName}}</span>
            <div class="box_spec">
                <div class="box_size" v-if="box.guige!=[]">
                    <span class='box_guigeName' >规格:</span>
                    <div class='box_guigeNameR'>
                        <div class="box_specClassDiv" :class="[box.choose==index?'select':'']" :style="{opacity:item.stock==0?'0.3':'1'}" v-for="(item,index) in box.guige" @click="item.stock==0?'':sizeClick(index,item.guigeName)">
                            <span class="box_specClass" :style="{color:box.choose==index?'#fff':''}">{{item.guigeName}}</span>
                        </div>
                    </div>
                </div>
                <div class="box_taste" v-if="box.guigeAttr!=[]">
                    <div class="box_size box_sizeAttr" v-for="(item,index) in box.guigeAttr" >
                        <span class='box_guigeName' >{{item.attrName}}:</span>
                        <div class='box_guigeNameR'>
                            <div class="box_specClassDiv" :class="[box.guigeAttr[index].choose==attrIndex?'select':'']"  v-for="(i,attrIndex) in item.attrContent" @click="tasteClick(index,i,attrIndex)">
                                <span class="box_specClass"  :style="{color:box.guigeAttr[index].choose==attrIndex?'#fff':''}" >{{i}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box_bott spec_bott">
                <div class="box_price">
                    <span class="box_sale" >￥{{box.shopPrice}}</span>
                    <span class="choiceTipText" >(</span>
                    <span class="choiceTipText choiceTipNameText" >{{box.spec_size}}{{specTasteName}}</span>
                    <span class="choiceTipText" >)</span>
                </div>
                <!--<span class="box_okbtn"  v-if="(box.guige||box.taste)&&(box.nochooseGG||box.nochooseAttr)">请选择</span>-->
                <span class="box_okbtn box_btn" @click="ok()" v-if="box.numb==0" >加入购物车</span>
                <div class="addImgsDiv"  v-else>
                    <img  class="addImgs" src="https://image.aftdc.com/images/sub.png" @click="specBoxSub()"/>
                    <span  style="font-size: 0.466667rem">{{box.numb}}</span>
                    <img  class="addImg" src="https://image.aftdc.com/images/add.png" @click="ok()"/>
                </div>
            </div>
            <span class="del" @click="boxHide">×</span>
        </div>
    </div>
    <div class='bottom' v-if='currentTab==0'>
        <!--购买详情弹出框-->
        <div class="buyBox">
            <div class="buy" v-if="goods">

                <div class="carEmpty">
                    <div  class="carEmpty-right" @click="closeShopCarClick()">
                        <img src="https://image.aftdc.com/images/closeCar.png"/>
                        <span>清空购物车</span>
                    </div>
                </div>
                <div class="carScrollView">
                    <template v-for="(item,index) in car" >
                        <div class="buy-name">
                            <div class="name-size">
                                <span>{{item.arr.goodsName}}</span>
                                <span class="spec-color" v-if="item.arr.zkGoodsId&&item.arr.preferentialNumb!=0&&item.arr.numb>item.arr.preferentialNumb">含{{item.arr.numb*1-item.arr.preferentialNumb*1}}份原价商品</span>

                                <span class="spec-color" v-else-if="item.arr.spec_size||item.arr.spec_taste">{{item.arr.goodsAttrName}}</span>
                                <span class="spec-color" v-else-if="item.arr.bargainId&&item.arr.numb>1">含{{item.arr.numb*1-1}}份原价商品</span>

                            </div>
                            <span class="buy-price">￥{{item.arr.totalPrice}}</span>

                            <div class="buy-subadd">
                                <img class="sub" @click="buysub(index)"  src="https://image.aftdc.com/images/sub.png"/>
                                <span class="number">{{item.arr.numb}}</span>
                                <img class="add" @click="buyadd(index)"  src="https://image.aftdc.com/images/add.png"/>
                            </div>
                        </div>
                    </template>
                    <div class="buy-name" v-if="boxFee>0 && shopType!=2">
                        <!-- 更改 -->
                        <div class="name-size">
                            <span>餐盒费</span>
                        </div>
                        <span class="buy-price">{{boxFee}}</span>
                        <div class="buy-subadd">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="paran" @click="shopCarShowClick()">
            <div  class="shoppimg">
                <img src="https://image.aftdc.com/images/car.png"/>
                <div class="sunamount" v-if="totalnumb>0">{{totalnumb}}</div>
            </div>
            <div class="moneyCar">
                <div class="moneyCar_share">
                    <span class="shopp-price">￥{{totalprice}}</span>
                </div>
                <span class="shoppGive" v-if="shopInfo.deliveryStartMoney>0&&car.length>0&&(shopType==1||shopType==3)">另需配送费￥{{shopInfo.deliveryStartMoney}}元</span>
            </div>
        </div>

        <!--外卖拼单按钮  -->
        <div class="btn " :class="[car.length>0?'sure':'']" @click="shareChooseTrue()">
            <div class="xiadan">选好了</div>
        </div>

    </div>
    <div class='hobbyTips' v-if="hobbyTip">{{hobbyTips}}</div>
    <!-- </scroll-div> -->
</div>
<script type="text/javascript" src="/static/js/mobile/chooseGoods.js?time=Date.parse(new Date())"></script>

</body>
</html>