<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>阿凡提</title>
    <link rel="stylesheet" href="/static/css/business/all.css" />
    <link rel="stylesheet" href="/static/css/business/history.css">
    <link rel="stylesheet" href="/static/css/business/pages.css">
    <script src="/static/js/public/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/public/axios.min.js"></script>
    <script src="/static/js/public/pages.js"></script>
</head>

<body>
    <div class="Funppt" v-cloak>
        <div class="Finjpet">
            <div class="Sdkf">
                <div class="Nin" style="border-left:0px;">商品名称</div>
                <div class="Nin">订单ID</div>
                <div class="Nin">商品金额</div>
                <div class="Nin">收货地址</div>
                <div class="Nin">手机号</div>
                <div class="Nin">支付方式</div>
                <div class="Nin">下单时间</div>
            </div>
            
                <div class="Xokode" v-for="(item,index) in dataz">
                    <div class="sin" style="border-left:0px;"> {{item.orderId}} </div>
                    <div class="sin">{{item.orderNo}}</div>
                    <div class="sin">{{item.totalMoney}}</div>
                    <div class="sin">{{item.userAddress}}</div>
                    <div class="sin">{{item.userPhone}}</div>
                    <div class="sin">
                        
                        <span v-if="item.payType==0">没有支付</span>
                        <span v-else="item.payType==1">余额支付</span>
                        <span v-else="item.payType==2">微信支付</span>
                        <span v-else="item.payType==3">支付宝支付</span>
                        
                    </div>
                    <div class="sin">{{item.requireTime}}</div>
                </div>
            
        </div>
        <div style='text-align:center;display: initial;' class="pages">
            <!-- 分页 -->
            <pages :page-numb="pageNumb" :page-curent="pageCurent" @pagefather="pageFn"></pages>
        </div>
    </div>
    <script src="/static/js/business/history.js"></script>
</body>

</html>